<mat-card class="card" [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()">
    <mat-card-header>
        <mat-card-title>
            <h1 data-testid="header-title">Transport Layer Security (TLS)</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="commentgrid">
            <div class="topics">
                <ul>
                    <li>
                        <mat-expansion-panel expanded>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Terminology</mat-panel-title>
                            </mat-expansion-panel-header>
                            <dl>
                                <dt>SSL</dt>
                                <dd>Secure Sockets Layer</dd>
                                <dt>TLS</dt>
                                <dd>Transport Layer Security. TLS is the successor to SSL.</dd>
                                <dt>CRT</dt>
                                <dd>CRT is a binary file format that contains the public key and the certificate.</dd>
                                <dt>PEM</dt>
                                <dd>Privacy Enhanced Mail (PEM) files are a type of Public Key Infrastructure (PKI) file
                                    used
                                    for keys and certificates. PEM is similar to CRT but is Base64 encoded, not binary.
                                    Other formats: DER, PKCS7, PKCS12, PFX.</dd>
                                <dt>PFX</dt>
                                <dd>PFX files to securely store private keys, associated public key certificates, and
                                    intermediate certificates, forming a chain. They are typically password
                                    protected.<br>
                                    <inline-code>openssl pkcs12 -inkey private.key -in ca_bundle.crt -export -out
                                        out.pfx &lt;supersecretpassword&gt;</inline-code>
                                </dd>
                                <dt>DER</dt>
                                <dd>DER is a binary form of PEM. Although both DER and CRT are binary, DER is
                                    more strict in its requirements.</dd>
                                <dt>ca_bundle.crt</dt>
                                <dd>
                                    Root and intermediate certificates
                                </dd>
                                <dt>certificate.crt</dt>
                                <dd>The certificate from your provider. <span class="importantish">Pro-tip: Paste the
                                        ca_bundle.crt
                                        at the top of this file so you have one combined-complete chain file.</span>
                                </dd>
                                <dt>private.key</dt>
                                <dd>The secret portion of the public/private key relationship.</dd>
                            </dl>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Create PFX from CRT</mat-panel-title>
                            </mat-expansion-panel-header>
                            <ol>
                                <li>Create SSL certificate from a provider</li>
                                <li>Download certificate package. Often, this will include:
                                    <ul class="condensed">
                                        <li>ca_bundle.crt</li>
                                        <li>certificate.crt</li>
                                        <li>private.key</li>
                                    </ul>
                                </li>
                                <li>Install cygwin</li>
                                <li>Copy private.key (private key) and certificate.crt (origin certificate) into
                                    home directory (c:\crygwin\home\&lt;YOU&gt;)
                                </li>
                                <li>openssl pkcs12 -inkey private.key -in certificate.crt -export -out out.pfx -
                                    choose a password</li>
                                <li>This file can now be installed to secure access using it's associated password.</li>
                            </ol>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Setup SSL for Docker Container</mat-panel-title>
                            </mat-expansion-panel-header>
                            <ol class="condensed">
                                <li>Convert the CRT to a pfx</li>
                                <li>
                                    <ol>
                                        <li>Take api.nehsa.net.pfx and place it where it can be referenced by Docker
                                            container (C:\certs)</li>
                                        <li>
                                            Launch container:
                                            <code>
<pre>
docker run -it -p 22007:22007 -e ASPNETCORE_URLS="https://+:22007" -e
ASPNETCORE_HTTPS_PORT=22007 -e
ASPNETCORE_Kestrel__Certificates__Default__Password="&lt;password&gt;" -e
ASPNETCORE_Kestrel__Certificates__Default__Path="/https/api.nehsa.net.pfx"
-v C:\certs:/https/ nehsa/nehsaapi:latest
</pre>
                                            </code>
                                        </li>
                                        <li>Rebuild container: <inline-code>docker build -t nehsa/nehsaapi:latest
                                                .</inline-code>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Setup SSL for Windows IIS HTTPS</mat-panel-title>
                            </mat-expansion-panel-header>
                            <ol>
                                <li>Create PFX from CRT</li>
                                <li>openssl pkcs12 -inkey private.key -in certificate.crt -export -out out.pfx -
                                    choose a password</li>
                                <li>Go to IIS->Server Certificates ->import, import out.pfx</li>
                                <li>Right-click on website, edit binding, set https to use new cert from the drop-down.
                                </li>
                            </ol>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Convert crt -> pem</mat-panel-title>
                                <mat-panel-subtitle>Typically, it doesn't matter if you use CRT or PEM, but some systems
                                    require one or the other.</mat-panel-subtitle>
                            </mat-expansion-panel-header>
                            <code>
<pre>
openssl x509 -in ca_bundle.crt -out ca_bundle.pem -outform PEM
openssl x509 -in certificate.crt -out certificate.pem -outform PEM
</pre>
                                </code>
                        </mat-expansion-panel>
                    </li>
                </ul>
            </div>
            <div><app-comment></app-comment></div>
        </div>
    </mat-card-content>
</mat-card>