<mat-card class="card" [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()">
    <mat-card-header>
        <mat-card-title>
            <h1 data-testid="header-title">TLS</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="commentgrid">
            <div class="topics">
                <div>
                    Terminology
                    <dl>
                        <dt>pem</dt>
                        <dd>Privacy Enhanced Mail (PEM) files are a type of Public Key Infrastructure (PKI) file used
                            for keys and certificates</dd>
                        <dt>pfx</dt>
                        <dd>
                            pfx files to securely store private keys, associated public key certificates, and
                            intermediate certificates, forming a chain. They are typically password protected.<br>
                            <code>openssl pkcs12 -inkey private.key -in ca_bundle.crt -export -out out.pfx &lt;supersecretpassword&gt;</code>
                        </dd>
                        <dt>ca_bundle.crt</dt>
                        <dd>
                            Root and intermediate certificates
                        </dd>
                        <dt>certificate.crt</dt>
                        <dd>The certificate from your provider. <span class="important">Pro-tip: Paste the ca_bundle.crt
                                at the top of this file so you have one combined-complete chain file.</span></dd>
                        <dt>private.key</dt>
                        <dd>The secret portion of the public/private key relationship.</dd>
                    </dl>
                </div>
                <div>
                    <h2>Windows</h2>
                    <div>
                        <h3>Setup SSL for Docker Container</h3>
                        <ol>
                            <li>Create SSL cert</li>
                            <li>Download certificate package. In my case, it was a zip containing:
                                <ul class="condensed">
                                    <li>ca_bundle.crt</li>
                                    <li>certificate.crt</li>
                                    <li>private.key</li>
                                </ul>
                            </li>
                            <li>Convert the CRT to a pfx
                                <ol class="condensed">
                                    <li>Install Cygwin
                                        <ul>
                                            <li>Ensure to install OpenSSL package</li>
                                        </ul>
                                    </li>
                                    <li>Open Cygwin Terminal (Cygwin64 Terminal)</li>
                                    <li>Drop unzipped CRTs into HOME: (C:\cygwin64\home\&lt;YOU&gt;)</li>
                                    <li>Within Cygwin Terminal,
                                        <ul>
                                            <li>
                                                <code>openssl pkcs12 -export -out api.nehsa.net.pfx -inkey
                                                    private.key -in certificate.crt</code>
                                            </li>
                                            <li>Enter super secret password twice</li>

                                        </ul>
                                    </li>
                                    <li>Take api.nehsa.net.pfx and place it where it can be referenced by Docker
                                        container (C:\certs)</li>
                                    <li>
                                        Launch container:
                                        <code>
                                            docker run -it -p 22007:22007 -e ASPNETCORE_URLS="https://+:22007" -e
                                            ASPNETCORE_HTTPS_PORT=22007 -e
                                            ASPNETCORE_Kestrel__Certificates__Default__Password="&lt;password&gt;" -e
                                            ASPNETCORE_Kestrel__Certificates__Default__Path="/https/api.nehsa.net.pfx"
                                            -v C:\certs:/https/ nehsa/nehsaapi:latest
                                        </code>
                                    </li>
                                    <li>Rebuild container: <span class="code">docker build -t nehsa/nehsaapi:latest
                                            .</span>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </div>
                    <br>
                    <div>
                        <ul>
                            <li>
                                <h3>Setup SSL for Windows IIS HTTPS</h3>
                                <ol>
                                    <li>Install cygwin</li>
                                    <li>Copy private.key (private key) and certificate.crt (origin certificate) into
                                        home directory (c:\crygwin\home\&lt;YOU&gt;)
                                        <ul>
                                            <li>PEM format
                                                e.g.
                                                <ul>
                                                    <dl>
                                                        <dt>certificate.crt</dt>
                                                        <dd>
                                                            <pre>
-----BEGIN CERTIFICATE-----
-----END CERTIFICATE-----
                                                        </pre>
                                                        </dd>
                                                        <dt>private.key</dt>
                                                        <dd>
                                                            <pre>
-----BEGIN PRIVATE KEY-----
-----END PRIVATE KEY-----
                                                        </pre>
                                                        </dd>
                                                    </dl>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>openssl pkcs12 -inkey private.key -in certificate.crt -export -out out4.pfx -
                                        choose a password</li>
                                    <li>Go to IIS->Server Certificates ->import, import out4.pfx</li>
                                    <li>Right-click on website, edit binding, set https to use new cert.</li>
                                </ol>
                            </li>
                            <li>
                                <h3>Create pfx from pem/crt - needed for IIS HTTPS</h3>
                                <code>
                                <pre>
mkdir c:\tmp
$cert = New-SelfSignedCertificate -certstorelocation cert:\localmachine\my -dnsname tenasys.corp;
$pwd = ConvertTo-SecureString -String '&lt;PASSWORD&gt;' -Force -AsPlainText;
$path = 'Cert:\LocalMachine\My\' + $cert.thumbprint;
Export-PfxCertificate -cert $path -FilePath c:\tmp\powershellcert.pfx -Password $pwd
                            </pre>
                        </code>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h3>Convert crt -> pem</h3>
                        <code>
                            <pre>
openssl x509 -in ca_bundle.crt -out ca_bundle.pem -outform PEM
openssl x509 -in certificate.crt -out certificate.pem -outform PEM
                            </pre>
                        </code>
                    </div>
                </div>
            </div>
            <div><app-comment></app-comment></div>
        </div>
    </mat-card-content>
</mat-card>