<mat-card class="card" [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()">
    <mat-card-header>
        <mat-card-title>
            <h1 data-testid="header-title">Discord</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="commentgrid topics"><div>
            <div><app-related-content></app-related-content></div>
                <widgetbot server="1284235705014419590" channel="1284235705014419593" width="100%" height="600"></widgetbot>
            </div>
            <div><app-comment></app-comment></div>
        </div>
    </mat-card-content>    
</mat-card>
