<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <h1 data-testid="header-title">AI Image Generation</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="commentgrid">
                <div class="topics">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>Quick Start</mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ol>
                            Choose a service with an API. All have different pricing/technolegies.
                            <li>NehsaMUD is using this service: <a
                                    href="https://platform.stability.ai/docs/api-reference#tag/SDXL-and-SD1.6/operation/textToImage">stability.ai
                                    Text-to-image</a></li>
                            <li>Instrument Backend (Python)
                                <ul>
                                    <li>Submit the request:
                                        <div class="code">
                                            <pre>
class AIImage(Utility):        
    &#64;staticmethod
    async def get_room_image(self, room_image_name, room_description):
        engine_id = "stable-diffusion-v1-6"
        api_host = 'https://api.stability.ai'
        api_key = "sk-aIIMUE6NJeYvXfmJ83d8T6Rqueur7hOjT07hskStmrnB7khw"

        if api_key is None:
            raise Exception("Missing Stability API key.")

        response = requests.post(
            f"&#123;api_host&#125;/v1/generation/&#123;engine_id&#125;/text-to-image",
            headers=&#123;
                "Content-Type": "application/json",
                "Accept": "application/json",
                "Authorization": f"Bearer &#123;api_key&#125;"
            &#125;,
            json=&#123;
                "text_prompts": [
                    &#123;
                        "text": room_description
                    &#125;
                ],
                "cfg_scale": 35, <span class="comment">How strictly the diffusion process adheres to the prompt text (higher values keep your image closer to your prompt). Default: 7</span>
                "height": 512,
                "width": 512,
                "samples": 1, <span class="comment">Number of images to generate. Default: 1</span>
                "steps": 30, <span class="comment">Number of diffusion steps to run. Default: 30</span>
                "fantasy-art": "fantasy-art" <span class="comment">3d-model analog-film anime cinematic<br> comic-book digital-art enhance fantasy-art isometric line-art low-poly modeling-compound<br> neon-punk origami photographic pixel-art tile-texture</span>
                &#125;,
            )
        
        if response.status_code != 200:
            raise Exception("Non-200 response: " + str(response.text))

        data = response.json()

        for i, image in enumerate(data["artifacts"]):
            with open(room_image_name, "wb") as f:
                f.write(base64.b64decode(image["base64"]))
</pre>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>Instrument Frontend
                                <ul>
                                    <li>Prepend "8-bit fantasy image." to the front of image to force a style preference
                                    </li>
                                </ul>
                            </li>
                        </ol>
                    </mat-expansion-panel>
                    <div>
                        <h3>Examples :)</h3>
                        <ul>
                            <li>
                                <mat-expansion-panel expanded>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>Example 1</mat-panel-title>
                                        <mat-panel-description>
                                            sd3: Princess Candie and Maximus the cat!
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <span class="importantish">Prompt: "Princess Candie is visiting nobility from a neighboring kingdom to the distant west, across the Tarth sea. She is striking in a shimmering maroon gown."
                                    </span><br><br>
                                    <span class="importantish">Prompt: "Maximus is a overweight orange tabby cat with a white belly and paws. He has a small white patch on his nose and a long tail. He is friendly and will often follow you around and rub against your legs."
                                    </span><br>
                                    <div>
                                        <img width="600" mat-card-image src="../../assets/images/candie.png" />
                                    </div>
                                </mat-expansion-panel>
                            </li>
                            <li>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>Example 2</mat-panel-title>
                                        <mat-panel-description>
                                            stable-diffusion-v1-6: The most cost effective options
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <span class="importantish">Prompt: "You find yourself within a majestic inn. The
                                        smell
                                        of
                                        food and
                                        wine permeates the air. A worn, well-kept fireplace burned softly in the
                                        corner.
                                        There's a
                                        shelf with a small assortment of books."
                                    </span><br>
                                    <div>
                                        <img width="600" mat-card-image src="../../assets/images/aiimage.png" />
                                    </div>
                                </mat-expansion-panel>
                            </li>
                            <li>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>Example 3</mat-panel-title>
                                        <mat-panel-description>
                                            ultra: More fancy (and spendy) generation
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                        (I created about 4 style of these and ran out of my trial)<br>
                                    <span class="importantish">Prompt: "You are in the blacksmith's back room. A hot forge
                                        still burns smoldering coals."
                                    </span><br>
                                    <div>
                                        <img width="600" mat-card-image src="../../assets/images/aiimage2.png" />
                                    </div>
                                </mat-expansion-panel>

                            </li>
                            <li>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>Example 4</mat-panel-title>
                                        <mat-panel-description>
                                            ultra
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <span class="importantish">Prompt: "You are in the town square of the Town of Smee.
                                        It's a
                                        large open cobblestone area with a bronze water fountain. The fountain is in the
                                        shape of a large, ferocious dire wolf. Water jets from the foutain mouth in a
                                        small
                                        arc. There's a festive feeling to the area and people and wagons bustle in all
                                        directions."
                                    </span><br>
                                    <div>
                                        <img width="600" mat-card-image src="../../assets/images/aiimage3.png" />
                                    </div>
                                </mat-expansion-panel>
                            </li>
                            <li>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>Example 4</mat-panel-title>
                                        <mat-panel-description>
                                            sd3: More in the middle, this is what I use for NehsaMUD.
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    This is using the more fancy generation:
                                        https://api.stability.ai/v2beta/stable-image/generate/ultra
                                    <span class="importantish">Prompt: "You are in the town square of the Town of Smee.
                                        It's a
                                        large open cobblestone area with a bronze water fountain. The fountain is in the
                                        shape of a large, ferocious dire wolf. Water jets from the foutain mouth in a
                                        small
                                        arc. There's a festive feeling to the area and people and wagons bustle in all
                                        directions."
                                    </span><br>
                                    <div>
                                        <img width="600" mat-card-image src="../../assets/images/aiimage3.png" />
                                    </div>
                                </mat-expansion-panel>
                            </li>
                        </ul>
                    </div>
                </div>
                <div><app-comment></app-comment></div>
            </div>
        </mat-card-content>
    </mat-card>
</div>