<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <h1 data-testid="header-title">Glider AI Test Preparedness</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="topics">
                <div>
                    I've been invited to participate in a "Glider AI" test.  As I have not
                    used Java for more than a decade, and even then used Groovy more than Java, this is going to be fun!
                    <br><br>
                    Assessment Name: <span class="ass-name">NMLS Senior SDET</span>
                    <br><br>
                    Other areas of focus:
                    <br>
                    <ul class="condensed">
                        <li>Computer science fundamentals - algorithm design, problem solving, complexity analysis and
                            data structures.</li>
                        <li>Testing process, test types, test design and testing methodologies</li>
                        <li>Experience in designing and developing automation frameworks and test suites</li>
                        <li>SQL development</li>
                        <li>API testing</li>
                        <li>Certified AWS developer</li>
                        <li>Performance testing (with Gatling)</li>
                    </ul>
                    <br><br>
                    Test Outline:
                    <table>
                        <tr>
                            <th>Section</th>
                            <th>Time (minutes)</th>
                            <th># Questions</th>
                        </tr>
                        <tr>
                            <td>Java Questions</td>
                            <td>21</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>General Questions</td>
                            <td>21</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>SQL</td>
                            <td>16</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Java Code</td>
                            <td>21</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Explain Java</td>
                            <td>11</td>
                            <td>1</td>
                        </tr>
                    </table>

                </div>
                <div>
                    <h2>Java Questions</h2>
                    <table>
                        <tr>
                            <th>Section</th>
                            <th>Time (minutes)</th>
                            <th># Questions</th>
                        </tr>
                        <tr>
                            <td>Java Questions</td>
                            <td>21 minutes</td>
                            <td>5</td>
                        </tr>
                    </table>
                </div>
                <div>
                    <h2>General Questions</h2>
                    <table>
                        <tr>
                            <th>Section</th>
                            <th>Time (minutes)</th>
                            <th># Questions</th>
                        </tr>
                        <tr>
                            <td>General Questions</td>
                            <td>21 minutes</td>
                            <td>5</td>
                        </tr>
                    </table>
                    <div>
                        <ul>
                            <li>How do you determine code coverage?
                                <div class="answer">Answer</div>
                            </li>
                            <li>How do you determine code quality?
                                <div class="answer">Answer</div>
                            </li>
                            <li>How do you design an algorithm?
                                <div class="answer">Answer</div>
                            </li>
                            <li>How do you determine the complexity of an algorithm?
                                <div class="answer">Answer</div>
                            </li>
                            <li>How do you determine the efficiency of an algorithm?
                                <div class="answer">Answer</div>
                            </li>
                            <li>What is your test process?
                                <div class="answer">Answer</div>
                            </li>
                            <li>What are different test types and their best usage?
                                <div class="answer">Answer</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <h2>SQL</h2>
                    <table>
                        <tr>
                            <th>Section</th>
                            <th>Time (minutes)</th>
                            <th># Questions</th>
                        </tr>
                        <tr>
                            <td>SQL</td>
                            <td>16 minutes</td>
                            <td>2</td>
                        </tr>
                    </table>
                </div>
                <div>
                    <h2>Java Code</h2>
                    <table>
                        <tr>
                            <th>Section</th>
                            <th>Time (minutes)</th>
                            <th># Questions</th>
                        </tr>
                        <tr>
                            <td>Java Code</td>
                            <td>21</td>
                            <td>1</td>
                        </tr>
                    </table>
                    This is going to be a code challenge. No specific details are provided.
                </div>
                <div>
                    <h2>Explain Java</h2>
                    <table>
                        <tr>
                            <th>Section</th>
                            <th>Time (minutes)</th>
                            <th># Questions</th>
                        </tr>
                        <tr>
                            <td>Explain Java</td>
                            <td>11</td>
                            <td>1</td>
                        </tr>
                    </table>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>