table {
    border-collapse: collapse;
    margin: 10px;
    width: 500px;
}

th {
    border: 1px solid var(--theme-border-color);
}

td {
    padding: 10px;
    border: 1px solid var(--theme-border-color);
    text-align: center;
}

.ass-name {
    text-decoration: underline;
}
