<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <h1 data-testid="header-title">Glider AI Test Preparedness</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="topics">
                <div>
                    I've been invited to participate in a "Glider AI" test. This is my preparation for it! As I have not
                    used Java for more than a decade, and even then used Groovy more than Java, this is going to be fun!
                    <br><br>
                    Assessment Name: <span class="ass-name">NMLS Senior SDET</span>
                    <br><br>
                    Other areas of focus:
                    <br>
                    <ul class="condensed">
                        <li>Computer science fundamentals - algorithm design, problem solving, complexity analysis and
                            data structures.</li>
                        <li>Testing process, test types, test design and testing methodologies</li>
                        <li>Experience in designing and developing automation frameworks and test suites</li>
                        <li>SQL development</li>
                        <li>API testing</li>
                        <li>Certified AWS developer</li>
                        <li>Performance testing (with Gatling)</li>
                    </ul>
                    <br><br>
                    Test Outline:
                    <table>
                        <tr>
                            <th>Section</th>
                            <th>Time (minutes)</th>
                            <th># Questions</th>
                        </tr>
                        <tr>
                            <td>Java Questions</td>
                            <td>21</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>General Questions</td>
                            <td>21</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>SQL</td>
                            <td>16</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Java Code</td>
                            <td>21</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Explain Java</td>
                            <td>11</td>
                            <td>1</td>
                        </tr>
                    </table>

                </div>
                <div>
                    <h2>Java Questions</h2>
                    <table>
                        <tr>
                            <th>Section</th>
                            <th>Time (minutes)</th>
                            <th># Questions</th>
                        </tr>
                        <tr>
                            <td>Java Questions</td>
                            <td>21 minutes</td>
                            <td>5</td>
                        </tr>
                    </table>
                    <div>
                        <h2>Java Questions</h2>
                        <p>These are the questions that I will be asked about Java. I will need to answer them in 21
                            minutes.</p>
                        <ul>
                            <li>What is the most popular Java development IDE?
                                <div class="answer">IntelliJ IDEA reigns supreme as the most popular Java IDE in 2024
                                    at 41%, according to the 2024 Java Developer Productivity Report. Behind, Eclipse is
                                    second with 23%, and Microsoft VSCode, or Visual Studio Code, is a close third at
                                    19%.
                                    <div>
                                        <h4>How to setup VSCode for Java (<a
                                                href="https://code.visualstudio.com/docs/java/java-tutorial">Guide I
                                                followed</a>)</h4>
                                        <ol class="condensed">
                                            <li>Install the &quot;Coding Pack for Java&quot;</li>
                                            <li>Install the &quot;Extension Pack for Java&quot;</li>
                                            <li>Install the JDK (Java Development Kit)</li>
                                            <li>Create a new project (<a
                                                    href="https://github.com/nehsa25/java-app-vscode">java-app-vscode</a>)
                                            </li>
                                            <li>Cha-pow:<br>
                                                Debugging within VSCode:<br>
                                                <img mat-card-image src="../../assets/images/java2.png" /><br><br>
                                                Running outside of VSCode:<br>
                                                <img mat-card-image src="../../assets/images/java1.png" />
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </li>
                            <li>How to create your first Java project in VS Code?
                                <div class="answer">
                                    <ul>
                                        <li>Create a folder called JAVA-APP-VSCODE</li>
                                        <li>Within it, create a file called Hello.java<br><span>* the case
                                                of file must match the class name<br><br>e.g. <span
                                                    class="important">Hello.java</span> requires a class
                                                incide it:
                                                <div class="code">
                                                    <pre>
    /**
    * This is a simple Java program.
    */
    
    public class <span class="important">Hello</span> &#123;
        // Your program begins with a call to main().
        // Prints "Hello, World" to the terminal window.
        public static void main(String[] args) &#123;
            System.out.println("Hello, World");
        &#125;
    &#125;
                                                    </pre>
                                                </div>
                                            </span></li>
                                    </ul>
                                </div>
                            </li>

                            <li>Java primitive types?
                                <div class="answer">
                                    <ul>
                                        <li>Byte <span class="code">byte b = 100;</span></li>
                                        <li>Short <span class="code">short s = 10000;</span></li>
                                        <li>Integer <span class="code">int a = 5;</span></li>
                                        <li>Long <span class="code">long c = 1000000000;</span></li>
                                        <li>Float (4<sup>-45</sup> - 4028235<sup>38</sup>)<span class="code"></span>
                                        </li>
                                        <li>Double (4.9<sup>-324</sup> - 1.7976931348623157<sup>308</sup>) <span
                                                class="code"></span><br>(like float but larger)</li>
                                        <li>Boolean <span class="code">boolean result = true;</span></li>
                                        <li>Char <span class="code">char capitalX = 'X';</span></li>
                                    </ul>
                                </div>
                            </li>
                            <li>Java non-primitive types?
                                <div class="answer">
                                    <ul>
                                        <li>Array <div class="code">String[] array = new String[100];<br>double[] data;
                                            </div>
                                        </li>
                                        <li>Class
                                            <div class="code">
                                                <pre>
    class Car &#123;
        // data member / instance variable
        int id;

        // data member / instance variable
        String name;
        
        public static void main(String args[])
        &#123;
            // new car object
            Car volvo = new Car();
            System.out.println(volvo.id);
            System.out.println(volvo.name);
        &#125;
    &#125;
                                                </pre>
                                            </div>
                                        </li>
                                        <li>Interface <span class="code">int a = 5;</span></li>
                                        <li>String <span class="code">String boo = "bob";</span></li>
                                    </ul>
                                </div>
                            </li>
                            <li>How do you represwent numbers in different bases:
                                <ul>
                                    <li>
                                        <div>
                                            <span>//Decimal:</span><br>
                                            int decVal = 26;<br>
                                        </div>
                                        <div>
                                            <span>//Hexadecimal:</span><br>
                                            int hexVal = 0x1a;<br>
                                        </div>
                                        <div>
                                            <span>//Binary:</span><br>
                                            int binVal = 0b11010;
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>What is the difference between an interface and an abstract class?
                                <div class="answer">Answer</div>
                            </li>
                            <li>What is the difference between a checked and an unchecked exception?
                                <div class="answer">Answer</div>
                            </li>
                            <li>What is the difference between a list and a set?
                                <div class="answer">Answer</div>
                            </li>
                            <li>What is the difference between a hashmap and a hashtable?
                                <div class="answer">Answer</div>
                            </li>
                            <li>What is the difference between a stack and a queue?
                                <div class="answer">Answer</div>
                            </li>
                            <li>What is the difference between a linked list and an array?
                                <div class="answer">Answer</div>
                            </li>
                            <li>What is the difference between a binary tree and a binary search tree?
                                <div class="answer">Answer</div>
                            </li>
                            <li>What is the difference between a heap and a stack?
                                <div class="answer">Answer</div>
                            </li>
                            <li>Data structure available for Java and what their best use is?
                                <div class="answer">Answer</div>
                            </li>
                            <li>How do you run a unit test in Java?
                                <div class="answer">
                                    <h4>JUnit:</h4><br>
                                    <ul>
                                        <li>File to be tested (Hello.java):
                                            <div class="code">
                                                <pre>
    public class Hello &#123;

        public static int returnAnswerToEverything() &#123;
            return 42;
        &#125;
    &#125;
                                                </pre>
                                            </div>
                                        </li>
                                        <li>Test file (HelloTest.java):
                                            <div class="code">
                                                <pre>
    import org.junit.Assert;
    import org.junit.Before;
    import org.junit.Test;
    public class HelloTest &#123;
        Hello h;
        &#64;Before
        public void setUp() throws Exception &#123;
            h = new Hello();
        &#125;
        &#64;Test
        public void testReturnsAnswer() &#123;
            Assert.assertEquals(42, Hello.returnAnswerToEverything());
        &#125;
    &#125;
                                                    </pre>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <h2>General Questions</h2>
                    <table>
                        <tr>
                            <th>Section</th>
                            <th>Time (minutes)</th>
                            <th># Questions</th>
                        </tr>
                        <tr>
                            <td>General Questions</td>
                            <td>21 minutes</td>
                            <td>5</td>
                        </tr>
                    </table>
                    <div>
                        <ul>
                            <li>How do you determine code coverage?
                                <div class="answer">Answer</div>
                            </li>
                            <li>How do you determine code quality?
                                <div class="answer">Answer</div>
                            </li>
                            <li>How do you design an algorithm?
                                <div class="answer">Answer</div>
                            </li>
                            <li>How do you determine the complexity of an algorithm?
                                <div class="answer">Answer</div>
                            </li>
                            <li>How do you determine the efficiency of an algorithm?
                                <div class="answer">Answer</div>
                            </li>
                            <li>What is your test process?
                                <div class="answer">Answer</div>
                            </li>
                            <li>What are different test types and their best usage?
                                <div class="answer">Answer</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <h2>SQL</h2>
                    <table>
                        <tr>
                            <th>Section</th>
                            <th>Time (minutes)</th>
                            <th># Questions</th>
                        </tr>
                        <tr>
                            <td>SQL</td>
                            <td>16 minutes</td>
                            <td>2</td>
                        </tr>
                    </table>
                    <div>
                        <ul>
                            <li>What is a UNION?
                                <div class="answer">Answer</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <h2>Java Code</h2>
                    <table>
                        <tr>
                            <th>Section</th>
                            <th>Time (minutes)</th>
                            <th># Questions</th>
                        </tr>
                        <tr>
                            <td>Java Code</td>
                            <td>21</td>
                            <td>1</td>
                        </tr>
                    </table>
                    This is going to be a code challenge. No specific details are provided.
                </div>
                <div>
                    <h2>Explain Java</h2>
                    <table>
                        <tr>
                            <th>Section</th>
                            <th>Time (minutes)</th>
                            <th># Questions</th>
                        </tr>
                        <tr>
                            <td>Explain Java</td>
                            <td>11</td>
                            <td>1</td>
                        </tr>
                    </table>
                    <div>
                        <ul>
                            <li>Why Java?
                                <div class="answer">Answer</div>
                            </li>
                            <li>How does Java work?
                                <div class="answer">Answer</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>