<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <h1 data-testid="header-title">gcp</h1>
            </mat-card-title>
            <mat-card-subtitle>
                <h3>Google Cloud Platform</h3>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div>
                <h3>Important Commands</h3>
                <ul>
                    <li><span class="code">gcloud run deploy --image nehsa/nehsanet:latest</span> - Uploads container to cloud</li>
                    <li><span class="code">gcloud cheat-sheet</span> - Uploads container to cloud</li>                    
                </ul>         
            </div>
        </mat-card-content>
    </mat-card>
</div>