<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <h1 data-testid="header-title">Docker</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="topics">
                <div>
                    <h3>Useful Commands</h3>
                    <span class="code">docker build . -t &lt;dockerhub username&gt;/&lt;repo name&gt;:latest</span> -
                    builds a Docker image and tags it for uploading to <a href="https://hub.docker.dom">Docker
                        Hub</a><br><br>
                    <span class="code">docker-compose up --build</span> - Build the image + start the container<br><br>
                    <span class="code">docker-compose up/down</span> - Start/Stop the container<br><br>
                    <span class="code">docker network ls</span> - Network info<br><br>
                    <span class="code">docker images</span> - Image info<br><br>
                    <span class="code">docker system prune (-a)</span> - Remove stopped containers and unused images.
                    The options -a removes everything.<br><br>
                    <span class="code">docker save --output image.tar nehsanet</span> - Saves an image to a local file
                    system<br><br>
                    <span class="code">docker load --input image.tar</span> - Loads a saved image (likely on a different
                    machine if you're not publishing to dockerhub)<br><br>
                    <span class="code">docker container ps</span> - Lists running containers<br><br>
                    <span class="code">docker ps -a</span> - Lists all containers (including stopped)<br><br>
                    <span class="code">docker image ls | grep nehsa/nehsanet</span> - Lists all containers
                    tagged<br><br>
                    <span class="code">docker push &lt;dockerhub username&gt;/&lt;repo name&gt;:latest</span> - publish
                    to Docker Hub
                    <span class="code">docker pull nehsa/nehsanet:latest</span> - pull from Docker Hub
                    <span class="code">docker exec -it -u root jenkins /bin/bash</span> - Open bash prompt as root user
                </div>
                <div>
                    <h3>Publishing to dockerhub</h3>
                    <ol>
                        <li>Setup account on <a href="https://hub.docker.com/">dockerhub</a></li>
                        <li>Create dockerfile and docker-compose files</li>
                        <li><span class="code">docker build . -t &lt;dockerhub username&gt;/&lt;repo
                                name&gt;:latest</span> - Verify it builds</li>
                        <li><span class="code">docker-compose up</span> - Verify it runs</li>
                        <li><span class="code">docker push &lt;dockerhub username&gt;/&lt;repo name&gt;:latest</span>
                        </li>
                    </ol>
                </div>
                <div>
                    <h3>Setting up Local Registry <a href="https://www.docker.com/blog/how-to-use-your-own-registry-2/"
                            target="_blank">https://www.docker.com/blog/how-to-use-your-own-registry-2/</a></h3>
                    <ol>
                        <li>Download the registry docker container: <a
                                href="https://hub.docker.com/_/registry"
                                target="_blank">https://hub.docker.com/_/registry</a>
                                <div class="code">
                                    docker pull registry
                                </div>
                            </li>
                        <li>Run it:
                            <div class="code">docker run -d -p 5000:5000 --name registry registry:latest</div>
                        </li>
                        <li>Verify it's running:
                            <div class="code">docker logs -f registry</div>
                        </li>
                        <li>Push to it:
                            <div class="code">
                                docker tag node:20 localhost:5000/&lt;tagname&gt;<br>
                                docker push localhost:5000/&lt;tagname&gt;
                            </div>
                        </li>
                        <li>Delete it from the local machine (for reference):
                            <div class="code">docker rmi localhost:5000/&lt;tagname&gt;</div>
                        </li>
                        <li>Pull from it:
                            <div class="code">docker pull localhost:5000/&lt;tagname&gt;</div>
                        </li>
                    </ol>
                </div>
                <div>
                    <h3>Example dockerfile</h3>
                    <pre>
                        FROM node:21.6.1-slim  <span class="comment">// The base image to start with</span>
                        EXPOSE 80 443
                        WORKDIR /app 
                        COPY package.json . 
                        RUN npm install
                        COPY . .
                        CMD node index.js
                    </pre>
                </div>
                <div>
                    <h3>Example docker-compose file</h3>
                    <pre>
                        name: nehsanet
                        version: "3.8"
                        services:
                          nehsanet:
                            build: .
                            ports:
                              - "0.0.0.0:4200:4200"
                              - "0.0.0.0:49153:49153"
                            image: "node:20"
                            volumes:
                            - "/app/node_modules"
                            - ".:/app"
                            command: "npm start -- --host 0.0.0.0"                       
                    </pre>
                </div>
                <div>
                    <h3>Other tidbits..</h3>
                    <ul>
                        <li>You do not need to enter entire hash for an image/container as long as they're using. e.g.
                            418 would find this image:
                            <pre>
    PS C:\src\nehsa.net> docker image ls | grep nehsa/nehsanet
    nehsa/nehsanet   latest    418b390c6d3a   26 minutes ago   3.2GB
</pre>
                        </li>
                        <li>Containers can be started using either:
                            <ul>
                                <li>a sole dockerfile and <span class="code">docker run -p 80:80 -it
                                        nehsa/nehsanet:latest</span></li>
                                <li>a dockerfile and docker-compose.yml and <span class="code">docker compose
                                        up/down</span></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>