<mat-card class="card" [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()">
    <mat-card-header>
        <mat-card-title>
            <h1 data-testid="header-title">Docker</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="commentgrid">
            <div class="topics">
                <div>
                    <ul>
                        <li>
                            <mat-expansion-panel expanded>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Tips / Tricks</mat-panel-title>
                                </mat-expansion-panel-header>
                                <div>
                                    <ul>
                                        <li>You do not need to enter entire hash for an image/container.<br><br>
                                            
                                            e.g.
                                            <span class="importantish">418</span> would find this image:
                                            <code>
                            <pre>
PS C:\src\nehsa.net> docker image ls | grep nehsa/nehsanet
nehsa/nehsanet   latest    <span class="importantish">418</span>b390c6d3a   26 minutes ago   3.2GB

PS C:\src\nehsa.net> docker exec -it <span class="importantish">418</span> /bin/bash
root&#64;418b390c6d3a:/app#
</pre>
            </code>
                                        </li>
                                        <li><span class="importantish">Anything</span> not in a &quot;volume&quot; will
                                            be lost the next time the container is started.</li>
                                        <li>Containers can be started using either:
                                            <ul>
                                                <li>a sole dockerfile and <inline-code>docker run -p 80:80 -it
                                                        nehsa/nehsanet:latest</inline-code>
                                                </li>
                                                <li>a dockerfile and docker-compose.yml and <inline-code>docker compose
                                                        up/down</inline-code>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Common Commands</mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul>
                                    <li><label>builds a Docker image and tags it for uploading to <a
                                                href="https://hub.docker.dom">Docker
                                                Hub</a></label><br>
                                        <inline-code>docker build . -t &lt;dockerhub username&gt;/&lt;repo
                                            name&gt;:latest
                                        </inline-code>
                                    </li>
                                    <li><label>Starts a new container from the cu</label><br>
                                        <inline-code>docker build . -t &lt;dockerhub username&gt;/&lt;repo
                                            name&gt;:latest
                                        </inline-code>
                                    </li>
                                    <li><label>Build the image + start the container</label><br>
                                        <inline-code>docker-compose up --build</inline-code>
                                    </li>
                                    <li><label>Start/Stop the container</label><br>
                                        <inline-code>docker-compose up/down</inline-code>
                                    </li>
                                    <li><label>Network info</label><br>
                                        <inline-code>docker network ls</inline-code>
                                    </li>
                                    <li><label>Image info</label><br>
                                        <inline-code>docker images</inline-code>
                                    </li>
                                    <li>
                                        <label>Copy items to/from image</label><br>
                                        <inline-code>docker cp 16d4ac49e7bb:/app/html-report .</inline-code>
                                    </li>
                                    <li><label>Remove stopped containers and unused images.
                                            The options -a removes everything.</label><br>
                                        <inline-code>docker system prune (-a)</inline-code>
                                    </li>
                                    <li><label>Saves an image to a local file
                                            system</label><br>
                                        <div>
                                            <label>Create new image with current changes (this merges
                                                volumes)</label><br>
                                            <inline-code>docker commit 93afb54049db jenkins:2.440.3-1
                                                (the recommended approach is to update your dockerfile with everything
                                                required
                                                as that ensured full reproducibility)</inline-code>
                                            <br><label>Saves an image as image.tar</label><br>
                                            <inline-code>docker save --output image.tar jenkins:2.440.3-1</inline-code>
                                        </div>
                                    </li>
                                    <li><label>Loads a saved image (likely on a different
                                            machine if you're not publishing to dockerhub)</label><br>
                                        <inline-code>docker load --input image.tar</inline-code>
                                    </li>
                                    <li><label>Lists running containers</label><br>
                                        <inline-code>docker container ps</inline-code>
                                    </li>
                                    <li><label>Lists all containers (including stopped)</label><br>
                                        <inline-code>docker ps -a</inline-code>
                                    </li>
                                    <li><label>Lists all containers
                                            tagged</label><br>
                                        <inline-code>docker image ls | grep nehsa/nehsanet</inline-code>
                                    </li>
                                    <li><label>publish
                                            to Docker Hub</label><br>
                                        <inline-code>docker push &lt;dockerhub username&gt;/&lt;repo
                                            name&gt;:latest</inline-code>
                                    </li>
                                    <li><label>pull from Docker Hub</label><br>
                                        <inline-code>docker pull nehsa/nehsanet:latest</inline-code>
                                    </li>
                                    <li><label>Open bash prompt as root user</label><br>
                                        <inline-code>docker exec -it -u root jenkins /bin/bash</inline-code>
                                    </li>
                                </ul>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Dockerfiles</mat-panel-title>
                                </mat-expansion-panel-header>
                                Tips, Tricks, usage, and definitions regarding dockerfiles.<br><br>

                                Common commands:<br>
                                <dl>
                                    <dt>FROM</dt>
                                    <dd>
                                        Specifies the base image to start with with an optional tag.<br><br>

                                        Images I use often:<br>
                                        <table class="min-table">
                                            <tr>
                                                <th>Image Name</th>
                                                <th>Purpose</th>
                                                <th>Where Employed</th>
                                            </tr>
                                            <tr>
                                                <td>node</td>
                                                <td>Running Node.js applications</td>
                                                <td>nehsa.net Angular app, React apps</td>
                                            </tr>
                                            <tr>
                                                <td>sdk:8.0</td>
                                                <td>.NET Core applications</td>
                                                <td>Kestrel web servers and APIs</td>
                                            </tr>
                                            <tr>
                                                <td>python</td>
                                                <td>Python applications</td>
                                                <td>NehsaMUD</td>
                                            </tr>
                                            <tr>
                                                <td>golang</td>
                                                <td>Go applications</td>
                                                <td>Weather microservice, Web scraper microservice</td>
                                            </tr>
                                        </table>
                                    </dd>
                                    <dt>EXPOSE</dt>
                                    <dd>
                                        Exposes a port to the host machine. <inline-code>EXPOSE 80 443</inline-code>
                                        would expose ports 80 and 443.
                                    </dd>
                                    <dt>WORKDIR</dt>
                                    <dd>
                                        Sets the working directory for the container. <inline-code>WORKDIR
                                            /app</inline-code> would set the working directory to /app.
                                    </dd>
                                    <dt>COPY</dt>
                                    <dd>
                                        Copies files from the host machine to the container. <inline-code>COPY
                                            package.json .</inline-code> would copy the package.json file from the host
                                        machine to the container to the current directory (where set by WORKDIR). To
                                        copy a directory, use <inline-code>COPY . .</inline-code> to copy the current
                                        directory (the full app) or <inline-code>COPY
                                            /app .</inline-code> to copy the /app directory.
                                    </dd>
                                    <dt>RUN</dt>
                                    <dd>
                                        Runs a command in the container. <inline-code>RUN npm install</inline-code>
                                        would run the npm install command.
                                    </dd>
                                    <dt>CMD</dt>
                                    <dd>
                                        Specifies the command to run when the container starts.<br><br>

                                        e.g.
                                        <ul>
                                            <li> To start a Node.js app: <inline-code>CMD
                                                    node index.js</inline-code></li>
                                            <li>To start a .NET Core app: <inline-code>CMD dotnet
                                                    run</inline-code></li>
                                        </ul>
                                    </dd>
                                    <dt>ENTRYPOINT</dt>
                                    <dd>
                                        Specifies the command to run when the container starts. This is similar to CMD
                                        but can't be overridden by the command line. It's useful for setting a default
                                        command that can be overridden by CMD.<br><br>

                                        Example: <inline-code>ENTRYPOINT
                                            ["dotnet", "run"]</inline-code> with <inline-code>CMD
                                            ["--urls", "http://&lt;ip&gt;:5000"]</inline-code> would start the app with
                                        a default URL of http://&lt;ip&gt;:5000.</dd>
                                    <dt>ENV</dt>
                                    <dd>Set environment variables. <inline-code>ENV
                                            NODE_ENV=production</inline-code> would set the NODE_ENV variable to
                                        production.</dd>
                                    <dt>ARG</dt>
                                    <dd>Set build-time variables. <inline-code>ARG
                                            NODE_ENV=production</inline-code> would set the NODE_ENV variable to
                                        production. ARG is different from ENV in that it's only available during the
                                        build process, not when the container is running.</dd>
                                    <dt>USER</dt>
                                    <dd>Set the user that the container runs as. <inline-code>USER
                                            node</inline-code> would run the container as the node user.</dd>
                                    <dt>VOLUME</dt>
                                    <dd>Mount a volume from the host machine to the container. <inline-code>VOLUME
                                            /app</inline-code> would mount the /app directory from the host machine to
                                        the container.</dd>
                                    <dt>HEALTHCHECK</dt>
                                    <dd>Specifies a command to run to check the health of the container.
                                        <inline-code>HEALTHCHECK
                                            CMD curl --fail http://localhost:80/ || exit 1</inline-code> would check the
                                        health of the container by making a request to http://localhost:80.
                                    </dd>
                                    <dt>ONBUILD</dt>
                                    <dd>Specifies a command to run when the image is used as a base image. This is
                                        useful for setting up common configurations that are shared across multiple
                                        images.</dd>
                                </dl>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Multi-stage Dockerfiles</mat-panel-title>
                                </mat-expansion-panel-header>It can be useful to use a multi-stage Dockerfile to keep
                                the size of the final image small and minimize the attack surface. A multi-stage works
                                by first building the application in a temporary container and then copying the built
                                application to a new container that only contains the runtime dependencies. This allows
                                you to keep the final image small while still having all the necessary dependencies to
                                run the application.<br><br>

                                Example:<br>
                                <code>
                                    <pre>
# Build stage
FROM node:21.6.1-slim AS build <span class="comment"><mat-icon>arrow_back</mat-icon> // Label the stage as "build"</span>
WORKDIR /app
COPY package.json .
RUN npm install <span class="comment"><mat-icon>arrow_back</mat-icon> // Install dependencies required to build the application</span>
COPY . .
RUN npm run build

# Production stage
FROM node:21.6.1-slim
WORKDIR /app
COPY --from=build /app/dist .  <span class="comment"><mat-icon>arrow_back</mat-icon> // The juicy bit. Copy the built application from the build stage</span>
CMD node index.js
                                    </pre>
                                </code>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Dockerfiles Vs. Docker Compose</mat-panel-title>
                                </mat-expansion-panel-header>Projects will often after either a dockerfile, a
                                docker-compose.yml, or both.<br><br>

                                <dl>
                                    <dt>dockerfile</dt>
                                    <dd>The dockerfile is used to build the image.</dd>
                                    <dt>docker-compose.yml</dt>
                                    <dd>Whereas the Dockerfile starts the container, docker-compose is about running
                                        them. While the docker-compose.yml file can also be used to build the image, it
                                        is more common to use a docker file for this purpose.
                                        <br><br>

                                        An advantage of using a docker-compose.yml file is that it allows you to
                                        orchestrate running multiple containers, including defining the network
                                        configuration between them. It's also helpful in defining environment variables
                                        and other configuration options shared across multiple containers.
                                    </dd>
                                </dl>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Publishing to dockerhub</mat-panel-title>
                                </mat-expansion-panel-header>
                                <ol>
                                    <li>Setup account on <a href="https://hub.docker.com/">dockerhub</a></li>
                                    <li>Create dockerfile and docker-compose files</li>
                                    <li>
                                        <br><label>Verify it builds</label><br>
                                        <inline-code>docker build . -t &lt;dockerhub username&gt;/&lt;repo
                                            name&gt;:latest</inline-code>
                                    </li>
                                    <li>
                                        <br><label>Verify it runs</label><br>
                                        <inline-code>docker-compose up</inline-code>
                                    </li>
                                    <li>
                                        <inline-code>docker push &lt;dockerhub username&gt;/&lt;repo
                                            name&gt;:latest</inline-code>
                                    </li>
                                </ol>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Setting up Local Registry</mat-panel-title>
                                </mat-expansion-panel-header>
                                <ol>
                                    <li>Download the registry docker container: <a
                                            href="https://hub.docker.com/_/registry"
                                            target="_blank">https://hub.docker.com/_/registry</a>
                                        <inline-code>
                                            docker pull registry
                                        </inline-code>
                                    </li>
                                    <li>Run it:
                                        <inline-code>docker run -d -p 5000:5000 --name registry registry:latest
                                        </inline-code>
                                    </li>
                                    <li>Verify it's running:
                                        <inline-code>docker logs -f registry</inline-code>
                                    </li>
                                    <li>Push to it:
                                        <inline-code>
                                            docker tag node:20 localhost:5000/&lt;tagname&gt;<br>
                                            docker push localhost:5000/&lt;tagname&gt;
                                        </inline-code>
                                    </li>
                                    <li>Delete it from the local machine (for reference):
                                        <inline-code>docker rmi localhost:5000/&lt;tagname&gt;</inline-code>
                                    </li>
                                    <li>Pull from it:
                                        <inline-code>docker pull localhost:5000/&lt;tagname&gt;</inline-code>
                                    </li>
                                </ol>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Using "RUN" to install Python</mat-panel-title>
                                </mat-expansion-panel-header>
                                Update dockerfile:
                                <code>
                                    <pre>
# Update package lists
RUN apt update && \
    apt upgrade -y

# Install required packages
RUN apt install -y python3.11  

# Check the installed version of Python
RUN python3.11 --version
</pre>
                                </code><br><br>
                                This can be verified by checking build log and confirmed we get a Python version 3.11
                                printed:
                                <img src="../../../assets/images/python-docker.png" alt="Python 3.11 installed" />

                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Example Files</mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul>
                                    <li>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>dockerfile</mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <inline-code>
                                                <pre>
FROM node:21.6.1-slim  <span class="comment">// The base image to start with</span>
EXPOSE 80 443
WORKDIR /app 
COPY package.json . 
RUN npm install
COPY . .
CMD node index.js
</pre>
                                            </inline-code>
                                        </mat-expansion-panel>
                                    </li>
                                    <li>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>docker-compose.yml</mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <inline-code>
                                                <pre>
name: nehsanet
version: "3.8"
services:
    nehsanet:
    build: .
    ports:
        - "0.0.0.0:4200:4200"
        - "0.0.0.0:49153:49153"
    image: "nehsanet-image"
    volumes:
    - "/app/node_modules"
    - ".:/app"
    command: bash -c "npm install -D &#64;playwright/test&#64;latest --legacy-peer-deps; npx playwright install --with-deps msedge firefox webkit; npm start -- --host 0.0.0.0"
volumes:
    node_modules:
    app:                       
</pre>
                                            </inline-code>
                                        </mat-expansion-panel>
                                    </li>
                                    <li>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>Development within a container</mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <ul>
                                                <li>
                                                    If you're using WSL2:
                                                    <ul>
                                                        <li>Open VS code</li>
                                                        <li>Connect to running container</li>
                                                        <li>Open /app folder</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </mat-expansion-panel>
                                    </li>
                                </ul>
                            </mat-expansion-panel>
                        </li>
                    </ul>
                </div>
            </div>
            <div><app-comment></app-comment></div>
        </div>
    </mat-card-content>
</mat-card>