<mat-dialog-content class="mainarea" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <div class="maingrid" cdkDragHandle>
        <div class="titlegrid">
            <div>
                <h5 class="title">NehsaMUD Map</h5>
            </div>
            <div><mat-icon (click)="min()">minimize</mat-icon></div>
        </div>
        <div class="maparea">
            <button mat-button (click)="enlargen()"><img [width]="image_width" [src]="image"></button>
        </div>
    </div>
</mat-dialog-content>