<mat-dialog-content class="mainarea" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <div class="maingrid" cdkDragHandle>
        <div class="titlegrid">
            <div>
                <h5 class="title">NehsaMUD Map</h5>
            </div>
            <div class="dragger">
                <button mat-icon-button>
                    <mat-icon style="font-size:20px;">
                        <span class="material-symbols-outlined">
                            drag_indicator
                        </span>
                    </mat-icon>
                </button>
            </div>
        </div>
        <div class="maparea">
            A map will eventually be here to record your journey
        </div>
    </div>
</mat-dialog-content>