.mainimg {
    border: 2px ridge var(--theme-border);
    border-radius: 2px !important;
    width: 350px;
}

.bodybiogrid {
    display: grid;
    grid-template-columns: 800px 1fr;
    align-items: center;
}

.funarrow {
    align-items: center;
    display: flex;
}

.img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.doghover {
    width: 100%;
    animation: gradient-animation 15s ease infinite;
}