<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <h1 data-testid="header-title">About</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="commentgrid">
                <div class="bodybiogrid">
                    <div class="biowrapper" style="max-width: 800px">
                        <div class="bio">
                            <img class="mainimg" mat-card-image src="assets/images/me.png"
                                alt="Photo of a Jesse Stone and dog Roswaal (Roz)" /><br>
                            "Never done learning," best sums me up. Education should never end, and I am always eager to
                            educate myself and hone my ability to manage, develop, and test high-quality code.<br><br>
                            Current areas of focus:
                            <ul class="condensed">
                                <li>TypeScript</li>
                                <li>Highly resiliant cloud deployment with geographically-dispersed/load-balanced UIs
                                </li>
                                <li>Docker, containerization, working within containers</li>
                                <li>CI/CD w/integrated E2E testing using Playwright & Pytest</li>
                            </ul><br>This silly website is used for just that. To the left are technologies
                            I've worked with. Each topic area has varying states of completeness, as I only update
                            content occasionally and usually for my own reference. If you see anything of value and want to see more of it, comment! I'd
                            like to make a 2nd version of this website using React, because.
                            <br>
                            <br>More about me here: <a target="_blank" mat-button
                                href="https://www.linkedin.com/in/jessestone/">LinkedIn Profile</a>
                            <br><br>
                            <span (mouseover)="doghover=true" (mouseout)="doghover=false">Also, I have the bestest dog
                                Roz.</span>
                        </div>
                    </div>
                    <div *ngIf="this.doghover">
                        <span class="funarrow"><mat-icon>arrow_back</mat-icon>This guy</span>
                    </div>
                </div>
                <div><app-comment></app-comment></div>
            </div>
        </mat-card-content>
    </mat-card>
</div>