<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <h1 data-testid="header-title">About</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="bodybiogrid">
                <div class="biowrapper" style="max-width: 800px">
                    <div class="bio">
                        <img class="mainimg" mat-card-image src="assets/images/me.png"
                            alt="Photo of a Jesse Stone and dog Roswaal (Roz)" /><br>
                        "Never done learning" sums me up best. I am a firm believer that education should never end and
                        I am
                        always eager to educate myself and hone my
                        ability to
                        manage, develop, and test high quality code.<br><br>
                        Currently areas of focus: <span matTooltip="Yuppers!" matTooltipPosition="above"
                            matTooltipHideDelay="100">TypeScript</span>, <span matTooltip="Yay!"
                            matTooltipPosition="above" matTooltipHideDelay="100">NPM</span>, <span matTooltip="Woohoo!"
                            matTooltipPosition="above" matTooltipHideDelay="100">Docker</span>, <span
                            matTooltip="Yippee!" matTooltipPosition="above" matTooltipHideDelay="100">CI/CD</span> with
                        <span matTooltip="Alright!" matTooltipPosition="above" matTooltipHideDelay="100">integrated E2E
                            testing
                            using
                            Playwright</span>. This silly website is used for just that. To the left are interesting
                        technologies I've worked with.. to varying degrees of completeness. This is not intended to be
                        an inclusive knowledge base but random bits of knowledge I've come across as I learn new things
                        or accomplish difficult tasks.
                        <br><br>
                        <span (mouseover)="doghover=true" (mouseout)="doghover=false">Also, I have the bestest dog
                            Roz.</span>
                        <br><br>I'm a student again! I'm enrolled at <a href="https://oregonstate.edu/">OSU</a> pursuing
                        a B.S. in Computer Science! Never too late, aye?
                        <br><br>More about me here: <a target="_blank" mat-button
                            href="https://www.linkedin.com/in/jessestone/">LinkedIn Profile</a>
                    </div>
                </div>
                <div *ngIf="this.doghover">
                    <span class="funarrow"><mat-icon>arrow_back</mat-icon>This guy</span>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>