<mat-card class="card">
    <mat-card-header>
        <mat-card-title>
            <h1 data-testid="header-title">Jesse's Blog</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="commentgrid">
            <div>Someday, Jesse will build the infrastructure to host a blog here. This will become the main page of
                Nehsa.net. It will be a sacred place where Jesse can yell thunderously into a fickle and uncaring wind.
                Now, though, there's little to see, so Jesse will draw you a picture of what it will be like. This will
                help you visualize to eventual awesomeness.<div class="grid">
                    <div></div>
                    <div style="text-align: left;"><mat-icon class="bolt">thunderstorm</mat-icon></div>
                    <div style="text-align: right;"><mat-icon class="person">accessibility_new</mat-icon></div>
                    <div>&nbsp;</div>
                </div>
                <br><br>
                Jesse is unsure why he wrote this in the third person. Forgive him.
            </div>
            <div><app-comment></app-comment></div>
        </div>
    </mat-card-content>
</mat-card>