.grid {
    display: grid;
    width: 500px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.bolt {
    font-size: 10rem;
    height: auto;
    width: auto;
    color: #333;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: springgreen;
    text-shadow: 5px 5px 5px #222, 7px 8px 2px yellow;
}

.person {
    font-size: 10rem;
    height: auto;
    width: auto;
    color: #333;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: black;
    text-shadow: -4px 5px 2px #222, 5px -5px 5px #666;
}
