<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <h1 data-testid="header-title">PH207</h1>
            </mat-card-title>
            <mat-card-subtitle>
                <h3>Galaxies, Cosmology and Life in the Universe</h3>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div>
                <h3>Definitions</h3>
                <ul class="condensed">
                    <li>
                        <dl>
                            <dt>Radiation</dt>
                            <dd>is any way in which energy is trasmitted through space from one point to another
                                without the need for any physical connection between the two locations.</dd>
                            <dt>Electromagnetic</dt>
                            <dd>the energy is carried in the form of rapidly flucuating elecric and magnetic
                                fields
                            </dd>
                            <dt>Visible Light</dt>
                            <dd>electromagnetic radiation to which our eyes our sensative. As light enters our
                                eye,
                                small chemical reactions triggered by the incomming energy send
                                electrical impulses to the brain. This produces the sensation of sight.
                            </dd>
                            <dt>Wave</dt>
                            <dd>A way in which energy is transferred from place to place without the
                                physical movement of material from one location to another.</dd>
                            <dt>Wave Disturbance</dt>
                            <dd>The cause that carries the energy. This distrubance, whatever it's nature,
                                occurs in
                                distinctive repeating pattern.</dd>
                            <dt>Wave Period</dt>
                            <dd>is the number of seconds needed for the wave to repeat itself at any given point
                                in
                                space.</dd>
                            <dt>Wave Crest</dt>
                            <dd>The apex of the wave</dd>
                            <dt>Wave Trough</dt>
                            <dd>The lowest point of the wave</dd>
                            <dt>Wavelength &lambda;</dt>
                            <dd>is the number of meters needed for the wave to repeat itself at a given moment
                                in
                                time. It can be measured as the distance between two adjacent wave crests, two
                                adjacent wave troughs, or any other similar point.</dd>
                            <dt>Amptitude</dt>
                            <dd>Maximum departure of the wave from the undisturbed state. E.g. A pond ripple
                                would
                                be from a flat surface (undistrubed water) to the crest.</dd>
                            <dt>Frequency</dt>
                            <dd>The number of wave crests passing any given point per unit of time is called the
                                wave's frequency. A frequency of a wave is the reciprocal of the wave's period.
                                <br><br>i.e.<br>
                                <div class="freqgrid">
                                    <div>freqency</div>
                                    <div>=</div>
                                    <div>1
                                        <hr>
                                        period
                                    </div>
                                </div>
                                Frequency is expressed in units of inverse time. i.e. 1/second (called hertz
                                Hz).
                                e.g. A wave with a period of 5 seconds has a frequency of 1/5 which is .2 Hz
                            </dd>
                            <dt>Visible Spectrum</dt>
                            <dd>When passed through a prism, white light splits into its component colors.
                                Spanning
                                red-violet (in hues red, orange, yellow, green, blue, violet). The color is
                                determined by the frequency. Light at different frequencies is split
                                differently,
                                red is
                                altered the least, violet the most, creating the color spectrum.</dd>
                            <dt>Electron or proton</dt>
                            <dd>Elementary particles of atoms and all matter (the building blocks of
                                everything).
                                Erectrons are said to carry a negative charge, whereas protons have a positive
                                charge. Electrical charge - A buildup of electrical charge (a net excess of
                                positive
                                over negative
                                or vise versa) is what causes static cling and static shock</dd>
                        </dl>
                    </li>
                </ul>

                <h3>Laws</h3>
                <ul class="condensed">
                    <li>Kepler's laws
                        <ol>
                            <li>Planet orbits are ellipses with the sun at one focus of the ellipse.</li>
                            <li>A line joining a planet to the sun sweeps out equal areas in the ellipse over
                                equal times. </li>
                            <li>A planet's orbital period is proportional to the size of its orbit (its
                                semi-major axis) </li>
                        </ol>
                    </li>
                    <li>Newton's laws
                        <ol>
                            <li>An object at rest stays at rest. An object in motion stays in motion at a
                                constant speed in a straight line unless acted upon by an unbalanced force.</li>
                            <li>The net force on an object is equivalent to the product of object's mass and its
                                acceleration.</li>
                            <li>For every force, there exists and equal and opposite force.</li>
                        </ol>
                    </li>
                    <li>Wien's Law
                        <ol>
                            <li>Fact 1</li>
                        </ol>
                    </li>
                    <li>Stephan's Law
                        <ol>
                            <li>Fact 1</li>
                        </ol>
                    </li>
                    <li>Kirchoff's Law
                        <ol>
                            <li>Fact 1</li>
                        </ol>
                    </li>
                    <li>Hubble's Law
                        <ol>
                            <li>Fact 1</li>
                        </ol>
                    </li>
                </ul>


                <h3>Notes</h3>
                <ul class="condensed">
                    <li>Constellations (in general)
                        <ul>
                            <li>fact 1</li>
                        </ul>
                    </li>
                    <li>Stellar Parallax method
                        <ul>
                            <li>Fact 1</li>
                        </ul>
                    </li>
                    <li>Wave Properties
                        <ul>
                            <li>Wavelength properties
                                <ul>
                                    <li>Fact 1</li>
                                </ul>
                            </li>
                            <li>Frequency properties
                                <ul>
                                    <li>Fact 1</li>
                                </ul>
                            </li>
                            <li>Speed
                                <ul>
                                    <li>Fact 1</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>Eloctromagnetric Spectrum
                        <ul>
                            <li>Fact 1</li>
                        </ul>
                    </li>
                    <li>What is Luminosity?
                        <ul>
                            <li>Fact 1</li>
                        </ul>
                    </li>
                    <li>1/r2 nature of light
                        <ul>
                            <li>Fact 1</li>
                        </ul>
                    </li>
                    <li>Doppler Effect - The Doppler effect escribes the changes in the
                        frequency of any sound or light wave produced by a moving source with respect to an
                        observer.
                        <ul>
                            <li>Also known as &quot;Doppler shift&quot;</li>
                        </ul>
                    </li>
                    <li>Milky Way
                        <ul>
                            <li>Structure
                                <ul>
                                    <li>Disk, Bulge, and Halo
                                        <ul>
                                            <li>Star Populations</li>
                                        </ul>
                                    </li>
                                    <li>Globular Clusters</li>
                                    <li>Evolution</li>
                                    <li>Spiral Arms
                                        <ul>
                                            <li>Density Wave Theory</li>
                                            <li>Star formation</li>
                                        </ul>
                                    </li>
                                    <li>Capheid Variable Stars
                                        <ul>
                                            <li>Describe the machanism</li>
                                            <li>Period-luminosity relationship</li>
                                            <li>How to measure distance?</li>
                                        </ul>
                                    </li>
                                    <li>Evidence for Dark Matter
                                        <ul>
                                            <li>Rotation Curves</li>
                                            <li>Gravity Lensing</li>
                                        </ul>
                                    </li>
                                    <li>Central Supermassive Black Hole</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>Galaxies
                        <ul>
                            <li>Galaxy types - Spiral, Eliptical, Irregular</li>
                            <li>Active Galactive Nuclei</li>
                            <li>Quasars</li>
                            <li>Look-back time</li>
                            <li>Tully-Fisher relationship</li>
                        </ul>
                    </li>
                    <li>
                        Some types of radiation waves:
                        <ul>
                            <li>Radio</li>
                            <li>Infrared - Perceived as heat</li>
                            <li>Ultraviolet - Just beyond visible violet, responsible for sunburns/suntans</li>
                            <li>X-rays</li>
                            <li>Gamma rays - Shortest wavelength, damaging to living cells.</li>
                        </ul>
                    </li>
                    <li>
                        Not radiation waves:
                        <ul>
                            <li>Sound</li>
                            <li>Water</li>
                        </ul>
                    </li>
                    <li>The terms &quot;waves&quot;, &quot;radiation&quot;, and &quot;light&quot; can all be
                        used
                        interchangly. All refer to the same thing</li>
                    <li>Wavelength</li>
                    <li>Light as it pertains to gaining information about stars from starlight. In particular,
                        the particle nature of light and how photons are absorbed and emitted by matter particles.
                    </li>
                    <li><span class="header">Spectroscropy - shows &quot;fingerprint&quot; of the
                            light.</span><br>
                        Speak of light as particles instead of waves such as photons. Light is all light, not
                        only visible. As you send electricity down tube of gas.
                        Gases have a structure of nucleons and electrons and the electrons can take excited
                        states.
                        When electrons take excited states, they drop down to lower energy emitting a photon of
                        light.
                        The electron energy states are quontry states (they can only take certain energy and
                        emit only certain entery).
                        <ul class="condensed">
                            <li> Energy = hf (h = Planck's constant):
                                <ul>
                                    <li>Joules: h = 6.63*10<sup>-34</sup> Js (Joule Seconds)</li>
                                    <li>Electron Volts: h = 4.136x10<sup>-15</sup>eVs (electron volt seconds)
                                    </li>
                                </ul>
                            </li>
                            <li>Energy = hc / &lambda;
                                <ul>
                                    <li>&lambda; = wavelength</li>
                                    <li>f = frequency</li>
                                    <li>c = speed of light (&lambda;f)</li>
                                </ul>
                            </li>
                            <li>Continuous Spectrum such as stellar core with produces all light frequencies due
                                to fusion at it's core</li>
                            <li>Specific gases will only emit certin colors of light. Absorption spectrum is
                                what is absorbed when running a continuous spectrum over a cooler gas</li>
                            <li>Emission spectrum is what is emiited when running a continuous spectrum over a
                                cooler gas (what's left)</li>
                            <li>Emission Lines
                                <ul>
                                    <li>How are emission lines formed?
                                        <ul>
                                            <li>photon energy = energy difference between excited stated of the electron
                                            </li>
                                            <li> E = hf</li>
                                        </ul>
                                    </li>
                                    <li>What do emission lines tell us about a star?</li>
                                </ul>
                            </li>
                            <li>Calculation of speed using Doppler shifted spectral lines</li>
                            <li>Absorption Lines
                                <ul>
                                    <li>How are absorption lines formed?
                                    <li>What do absorption lines tell us?</li>
                                </ul>
                            </li>
                            <li>bohr - Shows electrons in different states and how they emit photons only under
                                the right conditions when dropping from higher excited state to lower.
                                This can happen many ways (4th -> ground, or 4 -> any other combitions. i.e.
                                4th->2nd->ground):<br><br>

                                Example:<br><br>

                                An electron obsorves the highest photon it can, it goes to the highest energy
                                state. This could likely be a ultraviolet photon but it could also drop from
                                4th->3rd producing a smaller wavelength and a visible light wavelength. The
                                bigger difference in levels, the higher engery.
                            </li>
                            <li>ir &lt;----, red = 750nm, violent = 375nm, ----&gt; UV</li>
                            <li>Which kind of particles determine what kind of element: Proton</li>
                            <li>How much energy is required to ionize a hydrogen atom, beginning with the
                                electron in the ground state? 13.6 eV</li>
                            <li>Consider two photons emitted from a hydrogen atom. Compared to the photon with
                                the longer wavelength, the photon with the shorter wavelength was emitted from
                                the electron dropping from a higher state to a lower state where there was
                                __________: Larger</li>
                            <li>The color of an absorption line corresponds to the energy associated with
                                ___________. "The difference and emitted photon"</li>
                            <li>If an atom contained only four energy levels, how many possible emission lines
                                could it emit? 6</li>
                        </ul>
                    </li>
                    <li>General/Special Relativity
                        <ul>
                            <li>The effects of special relativity are small unless the speed is high, a considerable
                                fraction of the speed of light. The effects of general relativity are small unless there
                                is a very dense massive object nearby.</li>
                            <li>Special theory of relativity
                                <ul>
                                    <ol>
                                        <li>The speed of light (c) is the maximum possible speed in the universe. E.g.
                                            in Newtonian law, if I'm riding a bike at 10mph and I throw a rock the same
                                            direction at 30mph, an observer would see the rock traveling at 40mph. I
                                            would see the rock traveling at 30mph. This isn't the same with speed of
                                            light, all observers would measure c (it cannot be faster). EVERYTHING IS c!
                                        </li>
                                        <li>There is no absolute frame of reference in the universe. That is, there is
                                            no &quot;preferred&quot; observer relative to whom all other velocities can
                                            be measured. Put another way, this is no way to tell who is moving and who
                                            is not. Instead, only relative velocities between observers matter (hense
                                            the term &quot;relativity&quot;).</li>
                                        <li>Neither space nor time can be consider independently of one another.
                                            Rhather, they are components of a single entity: spacetime. There is no
                                            absolute, universal time.</li>
                                    </ol>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div>
                <h3>Equations</h3>
                <ul>
                    <li>
                        <img class="mainimg" mat-card-image src="assets/images/ph207-midterm-eq.png"
                            alt="PH207 Useful Equations" />
                    </li>
                </ul>
            </div>

            <div>
                <h3>Night Sky Journal</h3>
                Journal Entry Instructions
                For each journal entry, include:
                <ol>
                    <li>The date and time</li>
                    <li>Location: What is your longitude and latitude?</li>
                    <li>Seeing conditions: How clear is the sky? Is it foggy, partly cloudy, etc. Are you in the city or
                        a rural setting? What is the light pollution?</li>
                    <li>Locate the Big Dipper and North Star. First, get oriented with the night sky. Figure out which
                        direction is north, by finding the Big Dipper. The “front” two stars of the Big Dipper point to
                        the star at the end of the handle of the Little Dipper, which is Polaris, or the North Star. The
                        Big Dipper rotates around the celestial north pole through the night, but Polaris is always in
                        the direction of north. Make a note of the orientation of the Big Dipper in the sky. Measure how
                        high Polaris is in the sky. A convenient way to do this is to hold out your fist at arm’s length
                        and count how many “fists” lie between the horizon and Polaris. Each fist is about ten degrees
                        90 degrees should be straight up. (If you live in the southern hemisphere, you will orient your
                        viewing similarly, but with respect to the Southern Cross.)</li>
                    <li>Choose a constellation to follow through the term. Find the constellation on your star finder,
                        and then locate your chosen constellation in the night sky. Do this each night that you observe
                        the sky. Note the location and orientation of the constellation by reporting its direction and
                        inclination angle. Since you have located north, you should be able to approximate the direction
                        (NNE, NE, ENE, etc.) and how many degrees above the horizon (inclination angle) your
                        constellation is located.</li>
                    <li>Locate a second constellation (a different one each time). Similarly report its location and
                        orientation.</li>
                    <li>Is the moon visible? What is its phase? Report its orientation and location.</li>
                    <li>Give any other details. For example, is the Milky Way visible? What planets can you locate? Do
                        you see
                        any satellites? Meteor showers?</li>
                </ol>
            </div>
        </mat-card-content>
    </mat-card>
</div>