<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <h1 data-testid="header-title">PH207</h1>
            </mat-card-title>
            <mat-card-subtitle>
                <h3>Galaxies, Cosmology and Life in the Universe</h3>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div>
                <h3>Definitions</h3>
                <ul class="condensed">
                    <li>
                        <dl>
                            <dt>Radiation</dt>
                            <dd>is any way in which energy is trasmitted through space from one point to another
                                without the need for any physical connection between the two locations.</dd>
                            <dt>Electromagnetic</dt>
                            <dd>the energy is carried in the form of rapidly flucuating elecric and magnetic
                                fields
                            </dd>
                            <dt>Visible Light</dt>
                            <dd>electromagnetic radiation to which our eyes our sensative. As light enters our
                                eye,
                                small chemical reactions triggered by the incomming energy send
                                electrical impulses to the brain. This produces the sensation of sight.
                            </dd>
                            <dt>Wave</dt>
                            <dd>A way in which energy is transferred from place to place without the
                                physical movement of material from one location to another.</dd>
                            <dt>Wave Disturbance</dt>
                            <dd>The cause that carries the energy. This distrubance, whatever it's nature,
                                occurs in
                                distinctive repeating pattern.</dd>
                            <dt>Wave Period</dt>
                            <dd>is the number of seconds needed for the wave to repeat itself at any given point
                                in
                                space.</dd>
                            <dt>Wave Crest</dt>
                            <dd>The apex of the wave</dd>
                            <dt>Wave Trough</dt>
                            <dd>The lowest point of the wave</dd>
                            <dt>Wavelength &lambda;</dt>
                            <dd>is the number of meters needed for the wave to repeat itself at a given moment
                                in
                                time. It can be measured as the distance between two adjacent wave crests, two
                                adjacent wave troughs, or any other similar point.</dd>
                            <dt>Black-body Radiation</dt>
                            <dd>In astronomy, objects such as stars are frequently regarded as black bodies, though this
                                is often a poor approximation. It's what makes something "white-hot"</dd>
                            <dt>Amptitude</dt>
                            <dd>Maximum departure of the wave from the undisturbed state. E.g. A pond ripple
                                would
                                be from a flat surface (undistrubed water) to the crest.</dd>
                            <dt>Frequency</dt>
                            <dd>The number of wave crests passing any given point per unit of time is called the
                                wave's frequency. A frequency of a wave is the reciprocal of the wave's period.
                                <br><br>i.e.<br>
                                <div class="freqgrid">
                                    <div>freqency</div>
                                    <div>=</div>
                                    <div>1
                                        <hr>
                                        period
                                    </div>
                                </div>
                                Frequency is expressed in units of inverse time. i.e. 1/second (called hertz
                                Hz).
                                e.g. A wave with a period of 5 seconds has a frequency of 1/5 which is .2 Hz
                            </dd>
                            <dt>Visible Spectrum</dt>
                            <dd>When passed through a prism, white light splits into its component colors.
                                Spanning
                                red-violet (in hues red, orange, yellow, green, blue, violet). The color is
                                determined by the frequency. Light at different frequencies is split
                                differently,
                                red is
                                altered the least, violet the most, creating the color spectrum.</dd>
                            <dt>Electron or proton</dt>
                            <dd>Elementary particles of atoms and all matter (the building blocks of
                                everything).
                                Erectrons are said to carry a negative charge, whereas protons have a positive
                                charge. Electrical charge - A buildup of electrical charge (a net excess of
                                positive
                                over negative
                                or vise versa) is what causes static cling and static shock</dd>
                        </dl>
                    </li>
                </ul>

                <h3>Laws</h3>
                <ul class="condensed">
                    <li>Kepler's laws
                        <ol>
                            <li>Planet orbits are ellipses with the sun at one focus of the ellipse.</li>
                            <li>A line joining a planet to the sun sweeps out equal areas in the ellipse over
                                equal times. </li>
                            <li>A planet's orbital period is proportional to the size of its orbit (its
                                semi-major axis) </li>
                        </ol>
                    </li>
                    <li>Newton's laws
                        <ol>
                            <li>An object at rest stays at rest. An object in motion stays in motion at a
                                constant speed in a straight line unless acted upon by an unbalanced force.</li>
                            <li>The net force on an object is equivalent to the product of object's mass and its
                                acceleration.</li>
                            <li>For every force, there exists and equal and opposite force.</li>
                        </ol>
                    </li>
                    <li>Wien's Law
                        <ol>
                            <li>Wien's displacement law states that the black-body radiation curve for different
                                temperatures will peak at different wavelengths that are inversely proportional to the
                                temperature.
                                &gamma;peak = b/T where T is the absolute temperatue and b is a constant of
                                porportionality.
                            </li>
                        </ol>
                    </li>
                    <li>Stefan's Law (aka the Stefan-Boltzmann law)
                        <ol>
                            <li>The amount of total radiant heat power emitted from a surface is proportional to the
                                fourth power of its absolute temperature. Formula stating this law is E = σT4</li>
                        </ol>
                    </li>
                    <li>Kirchoff's Law
                        <ol>
                            <li>Kirchhoff's Laws have proven to be useful in identifying the composition and temperature
                                of everything from planetary atmospheres, stars, and interstellar nebula. But they do
                                not tell us anything about the motion of these objects.</li>
                            <li>Whether a substance produces an emission or an absorption spectrum depends in part on
                                its temperature as well as its state and density. Kirchhoff's Laws formally describe
                                what kinds of spectra emitted as follows:
                                <ol>
                                    <li>A hot solid, liquid or gas, under high pressure, gives off a continuous
                                        spectrum.</li>
                                    <li>A hot gas under low pressure produces a bright-line or emission line spectrum.
                                    </li>
                                    <li>A dark line or absorption line spectrum is seen when a source of a continuous
                                        spectrum is viewed behind a cool gas under pressure.</li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                    <li>Hubble's Law (aka the Hubble-Lemaître law)
                        <ol>
                            <li> is the observation in physical cosmology that galaxies are moving away from Earth at
                                speeds proportional to their distance. In other words, the farther they are, the faster
                                they are moving away from Earth.</li>
                            <li>Hubble's law is considered the first observational basis for the expansion of the
                                universe, and today it serves as one of the pieces of evidence most often cited in
                                support of the Big Bang model.</li>
                        </ol>
                    </li>
                </ul>

                <h3>Notes</h3>
                <ul class="condensed">
                    <li>Constellations (in general)
                        <ul>
                            <li>fact 1</li>
                        </ul>
                    </li>
                    <li>Stellar Parallax method
                        <ul>
                            <li>is the apparent shift of position (parallax) of any nearby star (or other object)
                                against the background of distant stars.</li>
                        </ul>
                    </li>
                    <li>Wave Properties
                        <ul>
                            <li>Wavelength properties
                                <ul>
                                    <li>A wavelength (always indicated using lambda: &lambda;) is the distance between
                                        the same spot on two sections of a wave.
                                    </li>
                                    <li>Five properties of a wave are:
                                        <ol>
                                            <li>Amplitude</li>
                                            <li>Frequency</li>
                                            <li>Time Period,</li>
                                            <li>Speed</li>
                                            <li>Wavelength</li>
                                        </ol>
                                    </li>
                                </ul>
                            </li>
                            <li>Frequency properties
                                <ul>
                                    <li>A wave's frequency can be measured by how many crests (or how many troughs) pass
                                        a location in a certain amount of time.</li>
                                    <li>The shorter the wavelength, the higher the frequency. Hence, frequency and
                                        wavelength are inversely proportional to each other. Because all light waves
                                        move at the same speed in a vacuum, the number of wave crests passing at a given
                                        spot in one second is determined by the wavelength.</li>
                                </ul>
                            </li>
                            <li>Speed
                                <ul>
                                    <li>Fact 1</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>Eloctromagnetric Spectrum
                        <ul>
                            <li>The electromagnetic (EM) spectrum is the range of all types of EM radiation. Radiation
                                is energy that travels and spreads out as it goes - the visible light that comes from a
                                lamp in your house and the radio waves that come from a radio station are two types of
                                electromagnetic radiation.</li>
                        </ul>
                    </li>
                    <li>What is Luminosity?
                        <ul>
                            <li>The intrinsic brightness of a celestial object (as distinct from its apparent brightness
                                diminished by distance).</li>
                            <li>Luminosity, L, is a measure of the total amount of energy radiated by a star or other
                                celestial object per second. This is therefore the power output of a star. A star's
                                power output across all wavelengths is called its bolometric luminosity.</li>
                        </ul>
                    </li>
                    <li>1/r<sup>2</sup> nature of light
                        <ul>
                            <li>Light Decreases with Distance. Light intensity decreases with distance from source to
                                receiving surface (sink), and the rate of decrease is in proportion to the square of the
                                distance between emitter and receiver. This is called the Inverse Square Law.</li>
                        </ul>
                    </li>
                    <li>Doppler Effect - The Doppler effect escribes the changes in the
                        frequency of any sound or light wave produced by a moving source with respect to an
                        observer.
                        <ul>
                            <li>Also known as &quot;Doppler shift&quot;</li>
                            <li>When the source of the sound wave is moving towards the observer, each successive cycle
                                of the wave is emitted from a position closer to the observer than the previous
                                cycle.[4][5] Hence, from the observer's perspective, the time between cycles is reduced,
                                meaning the frequency is increased.</li>
                        </ul>
                    </li>
                    <li>Milky Way - is a huge collection of stars, dust and gas. It's a barred spiral galaxy around 13.6
                        billion years old.
                        <ul>
                            <li>Our galaxy's disk is about 100,000 light-years in diameter</li>
                            <li>Star Populations - ~100 billion stars</li>.
                            <li>
                                Structure
                                <ul>
                                    <li>Disk, Bulge, and Halo
                                        <ul>
                                            <li>Disk
                                                <ul>
                                                    <li>a rotating disk of stars and gas. Home of
                                                        the Sun, young star clusters, on-going star
                                                        formation. Range of metallicity, but mostly solar or
                                                        a bit less</li>
                                                </ul>
                                            </li>
                                            <li>Bulge
                                                <ul>
                                                    <li>inner part of the galaxy, generally older,
                                                        wide range of metallicity (including metal-rich).
                                                        Slower net rotation, some globular clusters.
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>Halo
                                                <ul>
                                                    <li>Very extended, very little rotation,
                                                        older, metal-poor stars and globular clusters.</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>Globular Clusters - is a spheroidal conglomeration of stars that is bound
                                        together by gravity</li>
                                    <li>Evolution - The "ELS" model holds that the Milky Way formed from the rapid
                                        collapse of a single cloud of gas. Stars formed early in the collapse maintained
                                        the dynamics of the metal-poor gas and so now travel around the Galaxy in
                                        elliptical orbits within the halo.</li>
                                    <li>Spiral Arms
                                        <ul>
                                            <li>Density Wave Theory - the spiral arms of a disk galaxy are regions of
                                                the galaxy that are of higher density; and so we call them density
                                                waves. They are also areas that are moving more slowly than the galaxy's
                                                stars and gas.</li>
                                        </ul>
                                    </li>
                                    <li>Capheid Variable Stars - Cepheids are important cosmic benchmarks for scaling
                                        galactic and extragalactic distances. A strong direct relationship exists
                                        between a Cepheid variable's luminosity and its pulsation period.
                                        <ul>
                                            <li>By comparing the apparent brightness measured
                                                from earth with the known actual brightness of the star, the distance to
                                                the star can be calculated</li>
                                            <li>Period-luminosity relationship - a relationship linking the luminosity
                                                of pulsating variable stars with their pulsation period.</li>
                                            <li>How to measure distance? Once the period of a distant Cepheid has been
                                                measured, its luminosity can be determined from the known behavior of
                                                Cepheid variables. Then its absolute magnitude and apparent magnitude
                                                can be related by the distance modulus equation, and its distance can be
                                                determined.</li>
                                        </ul>
                                    </li>
                                    <li>Evidence for Dark Matter - Although astronomers cannot see dark matter, they can
                                        detect its influence by observing how its gravity bends and distorts light from
                                        more-distant objects
                                        <ol>
                                            <li>Gravitational Lensing</li>
                                            <li>Galaxy Rotation Curves</li>
                                            <li>Cosmic Microwave Background Radiation</li>
                                        </ol>
                                    </li>
                                    <li>Central Supermassive Black Hole</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>Galaxies
                        <ul>
                            <li>Galaxy types - Spiral, Eliptical, Irregular</li>
                            <li>Active Galactive Nuclei - A compact region at the center of a galaxy that emits a
                                significant amount of energy across the electromagnetic spectrum</li>
                            <li>Quasars - A subclass of active galactic nuclei (AGNs), extremely luminous galactic cores
                                where gas and dust falling into a supermassive black hole emit electromagnetic radiation
                                across the entire electromagnetic spectrum.</li>
                            <li>Look-back time - The time elapsed between when we detect the light here on Earth and
                                when it was originally emitted by the source</li>
                            <li>Tully-Fisher relationship - an empirical correlation between the luminosity and
                                rotational velocity of spiral galaxies that serves as a distance indicator to measure
                                distances independent of redshift.</li>
                        </ul>
                    </li>
                    <li>
                        Some types of radiation waves:
                        <ul>
                            <li>Radio</li>
                            <li>Infrared - Perceived as heat</li>
                            <li>Ultraviolet - Just beyond visible violet, responsible for sunburns/suntans</li>
                            <li>X-rays</li>
                            <li>Gamma rays - Shortest wavelength, damaging to living cells.</li>
                        </ul>
                    </li>
                    <li>
                        Not radiation waves:
                        <ul>
                            <li>Sound</li>
                            <li>Water</li>
                        </ul>
                    </li>
                    <li>The terms &quot;waves&quot;, &quot;radiation&quot;, and &quot;light&quot; can all be
                        used
                        interchangly. All refer to the same thing</li>
                    <li>Wavelength</li>
                    <li>Light as it pertains to gaining information about stars from starlight. In particular,
                        the particle nature of light and how photons are absorbed and emitted by matter particles.
                    </li>
                    <li><span class="header">Spectroscropy - shows &quot;fingerprint&quot; of the
                            light.</span><br>
                        Speak of light as particles instead of waves such as photons. Light is all light, not
                        only visible. As you send electricity down tube of gas.
                        Gases have a structure of nucleons and electrons and the electrons can take excited
                        states.
                        When electrons take excited states, they drop down to lower energy emitting a photon of
                        light.
                        The electron energy states are quontry states (they can only take certain energy and
                        emit only certain entery).
                        <ul class="condensed">
                            <li> Energy = hf (h = Planck's constant):
                                <ul>
                                    <li>Joules: h = 6.63*10<sup>-34</sup> Js (Joule Seconds)</li>
                                    <li>Electron Volts: h = 4.136x10<sup>-15</sup>eVs (electron volt seconds)
                                    </li>
                                </ul>
                            </li>
                            <li>Energy = hc / &lambda;
                                <ul>
                                    <li>&lambda; = wavelength</li>
                                    <li>f = frequency</li>
                                    <li>c = speed of light (&lambda;f)</li>
                                </ul>
                            </li>
                            <li>Continuous Spectrum such as stellar core which produces all light frequencies due
                                to fusion at it's core</li>
                            <li>Specific gases will only emit certin colors of light. Absorption spectrum is
                                what is absorbed when running a continuous spectrum over a cooler gas</li>
                            <li>Emission spectrum is what is emitted when running a continuous spectrum over a
                                cooler gas (what's left)</li>
                            <li>Emission Lines
                                <ul>
                                    <li>What do emission lines tell us about a star? The temperature and density of the
                                        gas and the relative amounts of different elements in the gas</li>
                                    <li>How are emission lines formed? When the electron falls back to a lower energy
                                        state from a higher excited state, releasing a photon.</li>
                                </ul>
                            </li>
                            <li>Calculation of speed using Doppler shifted spectral lines - When relating this to a star
                                and Earth, this can be summarized as a star moving towards Earth has a blueshift, but a
                                redshift if it's moving away from Earth. As Earth moves towards a star, the lines in a
                                spectrum are blueshifted, but if the Earth is moving away from the star, the lines in
                                the spectrum are redshifted.</li>
                            <li>Absorption Lines
                                <ul>
                                    <li>What do absorption lines tell us? The chemical compositition, temperature, and
                                        other features of the star</li>
                                    <li>How are absorption lines formed? When an electron jumps from a lower energy
                                        state to a higher energy state.
                                </ul>
                            </li>
                            <li>bohr - Shows electrons in different states and how they emit photons only under
                                the right conditions when dropping from higher excited state to lower.
                                This can happen many ways (4th -> ground, or 4 -> any other combitions. i.e.
                                4th->2nd->ground):<br><br>

                                Example:<br><br>

                                An electron obsorves the highest photon it can, it goes to the highest energy
                                state. This could likely be a ultraviolet photon but it could also drop from
                                4th->3rd producing a smaller wavelength and a visible light wavelength. The
                                bigger difference in levels, the higher energy.
                            </li>
                            <li>ir &lt;----, red = 750nm, violent = 375nm, ----&gt; UV</li>
                            <li>Which kind of particles determine what kind of element: Proton</li>
                            <li>How much energy is required to ionize a hydrogen atom, beginning with the
                                electron in the ground state? 13.6 eV</li>
                            <li>Consider two photons emitted from a hydrogen atom. Compared to the photon with
                                the longer wavelength, the photon with the shorter wavelength was emitted from
                                the electron dropping from a higher state to a lower state where there was
                                __________: Larger</li>
                            <li>The color of an absorption line corresponds to the energy associated with
                                ___________. "The difference and emitted photon"</li>
                            <li>If an atom contained only four energy levels, how many possible emission lines
                                could it emit? 6</li>
                        </ul>
                    </li>
                    <li>General/Special Relativity
                        <ul>
                            <li>The effects of special relativity are small unless the speed is high, a considerable
                                fraction of the speed of light. The effects of general relativity are small unless there
                                is a very dense massive object nearby.</li>
                            <li>Special theory of relativity
                                <ul>
                                    <ol>
                                        <li>The speed of light (c) is the maximum possible speed in the universe. E.g.
                                            in Newtonian law, if I'm riding a bike at 10mph and I throw a rock the same
                                            direction at 30mph, an observer would see the rock traveling at 40mph. I
                                            would see the rock traveling at 30mph. This isn't the same with speed of
                                            light, all observers would measure c (it cannot be faster). EVERYTHING IS c!
                                        </li>
                                        <li>There is no absolute frame of reference in the universe. That is, there is
                                            no &quot;preferred&quot; observer relative to whom all other velocities can
                                            be measured. Put another way, this is no way to tell who is moving and who
                                            is not. Instead, only relative velocities between observers matter (hense
                                            the term &quot;relativity&quot;).</li>
                                        <li>Neither space nor time can be consider independently of one another.
                                            Rather, they are components of a single entity: spacetime. There is no
                                            absolute, universal time.</li>
                                    </ol>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div>
                <h3>Equations</h3>
                <ul>
                    <li>
                        <img class="mainimg" mat-card-image src="assets/images/ph207-midterm-eq.png"
                            alt="PH207 Useful Equations" />
                    </li>
                </ul>
            </div>

            <div>
                <h3>Night Sky Journal</h3>
                Journal Entry Instructions
                For each journal entry, include:
                <ol>
                    <li>The date and time</li>
                    <li>Location: What is your longitude and latitude?</li>
                    <li>Seeing conditions: How clear is the sky? Is it foggy, partly cloudy, etc. Are you in the city or
                        a rural setting? What is the light pollution?</li>
                    <li>Locate the Big Dipper and North Star. First, get oriented with the night sky. Figure out which
                        direction is north, by finding the Big Dipper. The “front” two stars of the Big Dipper point to
                        the star at the end of the handle of the Little Dipper, which is Polaris, or the North Star. The
                        Big Dipper rotates around the celestial north pole through the night, but Polaris is always in
                        the direction of north. Make a note of the orientation of the Big Dipper in the sky. Measure how
                        high Polaris is in the sky. A convenient way to do this is to hold out your fist at arm’s length
                        and count how many “fists” lie between the horizon and Polaris. Each fist is about ten degrees
                        90 degrees should be straight up. (If you live in the southern hemisphere, you will orient your
                        viewing similarly, but with respect to the Southern Cross.)</li>
                    <li>Choose a constellation to follow through the term. Find the constellation on your star finder,
                        and then locate your chosen constellation in the night sky. Do this each night that you observe
                        the sky. Note the location and orientation of the constellation by reporting its direction and
                        inclination angle. Since you have located north, you should be able to approximate the direction
                        (NNE, NE, ENE, etc.) and how many degrees above the horizon (inclination angle) your
                        constellation is located.</li>
                    <li>Locate a second constellation (a different one each time). Similarly report its location and
                        orientation.</li>
                    <li>Is the moon visible? What is its phase? Report its orientation and location.</li>
                    <li>Give any other details. For example, is the Milky Way visible? What planets can you locate? Do
                        you see
                        any satellites? Meteor showers?</li>
                </ol>
            </div>
        </mat-card-content>
    </mat-card>
</div>