<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <h1 data-testid="header-title">PH207</h1>
            </mat-card-title>
            <mat-card-subtitle>
                <h3>Galaxies, Cosmology and Life in the Universe</h3>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div>
                <h3>Notes</h3>
                <ul>
                    <li>Week 1
                        <ul class="condensed">
                            <li>Kepler's laws
                                <ol>
                                    <li>Planet orbits are ellipses with the sun at one focus of the ellipse.</li>
                                    <li>A line joining a planet to the sun sweeps out equal areas in the ellipse over
                                        equal times. </li>
                                    <li>For every force, there exists and equal and opposite force. </li>
                                </ol>
                            </li>
                            <li>Newton's laws
                                <ol>
                                    <li>An object at rest stays at rest. An object in motion stays in motion at a
                                        constant speed in a straight line unless acted upon by an unbalanced force.</li>
                                    <li>The net force on an object is equivalent to the product of object's mass and its
                                        acceleration.</li>
                                    <li>The square of the orbital period of a planet equals the cube of its semimajor
                                        axis.</li>
                                </ol>
                            </li>
                            <li>Doppler Effect - The Doppler effect or the Doppler shift describes the changes in the
                                frequency of any sound or light wave produced by a moving source with respect to an
                                observer.</li>
                        </ul>
                    </li>
                    <li>Week 2 - Focus on the wave nature of light.</li>
                    <ul class="condensed">
                        <li>Learning Outcomes:
                            <ul>
                                <li>Describe the nature of waves</li>
                                <li>Define the properties of electromagnetic waves</li>
                                <li>Identify regions in the electromagnetic spectrum</li>
                                <li>Indicate the importance of atmospheric opacity</li>
                                <li>Define characteristics of blackbody spectra</li>
                                <li>Calculate energy flux from light sources</li>
                            </ul>
                        </li>
                        <li>
                            <dl>
                                <dt>Radiation</dt>
                                <dd>is any way in which energy is trasmitted through space from one point to another
                                    without the need for any physical connection between the two locations.</dd>
                                <dt>Electromagnetic</dt>
                                <dd>the energy is carried in the form of rapidly flucuating elecric and magnetic fields
                                </dd>
                                <dt>Visible Light</dt>
                                <dd>electromagnetic radiation to which our eyes our sensative. As light enters our eye,
                                    small chemical reactions triggered by the incomming energy send
                                    electrical impulses to the brain. This produces the sensation of sight.
                                </dd>
                                <dt>Wave</dt>
                                <dd>A way in which energy is transferred from place to place without the
                                    physical movement of material from one location to another.</dd>
                                <dt>Wave Disturbance</dt>
                                <dd>The cause that carries the energy. This distrubance, whatever it's nature, occurs in
                                    distinctive repeating pattern.</dd>
                                <dt>Wave Period</dt>
                                <dd>is the number of seconds needed for the wave to repeat itself at any given point in
                                    space.</dd>
                                <dt>Wave Crest</dt>
                                <dd>The apex of the wave</dd>
                                <dt>Wave Trough</dt>
                                <dd>The lowest point of the wave</dd>
                                <dt>Wavelength &lambda;</dt>
                                <dd>is the number of meters needed for the wave to repeat itself at a given moment in
                                    time. It can be measured as the distance between two adjacent wave crests, two
                                    adjacent wave troughs, or any other similar point.</dd>
                                <dt>Amptitude</dt>
                                <dd>Maximum departure of the wave from the undisturbed state. E.g. A pond ripple would
                                    be from a flat surface (undistrubed water) to the crest.</dd>
                                <dt>Frequency</dt>
                                <dd>The number of wave crests passing any given point per unit of time is called the
                                    wave's frequency. A frequency of a wave is the reciprocal of the wave's period.
                                    <br><br>i.e.<br>
                                    <div class="freqgrid">
                                        <div>freqency</div>
                                        <div>=</div>
                                        <div>1
                                            <hr>
                                            period
                                        </div>
                                    </div>
                                    Frequency is expressed in units of inverse time. i.e. 1/second (called hertz Hz).
                                    e.g. A wave with a period of 5 seconds has a frequency of 1/5 which is .2 Hz
                                </dd>
                                <dt>Visible Spectrum</dt>
                                <dd>When passed through a prism, white light splits into its component colors. Spanning
                                    red-violet (in hues red, orange, yellow, green, blue, violet). The color is
                                    determined by the frequency. Light at different frequencies is split differently,
                                    red is
                                    altered the least, violet the most, creating the color spectrum.</dd>
                                <dt>Electron or proton</dt>
                                <dd>Elementary particles of atoms and all matter (the building blocks of everything).
                                    Erectrons are said to carry a negative charge, whereas protons have a positive
                                    charge. Electrical charge - A buildup of electrical charge (a net excess of positive
                                    over negative
                                    or vise versa) is what causes static cling and static shock</dd>
                            </dl>
                        </li>
                        <li>
                            Some types of radiation waves:
                            <ul>
                                <li>Radio</li>
                                <li>Infrared - Perceived as heat</li>
                                <li>Ultraviolet - Just beyond visible violet, responsible for sunburns/suntans</li>
                                <li>X-rays</li>
                                <li>Gamma rays - Shortest wavelength, damaging to living cells.</li>
                            </ul>
                        </li>
                        <li>
                            Not radiation waves:
                            <ul>
                                <li>Sound</li>
                                <li>Water</li>
                            </ul>
                        </li>
                        <li>The terms &quot;waves&quot;, &quot;radiation&quot;, and &quot;light&quot; can all be used
                            interchangly. All refer to the same thing</li>
                        <li>Wavelength</li>
                    </ul>
                </ul>
            </div>

            <div>
                <h3>Night Sky Journal</h3>
                Journal Entry Instructions
                For each journal entry, include:
                <ol>
                    <li>The date and time</li>
                    <li>Location: What is your longitude and latitude?</li>
                    <li>Seeing conditions: How clear is the sky? Is it foggy, partly cloudy, etc. Are you in the city or
                        a rural setting? What is the light pollution?</li>
                    <li>Locate the Big Dipper and North Star. First, get oriented with the night sky. Figure out which
                        direction is north, by finding the Big Dipper. The “front” two stars of the Big Dipper point to
                        the star at the end of the handle of the Little Dipper, which is Polaris, or the North Star. The
                        Big Dipper rotates around the celestial north pole through the night, but Polaris is always in
                        the direction of north. Make a note of the orientation of the Big Dipper in the sky. Measure how
                        high Polaris is in the sky. A convenient way to do this is to hold out your fist at arm’s length
                        and count how many “fists” lie between the horizon and Polaris. Each fist is about ten degrees
                        90 degrees should be straight up. (If you live in the southern hemisphere, you will orient your
                        viewing similarly, but with respect to the Southern Cross.)</li>
                    <li>Choose a constellation to follow through the term. Find the constellation on your star finder,
                        and then locate your chosen constellation in the night sky. Do this each night that you observe
                        the sky. Note the location and orientation of the constellation by reporting its direction and
                        inclination angle. Since you have located north, you should be able to approximate the direction
                        (NNE, NE, ENE, etc.) and how many degrees above the horizon (inclination angle) your
                        constellation is located.</li>
                    <li>Locate a second constellation (a different one each time). Similarly report its location and
                        orientation.</li>
                    <li>Is the moon visible? What is its phase? Report its orientation and location.</li>
                    <li>Give any other details. For example, is the Milky Way visible? What planets can you locate? Do
                        you see
                        any satellites? Meteor showers?</li>
                </ol>
            </div>
        </mat-card-content>
    </mat-card>
</div>