<mat-card class="card" [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()">
    <mat-card-header>
        <mat-card-title>
            <h1 data-testid="header-title">DNS</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="commentgrid topics">
            <div><app-related-content></app-related-content></div>
            <div>
                <div>
                    <ul>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Definitions</mat-panel-title>
                                </mat-expansion-panel-header>
                                <dl>
                                    <dt>Domain Name</dt>
                                    <dd>the name of a website, e.g. nehsa.net</dd>
                                    <dt>Domain Name System (DNS)</dt>
                                    <dd>the system that translates domain names to IP addresses</dd>
                                    <dt>Top Level Domain (TLD)</dt>
                                    <dd>the last part of a domain name, e.g. .com</dd>
                                    <dt>Second Level Domain (SLD)</dt>
                                    <dd>the part of a domain name before the TLD, e.g. nehsa.net</dd>
                                    <dt>Subdomain</dt>
                                    <dd>a domain that is part of a larger domain, e.g. blog.nehsa.net</dd>
                                    <dt>A Record</dt>
                                    <dd>an address record that maps a domain name to an IP address. e.g. "nehsa.net" ->
                                        1.2.3.4</dd>
                                    <dt>CNAME Record</dt>
                                    <dd>an alias record that maps a domain name to another domain name. e.g. I was folk
                                        that go to "www.nehsa.net" -> "nehsa.net"</dd>
                                    <dt>DNS providers</dt>
                                    <dd>
                                        It's common nowadays to use a third party to manage your DNS records. There are
                                        several advantages for this:
                                        <ul>
                                            <li>They have a global network of DNS servers, which can help with
                                                performance.</li>
                                            <li>They can provide additional services, such as DDoS protection.</li>
                                            <li>They can provide a web interface for managing your DNS records.</li>
                                            <li>They (often) will auto-renew your SSL certificates.</li>
                                        </ul><br><br>

                                        Example: AzureDNS, Cloudflare, AWS Route 53
                                        <table class="min-table">
                                            <tr>
                                                <th>Provider</th>
                                                <th>Cost</th>
                                                <th>Strengths</th>
                                                <th>Weaknesses</th>
                                            </tr>
                                            <tr>
                                                <td>Azure DNS</td>
                                                <td>Free</td>
                                                <td>Integrated with Azure</td>
                                                <td>Not as feature-rich as Cloudflare</td>
                                            </tr>
                                            <tr>
                                                <td>Cloudflare</td>
                                                <td>Free</td>
                                                <td>CloudFlare is one of the more feature rich DNS providers provides
                                                    services such as DDoS protection, CDN, and SSL certificates.</td>
                                                <td>Not as integrated with Azure</td>
                                            </tr>
                                            <tr>
                                                <td>AWS Route 53</td>
                                                <td>Pay as you go</td>
                                                <td>Integrated with AWS</td>
                                                <td>Not as feature-rich as Cloudflare</td>
                                            </tr>
                                            <tr>
                                                <td>Google Cloud DNS</td>
                                                <td>Pay as you go</td>
                                                <td>Integrated with Google Cloud</td>
                                                <td>Not as feature-rich as Cloudflare</td>
                                            </tr>
                                        </table>
                                    </dd>
                                </dl>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Tools</mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul>
                                    <li>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>Linux</mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <dl>
                                                <dt><acronym-name>Domain Information
                                                        Groper<acronym-abbr>dig</acronym-abbr></acronym-name></dt>
                                                <dd>
                                                    <code>
                                                        <pre>
PS /home> dig nehsa.net                                                                      

; <<>> DiG 9.18.28-0ubuntu0.24.04.1-Ubuntu <<>> nehsa.net
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 52810
;; flags: qr rd ra; QUERY: 1, ANSWER: 2, AUTHORITY: 0, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 65494
;; QUESTION SECTION:
;nehsa.net.			IN	A

;; ANSWER SECTION:
nehsa.net.		153	IN	A	3.33.152.147
nehsa.net.		153	IN	A	15.197.142.173

;; Query time: 0 msec
;; SERVER: 127.0.0.53#53(127.0.0.53) (UDP)
;; WHEN: Sat Sep 21 11:23:00 PDT 2024
;; MSG SIZE  rcvd: 70
                                                        </pre>
                                                    </code><br><br>

                                                    dig w/type (in this case MX). Other options include A, AAAA, CNAME,
                                                    NS, PTR, SOA, and TXT.
                                                    <code>
                                                        <pre>
PS /home> dig -t mx nehsa.net                                                                      

; <<>> DiG 9.18.28-0ubuntu0.24.04.1-Ubuntu <<>> nehsa.net
                                                        </pre>
                                                    </code>
                                                </dd>
                                                <dt>nslookup</dt>
                                                <dd>
                                                    <code>
                                                        <pre>
&lt;YOU&gt;&#64;&lt;YOURMACHINE&gt;:~/src$ nslookup nehsa.net
Server:		127.0.0.53
Address:	127.0.0.53#53

Non-authoritative answer:
Name:	nehsa.net
Address: 15.197.142.173
Name:	nehsa.net
Address: 3.33.152.147
</pre></code><br><br>

                                                    To specific a specific type:
                                                    <code>
<pre>
&lt;YOU&gt;&#64;&lt;YOURMACHINE&gt;:~/src/nehsanet-app$ nslookup -q=txt nehsa.net
Server:		127.0.0.53
Address:	127.0.0.53#53

Non-authoritative answer:
nehsa.net	text = "google-site-verification=&lt;YOURVERIFICATION&gt;"

Authoritative answers can be found from:
</pre>
</code>

                                                </dd>
                                                <dt>host</dt>
                                                <dd><code>
<pre>
&lt;YOU&gt;&#64;&lt;YOURMACHINE&gt;:~/src$ host nehsa.net
nehsa.net has address 3.33.152.147
nehsa.net has address 15.197.142.173
nehsa.net mail is handled by 20 alt2.aspmx.l.google.com.
nehsa.net mail is handled by 10 aspmx.l.google.com.
nehsa.net mail is handled by 30 aspmx2.googlemail.com.
nehsa.net mail is handled by 30 aspmx3.googlemail.com.
nehsa.net mail is handled by 30 aspmx4.googlemail.com.
nehsa.net mail is handled by 30 aspmx5.googlemail.com.
nehsa.net mail is handled by 20 alt1.aspmx.l.google.com.
</pre>
                                                </code>
                                            </dl>
                                        </mat-expansion-panel>
                                    </li>
                                </ul>
                            </mat-expansion-panel>
                        </li>
                    </ul>
                </div>
            </div>
            <div><app-comment></app-comment></div>
        </div>
    </mat-card-content>
</mat-card>