.try-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content min-content;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    overflow: auto;
}

.button-grid {
    display: grid;
    grid-template-columns: 1fr min-content;
}

.result-container {
    width: 100%;
    height: 100%;
}

.result-container .anwser {
    height: 100%;
}

.result-container div {
    overflow: auto;
    height: 100%;
}