<mat-card class="card" [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()">
    <mat-card-header>
        <mat-card-title>
            <h1 data-testid="header-title">Go</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="commentgrid topics">
            <div><app-related-content></app-related-content></div><div>
                I've been learning Go(Lang) slowly for a while now. As it has undeniable use cases for RestAPI and
                microservices that I wanted to explore.<br><br>
                <ul>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Tips</mat-panel-title>
                            </mat-expansion-panel-header>

                            <ul>
                                <li>Create a new variable :=, assign to existing =</li>
                                <li>Casting</li>
                                <li>String interpolation <code>fmt.Sprintf()</code> or <code>fmt.Printf</code><br><br>
                                    Example: <code>fmt.Sprintf("Hello, %s!", name)</code>
                                </li>
                            </ul>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Installation</mat-panel-title>
                            </mat-expansion-panel-header>
                            <ol>
                                <li>Go to Go's to get the installer (<mat-icon>sentiment_very_satisfied</mat-icon>):
                                    https://go.dev/dl/</li>
                                <li>Run the installer...</li>
                                <li>Install the Go extension for VSCode</li>
                            </ol>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Basics</mat-panel-title>
                            </mat-expansion-panel-header>
                            <ul>
                                <li>Basic Commands</li>
                                <li> <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>Variables</mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <dl>
                                            <dt>var</dt>
                                            <dd>Declares a variable</dd>
                                            <dt>:=</dt>
                                            <dd>Assigns a value to a variable</dd>
                                            <dt>const</dt>
                                            <dd>Declares a constant</dd>
                                            <dt>int</dt>
                                            <dd>Integer</dd>
                                            <dt>float64</dt>
                                            <dd>Float</dd>
                                            <dt>string</dt>
                                            <dd>String</dd>
                                            <dt>bool</dt>
                                            <dd>Boolean</dd>
                                        </dl>
                                    </mat-expansion-panel>
                                </li>
                                <li>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>Casting</mat-panel-title>
                                        </mat-expansion-panel-header>
                                        Messages such as <span class="example">cannot use jsonData (variable of type
                                            []byte) as
                                            string value in return statement</span> can be resolved by casting the
                                        variable to the
                                        correct type.<br><br>
                                        <code>
                                            <pre>
<span class="comment">// Convert []byte to string</span>
jsonDataString := string(&lt;[]BYTE DATA]&gt;)

<span class="comment">// Convert string to []byte</span>
[]byte(&lt;STRING DATA&gt;)

<span class="comment">// Convert int to string</span>
strconv.Itoa(&lt;INT DATA&gt;)

<span class="comment">// Convert string to int</span>
strconv.Atoi(&lt;STRING DATA&gt;)

<span class="comment">// Numeric types cannot be directly converting to strings. We need to use sprintf to convert float to string:</span>
tempString := fmt.Sprintf("%.2f", &lt;FLOAT DATA&gt;)

<span class="comment">// Convert string to float</span>
strconv.ParseFloat(&lt;STRING DATA&gt;, 64)
</pre>
                                        </code>
                                    </mat-expansion-panel>
                                </li>
                                <li> <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>Modules</mat-panel-title>
                                            <mat-panel-description>A Go module is a collection of related Go packages
                                                that can be versioned and shared with other
                                                developers.</mat-panel-description>
                                        </mat-expansion-panel-header>
                                        A module as a self-contained unit of code that can be
                                        independently developed, tested, and distributed. It's a way to organize
                                        and manage your Go code effectively. Modules are versioned, so you can
                                        specify which version of a module you want to use in your code.
                                        <ul>
                                            <li>Use <code>go mod init</code> to create a new module</li>
                                            <li>Use <code>go mod tidy</code> to clean up the module and remove unused
                                                dependencies</li>
                                            <li>Use <code>go mod vendor</code> to create a vendor directory. This is
                                                useful if you want to
                                                include dependencies in your project and not rely on the internet to
                                                fetch them.</li>
                                        </ul><br><br>
                                        Module example:
                                        <div class="result">
                                            <pre>
module example.com/mymodule

require (
        golang.org/x/net/context v1.0.0
)
</pre>
                                        </div>
                                        Benefits of Using Modules
                                        <ul>
                                            <li>Improved dependency management: Easily add, remove, and update
                                                dependencies.</li>
                                            <li>Enhanced code organization: Structure your code into reusable modules.
                                            </li>
                                            <li>Better reproducibility: Ensure consistent builds across different
                                                environments.</li>
                                            <li>Facilitates package sharing: Share your code with others as a module
                                            </li>
                                        </ul>
                                    </mat-expansion-panel>
                                </li>
                                <li>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>Switches</mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <code>
                                            <pre>
var weatherCondition string = weatherData.Weather[0].Main // Assuming weatherData is defined elsewhere
switch weatherCondition &#123;
    case "cloudy":
        art = "☁️"
    case "rain":
        art = "🌧️"
    case "snow":
        art = "❄️"
    case "clear":
        art = "☀️"
    case "sunny":
        art = "☀️"
    case "thunderstorm":
        art = "⛈️"
    case "mist":
        art = "🌫️"
    default:
        art = ""
&#125;
</pre>
                                        </code>
                                    </mat-expansion-panel>
                                </li>
                                <li>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>HelloWorld Example</mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <ul>
                                            <li>Create a <span class="file">main.go</span> by running <code>go mod init main && go mod
                                                tidy</code></li>
                                            <li>Define a <span class="function">main()</span> function</li>
                                            <li>Use <span class="function">fmt.Println()</span> to output to the console
                                            </li>
                                            <li>Example code:
                                                <code>
                                                    <pre>
package main

import "fmt"

func main() &#123;
fmt.Println("Hello, World!")
&#125;
</pre>
                                                </code><br><br>

                                                Results in:<br>
                                                <div class="terminal-result">
                                                    <pre>
PS C:\src> go run .\main.go
Hello, World!
</pre>
                                                </div>
                                            </li>
                                        </ul>
                                    </mat-expansion-panel>
                                </li>
                            </ul>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Compiling, Debugging, and Releasing</mat-panel-title>
                            </mat-expansion-panel-header>
                            <ul>
                                <li>From a terminal
                                    <ul>
                                        <li>Run <code>go build</code> to compile your code and create .exe!</li>
                                        <li>Run <code>go test</code> to test your code</li>
                                        <li>Run <code>go run</code> to run your code</li>
                                    </ul>
                                <li>From VSCode
                                    <ul>
                                        <li>Press F5 to run your code</li>
                                        <li>Press Ctrl+Shift+D to debug your code</li>
                                        <li>Press Ctrl+Shift+T to run your tests</li>
                                    </ul>
                                </li>
                                <li>Release mode<br>
                                    <ul>
                                        <li>Docker: Update dockerfile (if using one) to set GIN_MODE prior to starting
                                            the app: <code>ENV GIN_MODE=release</code></li>
                                        <li>PowerShell: Run
                                            <code>$env:GIN_MODE="release" && go build -o weather.exe . && .\weather.exe</code>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Testing</mat-panel-title>
                            </mat-expansion-panel-header>
                            <ul>
                                <li>Use the <code>testing</code> package</li>
                                <li>Write tests in a file named <span class="file">main_test.go</span><br><br>

                                    Example Test for a function named <span class="function">HelloWorld()</span>:
                                    <code>
                                        <pre>
package main

import (
        "testing"
)

func TestHelloWorld(t *testing.T) &#123;
        // Replace with your actual function that prints "Hello, World!"
        expectedOutput := "Hello, World!\n"
        // Replace with the actual function call to get the output
        actualOutput := getHelloWorldOutput()

        if actualOutput != expectedOutput &#123;
                t.Errorf("Expected output: %s, but got: %s", expectedOutput, actualOutput)
        &#125;
&#125;
</pre>
                                    </code>
                                </li>
                                <li>Use the <code>go test</code> command to run your tests</li>
                            </ul><br><br>
                            <img style="width: 1509px; height: 374px;" src="../../../assets/images/go-test.png"
                                alt="Go Test" />
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Iteration</mat-panel-title>
                            </mat-expansion-panel-header>
                            For:<br>
                            <code>
                                <pre>
for i := 0; i < len(strings); i++ &#123;
    fmt.Println(strings[i])
&#125;
</pre>
                            </code><br><br>

                            Range:<br>
                            <code>
                                <pre>
    params := map[string]string&#123;
            "param1": "value1",
            "param2": "value2",
    &#125;

    u := url.Values&#123;&#125;
    for key, value := range params &#123;
            u.Add(key, value)
    &#125;

    fmt.Println(u.Encode()) // Output: param1=value1&param2=value2
</pre>
                            </code>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Working with JSON</mat-panel-title>
                            </mat-expansion-panel-header>
                            <ul>
                                <li>Create a struct to hold the data:<br><br>

                                    If you have JSON data like this:<br>
                                    <div class="question">
                                        <pre>
&#123;
"coord":&#123;
    "lon":-123.1193,
    "lat":49.2497
&#125;,
"weather":[
    &#123;
        "id":801,
        "main":"Clouds",
        "description":"few clouds",
        "icon":"02d"
    &#125;
],
"base":"stations",
"main":&#123;
    "temp":63.48,
    "feels_like":63.1,
    "temp_min":61.23,
    "temp_max":65.35,
    "pressure":1019,
    "humidity":76,
    "sea_level":1019,
    "grnd_level":1011
&#125;,
"visibility":10000,
"wind":&#123;
    "speed":8.05,
    "deg":100
&#125;,
"clouds":&#123;
    "all":20
&#125;,
"dt":1723650132,
"sys":&#123;
    "type":2,
    "id":2011597,
    "country":"CA",
    "sunrise":1723640625,
    "sunset":1723692633
&#125;,
"timezone":-25200,
"id":6173331,
"name":"Vancouver",
"cod":200
&#125;
</pre>
                                    </div>

                                    You can create a struct like this:<br>
                                    <ul class="condensed">
                                        <li>Statically define the struct:
                                            <code>
                                                <pre>
type WeatherData struct &#123;

    Coord struct &#123;
        Lon float64 `json:"lon"`
        Lat float64 `json:"lat"`
    &#125; `json:"coord"`
    Weather []struct &#123;
        Id          int    `json:"id"`
        Main        string `json:"main"`
        Description string `json:"description"`
        Icon        string `json:"icon"`
    &#125; `json:"weather"`
    Base string `json:"base"`
    Main struct &#123;
                                            
        Temp     float64 `json:"temp"`
        FeelsLike float64 `json:"feels_like"`
        TempMin  float64 `json:"temp_min"`
        TempMax  float64 `json:"temp_max"`
        Pressure int     `json:"pressure"`
        Humidity int     `json:"humidity"`
        SeaLevel int     `json:"sea_level"`
        GrndLevel int     `json:"grnd_level"`
    &#125; `json:"main"`
    Visibility int `json:"visibility"`
    Wind struct &#123;                                            
        Speed float64 `json:"speed"`
        Deg   int     `json:"deg"`
    &#125; `json:"wind"`
    Clouds struct &#123;
        All int `json:"all"`
    &#125; `json:"clouds"`
    Dt int `json:"dt"`    
    Sys struct &#123;
        Type    int    `json:"type"`
        Id      int    `json:"id"`
        Country string `json:"country"`
        Sunrise int    `json:"sunrise"`
        Sunset  int    `json:"sunset"`
    &#125; `json:"sys"`
    Timezone int    `json:"timezone"`
    Id       int    `json:"id"`
    Name     string `json:"name"`
    Cod      int    `json:"cod"`
&#125;
</pre>
                                            </code><br><br>
                                            Unmarshal JSON to it:<br>
                                            <code>
                                                <pre>
var weatherData WeatherData
err := json.Unmarshal([]byte(jsonData), &weatherData)
if err != nil &#123;
    fmt.Printf("Error unmarshalling JSON: %s", err)
    return
&#125;
                                            </pre>
                                            </code>
                                        </li>
                                        <li>Or, dynamically define the struct and marshel data to it:<br>
                                            <code>
                                                <pre>
var weatherData map[string]interface&#123;&#125;
err := json.Unmarshal([]byte(jsonData), &weatherData)
if err != nil &#123;
    fmt.Printf("Error unmarshalling JSON: %s", err)
    return
&#125;
</pre>
                                            </code>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Troubleshooting</mat-panel-title>
                            </mat-expansion-panel-header>
                            <dl>
                                <dt>Cannot find module providing package</dt>
                                <dd>Run <code>go mod tidy</code> to clean up the module and remove unused
                                    dependencies</dd>
                                <dt>Running in "debug" mode. Switch to "release" mode in production.</dt>
                                <dd>
                                    <ul>
                                        <li>Docker: Update dockerfile (if using one) to set GIN_MODE prior to starting
                                            the app: <code>ENV GIN_MODE=release</code></li>
                                        <li>PowerShell: Run
                                            <code>$env:GIN_MODE="release" && go build -o weather.exe . && .\weather.exe</code>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Building an API</mat-panel-title>
                            </mat-expansion-panel-header>
                            How to build an API using Go and Gin!<br><br>

                            <ul>
                                <li>Install the Gin package: <code>go get -u github.com/gin-gonic/gin</code></li>
                                <li>Define routes and handlers
                                    <ul class="condensed">
                                        <li>Define a route
                                            <code>
                                                <pre>
router.GET("/weather_temp/:city", func(c *gin.Context) &#123;
    // get city parameter
    city := c.Param("city") <span class="comment">// [required] city parameter (refers to <span class="importantish">:city</span>)</span>

    // units query parameter if provided (default is imperial)
    units := c.Query("units") <span class="comment">// [optional] city parameter (e.g. this came in the format of ?units=&lt;TYPE&gt; if at all.</span>
    if units == "" &#123;
        units = "imperial" // metric, imperial
    &#125;

    // makes the GET request to the OpenWeatherMap API
    weatherData, err := getWeatherTemp(city, units)
    if err != nil &#123;
        fmt.Printf("router weather_temp: Error getting weather data: %s", err)
        c.JSON(http.StatusInternalServerError, gin.H&#123;"error": err.Error()&#125;)
        return
    &#125;
    c.String(http.StatusOK, string(weatherData))
&#125;)
                                            
                                                </pre>
                                            </code>
                                        </li>
                                        <li>Define a handler
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Getting Libaries</mat-panel-title>
                            </mat-expansion-panel-header>
                            <ul>
                                <li>Install packages: <code>go get -u github.com/PuerkitoBio/goquery</code></li>
                                <li>update imports: <code>import "github.com/PuerkitoBio/goquery"</code></li>
                                <li>Write the code to use it..</li>
                            </ul>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Building a microservice that returns the weather</mat-panel-title>
                            </mat-expansion-panel-header>
                            <ul>
                                <li>Create package to accept the HTTP calls and make the weather calls to
                                    OpenWeatherMap.<br><br>
                                    OpenWeatherMap endpoint:<br>
                                    https://api.openweathermap.org/data/2.5/weather?q=&lt;CITY&gt;&appid=&lt;APIKEY&gt;&units=&lt;UNITS&gt;<br>
                                    <ul>
                                        <li>Run <code>go get -u github.com/gin-gonic/gin</code></li>
                                        <li>Import the package in your code</li>
                                        <li>Create package to make the weather calls to OpenWeatherMap API:<br>
                                            <a
                                                href="https://github.com/nehsa25/weather-microservice-go-gin/blob/main/weather.go">weather-microservice-go-gin
                                                (Github)
                                            </a>
                                        </li>
                                        <li>Install dependencies: <code>go mod init main && go mod tidy</code></li>
                                        <li>Test it works: <code>
                                                <pre>
go run .\weather.go
PS C:\src> (invoke-webrequest http://localhost:8080/weather/portland?unit=metric).Content
Clouds
PS C:\src> (invoke-webrequest http://localhost:8080/weather/lasvegas?unit=imperial).Content
Clear
</pre>
                                            </code>
                                    </ul>
                                </li>
                                <li>Create Docker to run the service
                                    <ul class="condensed">
                                        <li>Create dockerfile:
                                            <code>
                                                <pre>
# Use a Golang image
FROM golang:1.20-alpine
WORKDIR /app

# Copy go modules to the working directory
COPY go.mod go.sum ./

# Download any dependencies
RUN go mod download

# Copy the rest of the application code
COPY . .

# Set release mode
ENV GIN_MODE=release

# Build the Go application
RUN go build -o main .

# Expose port 8080
EXPOSE 8080

# Command to run when the container starts
CMD ["./main"]
</pre>
                                            </code>
                                        </li>
                                        <li>Build it:
                                            <code>docker build . -t nehsa/ascii-weather:$build --platform linux/amd64;</code>
                                        </li>
                                        <li>Push it: <code>docker push nehsa/ascii-weather:$build;docker push</code>
                                        </li>
                                        <li>Deploy it:
                                            <code>docker pull nehsa/ascii-weather:latest && docker run -p 8080:8080 nehsa/ascii-weather:latest</code>
                                        </li>
                                    </ul>
                                </li>
                                <li>Try it..
                                    <div class="try-grid">
                                        <div>
                                            <form>
                                                <mat-form-field>
                                                    <mat-label>City</mat-label>
                                                    <input matInput type="text" name="city" [formControl]="city">
                                                    @if (city) {
                                                    <button matSuffix mat-stroked-button aria-label="Clear"
                                                        (click)="clearCity()">
                                                        <mat-icon>close</mat-icon>
                                                    </button>
                                                    }
                                                </mat-form-field>
                                                <mat-form-field>
                                                    <mat-label>Units</mat-label>
                                                    <mat-select [formControl]="unit">
                                                        @for (unit of units; track unit) {
                                                        <mat-option value={{unit}}>{{unit}}</mat-option>
                                                        }
                                                    </mat-select>
                                                </mat-form-field>
                                                <mat-form-field>
                                                    <mat-label>Type</mat-label>
                                                    <mat-select [formControl]="type">
                                                        @for (type of types; track type) {
                                                        <mat-option value="{{type}}">{{type}}</mat-option>
                                                        }
                                                    </mat-select>
                                                </mat-form-field>
                                            </form>
                                        </div>
                                        <div class="result-container">
                                            <div class="answer" *ngIf="weather != ''" [innerHtml]="weather"></div>
                                        </div>
                                        <div><button mat-stroked-button [disabled]="isLoading || !city"
                                                (click)="getWeather()">
                                                <div class="button-grid">
                                                    <div>{{buttonName}}</div>
                                                    <div><mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
                                                    </div>
                                                </div>
                                            </button></div>
                                        <div></div>
                                    </div>
                                </li>
                            </ul>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Building a microservice web scraper so I can be Neo from the
                                    Matrix</mat-panel-title>
                            </mat-expansion-panel-header>
                            <ul>
                                <li>Install packages: <code>go get -u github.com/PuerkitoBio/goquery</code></li>
                                <li>Write the code to scrape the data: <a mat-stroked-button
                                        href="https://github.com/nehsa25/webscraper-microservice-go-gin">webscraper-microservice-go-gin</a>
                                </li>
                                <li>Install dependencies: <code>go mod init scraper && go mod tidy</code></li>
                                <li>Test it works:</li>
                                <li> <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>Docker to run the service</mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <ul>
                                            <li>
                                                Dockerfile:<br>
                                                <code>
                                                    <pre>
# Use a Golang image
FROM golang:latest
WORKDIR /app

# Copy go modules to the working directory
COPY go.mod go.sum ./

# Download any dependencies
RUN go mod download

# Copy the rest of the application code
COPY . .

# Set release mode
ENV GIN_MODE=release

# Build the Go application
RUN go build -o scraper .

# Expose port 8080
EXPOSE 8081

# Command to run when the container starts
CMD ["./scraper"]
</pre>
                                                </code>
                                            </li>
                                            <li>
                                                <code>
                                                    <pre>
write-host "Building docker image for web scraper microservice";
docker build . -t nehsa/web-scraper:latest --platform linux/amd64;

write-host "Pushing image to DockerHub...";
docker push nehsa/web-scraper:latest;
                                                </pre>
                                                </code>
                                            </li>
                                        </ul>
                                    </mat-expansion-panel>
                                </li>
                                <li>Try it..
                                    <div class="try-grid">
                                        <div>
                                            <form>
                                                <mat-form-field>
                                                    <mat-label>URL</mat-label>
                                                    <input matInput type="text" name="url"
                                                        placeholder="https://www.json.org/json-en.html"
                                                        [formControl]="scrapeUrl">
                                                    @if (scrapeUrl) {
                                                    <button matSuffix mat-stroked-button aria-label="Clear"
                                                        (click)="clearUrl()">
                                                        <mat-icon>close</mat-icon>
                                                    </button>
                                                    }
                                                </mat-form-field>
                                            </form>
                                        </div>
                                        <div class="result-container">
                                            <div class="answer" *ngIf="scrapeData != ''" [innerHtml]="scrapeData"></div>
                                        </div>
                                        <div>
                                            <button [disabled]="!scrapeEnabled" mat-stroked-button
                                                [disabled]="isLoading || !city" (click)="getScrapeData()">
                                                <div class="button-grid">
                                                    <div>{{scapeButtonName}}</div>
                                                    <div><mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                        <div></div>
                                    </div>
                                </li>
                            </ul>
                        </mat-expansion-panel>
                    </li>
                </ul>
            </div>
            <div><app-comment></app-comment></div>
        </div>
    </mat-card-content>
</mat-card>