<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <h1 data-testid="header-title">Python</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="commentgrid">
                <div class="topics">
                    <div>
                        Python is rad!
                        <ul>
                            <li>Constructor is:<br>
                                <div class="code">
                                    <pre>
    def __init__(self, &lt;PARAMS&gt;):
        pass
</pre>
                                </div>
                            </li>
                            <li>Python has a nice enhancement for try/catches, traceback:
                                <div class="code">
                                    <pre>
    try:
        <span class="comment">&lt;CODE WE WISH TO RUN&gt;</span>
    except websockets.ConnectionClosedOK: <span class="comment"><mat-icon>arrow_back</mat-icon> each condition we wish to check (the more the better!)</span>
        LogUtils.warn(f"Someone left. Grin and bear it.  Grin and bear it.  We're going to move on people!", logger)
    except KeyboardInterrupt: <span class="comment"><mat-icon>arrow_back</mat-icon> another condition</span>
        loop.stop()
    except:
        LogUtils.error(
            f"An error occurred!\nException:\n&#123;traceback.format_exc()&#125;", logger <span class="comment"><mat-icon>arrow_back</mat-icon> format_exc() is an easy way to provide good stacktrace information</span>
        )
                                    </pre>
                                </div><br>
                                Example output:<br>
                                <div class="code">
                                    <pre>
    Traceback (most recent call last):
    File "&lt;PATH&gt;\&lt;FILE&gt;", line &lt;LINE NUMBER&gt;, in main
        message = await websocket.recv()
                ^^^^^^^^^^^^^^^^^^^^^^
    File "C:\Local\Programs\Python\Python312\Lib\site-packages\websockets\legacy\protocol.py", line 568, in recv
        await self.ensure_open()
    File "C:\Local\Programs\Python\Python312\Lib\site-packages\websockets\legacy\protocol.py", line 948, in ensure_open
        raise self.connection_closed_exc()
    websockets.exceptions.ConnectionClosedOK: received 1005 (no status received [internal]); then sent 1005 (no status received [internal])
                                    </pre>
                                </div>
                            </li>
                            <li>Ternary in Python:<br>
                                The typical ternary operation found in most languages can be represented like this in
                                Python:<br>
                                <span class="code">result == null ? true : false</span> <span
                                    class="comment"><mat-icon>arrow_back</mat-icon> the yoozh</span><br>
                                <span class="code">True if result is not None else False</span> <span
                                    class="comment"><mat-icon>arrow_back</mat-icon> Python</span>
                            </li>
                            <li>To use subfolders to better organize your code, a file must be created called <span
                                    class="file">__init__.py</span>.

                                The __init__.py files are required to make Python treat directories containing the file
                                as packages (unless using a namespace package, a relatively advanced feature). This
                                prevents directories with a common name, such as string, from unintentionally hiding
                                valid modules that occur later on the module search path. In the simplest case,
                                __init__.py can just be an empty file, but it can also execute initialization code for
                                the package or set the __all__ variable, described later.

                                This will no longer be necessary in Python 3.3+

                                <ul>
                                    <li>To access this subpackage, refer to it with a period: <span class="code">from
                                            races.goblin import Goblin</span></li>
                                </ul>
                            </li>
                            <li>Make a class JSON serializable in Python<br>
                                Take this class:
                                <div class="code">
                                    <pre>
    class LogEntry:
    file_name = None
    description = None        
    def __init__(self, file_name, description) -> None:
        self.file_name = file_name
        self.description = description                                            
                                        </pre>
                                </div>

                                I often find it necessary to convert this into a string. One reason is to sent to a
                                website or API in the form of JSON. to make the above code into a JSON string, a couple
                                options are available:<br>
                                Use <span class="important">jsonpickle</span>, it's a library designed to take
                                Python objects and convert them into JSON.<br>
                                Update object with this method:
                                <div class="code">
                                    <pre>
    def to_json(self):
        return jsonpickle.encode(self)
</pre>
                                </div>
                                to call it:<span class="code">&lt;OBJECT&gt;.to_json()</span><br>
                                Example output:<br>
                                <div class="code">
                                    <pre>
&#123;"py/object": "aiimages.AIImages.LogEntry", "file_name": "townsmeeblacksmithbackroomroom1720017333.png", "description": "You are in the blacksmith's back Room.  A hot forge still burns smoldering coals."&#125;
 </pre>
                                </div>

                                The JSON string can be read back into an object with <span
                                    class="code">json.loads(item)</span> and then
                                each JSON object can be referenced as a dictionary: <span class="code">description =
                                    item["description"]</span>
                            </li>
                            <li>Inheritence in Python looks like this:<br><br>If we have these three classes:<ul>
                                    <li>Kobold - Contains specific infformation on the Kobold races. The factory for
                                        generating Kobolds in the world.</li>
                                    <li>BaseStats - Contains general attributes of all races (HP, strength,
                                        intelligence, ect)
                                        <div class="code">
                                            <pre>
    class BaseStats(Utility):
        hp = 0
        strength = 0
        agility = 0
        location = 0
        perception = 0
        determination = 0
</pre>
                                        </div>
                                    </li>
                                    <li>Utility - Mostly ENUMs with shared data
                                        <div class="code">
                                            <pre>
        class Utility(MudEvents):  
            class Share:
                WORLD_NAME = "Illisurom"
                PLAYER_BASE_REST_WAIT_SECS = 2
                                                
                class EnvironmentTypes(Enum):
                    TOWNSMEE = 1,
                    BEACH = 2,
                    FOREST = 3,
                    JUNGLE = 4,
                    BREACH = 5,
                    GRAVEYARD = 6
                    
                class Races(Enum):
                    HUMAN = 0,
                    KOBOLD = 1,
                    GOBLIN = 2,
                    HALFLING = 3,
                    HALFOGRE = 4,
                    ORC = 5,
                    ELF = 6,
                    FAE = 7,
                    NYRRISS = 8,
                    ARGUNA = 9,
                    EAREA = 10
                                        </pre>
                                        </div>
                                    </li>
                                </ul>

                                This could be structured like this:
                                <div class="code">
                                    <pre>
    class Kobold(BaseStats):
        class BaseStats(Utility):
                                    </pre>
                                </div>
                            </li>
                            <li>Docstring example:
                                <div class="code">
                                    <pre>
    <strong>def [function_name]</strong>([parameters, i.e. variable names separated by commas]):
    <span class="comment">
    """ docstring that describes function's usage """
    [statements e.g. operations, function calls, return statement]
    return [value]
</span>
                                    </pre>
                                </div>
                            </li>
                            <li>An enum class can be treated as a list: <span class="code">random.choice(<span
                                        class="important">list(</span>Monsters<span class="important">)</span>)</span>
                                <div class="code">
                                    <pre>
    class Monsters(Enum):
        SKELETON = 1
        ZOMBIE = 2                                          
                                   </pre>
                                </div>
                            </li>
                            <li>Prefer <span class="important">if my_object is None</span> over <span
                                    class="important">if my_object == None</span> - Small difference (see below) in
                                comparison.<br>Using "is" keyword is faster since fewer operations are perforemd:
                                <div class="code">
                                    <pre>
    class NewObject:
        my_oject = NewObject()
        
    print(my_oject == None)
    # True
    
    print(my_oject is None)
    # False
                                    </pre>
                                </div>

                            </li>
                        </ul>
                    </div>
                    <div>
                        <h3><a href="https://realpython.com/python-pep8/">PEP8 Code Conventions</a></h3>
                        <table>
                            <tr>
                                <th>Type</th>
                                <th style="width: 300px;">Naming Convention</th>
                                <th>Examples</th>
                            </tr>
                            <tr>
                                <td>Function</td>
                                <td>Use a lowercase word or words. Separate words by underscores to improve readability.
                                </td>
                                <td>x, var, python_variable</td>
                            </tr>
                            <tr>
                                <td>Variable</td>
                                <td>Use a lowercase single letter, word, or words. Separate words with underscores to
                                    improve readability.</td>
                                <td>function, python_function</td>
                            </tr>
                            <tr>
                                <td>Class</td>
                                <td>Start each word with a capital letter. Don’t separate words with underscores. This
                                    style
                                    is called camel case or Pascal case.</td>
                                <td>Model, PythonClass</td>
                            </tr>
                            <tr>
                                <td>Method</td>
                                <td>Use a lowercase word or words. Separate words with underscores to improve
                                    readability.
                                </td>
                                <td>class_method, method</td>
                            </tr>
                            <tr>
                                <td>Constant</td>
                                <td>Use an uppercase single letter, word, or words. Separate words with underscores to
                                    improve readability.</td>
                                <td>function, python_function</td>
                            </tr>
                            <tr>
                                <td>Module</td>
                                <td>Use a short, lowercase word or words. Separate words with underscores to improve
                                    readability.</td>
                                <td>module.py, python_module.py</td>
                            </tr>
                            <tr>
                                <td>Package</td>
                                <td>Use a short, lowercase word or words. Don’t separate words with underscores.</td>
                                <td>package, pythonpackage</td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        These are utility libraries I've written to ease miscellaneous tasks..
                        <dl>
                            <dt>Helper functions for working with Excel</dt>
                            <dd><a href="assets/libraries/excel_utils.py">excel_utils.py</a></dd>
                            <dt>Helper functions for setting/deleting enviroment variables</dt>
                            <dd><a href="assets/libraries/envion_var_utils.py">envion_var_utils.py</a></dd>
                            <dt>Helper functions for reading event logs</dt>
                            <dd><a href="assets/libraries/event_log_utils.py">event_log_utils.py</a></dd>
                            <dt>Helper functions for working with files</dt>
                            <dd><a href="assets/libraries/file_utils.py">file_utils.py</a></dd>
                            <dt>Miscellaneous stuff... a sleep_for(seconds) and get_duration(start_time) function</dt>
                            <dd><a href="assets/libraries/helper_utils.py">helper_utils.py</a></dd>
                            <dt>Helper functions for network-related functions</dt>
                            <dd><a href="assets/libraries/ip_helpers.py">ip_helpers.py</a></dd>
                            <dt>Helper functions for logging to file and optionally sending to MS Teams / Slack</dt>
                            <dd><a href="assets/libraries/log_utils.py">log_utils.py</a></dd>
                            <dt>Helper functions for sending messages to MS Teams</dt>
                            <dd><a href="assets/libraries/msteams_utils.py">msteams_utils.py</a></dd>
                            <dt>Single is_windows_64bit function</dt>
                            <dd><a href="assets/libraries/platform_utils.py">platform_utils.py</a></dd>
                            <dt>Helper functions for collecting process information</dt>
                            <dd><a href="assets/libraries/process_utils.py">process_utils.py</a></dd>
                            <dt>Helper functions for working with Pyunit</dt>
                            <dd><a href="assets/libraries/pyunit_utils.py">pyunit_utils.py</a></dd>
                            <dt>Helper functions for working with registry</dt>
                            <dd><a href="assets/libraries/registry_utils.py">registry_utils.py</a></dd>
                            <dt>Helper functions for working with Selenium</dt>
                            <dd><a href="assets/libraries/selenium_utils.py">selenium_utils.py</a></dd>
                            <dt>Helper functions for sending messages to Slack</dt>
                            <dd><a href="assets/libraries/slack_utils.py">slack_utils.py</a></dd>
                            <dt>Helper functions for convert complicated structures into strings</dt>
                            <dd><a href="assets/libraries/string_utils.py">string_utils.py</a></dd>
                            <dt>Helper functions for running commands</dt>
                            <dd><a href="assets/libraries/subprocess_utils.py">subprocess_utils.py</a></dd>
                            <dt>Helper functions for passing arguments to Python script</dt>
                            <dd><a href="assets/libraries/sysargs_utils.py">sysargs_utils.py</a></dd>
                        </dl>
                    </div>
                </div>
                <div><app-comment></app-comment></div>
            </div>
        </mat-card-content>
    </mat-card>
</div>