<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <h1 data-testid="header-title">Python</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="topics">
                Python is rad!

                <pre>
    <strong>def [function_name]</strong>([parameters, i.e. variable names separated by commas]):
    """ docstring that describes function's usage """
    <strong>[statements e.g. operations, function calls, return statement]</strong>
    return [value]
                </pre>


            </div>
            <div>
                <h3><a href="https://realpython.com/python-pep8/">PEP8 Code Conventions</a></h3>
                <table>
                    <tr>
                        <th>Type</th>
                        <th style="width: 300px;">Naming Convention</th>
                        <th>Examples</th>
                    </tr>
                    <tr>
                        <td>Function</td>
                        <td>Use a lowercase word or words. Separate words by underscores to improve readability.</td>
                        <td>x, var, python_variable</td>
                    </tr>
                    <tr>
                        <td>Variable</td>
                        <td>Use a lowercase single letter, word, or words. Separate words with underscores to improve readability.</td>
                        <td>function, python_function</td>
                    </tr>
                    <tr>
                        <td>Class</td>
                        <td>Start each word with a capital letter. Don’t separate words with underscores. This style is called camel case or Pascal case.</td>
                        <td>Model, PythonClass</td>
                    </tr>
                    <tr>
                        <td>Method</td>
                        <td>Use a lowercase word or words. Separate words with underscores to improve readability.</td>
                        <td>class_method, method</td>
                    </tr>
                    <tr>
                        <td>Constant</td>
                        <td>Use an uppercase single letter, word, or words. Separate words with underscores to improve readability.</td>
                        <td>function, python_function</td>
                    </tr>
                    <tr>
                        <td>Module</td>
                        <td>Use a short, lowercase word or words. Separate words with underscores to improve readability.</td>
                        <td>module.py, python_module.py</td>
                    </tr>
                    <tr>
                        <td>Package</td>
                        <td>Use a short, lowercase word or words. Don’t separate words with underscores.</td>
                        <td>package, pythonpackage</td>
                    </tr>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</div>