.addcommentgrid {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: 1em;
}

.comments {
    padding-top: 10px;
}

.comment {
    font-size: 1.2em;
    padding: 10px;
    width: 100%;
    height: 100px;
    width: 100%;
    background-color: #999 !important;
    color: #333 !important;
    resize: none;
}

textarea {
    width: 100%;
    background-color: #999 !important;
}


.submit-btn-div {
    place-content: center;
    text-align: center;
}

.add-comment:hover {
    cursor: pointer;
}