<mat-card class="card" [class.card-vampire]="userService.appIsDark()" [class.card-angel]="!userService.appIsDark()">
    <mat-card-header>
        <mat-card-title>
            <h1 data-testid="header-title">Agile Methodolgy / Management / Leadership</h1>
        </mat-card-title>
        <mat-card-subtitle>
            <h3>How I like to &quot;Agile&quot;..</h3>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="commentgrid">
            <div class="topics">
                <div>
                    Project management and specifically software engineering methodologies are a big part of successful
                    software company. I've spent a large portion of
                    my professional career in conversations/meetups/conferences about them. Agile is the main one in
                    demand now. I have assisted several organizations
                    in moving from the "traditional" waterfall methodologies to Agile or at least to more
                    iterative development patterns and smaller releases.<br><br>In most cases, what we end up with is
                    a mini-waterfall. All the same issues are present, just less pronounced. - it's
                    better, but
                    not great.
                    <br><br>
                    To me, only a few key elements are needed for a successful Agile team..<br>
                    <ul class="condensed">
                        <li>Teams must be self-contained and have all team members necessary to do the work. The
                            moment
                            If you start having people with a split focus across projects, quality, and velocity will
                            suffer.
                            Expecting a tester to swoop in and test with thoroughness at the end of a sprint when their
                            focus has been elsewhere the duration is asking for lackluster results, an unhappy tester,
                            and all-around sadness.
                        </li>
                        <li>Story points are not a "rough" 4 hours of development hours. The purpose of story points is
                            <span class="important">relative-sizing</span>. It's for the team to be able to discuss
                            amongst themselves on
                            effort. Let's say you have a 3
                            members: Bob, Joe, Sally. As they work on the same project sprint after sprint, they will
                            start to be able to discuss work in terms of story points.<br><br>
                            e.g. If feature AZY was 3 story points last sprint and feature DSS is similar in complexity,
                            it could be 3 points as well. This allows *everyone* on the team to discuss the effort, not
                            only
                            the developer who is familiar with the inner workings of the code. Joe may have no coding
                            ability but can still participate if the conversation is structured like this.<ul>
                                <li>Another key difference is story points should be determined as a group and include
                                    all aspects of the story. They are not development hours only.</li>
                            </ul>
                        </li>
                        <li>Work items to completion before moving on</li>
                        <li>Stub out tests while your talking in Elaboration.<br>This could be something like this:<br>
                            <div class="code">
                                <pre>
    &#64;pytest.mark.parametrize("num_users",
    [
        1, 10, 50, 100, 250
    ])
    ## Confirms number of users concurrent access
    def test_number_users_submitting_request(num_users, license_test_data, logger):
        pass
</pre>
                            </div>This test could be test to executed from day 1 and be "stubbed out" and ready for code
                            to
                            be added during the sprint to test this aspect of the feature.
                        </li>
                        <li>Do not split test tasks from development tasks. It's solely a means to trick ourselves into
                            thinking we're further along than we are. Features are complete when they've been
                            tested. At best splitting testing makes metrics *appear* better, at worst, it
                            causes less testing to occur as once testing tasks are broken out from the feature, it's
                            easy to
                            de-prioritize them for new feature work.</li>
                        <li>Burn down is key. This is a burn down of story points within a sprint and is the best
                            indication if changes are required to make deadlines with high quality.</li>
                    </ul>
                </div>
                <div>
                    <h3>Presentations I've given on Agile</h3>
                    <ul>
                        <li><a href="assets/presentations/AgileDevelopment.pptx">AgileDevelopment.pptx</a></li>
                        <li><a
                                href="assets/presentations/AgileDevelopmentDiscussionHelper.pptx">AgileDevelopmentDiscussionHelper.pptx</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3>Root Cause Analysis (RCA)</h3>
                    All organizations should consider an RCA process. These
                    processes can be done after a major issue or escalation and allows for a structured approach to
                    understanding what happened and how to prevent it in the future.
                    <ul class="condensed">
                        <li>What Happened?</li>
                        <li>Why did it happen?</li>
                        <li>What would have caught the issue?</li>
                        <li>How was the issue addressed?</li>
                        <li>How do we prevent it in the future?</li>
                    </ul>
                </div>
                <div>
                    <h3>Story Elaboration</h3>
                    <ul class="condensed">
                        <li>User Story: As a sale administrator, I need to do X when Y occurs</li>
                        <li>Acceptance Criteria
                            <ul>
                                <li>Test That,</li>
                            </ul>
                        </li>
                        <li>Reference Artifacts: Technical Approach & Detail</li>
                    </ul>
                </div>
            </div>
            <div><app-comment></app-comment></div>
        </div>
    </mat-card-content>
</mat-card>