<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <h1 data-testid="header-title">Agile Methodolgy / Management / Leadership</h1>
            </mat-card-title>
            <mat-card-subtitle>
                <h3>How I like to &quot;Agile&quot;..</h3>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="topics">
                <div>
                    <h3>Presentations I've given on Agile</h3>
                    <ul>
                        <li><a href="assets/presentations/AgileDevelopment.pptx">AgileDevelopment.pptx</a></li>
                        <li><a href="assets/presentations/AgileDevelopmentDiscussionHelper.pptx">AgileDevelopmentDiscussionHelper.pptx</a></li>
                    </ul>
                </div>
                <div>
                    <h3>Root Cause Analysis (RCA)</h3>
                    <ul class="condensed">
                        <li>What Happened?</li>
                        <li>Why did it happen?</li>
                        <li>What would have caught the issue?</li>
                        <li>How was the issue addressed?</li>
                        <li>How do we prevent it in the future?</li>
                    </ul>                    
                </div>
                <div>
                    <h3>Story Elaboration</h3>
                    <ul class="condensed">
                        <li>User Story:  As a sale administrator, I need to do X when Y occurs</li>
                        <li>Acceptance Criteria
                            <ul><li>Test That,</li></ul>
                        </li>
                        <li>Reference Artifacts: Technical Approach & Detail</li>
                    </ul>                    
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>