<mat-card class="card" [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()">
    <mat-card-header>
        <mat-card-title>
            <h1 data-testid="header-title">AWS</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="commentgrid">
            <div class="topics">
                <div>Related Content:
                    <ul class="condensed">
                        <li><a routerLink="/cloud">Cloud Overview</a></li>
                        <li><a routerLink="/azure">Azure</a></li>
                        <li><a routerLink="/gcp">Google Cloud Platform</a></li>
                    </ul>
                </div>
                <div>
                    Jesse should add content here..</div>
            </div>
            <div><app-comment></app-comment></div>
        </div>
    </mat-card-content>
</mat-card>