<mat-card class="card" [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()">
    <mat-card-header>
        <mat-card-title>
            <h1 data-testid="header-title">Kestrel</h1>
        </mat-card-title>
        <mat-card-subtitle>
            <h2 data-testid="header-subtitle">Default Web Server for ASP.NET Core</h2>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="commentgrid topics">
            <div><app-related-content></app-related-content></div>
            <div>
                Kestrel is included by default in the ASP.NET Core shared framework and is intended to be used with
                ASP.NET Core apps.
                <ul>
                    <ul>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Key Files</mat-panel-title>
                                </mat-expansion-panel-header>
                                <dl>
                                    <dt>appsettings.json</dt>
                                    <dd>Configuration file for the app. Settings include the application connection
                                        strings,
                                        logging, and other settings.</dd>
                                    <dt>appsettings.Development.json</dt>
                                    <dd>Configuration file for the app in development
                                        environment. Uses all settings in appsettings.json but will extend/override them
                                        with settings here.</dd>
                                    <dt>package.json</dt>
                                    <dd>Contains the npm packages and scripts for the app.</dd>
                                </dl>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Create new C# Kestrel project</mat-panel-title>
                                </mat-expansion-panel-header>
                                <span class="code">dotnet new console -o Scratch</span>
                                <br>Creates a new console app in a folder called Scratch with a csproj file of:
                                <code>
                                    <pre>
&lt;Project Sdk="Microsoft.NET.Sdk"&gt;
&lt;PropertyGroup&gt;
    &lt;OutputType&gt;Exe&lt;/OutputType&gt;
    &lt;TargetFramework&gt;net8.0&lt;/TargetFramework&gt;
    &lt;ImplicitUsings&gt;enable&lt;/ImplicitUsings&gt;
    &lt;Nullable&gt;enable&lt;/Nullable&gt;
&lt;/PropertyGroup&gt;
&lt;/Project&gt;                                              
</pre>
                                </code>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Configure to run in different environments</mat-panel-title>
                                </mat-expansion-panel-header>By using different appsettings files, you can configure the
                                app to run in different environments. For example, you can have different connection
                                strings for development, staging, and production environments.<br><br>

                                <inline-file>appsettings.json</inline-file><br>
                                <code>
<pre>
&#123;
    "ConnectionStrings": &#123;
        "Default": "&lt;CONNECTION STRING&gt;"
    &#125;,
    "AllowedHosts": "*"
&#125;
</pre>
                                </code><br><br>

                                <inline-file>appsettings.Development.json</inline-file>, HTTP, No SSL, Debug
                                logging:<br>
                                <code>
<pre>
&#123;
    "Logging": &#123;
        "LogLevel": &#123;
            "Default": "Debug",
            "Microsoft": "Warning",
            "Microsoft.Hosting.Lifetime": "Information"
        &#125;,
        "Console": &#123;
            "FormatterName": "Console",
            "FormatterOptions": &#123;
                "SingleLine": true,
                "IncludeScopes": true,
                "TimestampFormat": "yyyy-MM-ddTHH:mm:ss : ",
                "UseUtcTimestamp": true
            &#125;
        &#125;
    &#125;,
    "Kestrel": &#123;
        "Endpoints": &#123;
            "Http": &#123;
                "Url": "http://localhost:22006"
            &#125;
        &#125;
    &#125;
&#125;
</pre>
                            </code><br><br>

                                <inline-file>appsettings.Production.json</inline-file>, Https, SSL, Info logging:<br>
                                <code>
<pre>
&#123;
    "Logging": &#123;
        "LogLevel": &#123;
            "Default": "Error",
            "Microsoft": "Warning",
            "Microsoft.Hosting.Lifetime": "Information"
        &#125;,
        "Console": &#123;
            "FormatterName": "Console",
            "FormatterOptions": &#123;
                "SingleLine": true,
                "IncludeScopes": true,
                "TimestampFormat": "yyyy-MM-ddTHH:mm:ss : ",
                "UseUtcTimestamp": true
            &#125;
        &#125;
    &#125;,
    "Kestrel": &#123;
        "Endpoints": &#123;
            "Https": &#123;
                "Url": "http://localhost:22007"
            &#125;
        &#125;
    &#125;
&#125;
</pre>
                            </code>

                                To start the app in development mode:<br>
                                <inline-code>dotnet run -o --configuration Development</inline-code><br>
                                <span class="additional-note">-o: Output to the console</span><br><br>

                                To configure VS Code to run this configuration on F5, add this to the launch.json
                                file:<br>
                                <code>
<pre>
"env": &#123;
    "ASPNETCORE_ENVIRONMENT": "Development"
&#125;,
</pre>
                            </code>


                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>API Controller</mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="topics">
                                    <ul>
                                        <li>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>Setup</mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <h3>Create a new project web api within VS Code (using an API
                                                    Controller,
                                                    not
                                                    minimial API - see
                                                    below)</h3>
                                                Within your project folder, create a "Controllers" folder
                                                <ul>
                                                    <li>Add <span class=file>MainController.cs</span>
                                                        <code>
                                                            <pre>
namespace NehsaNet.Controllers
&#123;
    [ApiController]
    [Route("/")]
    public class Main : ControllerBase
    &#123;
        [HttpGet]
        [Route("/v1/quote")]
        [ProducesResponseType(StatusCodes.Status200OK)]
        public string GetQuote()
        &#123;
            return JsonSerializer.Serialize&lt;string&gt;(quotes[Random.Shared.Next(quotes.Count)]);
        &#125;
    &#125;
&#125;
                                                        </pre>
                                                        </code>
                                                    </li>
                                                    <li>
                                                        Update <span class=file>Program.cs</span> to use it
                                                        <code>
                                                            <pre>
internal class Program
&#123;
    private static void Main(string[] args)
    &#123;
        var builder = WebApplication.CreateBuilder(args);
        builder.Services.AddControllers();
        var app = builder.Build();
        app.UseRouting();
        app.MapControllers();
        app.Run();
    &#125;
&#125;
</pre>
                                                        </code>
                                                    </li>
                                                </ul>
                                            </mat-expansion-panel>
                                        </li>
                                        <li>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>API Controller with Dependency
                                                        Injection</mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <code>
                                                    <pre>
public class QuoteService
&#123;
    private readonly string[] quotes = new string[]
    &#123;
        "quote1",
        "quote2",
        "quote3"
    &#125;;

    public string GetQuote()
    &#123;
        return quotes[Random.Shared.Next(quotes.Length)];
    &#125;
&#125;

namespace NehsaNet.Controllers
&#123;

    [ApiController]
    [Route("/")]
    public class Main : ControllerBase
    &#123;
        private readonly QuoteService _quoteService;
                                                        
        public Main(QuoteService quoteService)
        &#123;
            _quoteService = quoteService;
        &#125;

        [HttpGet]
        [Route("/v1/quote")]
        [ProducesResponseType(StatusCodes.Status200OK)]
        public string GetQuote()
        &#123;
                                                        
            return JsonSerializer.Serialize&lt;string&gt;(_quoteService.GetQuote());
        &#125;
    &#125;
&#125;
</pre>
                                                </code>
                                            </mat-expansion-panel>
                                        </li>
                                        <li>
                                            <mat-expansion-panel expanded>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>API Route Parameters</mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <ul>
                                                    <li>
                                                        <mat-expansion-panel>
                                                            <mat-expansion-panel-header>
                                                                <mat-panel-title>Parameters within
                                                                    URL</mat-panel-title>
                                                            </mat-expansion-panel-header>
                                                            <code>
                                                                <pre>
[HttpGet]
[Route("/v1/quote/&#123;id&#125;")]
[ProducesResponseType(StatusCodes.Status200OK)]
public string GetQuote(int id)
&#123;
    return JsonSerializer.Serialize&lt;string&gt;(quotes[id]);
&#125;
</pre>
                                                                </code>
                                                        </mat-expansion-panel>
                                                    </li>
                                                    <li>
                                                        <mat-expansion-panel>
                                                            <mat-expansion-panel-header>
                                                                <mat-panel-title>Parameters within query
                                                                    string</mat-panel-title>
                                                            </mat-expansion-panel-header>
                                                            <code>
                                                                    <pre>
    [HttpGet]
    [Route("/v1/quote")]
    [ProducesResponseType(StatusCodes.Status200OK)]
    public string GetQuote([FromQuery] int id)
    </pre></code>
                                                        </mat-expansion-panel>
                                                    </li>
                                                    <li>
                                                        <mat-expansion-panel>
                                                            <mat-expansion-panel-header>
                                                                <mat-panel-title>A complex mix of the
                                                                    two</mat-panel-title>
                                                            </mat-expansion-panel-header>Always place the optional
                                                            parameters at the end of the method signature.
                                                            <code>
                                                                <pre>
[HttpGet]
[Route("/v1/quote/&#123;id&#125;")]
[ProducesResponseType(StatusCodes.Status200OK)]
public string GetQuote(int id, [FromQuery] string name)
</pre>
                                                                </code>
                                                        </mat-expansion-panel>
                                                    </li>
                                                </ul>
                                            </mat-expansion-panel>
                                        </li>
                                        <li>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>Minimial API Example</mat-panel-title>
                                                </mat-expansion-panel-header>
                                                this style seems to be a pattern nowadays. I don't like it. It's
                                                difficult to read and hard to modify.
                                                <code>
                                                        <pre>
app.MapGet("/v1/quote", [SwaggerOperation(
Summary = "Returns a single quote",
Description = "A random quote is returned.  Because.")]
[SwaggerResponse(200, "Success")]
[SwaggerResponse(500, "An error occurred")] () =>
&#123;
return JsonSerializer.Serialize&lt;string&gt;(quotes[Random.Shared.Next(quotes.Length)]);
&#125;)
.WithName("Quotes")
.WithOpenApi();
</pre>
                                                    </code>I much prefer this for readability:
                                                <code>
                                                        <pre>
namespace NehsaNet.Controllers
&#123;
[ApiController]
[Route("/")]
public class Main : ControllerBase
&#123;
    [HttpGet]
    [Route("/v1/quote")]
    [ProducesResponseType(StatusCodes.Status200OK)]
    public string GetQuote()
    &#123;
        return JsonSerializer.Serialize&lt;string&gt;(quotes[Random.Shared.Next(quotes.Count)]);
    &#125;
&#125;
&#125;             
</pre>
                                                    </code>
                                            </mat-expansion-panel>
                                        </li>
                                    </ul>
                                </div>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Configure Swagger Support</mat-panel-title>
                                </mat-expansion-panel-header>
                                <div>
                                    <code>
                                        <pre>
internal class Program
&#123;
private static void Main(string[] args)
&#123;
    var builder = WebApplication.CreateBuilder(args);
    builder.Services.AddSwaggerGen();
    var app = builder.Build();
    app.UseSwagger();
    app.UseSwaggerUI();
    app.Run();   
&#125;
&#125;
</pre>
                                        <div>
                                            <h4>Example:</h4>
                                            <div class="grid">
                                                <div>
                                                    Swagger UI
                                                    <iframe src="https://api.nehsa.net/swagger"
                                                        title="OpenAPI Documenation"></iframe>
                                                </div>
                                                <div>
                                                    swagger.json
                                                    <iframe src="https://api.nehsa.net/swagger/v1/swagger.json"
                                                        title="swagger.json file"></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </code>
                                </div>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Healthchecks!</mat-panel-title>
                                </mat-expansion-panel-header>
                                <code>
                                    <pre>
internal class Program
&#123;
private static void Main(string[] args)
&#123;
    var builder = WebApplication.CreateBuilder(args);
    builder.Services.AddHealthChecks();
    var app = builder.Build();
    app.Run();   
    app.UseHealthChecks("/health");
&#125;
&#125;
</pre>
                                </code>
                                Access via /health:<br>
                                <img mat-card-image src="../../../assets/images/healthcheck.png"
                                    alt="screenshot of api returning health" />
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Setup Logging</mat-panel-title>
                                </mat-expansion-panel-header>
                                Setting configuration logging is done in the appsettings.json file.<br><br>

                                It can be activated by:<br>
                                <ol>
                                    <li>
                                        <code>
<pre>
webApplicationBuilder.Services.AddLogging();
webApplicationBuilder.Logging.ClearProviders();
webApplicationBuilder.Logging.AddConsole();
webApplicationBuilder.Logging.AddDebug();
</pre>
                                        </code>
                                    </li>
                                    <li>
                                        <code>
<pre>
var app = webApplicationBuilder.Build();
var logger = app.Services.GetRequiredService&lt;ILogger&lt;Program&gt;&gt;();
logger.LogInformation("Logging works!");
</pre>
                                    </code>
                                    </li>
                                </ol>

                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Configure for <acronym-name>Single Page
                                            Application<acronym-abbr>SPA</acronym-abbr></acronym-name></mat-panel-title>
                                </mat-expansion-panel-header>SPAs are single-page websites, meaning that everything is
                                compiled into a single page. The server serves the index.html, which has all the JS,
                                CSS, and HTML of every page.<br><br>

                                <code>
<pre>
// allows serving our SPA app
webApplicationBuilder.Services.AddSpaStaticFiles(configuration =>
&#123;
    configuration.RootPath = "app/wwwrooot";
&#125;);
</pre>
                                </code>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Setup <acronym-name>Cross Origin Resource Sharing
                                            <acronym-abbr>CORS</acronym-abbr></acronym-name></mat-panel-title>
                                </mat-expansion-panel-header>Enabling CORS is a two-step process, we need to update the
                                Kestrel web server via WebApplication.CreateBuilder (webApplicationBuilder) and then the
                                API layer webApplicationBuilder.Build (app):
                                <ol>
                                    <li>
                                        <code>
                                            <pre>
// CORS support
webApplicationBuilder.Services.AddCors(options =>
&#123;
options.AddPolicy(name: api,
    policy =>
    &#123;
        policy.WithOrigins("https://api.nehsa.net").AllowAnyMethod().AllowAnyHeader().AllowCredentials();
    &#125;);
&#125;);
</pre>
</code>
                                    </li>
                                    <li>
                                        <code>
<pre>
// set to use CORS
logger.LogInformation("Setting up CORS for API: " + api);
app.UseCors(api);
</pre>
</code>
                                    </li>
                                </ol>

                                <dl>
                                    <dt>AllowAnyMethod()</dt>
                                    <dd>Allows any HTTP method. e.g. options: WithMethods("GET", "POST", "PUT",
                                        "DELETE").</dd>
                                    <dt>AllowAnyHeader()</dt>
                                    <dd>Allows any HTTP header. e.g. options: WithHeaders("Accept", "Content-Type",
                                        "Origin").</dd>
                                    <dt>AllowCredentials()</dt>
                                    <dd>Allows credentials to be passed.</dd>
                                </dl>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Setup <acronym-name>Content Security Policy
                                            <acronym-abbr>CSP</acronym-abbr></acronym-name></mat-panel-title>
                                </mat-expansion-panel-header>The CSP is use to ensure that the browser only loads
                                scripts and other resources we explicitly allow. This is a security feature to prevent
                                XSS attacks.<br><br>

                                To set up the CSP, we need to add a middleware layer that adds the
                                appopriate headers:<br>

                                <ul>
                                    <li>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>Create Middleware</mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <code>
<pre>
public class CSPMiddleware 
&#123;
    private readonly string _cspPolicy;

    public CSPMiddleware(string cspPolicy)
    &#123;
        _cspPolicy = cspPolicy;
    &#125;

    public async Task InvokeAsync(HttpContext context, RequestDelegate next)
    &#123;
        // Access the cspPolicy parameter here
        context.Response.Headers.Append("Content-Security-Policy", _cspPolicy);
        await next(context);
    &#125;
&#125;
</pre>
                                            </code>
                                        </mat-expansion-panel>
                                    </li>
                                    <li>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>Call it</mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <code>
<pre>
// setup the middleware to handle the Content-Security-Policy header
app.UseMiddleware&lt;CSPMiddleware&gt;("default-src 'self'; style-src 'self' 'unsafe-inline';
    script-src 'self' 'unsafe-inline' 'unsafe-eval'; img-src 'self' data:; font-src
    'self';");
</pre>
                                            </code>
                                        </mat-expansion-panel>
                                    </li>
                                </ul>

                                <dl>
                                    <dt>default-src</dt>
                                    <dd>Default source for all directives.</dd>
                                    <dt>style-src</dt>
                                    <dd>Allowed sources for stylesheets.</dd>
                                    <dt>script-src</dt>
                                    <dd>Allowed sources for scripts.</dd>
                                    <dt>img-src</dt>
                                    <dd>Allowed sources for images.</dd>
                                    <dt>font-src</dt>
                                    <dd>Allowed sources for fonts.</dd>
                                    <dt>unsafe-inline</dt>
                                    <dd>Allows inline scripts and styles.</dd>
                                    <dt>unsafe-eval</dt>
                                    <dd>Allows eval() and similar functions.</dd>
                                    <dt>self</dt>
                                    <dd>Allows the current domain only.</dd>
                                </dl>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Cold Start Issues</mat-panel-title>
                                    <mat-panel-description>When the server takes a long time to start
                                        up for first requests or after server has been idle for a
                                        while.</mat-panel-description>
                                </mat-expansion-panel-header>Set the Kestrel idle timeout to 0. This will keep the
                                server running
                                indefinitely.<code>webApplicationBuilder.WebHost.ConfigureKestrel(options =>
                                            options.Limits.KeepAliveTimeout = TimeSpan.FromMinutes(0));</code>
                            </mat-expansion-panel>
                        </li>
                    </ul>
                </ul>
            </div>
            <div><app-comment></app-comment></div>
        </div>
    </mat-card-content>
</mat-card>