<mat-card class="card" [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()">
    <mat-card-header>
        <mat-card-title>
            <h1 data-testid="header-title">Kestrel</h1>
        </mat-card-title>
        <mat-card-subtitle>
            <h2 data-testid="header-subtitle">Default Web Server for ASP.NET Core</h2>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="commentgrid">
            <div class="topics">
                Kestrel is included by default in the ASP.NET Core shared framework and is intended to be used with
                ASP.NET Core apps.
                <ul>
                    <ul>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Key Files</mat-panel-title>
                                </mat-expansion-panel-header>
                                <dl>
                                    <dt>appsettings.json</dt>
                                    <dd>Configuration file for the app. Settings include the application connection
                                        strings,
                                        logging, and other settings.</dd>
                                    <dt>appsettings.Development.json</dt>
                                    <dd>Configuration file for the app in development
                                        environment. Uses all settings in appsettings.json but will extend/override them
                                        with settings here.</dd>
                                    <dt>package.json</dt>
                                    <dd>Contains the npm packages and scripts for the app.</dd>
                                </dl>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Create new C# Kestrel project</mat-panel-title>
                                </mat-expansion-panel-header>
                                <span class="code">dotnet new console -o Scratch</span>
                                <br>Creates a new console app in a folder called Scratch with a csproj file of:
                                <code>
                                    <pre>
&lt;Project Sdk="Microsoft.NET.Sdk"&gt;
&lt;PropertyGroup&gt;
    &lt;OutputType&gt;Exe&lt;/OutputType&gt;
    &lt;TargetFramework&gt;net8.0&lt;/TargetFramework&gt;
    &lt;ImplicitUsings&gt;enable&lt;/ImplicitUsings&gt;
    &lt;Nullable&gt;enable&lt;/Nullable&gt;
&lt;/PropertyGroup&gt;
&lt;/Project&gt;                                              
</pre>
                                </code>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Configure to run in different environments</mat-panel-title>
                                </mat-expansion-panel-header>By using different appsettings files, you can configure the
                                app to run in different environments. For example, you can have different connection
                                strings for development, staging, and production environments.<br><br>

                                <inline-file>appsettings.json</inline-file><br>
                                <code>
<pre>
&#123;
    "ConnectionStrings": &#123;
        "Default": "&lt;CONNECTION STRING&gt;"
    &#125;,
    "AllowedHosts": "*"
&#125;
</pre>
                                </code><br><br>

                                <inline-file>appsettings.Development.json</inline-file>, HTTP, No SSL, Debug
                                logging:<br>
                                <code>
<pre>
&#123;
    "Logging": &#123;
        "LogLevel": &#123;
            "Default": "Debug",
            "Microsoft": "Warning",
            "Microsoft.Hosting.Lifetime": "Information"
        &#125;,
        "Console": &#123;
            "FormatterName": "Console",
            "FormatterOptions": &#123;
                "SingleLine": true,
                "IncludeScopes": true,
                "TimestampFormat": "yyyy-MM-ddTHH:mm:ss : ",
                "UseUtcTimestamp": true
            &#125;
        &#125;
    &#125;,
    "Kestrel": &#123;
        "Endpoints": &#123;
            "Http": &#123;
                "Url": "http://localhost:22006"
            &#125;
        &#125;
    &#125;
&#125;
</pre>
                            </code><br><br>

                                <inline-file>appsettings.Production.json</inline-file>, Https, SSL, Info logging:<br>
                                <code>
<pre>
&#123;
    "Logging": &#123;
        "LogLevel": &#123;
            "Default": "Error",
            "Microsoft": "Warning",
            "Microsoft.Hosting.Lifetime": "Information"
        &#125;,
        "Console": &#123;
            "FormatterName": "Console",
            "FormatterOptions": &#123;
                "SingleLine": true,
                "IncludeScopes": true,
                "TimestampFormat": "yyyy-MM-ddTHH:mm:ss : ",
                "UseUtcTimestamp": true
            &#125;
        &#125;
    &#125;,
    "Kestrel": &#123;
        "Endpoints": &#123;
            "Https": &#123;
                "Url": "http://localhost:22007"
            &#125;
        &#125;
    &#125;
&#125;
</pre>
                            </code>

                                To start the app in development mode:<br>
                                <inline-code>dotnet run -o --configuration Development</inline-code><br>
                                <span class="additional-note">-o: Output to the console</span><br><br>

                                To configure VS Code to run this configuration on F5, add this to the launch.json
                                file:<br>
                                <code>
<pre>
"env": &#123;
    "ASPNETCORE_ENVIRONMENT": "Development"
&#125;,
</pre>
                            </code>


                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Setup Logging</mat-panel-title>
                                </mat-expansion-panel-header>
                                Setting configuration logging is done in the appsettings.json file.<br><br>

                                It can be activated by:<br>
                                <ol>
                                    <li>
                                        <code>
<pre>
webApplicationBuilder.Services.AddLogging();
webApplicationBuilder.Logging.ClearProviders();
webApplicationBuilder.Logging.AddConsole();
webApplicationBuilder.Logging.AddDebug();
</pre>
                                        </code>
                                    </li>
                                    <li>
                                        <code>
<pre>
var app = webApplicationBuilder.Build();
var logger = app.Services.GetRequiredService&lt;ILogger&lt;Program&gt;&gt;();
logger.LogInformation("Logging works!");
</pre>
                                    </code>
                                    </li>
                                </ol>

                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Configure for <acronym-name>Single Page
                                            Application<acronym-abbr>SPA</acronym-abbr></acronym-name></mat-panel-title>
                                </mat-expansion-panel-header>SPAs are single-page websites, meaning that everything is
                                compiled into a single page. The server serves the index.html, which has all the JS,
                                CSS, and HTML of every page.<br><br>

                                This is if you use Angular to do your routine. The problem is when someone wishes to
                                reach a specific page externally. Navigating to the page via www.nehsa.net works, but
                                refreshing causes a 404 error.<br><br>

                                This is because the server is looking for a file that doesn't exist. To fix this, we
                                need to add a middleware layer that inspects the page and forwards it if
                                necessary.<br><br>

                                I have yet to get this to work fully and I'm evaluating moving to SSR to get around this
                                limitation..<br><br>

                                <code>
                                    <pre>
// Setup the middleware that will handle the SPA routing
app.Use(async (context, next) =>
&#123;
    await next();
    if (context.Response.StatusCode == 404 &amp;&amp; !Path.HasExtension(context.Request.Path.Value))
    &#123;  
        context.Request.Path = "/index.html";
        await next();
    &#125;
&#125;);

                                    </pre>
                                </code><br><br>

                                This middleware layer will intercept the request and forward it to the index.html file,
                                assuming the index.html file is in the root of the wwwroot folder.<br><br>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Setup <acronym-name>Cross Origin Resource Sharing
                                            <acronym-abbr>CORS</acronym-abbr></acronym-name></mat-panel-title>
                                </mat-expansion-panel-header>Enabling CORS is a two-step process, we need to update the
                                Kestrel web server via WebApplication.CreateBuilder (webApplicationBuilder) and then the
                                API layer webApplicationBuilder.Build (app):
                                <ol>
                                    <li>
                                        <code>
                                            <pre>
// CORS support
webApplicationBuilder.Services.AddCors(options =>
&#123;
options.AddPolicy(name: api,
    policy =>
    &#123;
        policy.WithOrigins("https://api.nehsa.net").AllowAnyMethod().AllowAnyHeader().AllowCredentials();
    &#125;);
&#125;);
</pre>
</code>
                                    </li>
                                    <li>
                                        <code>
<pre>
// set to use CORS
logger.LogInformation("Setting up CORS for API: " + api);
app.UseCors(api);
</pre>
</code>
                                    </li>
                                </ol>

                                <dl>
                                    <dt>AllowAnyMethod()</dt>
                                    <dd>Allows any HTTP method. e.g. options: WithMethods("GET", "POST", "PUT",
                                        "DELETE").</dd>
                                    <dt>AllowAnyHeader()</dt>
                                    <dd>Allows any HTTP header. e.g. options: WithHeaders("Accept", "Content-Type",
                                        "Origin").</dd>
                                    <dt>AllowCredentials()</dt>
                                    <dd>Allows credentials to be passed.</dd>
                                </dl>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Setup <acronym-name>Content Security Policy
                                            <acronym-abbr>CSP</acronym-abbr></acronym-name></mat-panel-title>
                                </mat-expansion-panel-header>The CSP is use to ensure that the browser only loads
                                scripts and other resources we explicitly allow. This is a security feature to prevent
                                XSS attacks.<br><br>

                                To set up the CSP, we need to add a middleware layer that adds the
                                appopriate headers:<br>

                                <ul>
                                    <li>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>Create Middleware</mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <code>
<pre>
public class CSPMiddleware 
&#123;
    private readonly string _cspPolicy;

    public CSPMiddleware(string cspPolicy)
    &#123;
        _cspPolicy = cspPolicy;
    &#125;

    public async Task InvokeAsync(HttpContext context, RequestDelegate next)
    &#123;
        // Access the cspPolicy parameter here
        context.Response.Headers.Append("Content-Security-Policy", _cspPolicy);
        await next(context);
    &#125;
&#125;
</pre>
                                            </code>
                                        </mat-expansion-panel>
                                    </li>
                                    <li>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>Call it</mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <code>
<pre>
// setup the middleware to handle the Content-Security-Policy header
app.UseMiddleware&lt;CSPMiddleware&gt;("default-src 'self'; style-src 'self' 'unsafe-inline';
    script-src 'self' 'unsafe-inline' 'unsafe-eval'; img-src 'self' data:; font-src
    'self';");
</pre>
                                            </code>
                                        </mat-expansion-panel>
                                    </li>
                                </ul>

                                <dl>
                                    <dt>default-src</dt>
                                    <dd>Default source for all directives.</dd>
                                    <dt>style-src</dt>
                                    <dd>Allowed sources for stylesheets.</dd>
                                    <dt>script-src</dt>
                                    <dd>Allowed sources for scripts.</dd>
                                    <dt>img-src</dt>
                                    <dd>Allowed sources for images.</dd>
                                    <dt>font-src</dt>
                                    <dd>Allowed sources for fonts.</dd>
                                    <dt>unsafe-inline</dt>
                                    <dd>Allows inline scripts and styles.</dd>
                                    <dt>unsafe-eval</dt>
                                    <dd>Allows eval() and similar functions.</dd>
                                    <dt>self</dt>
                                    <dd>Allows the current domain only.</dd>
                                </dl>
                            </mat-expansion-panel>
                        </li>
                    </ul>
                </ul>
            </div>
            <div><app-comment></app-comment></div>
        </div>
    </mat-card-content>
</mat-card>