<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <h1 data-testid="header-title">Dot / Graphwiz / Pydot</h1>
            </mat-card-title>
            <mat-card-subtitle>
                My knowledge on DOT and it's usage in Python. DOT stands for graph description language.
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="commentgrid">
                <div class="topics">
                    <div>
                        <h3>Install Pydot</h3>
                        <ul>
                            <li>pip install pydot</li>
                            <li>Install <a href="https://graphviz.org/download/">Graphwiz</a> and add to path</li>
                            <li class="code">refreshenv if you have it..</li>
                        </ul>
                    </div>
                    <div>
                        <h3>Usage</h3>
                        <div class="code">
                            <pre>
    <span class="comment">Global graph settings (the graph....)</span>
    graph = pydot.Dot(
        "mud_map",
        graph_type="digraph",
        bgcolor="hotpink",
        rankdir="LR",
        splines="ortho",
        concentrate="true"
    )<br>
    <span class="comment">Global node settings (each &quot;object&quot; on the graph)</span>
    graph.set_node_defaults(
        shape="rectangle",
        style="filled",
        fillcolor="cornflowerblue",
        fontcolor="whitesmoke",
        fontname="monospace"
    )<br>
    <span class="comment">Edge settings (connection from each node)</span>
    graph.set_edge_defaults(
        color="black", <span class="comment"># the line connecting each node</span>
        style="solid", <span class="comment"># dotted it cool too</span>
        dir="none", <span class="comment"># show arrow relationships.  Both is an option for example to show a two-way relationship</span>
    )

    <span class="comment">Generate map</span>
    for room in rooms:
        room_name = room.name
        room_exits = room.exits
        for exit in room_exits:
            exit_room = rooms[exit["id"]]
            edge = pydot.Edge(
                room_name,
                exit_room.name,
            )
            graph.add_edge(edge)
    
    <span class="comment"># Generate map</span>
    output_graphviz_svg = graph.create_svg()

    <span class="comment"># Manipulfuck it for prettification:</span>
    with open(full_tmp_path, "w") as text_file:
        text_file.write(output_graphviz_svg.decode("utf-8"))                
            with open(full_tmp_path, "r") as text_file:
                main = text_file.read()
                main = re.sub('width=\"\d*pt\"', 'width="100%"', main)
                main = re.sub('height=\"\d*pt\"', 'height="100%"', main)
                main = re.sub('font-size=\"14.00\"', 'font-size=\"11.00\"', main)

                <span class="comment"># mini-map</span>
                with open(f"&#123;full_path&#125;_mini&#123;extension&#125;", "w") as final_text_file:
                    final_text_file.write(main)    
                    
                <span class="comment"># map map</span>
                main = re.sub('viewbox=\".*\"', '', main)
                with open(full_path + extension, "w") as final_text_file:
                    final_text_file.write(main)    
                            </pre>
                        </div>
                        <div>
                            <h4>Brings a tear to the eye..</h4>
                            <img width="600" mat-card-image src="../../assets/images/mud_map.png" />
                        </div>
                    </div>
                </div>
                <div><app-comment></app-comment></div>
            </div>
        </mat-card-content>
    </mat-card>
</div>