<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <h1 data-testid="header-title">School</h1>
            </mat-card-title>
            <mat-card-subtitle>
                <h3>Student at Oregon State.  School of Electrical Engineering and Computer Science.  Go Beavs!</h3>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div>
                <span class="summary">
                I stopped pursuing my education to take care of a new family in my early twenties. Despite this not actually being a barrier to getting amazing jobs, I have always
                regretted it. I am now going to finish what I started..</span>
                <br><br><br>
                <span class="header">Spring 2024</span>
                <dl>
                    <dt><a href="#/school/engr102">ENGR 102: Design Engineering and Problem Solving</a></dt>
                    <dd> - Explores the science of design and Design Thinking, including vetted ways of approaching and
                        defining design problems, assessing stakeholder needs, ideation and concept generation, and
                        prototyping and experimental design. Conducts work in teams of engineering designers to solve
                        complex, real-world engineering problems. Learns methods to assess your problem-solving skills
                        and to question your assumptions, reinforcing your core mathematics and science knowledge and
                        employing computational thinking and programming. Develops advanced professional and
                        communication skills in an engineering design team setting.</dd>
                    <dt><a href="#/school/ph207">PH207: GALAXIES, COSMOLOGY, LIFE</a></dt>
                    <dd> - This course covers three main topics: galaxies and their evolution; cosmology including the
                        big bang,
                        evolution and large-scale structure of the universe; and fundamentals of life including the
                        prospect of
                        finding life beyond planet Earth. Background information, such as fundamentals of motion,
                        electromagnetic radiation and spectroscopy are included as they pertain to dynamical behavior
                        and
                        observation. The courses in the astronomy sequence (PH 205, PH 206, PH 207) are independent
                        courses and can be taken in any order. (Bacc Core Course)</dd>
                </dl>
                <span>Notes:</span>

                <dl>
                    <dt>Week 4/1 - 4/7:</dt>
                    <dd>Inauspicious start.. I thought classes started next week and already a week behind on everything.</dd>
                    <dt>Week 4/8 - 4/14:</dt>
                    <dd>Better!  Good scores on quizes.  I even did one a day before it was due!</dd>
                </dl>
            </div>

            <hr />

            <div>

            </div>
        </mat-card-content>
    </mat-card>
</div>