<mat-card class="card" [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()">
    <mat-card-header>
        <mat-card-title>
            <h1 data-testid="header-title">School</h1>
        </mat-card-title>
        <mat-card-subtitle>
            <h3>Student at Oregon State. School of Electrical Engineering and Computer Science. Go Beavs!</h3>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="commentgrid topics">
            <div><app-related-content></app-related-content></div>
            <div>
                <span class="summary">I stopped pursuing my education in my early twenties to take care of a new family.
                    I was lucky, and this did not prevent me from having a unique and fulfilling career in the industry
                    I love—software engineering.<br><br>

                    I've worked for large organizations (Intel, The Standard), medium-sized organizations with a
                    start-up feel (Webtrends), and small organizations (TenAsys, CASEY). I enjoyed all my experience in
                    testing, development, leadership and management, project management, DevOps, and security. And most
                    importantly, I've had the opportunity to work with amazing and often brilliant people.<br><br>

                    While my unfinished education didn't hinder my career growth, I've always felt a need to someday
                    complete my education. I'm determined to finish what I started and have enrolled in Oregon State's
                    Computer Science program to achieve this goal! Slowly..</span>
                <br><br>
                <ul>
                    <li>[<mat-icon>check</mat-icon>] <span class="header">Spring 2024</span>
                        <dl>
                            <dt><a routerLink="/school/engr102">ENGR 102: Design Engineering and Problem Solving</a>
                            </dt>
                            <dd> - Explores the science of design and Design Thinking, including vetted ways of
                                approaching and
                                defining design problems, assessing stakeholder needs, ideation and concept generation,
                                and
                                prototyping and experimental design. Conducts work in teams of engineering designers to
                                solve
                                complex, real-world engineering problems. Learns methods to assess your problem-solving
                                skills
                                and to question your assumptions, reinforcing your core mathematics and science
                                knowledge and
                                employing computational thinking and programming. Develops advanced professional and
                                communication skills in an engineering design team setting.</dd>
                            <dt><a routerLink="/school/ph207">PH 207: GALAXIES, COSMOLOGY, LIFE</a></dt>
                            <dd> - This course covers three main topics: galaxies and their evolution; cosmology
                                including the
                                big bang,
                                evolution and large-scale structure of the universe; and fundamentals of life including
                                the
                                prospect of
                                finding life beyond planet Earth. Background information, such as fundamentals of
                                motion,
                                electromagnetic radiation and spectroscopy are included as they pertain to dynamical
                                behavior
                                and
                                observation. The courses in the astronomy sequence (PH 205, PH 206, PH 207) are
                                independent
                                courses and can be taken in any order. (Bacc Core Course)</dd>
                        </dl>
                    </li>
                    <li><span class="header">Summer 2024</span>: Not attending</li>
                    <li><span class="header">Fall 2025</span>: Not attending</li>
                    <li><span class="header">Winter 2025</span>: I hope so! I started a new job and I may still be unable to devote the time.</li>
                </ul>
            </div>
            <div><app-comment></app-comment></div>
        </div>
    </mat-card-content>
</mat-card>