<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <h1>School</h1>
            </mat-card-title>
            <mat-card-subtitle>
                <h3>Student at Oregon State</h3>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div>
                I stopped pursuing my education to take care of a new family in my early twenties.  I have always regretted it.  I am now going to finish what I started (albeit late and slowly).
                <br><br>
                <span class="header">Spring 2024</span>
                <ul>
                    <li>ENGR 102: Design Engineering and Problem Solving</li>
                    <li>PH207: GALAXIES, COSMOLOGY, LIFE</li>
                </ul>
            </div>
        </mat-card-content>
    </mat-card>
</div>