<mat-card class="card" [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()">
    <mat-card-header>
        <mat-card-title>
            <h1 data-testid="header-title">This Website</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="commentgrid topics">
            <div><app-related-content></app-related-content></div><div>
                Design and technologies of this website.<br><br>
                <table class="min-table">
                    <tr>
                        <th>Technology</th>
                        <th>Deployed</th>
                        <th>URL</th>
                        <th>SSL</th>
                    </tr>
                    <tr>
                        <td>UI
                            <ul>
                                <li>Angular 18.2.3</li>
                                <li>Material 18.2.3</li>
                                <li><a target="_blank"
                                        href="https://hub.docker.com/repository/docker/nehsa/nehsanet/">Docker
                                        container</a>
                                </li>
                                <li>Angular Universal 16.2.0 (for SSR)</li>
                                <li>Testing: Playwright
                                    <div class="playwright">
                                        <a href="https://github.com/nehsa25/nehsa.net/actions"><img
                                                src="https://github.com/nehsa25/nehsa.net/actions/workflows/playwright.yml/badge.svg" /></a>
                                    </div>
                                </li>
                                <li>Semantic HTML</li>
                                <li>Responsive design</li>
                                <li>Mobile First design</li>
                            </ul>
                        </td>
                        <td><acronym-name>Google Cloud Platform<acronym-abbr>GCP</acronym-abbr></acronym-name></td>
                        <td><a target="_blank" href="https://nehsa.net">nehsa.net</a></td>
                        <td>
                            <table class="ssl-table">
                                <tr>
                                    <th>Issuer</th>
                                    <th>Expires</th>
                                    <th>Auto-Renews</th>
                                </tr>
                                <tr>
                                    <td>Google Certificate Authority Service API</td>
                                    <td>October 29th, 2024</td>
                                    <td>Yes</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>API
                            <button mat-raised-button color="accent" (click)="testapi()">Test</button>&nbsp;
                            <mat-icon *ngIf="testapiCheck == true && testapiSuccess == true"
                                style="color: green; font-weight: bolder;">check</mat-icon>
                            <mat-icon *ngIf="testapiCheck == true && testapiSuccess == false"
                                style="color: red; font-weight: bolder;">error</mat-icon>
                            <ul>
                                <li>.NET Core 8.0</li>
                                <li>Locally Hosted (Docker) in Docker</li>
                                <li>Kestrel</li>
                                <li>webapi</li>
                                <li>Testing: Pytest</li>
                            </ul>
                        </td>
                        <td>Locally Hosted (Docker)</td>
                        <td><a target="_blank" href="https://api.nehsa.net">api.nehsa.net</a></td>
                        <td>
                            <table class="ssl-table">
                                <tr>
                                    <th>Issuer</th>
                                    <th>Expires</th>
                                    <th>Auto-Renews</th>
                                </tr>
                                <tr>
                                    <td>Zero SSL</td>
                                    <td>November 18th, 2024</td>
                                    <td>No</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>NehsaMUD</td>
                        <td>Locally Hosted</td>
                        <td>https://mud.nehsa.net (not setup yet)</td>
                        <td>
                            <table class="ssl-table">
                                <tr>
                                    <th>Issuer</th>
                                    <th>Expires</th>
                                    <th>Auto-Renews</th>
                                </tr>
                                <tr>
                                    <td>Zero SSL</td>
                                    <td>November 18th, 2024</td>
                                    <td>No</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>Database
                            <button mat-raised-button color="accent" (click)="testdb()">Test</button>&nbsp;
                            <mat-icon *ngIf="testdbChecked == true && testdbSuccess == true"
                                style="color: green; font-weight: bolder;">check</mat-icon>
                            <mat-icon *ngIf="testdbChecked == true && testdbSuccess == false"
                                style="color: red; font-weight: bolder;">error</mat-icon><br><br>

                            MySQL is the relational database used for this
                            website. Currently, it's only used by the comment system.<br><br>
                            <ul>
                                <li>MySQL</li>
                                <li>Docker container</li>
                                <li>Hosted Locally</li>
                            </ul>
                            See <a routerLink="/mysql">MySQL</a>
                        </td>
                        <td>Locally Hosted (Docker)</td>
                        <td>No external access</td>
                        <td>None</td>
                    </tr>
                    <tr>
                        <td>GraphQL</td>
                        <td>
                            <acronym-name>Amazon Web Services<acronym-abbr>AWS</acronym-abbr></acronym-name><br>
                            Container in <acronym-name>Elastic Container
                                Registry<acronym-abbr>ECR</acronym-abbr></acronym-name><br>
                            Service running in <acronym-name>Elastic Container
                                Service<acronym-abbr>ECS</acronym-abbr></acronym-name>
                        </td>
                        <td>No configured yet</td>
                        <td>No configured yet</td>
                    </tr>
                    <tr>
                        <td>Go Weather Microservice</td>
                        <td>Locally Hosted (Docker)</td>
                        <td>No External Access</td>
                        <td>None</td>
                    </tr>
                    <tr>
                        <td>Go Web scraping Microservice</td>
                        <td>Locally Hosted (Docker)</td>
                        <td>No External Access</td>
                        <td>None</td>
                    </tr>
                </table>
            </div>
            <div><app-comment></app-comment></div>
        </div>
    </mat-card-content>
</mat-card>