<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <h1 data-testid="header-title">This Website</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="commentgrid">
                <div class="topics">
                    Design/technolegies of this website
                    <div>
                        <div>
                            <h3>Deployment</h3>
                            <ul>
                                <li>UI: Container deployed via Google Cloud Run</li>
                                <li>API: Container hosted locally (api.nehsa.net)</li>
                            </ul>
                        </div>
                        <h3>UI</h3>
                        <ul>
                            <li>Angular</li>
                            <li>Material</li>
                            <li><a href="https://hub.docker.com/repository/docker/nehsa/nehsanet/">Docker container</a>
                            </li>
                            <li><a href="https://nodejs.org/en">Node.js</a> / <a
                                    href="https://expressjs.com/">Express</a>
                            </li>
                            <li>Testing: Playwright</li>
                        </ul>
                    </div>
                    <div>
                        <h3>API <button mat-raised-button color="accent" (click)="testapi()">Test</button>&nbsp;
                            <mat-icon *ngIf="testapiCheck == true && testapiSuccess == true"
                                style="color: green; font-weight: bolder;">check</mat-icon>
                            <mat-icon *ngIf="testapiCheck == true && testapiSuccess == false"
                                style="color: red; font-weight: bolder;">error</mat-icon>
                        </h3>
                        <ul>
                            <li>.NET Core 8.0</li>
                            <li>webapi</li>
                            <li>Testing: Pytest</li>
                        </ul>
                    </div>
                    <div>
                        <h3>DATABASE - MySQL (Docker ubuntu/mysql)&nbsp;<button mat-raised-button color="accent"
                            (click)="testdb()">Test</button>&nbsp; <mat-icon
                            *ngIf="testdbChecked == true && testdbSuccess == true"
                            style="color: green; font-weight: bolder;">check</mat-icon>
                        <mat-icon *ngIf="testdbChecked == true && testdbSuccess == false"
                            style="color: red; font-weight: bolder;">error</mat-icon></h3>
                        See <a routerLink="/mysql">MySQL</a>

                    </div>
                </div>
                <div><app-comment></app-comment></div>
            </div>
        </mat-card-content>
    </mat-card>
</div>