<mat-card class="card" [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()">
    <mat-card-header>
        <mat-card-title>
            <h1 data-testid="header-title">Powershell</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="commentgrid topics">
            <div><app-related-content></app-related-content></div>
            <div>
                <ul>
                    <li>
                        <mat-expansion-panel expanded>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Useful Commands</mat-panel-title>
                            </mat-expansion-panel-header>
                            <ul>
                                <li>Get 5 latest LabListener event log errors:
                                    <inline-code>(Get-EventLog -Newest 5 -LogName LabListener -EntryType Error).Message
                                    </inline-code>
                                </li>
                                <li>Create symbolic link: <inline-code>new-item -itemtype symboliclink -path &lt;SYMBOLIC ITEM LOCATION&gt; -target &lt;ACTUAL LOCATION&gt; </inline-code><br>
                                    <span class="additional-notes">e.g. to create python3.exe which points at python.exe: new-item -itemtype symboliclink -path C:\Python312\python3.exe -target C:\Python312\python.exe </span>
                                </li>
                                <li>Harddrive info:
                                    <inline-code>wmic diskdrive get
                                        InterfaceType,Model,Name,SerialNumber,Size,Status</inline-code>
                                </li>
                                <li>Get the .NET runtime version used:
                                    <code>
<pre>
$path = 'C:\Program Files (x86)\LabListener\bin\ghasi.dll';
[Reflection.Assembly]::ReflectionOnlyLoadFrom($path).ImageRuntimeVersion;
</pre>
                                </code>
                                </li>
                                <li>List IPv4 Address:
                                    <inline-code>
                                        (Get-NetIPConfiguration |Where-Object &#123; $_.IPv4DefaultGateway -ne $null
                                        -and
                                        $_.NetAdapter.Status -ne "Disconnected" &#125;).IPv4Address.IPAddress
                                    </inline-code>
                                </li>
                                <li>Get status of a service:
                                    <inline-code>get-service -name 'lab listener'</inline-code>
                                </li>
                                <li>Last 30 lines of a log file:
                                    <inline-code>
                                        Get-Content install_log.txt | Select-Object -last 30
                                    </inline-code>
                                </li>
                                <li>Output variable to file (pipe to out-file):
                                    <code>
                                    <pre>                                        
$cmd = "docker run nehsa/nehsanet:$&#123;build&#125;";
$cmd | <span class="importantish">out-file</span> -filepath ./run-api.ps1;
write-host 'To run in the future: ./run-api.ps1';
                                    </pre>
                                </code>
                                </li>
                            </ul>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>My PowerShell Profile</mat-panel-title>
                                <mat-panel-description>
                                    pwsh.exe (.NET Core):
                                    c:\users\&lt;YOU&gt;\Documents\PowerShell\Microsoft.PowerShell_profile.ps1<br>
                                    powershell.exe:
                                    c:\users\&lt;YOU&gt;\Documents\WindowsPowerShell\Microsoft.PowerShell_profile.ps1
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div>
                                <a
                                    href="https://github.com/nehsa25/powershell-profile">Microsoft.PowerShell_profile.ps1</a>
                                <code>
                                    <pre>
<span class="red">Aliases</span><span class="grey">
* "npp" - Launches Notepad++
* "weather "Casablanca,Morocco" - The weather :)
* "weather_full "Casablanca,Morocco" - The weather, but more of it
* "ls" - Colorized directory output
</span>    
<span class="red">Useful Chef/Ohai commands</span><span class="grey">
* "knife cookbook upload -a | chef-client" - Uploads cookbooks and runs chef-client
* "knife cookbook upload cookbook-test" - Upload cookbook cookbook-test
* "chef-client -o cookbook-test::execute_tests - Execute execute_tests recipe from cookbook-test cookbook
</span>    
<span class="red">Useful pytest commands</span><span class="grey">
* "pytest -k test_authentication"  --junit-xml=tpldk_tests.xml" - Execute a single test and output the results to XML
* "pytest -m automated_maintenance_tests  --junit-xml=tpldk_tests.xml" - Execute a group of tests and output the results to XML
* "pytest --markers" - List all markers (groups of tests)
* "pytest -k test_authentication --collect-only" - List all tests that *would* be executed
</span>    
<span class="red">Useful jq commands</span><span class="grey">
* "ohai | jq -C ." - Colorized outout of all collected ohai data
* "ohai | jq -C .cpu" - Colorized outout ohai collected CPU info
* "ohai | jq -C .kernel" - Colorized outout ohai collected kernel info
</span>    
<span class="red">Useful Docker commands</span><span class="grey">
* "docker container ps" - Lists containers and their status
* "docker save --output .\out.tar" - Saves local docker image
* "docker load -i .\out.tar" - Loads local docker image
* "docker container create --name local-dev node:20" - Creates container from image
</span>    
<span class="red">Useful Mercurial commands</span><span class="grey">
* "hg forget "set:hgignore() and not ignored()"" - Updates added files based on .hgignore
</span>    
<span class="red">Useful Chocolatey commands</span><span class="grey">
* "refreshenv" - Refreshs environment variables in CMD/Powershell
</span>    
<span class="red">Useful Powershell commands</span><span class="grey">
* "get-process rimworld*" to get the process id of a running process
* "stop-process -id 1234" - to kill a process
* "get-item $env:pythonpath" - Prints contents of environment variables
* "test-path env:pythonpath" - Check for existence of a environment variable
* "Write-Host $(Get-Date)" - The date
* "(get-command notepad.exe).Path" - Figure out where something is installed..
</span>    
<span class="red">Useful Playwright commands</span><span class="grey">
* "npm init playwright&#64;latest --legacy-peer-deps" - Get Playwright
* "npx playwright test" - Runs the end-to-end tests.
* "npx playwright test --ui" - Opens UI / Interactive Mode
</span>    
<span class="yellow">
______                _  _    ______                _
|  _  \              ( )| |   | ___ \              (_)
| | | |  ___   _ __  |/ | |_  | |_/ /  __ _  _ __   _   ___
| | | | / _ \ | '_ \    | __| |  __/  / _` || '_ \ | | / __|
| |/ / | (_) || | | |   | |_  | |    | (_| || | | || || (__  _
|___/   \___/ |_| |_|    \__| \_|     \__,_||_| |_||_| \___|(_)

                                                    -Douglas Adams

YOU ARE NOT RUNNING AS AN ADMINISTRATOR.
</span><span class="grey">

Good day, sir Jesse!  It is: 05/16/2024 12:48:12
</span>
</pre>
                                </code>
                            </div>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Troubleshooting</mat-panel-title>
                            </mat-expansion-panel-header>
                            <ul>
                                <li>
                                    <dl>
                                        <dt>&lt;SCRIPT.ps1&gt;
                                            is not digitally signed. You cannot run this script on the current
                                            system.
                                        </dt>
                                        <dd><inline-code>set-executionpolicy -executionpolicy
                                                unrestricted</inline-code><br><br>
                                            Options:<br>
                                            <ul class="condensed">
                                                <li>Allow all scripts: Unrestricted (required for $profile) </li>
                                                <li>Allow local scripts and remove signed scripts: RemoteSigned</li>
                                                <li>Allow only signed scripts: AllSigned</li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl>
                                        <dt><inline-code>unblock-file $profile</inline-code>
                                        </dt>
                                        <dd>Run only scripts that you trust. While scripts from the internet can
                                            be useful, this script can potentially harm your
                                            computer. If you trust this script, use the Unblock-File cmdlet to
                                            allow the script to run without this warning
                                            message.
                                        </dd>
                                    </dl>
                                </li>
                            </ul>
                        </mat-expansion-panel>
                    </li>
                </ul>
            </div>
            <div><app-comment></app-comment></div>
        </div>
    </mat-card-content>
</mat-card>