textarea {
  width: 100%;
  font-size: 1.5em;
  background-color: #333;
  color: #fff;
  border: 0;
  padding: 10px 5px;
  height: 40px;
  resize: none;
  margin: 0;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
}

td {
  padding: 5px;
  border: 1px solid #333;
}

.mudgrid {
  display: grid;
  grid-template-areas:
    "title blank status"
    "main main status"
    "main main helpsection"
    "main main helpsection"
    "command command helpsection"
    "usersconnected usersconnected usersconnected";
  grid-template-columns: 400px 1fr 300px;
  grid-template-rows: 20px auto auto auto 60px 30px;
  height: 75vh;
}

#title {
  grid-area: title;
  overflow: auto;
}

#helpsection {
  grid-area: helpsection;
  overflow: auto;
  padding: 1em;
}

#main {
  grid-area: main;
  background-color: black;
  overflow: hidden;
  overflow-y: scroll;
  padding: 1em;
  font-size:large;
  font-family: monospace;
}

#usersconnected {
  grid-area: usersconnected;
  display: block;
  padding-left: inherit;
  text-align: center;
}

#command {
  grid-area: command;
  background-color: #333;
  height: 60px;
  font-size: 2em;
  overflow: hidden;
}

#status {
  grid-area: status;
  border: 2px solid #cccccc;
  background-color: antiquewhite;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: .5em;
  background-color: greenyellow;
  margin: 5px 1em;
  height: 250px;
}

.mud-title{
  background-color: teal;
}

.mud-subtitle{
  background-color: beige;
  padding: 0 5px;
}

#inventory {
  overflow: hidden;
  overflow-y: scroll;
  height: 150px;
}

#inventory ul li {
  width: 45%;
  float: left;
}

.event-message {
  color: #999;
}

.error-message {
  color: red;
}

.time-message {
  color: #999;
  font-size: 0.8em;
}

.info-message {
  color: #999;
}

.input-message {
  color: yellow;
}

.you-attack-message {
  color: fuchsia;
}

.attach1-message {
  color: brown;
}

.attack2-message {
  vertical-align: super;
}

.status-good {
  color: springgreen;
}

.room-message {
  color: cornflowerblue;
}

.status-dicey {
  color: orangered;
}

.status-danger {
  color: crimson;
}

.room-description-message {
  color: antiquewhite;
}

.people1-message {
  color: cornflowerblue;
}

.people2-message {
  color: khaki;
}

/* Monsters: */
.monster1-message{
  color: cornflowerblue;
}

.monster2-message {
  color: tomato;
}

/* You see.. */
.items1-message {
  color: cornflowerblue;
}

.items2-message {
  color: #ffcc00;
}

/* Exits: */
.exits1-message {
  color: cornflowerblue;
}

.exits2-message {
  color: sienna;
}

.color-white {
  color: whitesmoke;
}

.color-blue {
  color: blue;
}
.color-red {
  color: red;
}
.color-puple {
  color: purple;
}
.color-black {
  color: #666;
}
.color-gray {
  color: #333;
}

.welcome-message {
  color: hotpink;
}