textarea {
    width: 90%;
    font-size: 1.5em;
    background-color: #333;
    color: #fff;
    border: 0;
    padding: 10px 5px;
    height: 40px;
    resize: none;
    margin: 0;
}

.mudgrid {
    display: grid;
    grid-template-areas:
    "playername blank status"
    "main main main"
    "command command command"
    "usersconnected usersconnected usersconnected";
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: 75px auto 60px 30px;
    height: 475px;
  }

  #main {
    grid-area: main;
    background-color: black;
    overflow: auto;
  }

  #usersconnected {
    grid-area: usersconnected;
    display: block;
    padding-left: inherit;
    text-align: center;
  }

  #command {
    grid-area: command;
    background-color: #333;
    height: 60px;
  }
  
  #status {
    grid-area: status;
    border: 2px solid #cccccc;
    background-color: antiquewhite;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: .5em;
    background-color: greenyellow;
    margin: 1em;
  }
  
  #playername {
    grid-area: playername;
    padding: .5em;
    margin: 1em;
    background-color: #666;
    border: 1px solid #333;
  }