<div>
    <mat-card class="card">
        <div class="commentgrid">
            <div [ngClass]="{'mudgrid-expanded': panelExpanded === true, 'mudgrid-collapsed' : panelExpanded === false }">
                <div id="title">
                    <mat-expansion-panel [ngClass]="{'title-panel-expanded': panelExpanded === true, 'title-panel-collapsed' : panelExpanded === false }" [expanded]="panelExpanded" (click)="expandPanel()">
                        <mat-expansion-panel-header>
                            <mat-panel-title> <span class="mud-title">NehsaMUD
                                    <span class="mud-subtitle">a rouge-like, text-based MUD
                                    </span>
                                </span>
                            </mat-panel-title>
                            <mat-panel-description>&nbsp;
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-card-content>
                            <div>
                                <div><img class="mapmap" [src]="this.miniMap"/></div>
                            </div>
                        </mat-card-content>
                    </mat-expansion-panel>
                </div>
                <div #scrollMe [scrollTop]="scrollMe.scrollHeight" id="main" [innerHTML]="mudEvents"
                    (click)="refocus(sendcommandarea)">
                </div>
                <div id="status">
                    <div class="statusgrid">
                        <table class="tiny5-regular">
                            <tr>
                                <td>Name</td>
                                <td id="playername">{{this.userService.name}}</td>
                            </tr>
                            <tr>
                                <td>Health</td>
                                <td id="health"><span [innerHTML]="health"></span></td>
                            </tr>
                            <tr>
                                <td>Resting</td>
                                <td><span [innerHTML]="this.resting"></span></td>
                            </tr>
                            <tr>
                                <td id="inv" colspan="2">Inventory<br>
                                    <div id="inventory">
                                        <ul class="condensed">
                                            <li *ngFor="let item of inventory">{{item}}</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>actions</td>
                                <td>
                                    <button class="action" *ngIf="this.mapImageAvailable === true"
                                        (click)="launchMap()"><mat-icon>map</mat-icon></button>
                                    <button class="action" *ngIf="this.roomImageAvailable === true"
                                        (click)="launchImage()"><mat-icon>search</mat-icon></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="helpsection">
                    <h4>
                        A text-based multi-user dungeon. HUZZAH!</h4>
                    <dl class="condensed">
                        <dt>Get Help</dt>
                        <dd>help</dd>
                        <dt>Attack a monster (or player):</dt>
                        <dd>a (for attack):<br>
                            a zombie &lt;ENTER&gt;: attack a zombie</dd>
                        <dt>Get help on a command</dt>
                        <dd>help &lt;COMMAND&gt;</dd>
                        <dt>See who's online</dt>
                        <dd>who</dd>
                        <dt>Speak something to the room:</dt>
                        <dd>/say &lt;message&gt;</dd>
                        <dt>Change your username:</dt>
                        <dd>system name &lt;desired username&gt;</dd>
                        <dt>Navigate the world</dt>
                        <dd>
                            Type a direction and then press &lt;ENTER&gt;<br>N, S, E, W, SW, NE, SE, SW, U,
                            D<br>
                        </dd>
                        <dt>Look into an adjacent room</dt>
                        <dd>L (for look):<br>
                            l n &lt;ENTER&gt;: look north
                        </dd>
                        <dt>Pick up something</dt>
                        <dd>g (for get):<br>
                            g stick &lt;ENTER&gt;: pick up stick
                        </dd>
                        <dt>Character Statistics:</dt>
                        <dd>stat</dd>
                        <dt>Display your experience:</dt>
                        <dd>exp</dd>
                    </dl>
                </div>
                <div id="command">
                    <textarea #sendcommandarea (keydown)="sendCommand($event)" [(ngModel)]="command"
                        placeholder="Type a command here and press &lt;ENTER&gt;"></textarea>
                </div>
                <div id="aiimage">image</div>
                <div id="usersconnected">{{usersConnected}} users online.</div>
            </div>
        </div>
        <div><app-comment></app-comment></div>
    </mat-card>
</div>