<div>
    <mat-card class="card">
        <div class="commentgrid">
            <div
                [ngClass]="{'mudgrid-fullscreen': isFullscreen, 'mudgrid-expanded': panelExpanded === true, 'mudgrid-collapsed' : panelExpanded === false }">
                <div id="title">
                    <mat-expansion-panel disabled="true" [expanded]="panelExpanded" hideToggle
                        [ngClass]="{'title-panel-expanded': panelExpanded === true, 'title-panel-collapsed' : panelExpanded === false }">
                        <mat-expansion-panel-header>
                            <mat-panel-title> <span class="mud-title">NehsaMUD</span>
                                <span class="mud-subtitle">a rouge-like, text-based MUD</span>
                            </mat-panel-title>
                            <mat-panel-description>
                                <div class="panel-description-grid">
                                    <div>&nbsp;
                                    </div>
                                    <div>
                                        <mat-icon class="title-btns" (click)="fullscreen()">fullscreen</mat-icon>
                                        <mat-icon class="title-btns" (click)="expandPanel()">expand</mat-icon>
                                    </div>
                                </div>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="mud-sub-title-actions-grid">
                            <div><span *ngIf="world_name != ''">Welcome to
                                    {{world_name}}!
                                </span></div>
                            <div><img class="minimap" [src]="this.miniMap" /></div>
                        </div>
                    </mat-expansion-panel>
                </div>
                <div #scrollMe [scrollTop]="scrollMe.scrollHeight" id="main" [innerHTML]="mudEvents"
                    (click)="refocus(sendcommandarea)">
                </div>
                <div id="status">
                    <div class="statusgrid">
                        <table class="tiny5-regular">
                            <tr>
                                <td>Name</td>
                                <td colspan="2" id="playername">{{this.userService.name}}</td>
                            </tr>
                            <tr>
                                <td>Health</td>
                                <td colspan="2" id="health"><span [innerHTML]="health"></span></td>
                            </tr>
                            <tr>
                                <td>Statuses</td>
                                <td style="width: 50%;">Resting</td>
                                <td style="width: 50%;"><span [innerHTML]="this.resting"></span></td>
                            </tr>
                            <tr>
                                <td id="inv" colspan="3">Inventory<br>
                                    <div id="inventory">
                                        <ul class="condensed">
                                            <li *ngFor="let item of inventory" [innerHtml]="item"></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>actions</td>
                                <td colspan="2">
                                    <button class="action" *ngIf="this.mapImageAvailable === true"
                                        (click)="launchMap()"><mat-icon>map</mat-icon></button>
                                    <button class="action" *ngIf="this.mapImageAvailable === true"
                                        (click)="startRest()"><mat-icon>rest</mat-icon></button>
                                    <button class="action" *ngIf="this.mapImageAvailable === true"
                                        (click)="getHelp()"><mat-icon>help</mat-icon></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="helpsection">
                    <h4>
                        A text-based multi-user dungeon. HUZZAH!</h4>
                    <dl class="condensed">
                        <dt>Get Help</dt>
                        <dd>help</dd>
                        <dt>Attack a monster (or player):</dt>
                        <dd>a (for attack):<br>
                            a zombie &lt;ENTER&gt;: attack a zombie</dd>
                        <dt>Get help on a command</dt>
                        <dd>help &lt;COMMAND&gt;</dd>
                        <dt>See who's online</dt>
                        <dd>who</dd>
                        <dt>Speak something to the room:</dt>
                        <dd>/say &lt;message&gt;</dd>
                        <dt>Change your username:</dt>
                        <dd>system name &lt;desired username&gt;</dd>
                        <dt>Navigate the world</dt>
                        <dd>
                            Type a direction and then press &lt;ENTER&gt;<br>N, S, E, W, SW, NE, SE, SW, U,
                            D<br>
                        </dd>
                        <dt>Look into an adjacent room</dt>
                        <dd>L (for look):<br>
                            l n &lt;ENTER&gt;: look north
                        </dd>
                        <dt>Pick up something</dt>
                        <dd>g (for get):<br>
                            g stick &lt;ENTER&gt;: pick up stick
                        </dd>
                        <dt>Character Statistics:</dt>
                        <dd>stat</dd>
                        <dt>Display your experience:</dt>
                        <dd>exp</dd>
                    </dl>
                </div>
                <div id="command">
                    <input type="text" class="command-input" #sendcommandarea (keydown)="sendCommand($event)"
                        [(ngModel)]="command"
                        placeholder="Type a command here and press &lt;ENTER&gt;.  (e.g. /say Hi!&lt;ENTER&gt; to say hello)" />
                </div>
                <div id="aiimage">
                    <div *ngIf="this.roomImageName !=''">
                        <button class="aiimage-btn" *ngIf="this.roomImageAvailable === true"
                            (click)="launchImage()"><img class="aiimage" [src]="this.roomImageName"></button>
                    </div>
                </div>
                <div id="usersconnected">{{usersConnected}} users online.</div>
            </div>
        </div>
        <div><app-comment></app-comment></div>
    </mat-card>
</div>