<div>
    <mat-card class="card">
        <div class="commentgrid">
            <div class="mudgrid">
                <div id="title">
                    <span class="title_span">NehsaMUD
                        <span class="subtitle">a rouge-like, text-based MUD
                        </span>
                    </span>
                </div>
                <div #scrollMe [scrollTop]="scrollMe.scrollHeight" id="main" [innerHTML]="mudEvents"></div>
                <div id="status">
                    <div class="statusgrid">
                        <table>
                            <tr>
                                <td>Name</td>
                                <td id="playername">{{playerName}}</td>
                            </tr>
                            <tr>
                                <td>Health</td>
                                <td id="health"><span [innerHTML]="health"></span></td>
                            </tr>
                            <tr>
                                <td>Inventory</td>
                                <td id="inv"><li *ngFor="let item of inventory"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="command">
                    <textarea (keydown)="sendCommand($event)" [(ngModel)]="command"
                        placeholder="Submit a command..."></textarea>
                </div>
                <div id="usersconnected">{{usersConnected}} users online.</div>
            </div>
        </div>
        <div><app-comment></app-comment></div>
    </mat-card>
</div>