.navbar {
    max-height: 785px;
    overflow: auto;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-links li:not(:first-child) {
    border-top: 1px solid black;
}

.navbar-links li {
    text-align: center;
    padding: 1em;
}

.navbar-links li:hover {
    background-color: plum;
    cursor: pointer;
}

.navbar-links a:hover {
    background-color: plum;
    cursor: pointer;
}
