<mat-card class="card" [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()">
    <mat-card-header>
        <mat-card-title>
            <h1 data-testid="header-title">Custom HTML Elements</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="commentgrid">
            <div class="topics">
                <div>
                    <div class="blog-date">August 29th, 2024</div>
                    <div class="blog-author">Jesse Stone</div>
                    <div class="blog-body">
                        <p>
                        Although I see the allure of CSS frameworks, which focus on atomic, utility classes, you add
                        them as needed to an element to change its styling. For example, in TailWind CSS, you add the
                        "items-center" class to its parent if you wish to center an element.
                        </p>

                        <p>
                        This approach does have some limitations. For example, it's straightforward to end up with
                        inconsistent styling because you've left one of many classes of an element.
                        </p>

                        <p>
                        Leveraging semantic and custom
                        HTML elements where possible is a superior strategy. This approach offers reusable components
                        with consistent styling, enhancing the overall user experience.
                        </p>

                        For example, instead of: <inline-code>&lt;span class="code"&gt;CODE&lt;/span&gt;</inline-code>
                        

                        I would create: <inline-code>&lt;inline-code&gt;CODE&lt;/inline-code&gt;</inline-code><br><br>

                        This gives me two classes:<br>
                        &lt;code&gt; - For multiline code blocks which I want to start on a new line
                        &lt;inline-code&gt; - For small code snippets that I wish to be on the same line<br><br>

                        Some frameworks, such as Angular, will not allow custom elements by default. To use them, do the following:
                        <ul>
                            <li>Add</li>
                        </ul>

                        e.g.
                        <code>
<pre>
    &#64;Component(&#123;
    selector: 'app-angular',
    standalone: true,
    imports: [MatCardModule, CommentComponent, MatExpansionModule, MatIcon, RouterLink, CopyComponent],
    schemas: [CUSTOM_ELEMENTS_SCHEMA], <span class="comment">// <mat-icon>arrow_back</mat-icon> Add this line</span>
    templateUrl: './angular.component.html',
    styleUrl: './angular.component.scss'
    &#125;)
</pre>
                        </code>
                    </div>
                </div>
            </div>
            <div><app-comment></app-comment></div>
        </div>
    </mat-card-content>
</mat-card>