<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <h1 data-testid="header-title">SQL</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="topics">
                <div>
                    <h3>Coding Conventions</h3>
                    <ul>
                        <li>TODO</li>
                    </ul>
                </div>

                <div>
                    <h2>SQL Questions</h2>
                    <ul>
                        <li>What is a UNION?
                            <div class="answer">Used to combine the result-set of two or more SELECT statements</div>
                        </li>
                    </ul>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>