<div class="gridrows">
    <div class="title">
    </div>
    <div class="gridbody">
        <div>
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title>Jesse Stone</mat-card-title>
                    <mat-card-subtitle>Student, Developer, Test Engineer, Engineering Management, Good person</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image width="800" src="assets/images/me.jpg"
                    alt="Photo of a Jesse Stone and dog Roswaal (Roz)">
                <mat-card-content>
                    <div class="biowrapper">
                        <div class="bio">
                            I'm a student again!  I'm enrolled at <a href="https://oregonstate.edu/">OSU</a> pursuing a B.S. in Computer Science!<br><br>
                            "Never done learning" sums me up best. I am always eager to educate myself and hone my
                            ability to
                            manage, develop, and test high quality code.<br>More about me here: <a target="_blank"
                                mat-button href="https://www.linkedin.com/in/jessestone/">LinkedIn Profile</a>
                            <br><br>
                            Also, I have the <span style="font-style: italic; font-weight: 500;">bestest</span> dog Roz.
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div style="text-align: center;">Be kind.</div>
</div>