<mat-card [class.card-dark]="userService.appIsDark()" [class.card-light]="!userService.appIsDark()">
    <mat-card-header>
        <mat-card-title>
            <h1 data-testid="header-title">C#!</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="commentgrid topics">
            <div><app-related-content></app-related-content></div>
            <div>
                <div>
                    <ul>
                        <li>
                            <mat-expansion-panel expanded>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Overview and Definitions of Common C#/.NET
                                        Features</mat-panel-title>
                                </mat-expansion-panel-header>
                                <dl>
                                    <dt>Why <acronym-name>c#</acronym-name>?</dt>
                                    <dd>C# continues to evolve but the language is very mature and has good
                                        community
                                        support</dd>
                                    <dt>What is the <acronym-name>CLR</acronym-name>?</dt>
                                    <dd>The <acronym-name>Common Languange Runtime<acronym-abbr>CLR</acronym-abbr></acronym-name> is a virtual machine component of the .NET Framework and .NET Core that
                                        executes managed code. The CLR handles memory management, garbage collection,
                                        and type safety tasks.</dd>
                                    <dt>What is <acronym-name>managed</acronym-name> vs.
                                        <acronym-name>unmanaged</acronym-name> code?
                                    </dt>
                                    <dd>Code that executes under the control of
                                        the
                                        runtime
                                        is called managed code. Conversely, code that runs outside the runtime is called
                                        unmanaged
                                        code. COM components, ActiveX interfaces, and Windows API functions are examples
                                        of
                                        unmanaged code.</dd>
                                    <dt>What is <acronym-name>idempotency</acronym-name> in REST?</dt>
                                    <dd>Idempotency /īdem'pōt(ə)nt/ means that sending
                                        the
                                        same
                                        request multiple
                                        times will produce the same result, without changing the state of the server or
                                        the
                                        resource.</dd>
                                    <dt><acronym-name>Entity Framework</acronym-name></dt>
                                    <dd>Entity Framework is an object-relational mapper that enables .NET developers
                                        to work with relational data using domain-specific objects. It eliminates
                                        the need for most of the data-access code that developers usually need to
                                        write: <a routerLink="/entity">Entity Framework</a></dd>
                                    <dt><acronym-name>Language Integrated
                                            Query<acronym-abbr>linq</acronym-abbr></acronym-name></dt>
                                    <dd>linq is a Microsoft .NET Framework component that
                                        adds native data querying capabilities to .NET languages. It allows you to query
                                        data from a variety of data sources, including SQL databases, XML, collections,
                                        and more.</dd>
                                </dl>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Coding Conventions</mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul>
                                    <li>Use PascalCasing for class names and method names.</li>
                                    <li>Use camelCasing for method arguments and local variables.</li>
                                    <li>Do not use Hungarian notation.</li>
                                    <li>Use <span class="important">var</span> when the type is obvious from the
                                        right side of
                                        the assignment.</li>
                                    <li>Use <span class="important">const</span> for fields that are initialized
                                        once and never
                                        change.</li>
                                    <li>Use <span class="important">static</span> for methods that do not access
                                        instance data.
                                    </li>
                                    <li>Use <span class="important">this</span> for instance fields and methods.
                                    </li>
                                    <li>Use <span class="important">string.Empty</span> instead of <span
                                            class="important">""</span>.</li>
                                    <li>
                                        Use <span class="important">string.IsNullOrWhiteSpace(&lt;STRING&gt;)</span>
                                        instead of <span class="important">string.IsNullOrEmpty(&lt;STRING&gt;)</span>
                                        instead of <span class="important">&lt;STRING&gt; == null || &lt;STRING&gt; ==
                                            ""</span>: In addition to checking for null values and empty,
                                        IsNullOrWhiteSpace also checks for strings that only contain whitespace
                                        characters (like spaces, tabs, newlines).</li>
                                    <li>Use reverse() instead of OrderByDescending() when sorting a list unless a key
                                        needs to be specified (i.e. OrderByDescending(x => x.Key)). Reverse() will never
                                        be slower and could be faster.</li>
                                </ul>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Coding Comments</mat-panel-title>
                                </mat-expansion-panel-header>
                                <code>
    <pre>
/// &lt;summary&gt;
/// Method &lt;c&gt;UserAssignment&lt;/c&gt; assigns a user to a role.
/// &lt;/summary&gt;
    </pre>
</code><br><br>

                                Optional tags which can be placed inside the <inline-code>&lt;summary&gt;</inline-code>
                                tag:
                                <dl>
                                    <dt>&lt;remarks&gt;</dt>
                                    <dd>Additional information about a type or member</dd>
                                    <dt>&lt;example&gt;</dt>
                                    <dd>Provides an example of how to use a type or member</dd>
                                    <dt>&lt;see&gt;</dt>
                                    <dd>Provides a reference to another type or member</dd>
                                    <dt>&lt;seealso&gt;</dt>
                                    <dd>Provides a reference to another type or member</dd>
                                    <dt>&lt;c&gt; / &lt;code&gt;</dt>
                                    <dd>Code Snippet</dd>
                                    <dt>&lt;exception&gt;</dt>
                                    <dd>Exception information. e.g. <inline-code>&lt;exception
                                            cref="System.ArgumentNullException"&gt;Thrown when the user is
                                            null&lt;/exception&gt;
                                        </inline-code></dd>
                                    <dt>&lt;param&gt;</dt>
                                    <dd>Parameter information. e.g. <inline-code>&lt;param
                                            name="user"&gt;The user&lt;/param&gt;</inline-code></dd>
                                    <dt>&lt;returns&gt;</dt>
                                    <dd>Return information. e.g. <inline-code>&lt;returns&gt;The
                                            user&lt;/returns&gt;</inline-code></dd>
                                </dl>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Accessors</mat-panel-title>
                                </mat-expansion-panel-header>
                                <code>
                                    <pre>
public class Person
&#123;
    private string _name;

    public string Name
    &#123;
        get &#123; return _name; &#125;
        set &#123; _name = value; &#125;
    &#125;
&#125;
    </pre>
                                </code>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Interfaces</mat-panel-title>
                                    <mat-panel-description>A contract that other people's code must
                                        meet</mat-panel-description>
                                </mat-expansion-panel-header>
                                <dl>
                                    <dt>What is an interface and how is it used?</dt>
                                    <dd>Interfaces are a good way of
                                        specifying
                                        a
                                        contract that other people's code must meet. The main point is that interfaces
                                        is a
                                        layer of
                                        abstraction between code and unnecessary details.</dd>
                                </dl>
                                <div class="topics">
                                    <ul>
                                        <li>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>An example of a built-in
                                                        interface</mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <div>
                                                    An example of a built-in interface is <span
                                                        class="importantish">IEnumerable</span>.
                                                    This interface defines a contract for objects that can
                                                    be enumerated over, meaning you
                                                    can iterate through their elements.<br><br>
                                                    Example:<br>
                                                    <code>
                                                        <pre>
// Create a list of integers
List&lt;int&gt; numbers = new List&lt;int&gt; &#123; 1, 2, 3, 4, 5 &#125;;

// Iterate over the list using foreach, which implicitly uses IEnumerable
foreach (int number in numbers)
&#123;
    Console.WriteLine(number);
&#125;
</pre>
                                                    </code>

                                                    The definition of the class &quot;List&quot; is below and you can
                                                    see
                                                    how it
                                                    inherits IEnumerable enabling this:<br>
                                                    <code>
                                                        <pre>
public class List&lt;T&gt; : ICollection&lt;T&gt;, IEnumerable&lt;T&gt;, IEnumerable, IList&lt;T&gt;, IReadOnlyCollection&lt;T&gt;, IReadOnlyList&lt;T&gt;, ICollection, IList
&#123;
    ...
&#125;
</pre>
                                                    </code>
                                                </div>
                                            </mat-expansion-panel>
                                        </li>
                                        <li>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>A class interface looks like this</mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <code>
                                                    <pre>
namespace scratch
&#123;

    public interface IFruit <span class="comment"><mat-icon>arrow_back</mat-icon> The contract</span>
    &#123;
        string Name &#123; get; set; &#125;
        int Calories &#123; get; set; &#125;
        bool IsPeelable &#123; get; set; &#125;

        void Eat();
        void Peel();
        void Throw();
    &#125;

    public class Pumpkin : IFruit <span class="comment"><mat-icon>arrow_back</mat-icon> The implementation</span>
    &#123;
        private string _name = "Pumpkin";
        private bool _isPeelable = true;
        public string Name &#123; get; set; &#125;
        public int Calories &#123; get; set; &#125;
        public bool IsPeelable &#123; get; set; &#125;

        public Pumpkin()
        &#123;
            Name = _name;
            IsPeelable = _isPeelable;
        &#125;

        public void Eat()
        &#123;
            Console.WriteLine($"You eat a &#123;Name&#125;");
        &#125;
        public void Peel()
        &#123;
            if (IsPeelable)
            &#123;
                Console.WriteLine($"You peel a &#123;Name&#125;");
            &#125;
            else
            &#123;
                Console.WriteLine($"You can't peel a &#123;Name&#125;");
            &#125;
        &#125;

        public void Throw()
        &#123;
            Console.WriteLine($"You throw a &#123;Name&#125;");
        &#125;
    &#125;

    public class Strawberry : IFruit
    &#123;
        private string _name = "Strawberry";
        private bool _isPeelable = false;
        public string Name &#123; get; set; &#125;
        public int Calories &#123; get; set; &#125;
        public bool IsPeelable &#123; get; set; &#125;

        public Strawberry()
        &#123;
            Name = _name;
            IsPeelable = _isPeelable;
        &#125;

        public void Eat()
        &#123;
            Console.WriteLine($"You eat a &#123;Name&#125;");
        &#125;

            public void Peel()
        &#123;
            if (IsPeelable)
            &#123;
                Console.WriteLine($"You peel a &#123;Name&#125;");
            &#125;
            else
            &#123;
                Console.WriteLine($"You can't peel a &#123;Name&#125;");
            &#125;
        &#125;

        public void Throw()
        &#123;
            Console.WriteLine($"You throw a &#123;Name&#125;");
        &#125;
    &#125;
    public class Program <span class="comment"><mat-icon>arrow_back</mat-icon> The consumer</span>
    &#123;
        public static void Main()
        &#123;
            Pumpkin pumpkin = new();
            Strawberry strawberry = new();

            pumpkin.Eat();
            pumpkin.Peel();
            pumpkin.Throw();

            strawberry.Eat();
            strawberry.Peel();
            strawberry.Throw();
        &#125;
    &#125;
&#125;    
</pre>
                                                </code><br>
                                                Running this produces the correct result:<br>
                                                <code>
                                                    <pre>
PS C:\src\scratch> .\scratch.exe
You eat a Pumpkin
You peel a Pumpkin
You throw a Pumpkin
You eat a Strawberry
You can't peel a Strawberry
You throw a Strawberry
</pre>
                                                </code>
                                            </mat-expansion-panel>
                                        </li>
                                        <li>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>Enforcement</mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <div>
                                                    The classes Pumpkin and Strawberry adhere to the contract defined in
                                                    the
                                                    interface IFruit. This means that they must implement the properties
                                                    and
                                                    methods defined in the interface.<br><br>Orange does not:<br>
                                                    <div class="code error">
                                                        <pre>
public class Orange : IFruit &#123;
    public Orange() &#123;
        
    &#125;
&#125;
</pre>
                                                    </div>
                                                    Produces the error:<br>
                                                    <code>
                                                        <pre>
C:\src\scratch\Scratch\Program.cs(88,27): error CS0535: 'Orange' does not implement interface member 'IFruit.Name' [C:\src\scratch\Scratch\scratch.csproj]
C:\src\scratch\Scratch\Program.cs(88,27): error CS0535: 'Orange' does not implement interface member 'IFruit.Calories' [C:\src\scratch\Scratch\scratch.csproj]
C:\src\scratch\Scratch\Program.cs(88,27): error CS0535: 'Orange' does not implement interface member 'IFruit.IsPeelable' [C:\src\scratch\Scratch\scratch.csproj]
C:\src\scratch\Scratch\Program.cs(88,27): error CS0535: 'Orange' does not implement interface member 'IFruit.Eat()' [C:\src\scratch\Scratch\scratch.csproj]
C:\src\scratch\Scratch\Program.cs(88,27): error CS0535: 'Orange' does not implement interface member 'IFruit.Peel()' [C:\src\scratch\Scratch\scratch.csproj]
C:\src\scratch\Scratch\Program.cs(88,27): error CS0535: 'Orange' does not implement interface member 'IFruit.Throw()' [C:\src\scratch\Scratch\scratch.csproj]
</pre>
                                                    </code>
                                                </div>
                                            </mat-expansion-panel>
                                        </li>
                                    </ul>
                                </div>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Abstract Modifiers</mat-panel-title>
                                    <mat-panel-description>Sealed, Abstract, Virtual, Override</mat-panel-description>
                                </mat-expansion-panel-header>Abstract classes are classes that cannot be
                                instantiated directly but can contain shared code.<br>
                                <dl>
                                    <dt>sealed</dt>
                                    <dd>Sealed classes cannot be inherited.</dd>
                                    <dt>abstract</dt>
                                    <dd>Abstract classes cannot be instantiated directly but can contain shared
                                        code.</dd>
                                    <dt>virtual</dt>
                                    <dd>Virtual methods can be overridden in derived classes.</dd>
                                    <dt>override</dt>
                                    <dd>Override is used to provide a new implementation of a method in a derived
                                        class.</dd>
                                </dl>
                                <div>
                                    Notice that in the interface example, we still have duplicate code in the "Peel"
                                    methods; it's not great. We cannot fix this in the interface directly since
                                    interfaces
                                    cannot ONLY define a contract, not the implementation details. Instead, we could use
                                    an
                                    abstract class as well for shared code:
                                    <code>
                                        <pre>
namespace scratch
&#123;

    public interface IFruit
    &#123;
        string Name &#123; get; set; &#125;
        int Calories &#123; get; set; &#125;
        bool IsPeelable &#123; get; set; &#125;

        void Eat();        
        void Peel(); <span class="comment"><mat-icon>arrow_back</mat-icon> This is the method we want to share</span>
        void Throw();
    &#125;

    public abstract class Fruit : IFruit <span class="comment"><mat-icon>arrow_back</mat-icon> An abstract class where we can have shared implementation code</span>
    &#123;

    public abstract void Peel(); <span class="comment"><mat-icon>arrow_back</mat-icon> This is the method we want to share</span>

    protected static void PeelInternal(bool isPeelable, string name) <span class="comment"><mat-icon>arrow_back</mat-icon> The shared code</span>
    &#123;
        if (isPeelable)
        &#123;
            Console.WriteLine($"You peel a &#123;name&#125;.");
        &#125;
        else
        &#123;
            Console.WriteLine($"You cannot peel a &#123;name&#125;!");
        &#125;
    &#125;
    &#125;

    public class Pumpkin : Fruit, IFruit
    &#123;
        private string _name = "Pumpkin";
        private bool _isPeelable = true;
        public string Name &#123; get; set; &#125;
        public int Calories &#123; get; set; &#125;
        public bool IsPeelable &#123; get; set; &#125;

        public Pumpkin()
        &#123;
            Name = _name;
            IsPeelable = _isPeelable;
        &#125;

        public void Eat()
        &#123;
            Console.WriteLine($"You eat a &#123;Name&#125;");
        &#125;

        public override void Peel() <span class="comment"><mat-icon>arrow_back</mat-icon> Override the peel method so we can pass extra parameters</span>
        &#123;
            PeelInternal(_isPeelable, _name);
        &#125;

        public void Throw()
        &#123;
            Console.WriteLine($"You throw a &#123;Name&#125;");
        &#125;
    &#125;

    public class Strawberry : Fruit, IFruit
    &#123;
        private string _name = "Strawberry";
        private bool _isPeelable = false;
        public string Name &#123; get; set; &#125;
        public int Calories &#123; get; set; &#125;
        public bool IsPeelable &#123; get; set; &#125;

        public Strawberry()
        &#123;
            Name = _name;
            IsPeelable = _isPeelable;
        &#125;

        public void Eat()
        &#123;
            Console.WriteLine($"You eat a &#123;Name&#125;");
        &#125;

        public override void Peel() <span class="comment"><mat-icon>arrow_back</mat-icon> Override the peel method so we can pass extra parameters</span>
        &#123;
            PeelInternal(_isPeelable, _name);
        &#125;

        public void Throw()
        &#123;
            Console.WriteLine($"You throw a &#123;Name&#125;");
        &#125;
    &#125;

    public class Program
    &#123;
        public static void Main()
        &#123;
            Pumpkin pumpkin = new();
            Strawberry strawberry = new();

            pumpkin.Eat();
            pumpkin.Peel();
            pumpkin.Throw();

            strawberry.Eat();
            strawberry.Peel();
            strawberry.Throw();
        &#125;
    &#125;
&#125;    
</pre>
                                    </code>
                                </div>
                                <span class="importantish">Sexy code..</span>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Access Modifiers</mat-panel-title>
                                </mat-expansion-panel-header>
                                All types and type members have an accessibility level. The
                                accessibility level controls whether they can be used from other code in your
                                assembly
                                or other assemblies.
                                <table>
                                    <tr>
                                        <th>Caller's location</th>
                                        <th>public</th>
                                        <th>protected internal</th>
                                        <th>protected</th>
                                        <th>internal</th>
                                        <th>protected private</th>
                                        <th>private</th>
                                        <th>file</th>
                                    </tr>
                                    <tr>
                                        <td>Within the file</td>
                                        <td><mat-icon>check</mat-icon></td>
                                        <td><mat-icon>check</mat-icon></td>
                                        <td><mat-icon>check</mat-icon></td>
                                        <td><mat-icon>check</mat-icon></td>
                                        <td><mat-icon>check</mat-icon></td>
                                        <td><mat-icon>check</mat-icon></td>
                                        <td><mat-icon>check</mat-icon></td>
                                    </tr>
                                    <tr>
                                        <td>Within the class</td>
                                        <td><mat-icon>check</mat-icon></td>
                                        <td><mat-icon>check</mat-icon></td>
                                        <td><mat-icon>check</mat-icon></td>
                                        <td><mat-icon>check</mat-icon></td>
                                        <td><mat-icon>check</mat-icon></td>
                                        <td><mat-icon>check</mat-icon></td>
                                        <td><mat-icon>cancel</mat-icon></td>
                                    </tr>
                                    <tr>
                                        <td>Derived class (same assembly)</td>
                                        <td><mat-icon>check</mat-icon></td>
                                        <td><mat-icon>check</mat-icon></td>
                                        <td><mat-icon>check</mat-icon></td>
                                        <td><mat-icon>check</mat-icon></td>
                                        <td><mat-icon>check</mat-icon></td>
                                        <td><mat-icon>cancel</mat-icon></td>
                                        <td><mat-icon>cancel</mat-icon></td>
                                    </tr>
                                    <tr>
                                        <td>Non-derived class (same assembly)</td>
                                        <td><mat-icon>check</mat-icon></td>
                                        <td><mat-icon>check</mat-icon></td>
                                        <td><mat-icon>cancel</mat-icon></td>
                                        <td><mat-icon>check</mat-icon></td>
                                        <td><mat-icon>cancel</mat-icon></td>
                                        <td><mat-icon>cancel</mat-icon></td>
                                        <td><mat-icon>cancel</mat-icon></td>
                                    </tr>
                                    <tr>
                                        <td>Derived class (different assembly)</td>
                                        <td><mat-icon>check</mat-icon></td>
                                        <td><mat-icon>check</mat-icon></td>
                                        <td><mat-icon>check</mat-icon></td>
                                        <td><mat-icon>cancel</mat-icon></td>
                                        <td><mat-icon>cancel</mat-icon></td>
                                        <td><mat-icon>cancel</mat-icon></td>
                                        <td><mat-icon>cancel</mat-icon></td>
                                    </tr>
                                    <tr>
                                        <td>Non-derived class (different assembly)</td>
                                        <td><mat-icon>check</mat-icon></td>
                                        <td><mat-icon>cancel</mat-icon></td>
                                        <td><mat-icon>cancel</mat-icon></td>
                                        <td><mat-icon>cancel</mat-icon></td>
                                        <td><mat-icon>cancel</mat-icon></td>
                                        <td><mat-icon>cancel</mat-icon></td>
                                        <td><mat-icon>cancel</mat-icon></td>
                                    </tr>
                                </table>
                                <dl>
                                    <dt>Derived class</dt>
                                    <dd>When using inheritance, the inherited class is called the base class, and
                                        the
                                        inheriting class is called the derived class.</dd>
                                    <dt>assembly</dt>
                                    <dd>An assembly is a .dll or .exe created by compiling one or more .cs
                                        files in a single compilation.</dd>
                                </dl>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Nuget</mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul>
                                    <li>Forcefully reinstall a package (for example, if you need to get
                                        <span class="file">system.web.http.dll</span>):<br>
                                        From within VS Package Manager Console:
                                        <span class="code">update-package -reinstall
                                            Microsoft.AspNet.WebApi.Core</span>
                                    </li>
                                    <li>Get latest version of Nuget.exe: <span class="code">./nuget.exe
                                            update -self</span></li>
                                    <li>You get a message like this: "This project references NuGet
                                        package(s) that are missing
                                        on this computer."<br>
                                        <span class="code">./nuget.exe restore &lt;SOLUTION&gt;.sln</span>
                                    </li>
                                </ul>
                            </mat-expansion-panel>
                        </li>
                    </ul>
                    <div>.NET Core-Specific
                        <ul>
                            <li>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>Installation</mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <ol>
                                        <li>Download <a hresf="https://dotnet.microsoft.com/">.NET Core SDK</a></li>
                                        <li>Install it</li>
                                    </ol>
                                </mat-expansion-panel>
                            </li>
                            <li>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>Create new C# project</mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <span class="code">dotnet new console -o Scratch</span> <span class="comment">
                                        Specific configurations can be specified: i.e. web, mvc</span>
                                    <br>Creates a new console app in a folder called Scratch with a csproj file of:
                                    <code>
                                        <pre>
&lt;Project Sdk="Microsoft.NET.Sdk"&gt;
    &lt;PropertyGroup&gt;
        &lt;OutputType&gt;Exe&lt;/OutputType&gt;
        &lt;TargetFramework&gt;net8.0&lt;/TargetFramework&gt;
        &lt;ImplicitUsings&gt;enable&lt;/ImplicitUsings&gt;
        &lt;Nullable&gt;enable&lt;/Nullable&gt;
    &lt;/PropertyGroup&gt;
&lt;/Project&gt;                                              
</pre>
                                    </code>
                                </mat-expansion-panel>
                            </li>
                            <li>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>Working with JSON</mat-panel-title>
                                    </mat-expansion-panel-header>
                                    Since version 3.0.0, ASP.NET Core introduces a new serializer System.Text.Json (STJ)
                                    out-of-the-box to replace Newtonsoft
                                    <br>e.g.
                                    <code>string serializedObject = JsonSerializer.Serialize(x);</code>
                                    <br>Vs.<br>
                                    <code>string serializedObject = JsonConvert.SerializeObject(x);</code>
                                </mat-expansion-panel>
                            </li>
                            <li>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>readonly vs const</mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <dl>
                                        <dt>readonly</dt>
                                        <dd>Use read-only for values that need to be determined at runtime or for more
                                            complex objects that should be immutable after creation. It is common
                                            practice
                                            to set this in the constructor.</dd>
                                        <dt>const</dt>
                                        <dd>For values that are known at compile time and will never change, such as
                                            mathematical constants or configuration values.</dd>
                                    </dl>
                                </mat-expansion-panel>
                            </li>
                            <li>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>Change API Port</mat-panel-title>
                                    </mat-expansion-panel-header>
                                    The port can be changed in properties\launchsettings.json
                                    <code>
                                        <pre>
&#123;
    "$schema": "http://json.schemastore.org/launchsettings.json",
    "iisSettings": &#123;
        "windowsAuthentication": false,
        "anonymousAuthentication": true,
        "iisExpress": &#123;
            "applicationUrl": "http://localhost:9919",
            "sslPort": 44337
        &#125;
    &#125;,
    "profiles": &#123;
    &#125;,
    "https": &#123;
        "commandName": "Project",
        "dotnetRunMessages": true,
        "launchBrowser": true,
        "launchUrl": "swagger",
        "applicationUrl": "https://&lt;HOST&gt;:443",
        "environmentVariables": &#123;
            "ASPNETCORE_ENVIRONMENT": "Development"
        &#125;
    &#125;,
    "IIS Express": &#123;
        "commandName": "IISExpress",
        "launchBrowser": true,
        "launchUrl": "swagger",
        "environmentVariables": &#123;
            "ASPNETCORE_ENVIRONMENT": "Development"
        &#125;
    &#125;
&#125;                                      
</pre>
                                    </code>
                                </mat-expansion-panel>
                            </li>
                            <li>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>Compiling Source</mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <ol>
                                        <li>Create <span class="file">.vscode\tasks.json</span>
                                            <code>
                                                <pre>
&#123;
    "version": "2.0.0",
    "tasks": [
        &#123;
            "label": "build",
            "command": "dotnet",
            "type": "process",
            "args": [
            "build",
            "$&#123;workspaceFolder&#125;/nehsanet-app.csproj",
            "/property:GenerateFullPaths=true",
            "/consoleloggerparameters:NoSummary"
            ],
            "problemMatcher": "$msCompile"
        &#125;,
        &#123;
            "label": "publish",
            "command": "dotnet",
            "type": "process",
            "args": [
            "publish",
            "$&#123;workspaceFolder&#125;/nehsanet-app.csproj",
            "/property:GenerateFullPaths=true",
            "/consoleloggerparameters:NoSummary"
            ],
            "problemMatcher": "$msCompile"
        &#125;,
        &#123;
            "label": "watch",
            "command": "dotnet",
            "type": "process",
            "args": [
                "watch",
                "run",
                "$&#123;workspaceFolder&#125;/nehsanet-app.csproj",
                "/property:GenerateFullPaths=true",
                "/consoleloggerparameters:NoSummary"
            ],
            "problemMatcher": "$msCompile"
        &#125;
    ]
&#125;
</pre>
                                            </code>
                                        </li>
                                        <li>Create <span class="file">.vscode\launch.json</span>
                                            <code>
                                                <pre>
&#123;
    "version": "0.2.0",
    "configurations": [
        &#123;
            "name": ".NET Core Launch (web)",
            "type": "coreclr",
            "request": "launch",
            "preLaunchTask": "build",
            "program": "$&#123;workspaceFolder&#125;/bin/Debug/net8.0/nehsanet-app.dll",
            "args": [],
            "cwd": "$&#123;workspaceFolder&#125;",
            "stopAtEntry": false,
            "env": &#123;
                "ASPNETCORE_ENVIRONMENT": "Development"
            &#125;,
            "sourceFileMap": &#123;
                "/Views": "$&#123;workspaceFolder&#125;/Views"
            &#125;
        &#125;,
        &#123;
            "name": ".NET Core Attach",
            "type": "coreclr",
            "request": "attach"
        &#125;
    ]    
&#125;
</pre>
                                            </code>
                                        </li>
                                    </ol>
                                </mat-expansion-panel>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div><app-comment></app-comment></div>
        </div>
    </mat-card-content>
</mat-card>