<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <h1 data-testid="header-title">C#</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="topics">
                <div>
                    <h3>Questions</h3>
                    <ul>
                        <li>What is the CLR?<br>CLR is the basic and Virtual Machine component of the .NET Framework. It
                            is the run-time environment in the .NET Framework that runs the codes</li>
                        <li>What is managed vs. unmanaged code?<br>Code that executes under the control of the runtime
                            is called managed code. Conversely, code that runs outside the runtime is called unmanaged
                            code. COM components, ActiveX interfaces, and Windows API functions are examples of
                            unmanaged code.</li>
                        <li>What is idempotency in REST?<br>Idempotency /īdem'pōt(ə)nt/ means that sending the same request multiple
                            times will produce the same result, without changing the state of the server or the
                            resource.</li>
                        <li>What is an interface and how is it used?<br>Interfaces are a good way of specifying a
                            contract that other people's code must meet. The main point is that interfaces is a layer of
                            abstraction between code and unnecessary details.</li>
                        <li>What is an protected class?<br></li>
                        <li>
                            <h3>Access Modifiers</h3>
                            All types and type members have an accessibility level. The
                            accessibility level controls whether they can be used from other code in your assembly
                            or other assemblies.
                            <table>
                                <tr>
                                    <th>Caller's location</th>
                                    <th>public</th>
                                    <th>protected internal</th>
                                    <th>protected</th>
                                    <th>internal</th>
                                    <th>protected private</th>
                                    <th>private</th>
                                    <th>file</th>
                                </tr>
                                <tr>
                                    <td>Within the file</td>
                                    <td><mat-icon>check</mat-icon></td>
                                    <td><mat-icon>check</mat-icon></td>
                                    <td><mat-icon>check</mat-icon></td>
                                    <td><mat-icon>check</mat-icon></td>
                                    <td><mat-icon>check</mat-icon></td>
                                    <td><mat-icon>check</mat-icon></td>
                                    <td><mat-icon>check</mat-icon></td>
                                </tr>
                                <tr>
                                    <td>Within the class</td>
                                    <td><mat-icon>check</mat-icon></td>
                                    <td><mat-icon>check</mat-icon></td>
                                    <td><mat-icon>check</mat-icon></td>
                                    <td><mat-icon>check</mat-icon></td>
                                    <td><mat-icon>check</mat-icon></td>
                                    <td><mat-icon>check</mat-icon></td>
                                    <td><mat-icon>cancel</mat-icon></td>
                                </tr>
                                <tr>
                                    <td>Derived class (same assembly)</td>
                                    <td><mat-icon>check</mat-icon></td>
                                    <td><mat-icon>check</mat-icon></td>
                                    <td><mat-icon>check</mat-icon></td>
                                    <td><mat-icon>check</mat-icon></td>
                                    <td><mat-icon>check</mat-icon></td>
                                    <td><mat-icon>cancel</mat-icon></td>
                                    <td><mat-icon>cancel</mat-icon></td>
                                </tr>
                                <tr>
                                    <td>Non-derived class (same assembly)</td>
                                    <td><mat-icon>check</mat-icon></td>
                                    <td><mat-icon>check</mat-icon></td>
                                    <td><mat-icon>cancel</mat-icon></td>
                                    <td><mat-icon>check</mat-icon></td>
                                    <td><mat-icon>cancel</mat-icon></td>
                                    <td><mat-icon>cancel</mat-icon></td>
                                    <td><mat-icon>cancel</mat-icon></td>
                                </tr>
                                <tr>
                                    <td>Derived class (different assembly)</td>
                                    <td><mat-icon>check</mat-icon></td>
                                    <td><mat-icon>check</mat-icon></td>
                                    <td><mat-icon>check</mat-icon></td>
                                    <td><mat-icon>cancel</mat-icon></td>
                                    <td><mat-icon>cancel</mat-icon></td>
                                    <td><mat-icon>cancel</mat-icon></td>
                                    <td><mat-icon>cancel</mat-icon></td>
                                </tr>
                                <tr>
                                    <td>Non-derived class (different assembly)</td>
                                    <td><mat-icon>check</mat-icon></td>
                                    <td><mat-icon>cancel</mat-icon></td>
                                    <td><mat-icon>cancel</mat-icon></td>
                                    <td><mat-icon>cancel</mat-icon></td>
                                    <td><mat-icon>cancel</mat-icon></td>
                                    <td><mat-icon>cancel</mat-icon></td>
                                    <td><mat-icon>cancel</mat-icon></td>
                                </tr>
                            </table>
                            <dl>
                                <dt>Derived class</dt>
                                <dd>When using inheritance, the inherited class is called the base class, and the
                                    inheriting class is called the derived class.</dd>
                                <dt>assembly</dt>
                                <dd>An assembly is a .dll or .exe created by compiling one or more .cs
                                    files in a single compilation.</dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>