<mat-card class="card" [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()">
    <mat-card-header>
        <mat-card-title>
            <h1 data-testid="header-title">Google Gemini</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="commentgrid">
            <div class="topics">
                <ul>
                    <li>Usage: Google Gemini isn't capable of image generation so I cannot use it like I am
                        StabilityAI but it should be a great fit for giving life to my NPC characters..<br><br>
                        Here's what I have so far:<br>
                        <img style="width: 100% !important;" src="../../../assets/images/mud_dialog.png" /><br><br>
                        <span class="question">How does copyright work in the era of AI? If Google responses with
                            copyrighted material, is it up to me to catch it? My princess just responded with
                            Game
                            of Thrones references:</span><br> <span class="comment">
                            Princess Candie mentions Ah, that's Mount Crumbleheart," I said, gesturing towards
                            the map with a smile. "It's said to be haunted by the ghost of a great warrior who
                            fell in battle. Quite a tale, isn't it?" I leaned against the fireplace, watching
                            the flames dance. "Reminds me of the <span class="important">White Walkers in
                                Westeros</span>... though, I doubt
                            they'd ever be caught dead in a place as lovely as Smee."
                        </span>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Implementation</mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="code">
                            <pre>
class GeminiAPI:
logger = None
key = None
def __init__(self, logger) -> None:
    self.logger = logger
    LogUtils.debug("Initializing GeminiAPI() class", self.logger)            
    self.key = Secrets.GeminiAPIKey

def create(self, description, room_image_name):
    genai.configure(api_key=self.key)            
    model = genai.GenerativeModel('gemini-1.5-flash',)
    response = model.generate_content(f"<span class="important">&lt;PROMPT&gt;</span>")
</pre>
                            </div>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Adding life to NPC characters..
                                    <mat-icon>sound</mat-icon></mat-panel-title>
                            </mat-expansion-panel-header>
                            Sigh.. to do..
                        </mat-expansion-panel>
                    </li>
                </ul>
            </div>
            <div><app-comment></app-comment></div>
        </div>
    </mat-card-content>
</mat-card>