<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <h1 data-testid="header-title">Google Gemini</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="commentgrid">
                <div class="topics">
                    <ul>
                        <li>Usage: Google Gemini isn't capable of image generation so I cannot use it like I am
                            StabilityAI but it should be a great fit for giving life to my NPC characters..</li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Implementation</mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="code">
<pre>
    class GeminiAPI:
    logger = None
    key = None
    def __init__(self, logger) -> None:
        self.logger = logger
        LogUtils.debug("Initializing GeminiAPI() class", self.logger)            
        self.key = Secrets.GeminiAPIKey
    
    def create(self, description, room_image_name):
        genai.configure(api_key=self.key)            
        model = genai.GenerativeModel('gemini-1.5-flash',)
        response = model.generate_content(f"<span class="important">&lt;PROMPT&gt;</span>")
</pre>
                                </div>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Adding life to NPC characters..
                                        <mat-icon>sound</mat-icon></mat-panel-title>
                                </mat-expansion-panel-header>
                            </mat-expansion-panel>
                        </li>
                    </ul>
                </div>
                <div><app-comment></app-comment></div>
            </div>
        </mat-card-content>
    </mat-card>
</div>