<mat-card class="card">
    <mat-card-header>
        <mat-card-title>
            <h1 data-testid="header-title">Projects</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="commentgrid">
            <div class="topics">I love technology.<br><br>
                I firmly believe
                that the more senior an engineer you become, the less you feel, by default, you know the best
                solution. Smart people are creating new technologies, patterns, and tools every day, and if you stop
                paying attention,
                you may miss something that will save you some hassle. I am always looking for new technologies to
                learn and new ways to solve problems.<br><br>

                I am a firm believer in the following quote:<br>
                <span class="quote">Unlearning. That's like, the things that I used to do five years ago that make
                    me
                    successful don't matter anymore; in fact, they can get me into trouble right now [...] I
                    start to get to a point where I would assess [an engineer's] ability to unlearn. After a
                    while, like two thirds or three quarters of what you know is still valuable, quarter to
                    a third is the wrong thing [...]<span class="credit">What distinguishes great software
                        engineers?
                        Paul Luo Li, Amy J. Ko,
                        Andrew Begel, Empirical software engineering : an international journal, 2020-01, Vol.25
                        (1), p.322-352</span></span>
                <span class="importantish">While I hope you get something of value while here, I'm surprised you're
                    here! This website is primarily written for Jesse. It's his playground for playing with exciting
                    technologies. When his curiosity is satisfied, he often moves on to something new, leaving
                    behind more of a "proof of concept" than finished feature. He'll eventually get back to it.
                    Maybe.</span>
                <ul>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>General areas of focus:</mat-panel-title>
                            </mat-expansion-panel-header>
                            <ul class="condensed">
                                <li>Enhancing my ability to build and test quality code
                                    <ul class="condensed">
                                        <li><a routerLink="/design">Designing and diagramming architecture</a> for
                                            applications with high
                                            parallelism (async, threads, critical path)</li>
                                        <li>Scalable microservices written in <a routerLink="/go">Go</a></li>
                                        <li>Containerization with Docker and Dockerhub</li>
                                        <li>CI/CD w/integrated E2E testing using <a routerLink="/github">Github</a>
                                            or
                                            <a routerLink="/jenkins">Jenkins</a>
                                        </li>
                                        <li>Resilient, geographically-dispersed/load-balanced UIs in the cloud
                                            (Azure in
                                            my case)</li>
                                        <li><a routerLink="/webdesign">Web design</a> best practices, WCA Guidlines
                                            (WCAG), and Web Vitals
                                            metrics such as Largest Contentful
                                            Paint (LCP) and Cumulative Layout Shift (CLS)</li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="condensed">
                                <li>For fun:
                                    <ul class="condensed">
                                        <li><a routerLink="/mud">NehsaMUD</a>—My son and I are pursuing this project
                                            together. It is a
                                            text-based game/interactive novel reminiscent of a game I played in my
                                            childhood called "MUD" - a multi-user dungeon. The MUDs I played as a
                                            child
                                            were pre-internet! You connected to them via a modem and played on
                                            someone's
                                            BBS (bulletin board system).
                                            <ul class="condensed">
                                                <li>Runs in your browser using https & wss</li>
                                                <li>Uses AI real-time image generation via <a
                                                        routerLink="/aiimage">Stability AI</a> service</li>
                                                <li>Uses AI for NPC dialog via <a routerLink="/gemini">Google
                                                        Gemini</a>
                                                    service.</li>
                                                <li><a routerLink="/dot">Dot and Pydot</a> for dynamic map
                                                    generations
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul><br><br>
                            The navigation bar contains other technologies and tools I have experience with. Content
                            will be
                            incomplete in some subjects, as I only update content occasionally. If you see anything
                            valuable, something incorrect, or want more content on a specific location, comment and
                            let
                            me know!
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title><span class="pending"><mat-icon>pending</mat-icon></span>Host GraphQL server container on AWS</mat-panel-title>
                            </mat-expansion-panel-header>My only experience with AWS is simply for storage. To better
                            understand the platform, I will host a Docker image on AWS.

                            <ul>
                                <li><span class="done"><mat-icon>done</mat-icon></span>Evaluate AWS offerings</li>
                                <li><span class="done"><mat-icon>done</mat-icon></span>Setup account/infrastructure for the docker image</li>
                                <li><span class="done"><mat-icon>done</mat-icon></span>Host the image</li>
                                <li><span class="not-started"><mat-icon>stop</mat-icon></span>Test</li>
                            </ul>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title><span class="pending"><mat-icon>pending</mat-icon></span>Comet -
                                    the AI Dog Assistant </mat-panel-title>
                            </mat-expansion-panel-header>In an effort to better understand generative AI and LLMs, I
                            created Comet, the AI dog assistant.
                            Currently, he using Google Gemini but this may change at some point. If you ask a question
                            via clicking on Coment, he will
                            send the request to Google Gemini and return the answer. The answer is then displayed in
                            the chat window. The end goal is to have Comet be able to
                            answer questions about the website, my projects, and myself - only the data I put in.

                            <dl>
                                <dt>Generative AI</dt>
                                <dd>Generative AI is a type of AI that can generate new data
                                    examples. It can generate new images, text, audio, and video that look like they
                                    could have been real. Generative AI is used in many applications, including
                                    creating deepfakes, generating new music, and creating new images.</dd>
                                <dt>LLM</dt>
                                <dd>LLM stands for Large Language Model. LLMs are a type of generative AI that
                                    can generate new text. They are trained on a large amount of text data and can
                                    generate new text that looks like it could have been written by a human. LLMs are
                                    used in many applications, including generating new articles, writing code, and
                                    creating new stories.</dd>
                                <dt>Google Gemini</dt>
                                <dd>Google Gemini is a large language model developed by Google. It is based on the
                                    Google DeepMind architecture, a competitive AI model to OpenAI's GPT-4.
                                </dd>
                            </dl>
                            <ul>
                                <li><span class="done"><mat-icon>done</mat-icon></span>Create Comet component</li>
                                <li><span class="done"><mat-icon>done</mat-icon></span>Create API endpoint</li>
                                <li><span class="done"><mat-icon>done</mat-icon></span>Create Python script
                                    (talk.py)<br>Google Gemini does not have a Rest API but does
                                    have Python libary so the flow is:
                                    <img src="../../../assets/images/comet_flow.png" alt="Flow of Comet" />
                                </li>
                                <li><span class="pending"><mat-icon>pending</mat-icon></span>Clean up interface, add
                                    buttons for cancel</li>
                                <li><span class="not-started"><mat-icon>stop</mat-icon></span>Ability to collapse
                                    Comet
                                </li>
                                <li><span class="not-started"><mat-icon>stop</mat-icon></span>Ability to mute
                                    Comet</li>

                                <li><span class="not-started"><mat-icon>stop</mat-icon></span>Improve AI</li>
                                <li><span class="bug"><mat-icon>bug_report</mat-icon></span>The modal for asking
                                    question needs much improvement:<br>
                                    <ul class="condensed">
                                        <li>multiple prompts can be launched</li>
                                        <li>prompts launched unintentionally</li>
                                        <li>Better form validation needed - empty prompts are sent for example</li>
                                    </ul>
                                </li>
                            </ul>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title><span class="not-started"><mat-icon>stop</mat-icon></span>Fix
                                    Playwright tests</mat-panel-title>
                            </mat-expansion-panel-header>Need to figure out how to get around:
                            <a target="_blank" mat-stroked-button
                                href="https://github.com/microsoft/playwright/issues/13996">[Question] Can not use
                                decorator in playwright</a><br><br>

                            A design decision by Microsoft to not support decorators such as &#64;Injectable() which are
                            used for dependancy injection. This is a problem because Angular uses decorators for
                            dependancy injection. I need to figure out how to get around this.<br><br>

                            I will update this when I have a solution.<br><br>

                            Error:<br>
                            <span class="error">Support for the experimental syntax 'decorators-legacy' isn't currently
                                enabled</span>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title><span class="done"><mat-icon>done</mat-icon></span>Create
                                    navigation system</mat-panel-title>
                            </mat-expansion-panel-header>
                            <ul>
                                <li><span class="done"><mat-icon>done</mat-icon></span>Create Nav bar</li>
                                <li><span class="done"><mat-icon>done</mat-icon></span>Ensure it works in all device
                                    sizes</li>
                                <li><span class="done"><mat-icon>done</mat-icon></span>Indicate selected page once a
                                    page is clicked
                                </li>
                            </ul>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title><span class="pending"><mat-icon>pending</mat-icon></span>Tiny Panel
                                    Stories</mat-panel-title>
                            </mat-expansion-panel-header>I had an idea to create a series of random stories that fit in
                            tiny panels. The first one I wrote is a rivetting tale titled, "Timothée Goes On An
                            Adventure." I plan to continue having additional adventures and mishaps with Timothée and
                            others—there
                            may even be dragons.<br><br>
                            <ul>
                                <li><span class="done"><mat-icon>done</mat-icon></span>Create Proof of Concept</li>
                                <li><span class="done"><mat-icon>done</mat-icon></span>Complete control panel
                                    <ul>
                                        <li><span class="done"><mat-icon>done</mat-icon></span>Pause button</li>
                                        <li><span class="done"><mat-icon>done</mat-icon></span>Play button</li>
                                        <li><span class="done"><mat-icon>done</mat-icon></span>Reverse button</li>
                                        <li><span class="done"><mat-icon>done</mat-icon></span>Hide button</li>
                                        <li><span class="pending"><mat-icon>pending</mat-icon></span>speed slider
                                        </li>
                                    </ul>
                                </li>
                                <li>Organize story styling so each stories is self-contained</li>
                            </ul>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title><span class="pending"><mat-icon>pending</mat-icon></span>Make
                                    "related content" a component</mat-panel-title>
                            </mat-expansion-panel-header>I've started to put the related content at the top of each
                            page. This project is to make it a component so I can easily add it to each page. The
                            component will be able to take a list of related pages and display them with the current
                            one highlighted.
                            <ul>
                                <li><span class="done"><mat-icon>done</mat-icon></span>Create Component</li>
                                <li><span class="not-started"><mat-icon>stop</mat-icon></span>Update all pages to use
                                    the
                                    component</li>
                                <li><span class="not-started"><mat-icon>stop</mat-icon></span>GraphQL will be used upon
                                    each page load to receive related content information.</li>
                                <li><span class="not-started"><mat-icon>stop</mat-icon></span>Indicate page currently
                                    selected</li>
                            </ul>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title><span class="pending"><mat-icon>pending</mat-icon></span>
                                    Update Flashcards I created for PH207 and turn them into a
                                    component.</mat-panel-title>
                            </mat-expansion-panel-header>PH207 was rough. I picked it because, after being out of
                            school for years, I wanted to start with something "easy." Heh. Around finals, I wanted
                            a consistent way to practice, so I created a simple flashcard system. This project is
                            expanding it, so I can use it to test my knowledge on any specific page and or all my
                            accumulated
                            questions!
                            <ul>
                                <li><span class="done"><mat-icon>done</mat-icon></span>Create basic
                                    functionality. View it <a mat-button-stroked routerLink="/school/ph207">here</a>!
                                </li>
                                <li><span class="done"><mat-icon>done</mat-icon></span>Create our MySql
                                    tables for the data:<br>

                                    Create our formats lookup table, this will return string,
                                    list. This is to inform the client how to handle the data.<br>
                                    <code>
                                        <pre>
CREATE TABLE answer_formats (
id INT NOT NULL AUTO_INCREMENT,
format VARCHAR(50) NOT NULL,
PRIMARY KEY (id)
) ENGINE=InnoDB DEFAULT CHARSET=UTF8MB4;
                                    </pre>
                                    </code><br><br>

                                    Populate it<br>
                                    <code>
                                        <pre>
INSERT INTO `answer_formats` (`format`) VALUES
('json');
                                    </pre>
                                    </code><br><br>

                                    Create our questions table and create a foreign key to
                                    the formats table<br>
                                    <code>
                                        <pre>
CREATE TABLE `flashcards` (
id INT NOT NULL AUTO_INCREMENT,
question VARCHAR(255) NOT NULL,
answer VARCHAR(255) NOT NULL,
answer_format_id INT NOT NULL,
page VARCHAR(255) NOT NULL,    
PRIMARY KEY (id),
FOREIGN KEY (answer_format_id) REFERENCES answer_formats(id)
) ENGINE=InnoDB DEFAULT CHARSET=UTF8MB4;
</pre>
                                    </code>
                                </li>
                                <li><span class="pending"><mat-icon>pending</mat-icon></span>Insert our trivia data
                                    into the table<br>
                                    <code>
                                        <pre>
INSERT INTO flashcards (question, answer, answer_format_id, page)
VALUES (
JSON_OBJECT('question', 'What is the distance from the Earth to the Sun?'),
JSON_OBJECT('answer', JSON_ARRAY('1 AU', '1 light-year', '1 parsec')), 
1,
'PH207',
JSON_OBJECT('question', 'Which of the following is smallest?'),
JSON_OBJECT('answer', 'AU is the smallest, followed by light-year, then parsec'), 
1,
'PH207',
JSON_OBJECT('question', 'What is the distance from the Earth to the Moon?'),
JSON_OBJECT('answer', '1/4 AU'),
1,
'PH207',
<span class="comments">... and so on</span>
);                              
</pre>
                                    </code>
                                </li>
                                <li><span class="not-started"><mat-icon>stop</mat-icon></span>Update API</li>
                                <li><span class="not-started"><mat-icon>stop</mat-icon></span>Update UX to
                                    add a button to each page. That button will return all questions related to that
                                    page and randomly present them.</li>
                                <li><span class="not-started"><mat-icon>stop</mat-icon></span>Create Trivia
                                    page for all questions</li>
                            </ul>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title><span class="pending"><mat-icon>pending</mat-icon></span>
                                    Create comment system component for every page of this website</mat-panel-title>
                            </mat-expansion-panel-header>I wanted to create a comment system.. so I did.
                            <ul>
                                <li><span class="done"><mat-icon>done</mat-icon></span>Create Angular component and
                                    style it</li>
                                <li><span class="done"><mat-icon>done</mat-icon></span>Setup API</li>
                                <li><span class="done"><mat-icon>done</mat-icon></span>Setup MySQL Database</li>
                                <li><span class="pending"><mat-icon>pending</mat-icon></span>Complete testing</li>
                                <li><span class="bug"><mat-icon>bug_report</mat-icon></span>The inner comment table
                                    should
                                    not have a border. The border looks odd with the rounded comment columns.</li>
                            </ul>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title><span class="done"><mat-icon>done</mat-icon></span>Blog
                                    creation</mat-panel-title>
                            </mat-expansion-panel-header>
                            <ul>
                                <li><span class="done"><mat-icon>done</mat-icon></span>Create Blog page</li>
                                <li><span class="done"><mat-icon>done</mat-icon></span>Implement API</li>
                                <li><span class="done"><mat-icon>done</mat-icon></span>Setup MySQL Database</li>
                                <li><span class="done"><mat-icon>done</mat-icon></span>Setup client http services
                                </li>
                            </ul>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title><span class="pending"><mat-icon>pending</mat-icon></span>Get
                                    local weather based on your IP</mat-panel-title>
                            </mat-expansion-panel-header>
                            <ul>
                                <li><span class="done"><mat-icon>done</mat-icon></span>Create Go service to get
                                    weather from OpenWeatherAPI.org</li>
                                <li><span class="done"><mat-icon>done</mat-icon></span>Create API endpoint that takes
                                    city as a argument</li>
                                <li><span class="not-started"><mat-icon>stop</mat-icon></span>Create function that can
                                    get lat/long from IP</li>
                                <li><span class="not-started"><mat-icon>stop</mat-icon></span>Update service to accept
                                    lat/long instead of City</li>
                                <li><span class="not-started"><mat-icon>stop</mat-icon></span>Call when
                                    visitor visits www.nehsa.net and return on page under the quote.</li>
                            </ul>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title><span class="done"><mat-icon>done</mat-icon></span>Sitemap
                                    updater</mat-panel-title>
                            </mat-expansion-panel-header>When I add a new page, I want to update the sitemap.
                            <ul>
                                <li><span class="done"><mat-icon>done</mat-icon></span>Create utility to scan for new
                                    pages and update sitemap:
                                    <a target="_blank"
                                        href="https://github.com/nehsa25/python-angular-sitemapper">python-angular-sitemapper</a>
                                </li>
                                <li><span class="done"><mat-icon>done</mat-icon></span>Call utility from publish script
                                </li>
                                <li><span class="done"><mat-icon>done</mat-icon></span>Copy sitemap.xml</li>
                            </ul>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title><span class="pending"><mat-icon>pending</mat-icon></span>Return
                                    web page data within NehsaMUD</mat-panel-title>
                            </mat-expansion-panel-header>Within the Smee University in NehsaMUD, there will be a
                            wizard and a "room of mirrors." These mirrors will be able to display any webpage the
                            wizard "prophesized." To accomplish this, we will introduce a new Go microservice:<br>
                            NehsaMud -> Python WSS -> API -> Go microervice -> Ssss-cc--rr-aa--pp--ee -> Go -> API
                            -> Python WSS -> NehsaMud
                            <ul>
                                <li><span class="done"><mat-icon>done</mat-icon></span>Create Golang service to
                                    scrape webpages</li>
                                <li><span class="not-started"><mat-icon>stop</mat-icon></span>Add API
                                    endpoint to call Go</li>
                                <li><span class="not-started"><mat-icon>stop</mat-icon></span>Update Python
                                    to call it</li>
                                <li><span class="not-started"><mat-icon>stop</mat-icon></span>Update NehsaMud
                                    to display the page within a "mirror"</li>
                            </ul>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title><span class="pending"><mat-icon>pending</mat-icon></span>(Re)Architect
                                    NehsaMud</mat-panel-title>
                            </mat-expansion-panel-header>NehsaMUD has been a lot of things while we played around
                            but we're starting to get serious. Unfortunately, the code is a mess. This project is to
                            do things right. Create design diagrams and refactor the code to be more maintainable
                            and scalable. We will also be following a TDD approach.
                            <ul>
                                <li><span class="done"><mat-icon>done</mat-icon></span>You can connect to NehsaMUD
                                </li>
                                <li><span class="not-started"><mat-icon>stop</mat-icon></span>Create sequence
                                    diagrams that show the interaction betwen the frontend (www.nehsa.net), NehsaMUD
                                    (Python), the API (api.nehsa.net) and various microservices created to enable
                                    functionaity within the experience.</li>
                                <li><span class="not-started"><mat-icon>stop</mat-icon></span>Design class
                                    diagrams for the Python code</li>
                                <li><span class="not-started"><mat-icon>stop</mat-icon></span>Create
                                    threading model: NehsaMud is a mix of AsyncIO, threading, and multiprocessing.
                                </li>
                                <li><span class="not-started"><mat-icon>stop</mat-icon></span>Design tests
                                    for the code</li>
                            </ul>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title><span class="done"><mat-icon>done</mat-icon></span>Automation
                                    Infrastructure leveraging Chef</mat-panel-title>
                                <mat-panel-subtitle>Diagram of architecture</mat-panel-subtitle>
                            </mat-expansion-panel-header>
                            Build test automation infrastructure to
                            meet a specific need of testing on varity of
                            real
                            hardware (metal) such as network cards, CPUs, and a variety of operating systems.
                            Technolgies: Chef,
                            Doxygen, Python, Pytest<br>
                            <img style="width: 600px;" mat-card-image src="assets/images/test-automation.png"
                                alt="Diagram of test framework test architecture" />
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title><span class="done"><mat-icon>done</mat-icon></span>Lab
                                    Monitor</mat-panel-title>
                                <mat-panel-subtitle>A systray application writting in Python</mat-panel-subtitle>
                            </mat-expansion-panel-header>
                            Built a desktop systray application using Python that runs in taskbar for capturing
                            screenshots
                            and state to facilitates
                            finding bugs/recording machine state (lab-monitor)<br>
                            <img style="width: 100px;" mat-card-image src="assets/images/lab_monitor1.png"
                                alt="Picture of Lab Monitor tray icon" /><br><br>
                            <img style="width: 100px;" mat-card-image src="assets/images/lab_monitor2.png"
                                alt="Picture of Lab Monitor tray options" />
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title><span class="done"><mat-icon>done</mat-icon></span>Lab
                                    Listener</mat-panel-title>
                                <mat-panel-subtitle>A platform for executing commands (Powershell, CMD, other) across
                                    all/any lab machine.</mat-panel-subtitle>
                            </mat-expansion-panel-header>
                            Built a Client/Server websocket application using Asyncio. This is deployed on our all
                            lab
                            machines automatically via Chef and allows remove command execution against any/all
                            machines via
                            lab
                            website (lab-listener)<br>
                            <img style="width: 600px;" mat-card-image src="assets/images/lab_listener.png"
                                alt="picture of lab divstener websocket" />
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title><span class="done"><mat-icon>done</mat-icon></span>Configure
                                    Host</mat-panel-title>
                                <mat-panel-subtitle>Implemented means to configure lab hosts</mat-panel-subtitle>
                            </mat-expansion-panel-header>
                            Replaced the Chef UI (I believe it was called Chef Manage) with custom implementation (to
                            work-around bugs / at
                            direction of
                            Chef team). This lab site provides detailed information against all machines in the lab
                            and
                            allows configuration/remote command execution<br>
                            <img style="width: 600px;" mat-card-image src="assets/images/lab_config1.png"
                                alt="Config page for configuring lab hosts" />
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title><span class="done"><mat-icon>done</mat-icon></span>Debugging Windows
                                    Applications (pyautogui, pywinauto)</mat-panel-title>
                                <mat-panel-subtitle>Implemented means to configure lab hosts</mat-panel-subtitle>
                            </mat-expansion-panel-header>
                            <ul>
                                <li>
                                    (PyAutoGui) Automated debugging tests via Visual Studio (step-into, over, set watch)
                                    <code>
<pre>
# Sets and runs to a breakpoint (F5)
def run_to_breakpoint(timeout):
    # set breakpoint
    left, top, width, height = find_something('images/code_line.png', timeout, logger)    
    LogUtils.info(f"Setting breakpoint", logger)
    pyautogui.click(left + 2, top + height / 2)

    # start debugger
    run_debugger('F5', logger)

    # check that we stopped at breakpoint
    left, top, width, height = find_something('images/code_line_with_breakpoint.png', timeout, logger)   

# this function runs a debugger command (F5, F10, F11) and kills intime consoles
def run_debugger(key, logger):
    LogUtils.info(f"Running debugger (pressing &#123;key&#125;)")
    pyautogui.hotkey(key)
    HelperUtils.sleep_for(2, logger)
    INtimeUtils.kill_intime_console(logger)
    # click somewhere
    reset_mouse()

&#64;pytest.mark.debugger_testing
## Tests that the INtime debugger can step into code
#
# Test Steps:
# -# Sets and runs to (F5) a breakpoint
# -# Presses F11
# -# Verifies we stepped into code at the appropriate place
def test_debug_step_into():    
    LogUtils.info(f"**RUNNING TEST: &#123;inspect.currentframe().f_code.co_name&#125;", logger)
    timeout = time.time() + 60 * 5 
    # run to starting breakpoint
    run_to_breakpoint(timeout)

    # set new breakpoint
    left, top, width, height = find_something('images/code_line2.png', timeout, logger)
    pyautogui.click(left + 2, top + height / 2)

    LogUtils.info(f"Running to new breakpoint", logger)
    run_debugger('F5', logger)

    # step into
    run_debugger('F11', logger)

    LogUtils.info(f"Looking for step into breakpoint", logger)
    breakpoint_set = None        
    while breakpoint_set is None:
        breakpoint_set = pyautogui.locateCenterOnScreen('images/step_into.png')
        if time.time() > timeout:
            raise Exception("A timeout occurred looking for breakpoint")
                
    assert breakpoint_set is not None, "F11 did not step INTO breakpoint"

    # finish
    run_debugger('F5', logger)
</pre>
                                    </code>

                                </li>
                            </ul>
                        </mat-expansion-panel>

                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title><span class="done"><mat-icon>done</mat-icon></span>Implemented a
                                    Recapcha</mat-panel-title>
                            </mat-expansion-panel-header>
                            <img style="width: 300px;" mat-card-image src="assets/images/recaptcha2.png"
                                alt="Recapcha implementation" />
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title><span class="done"><mat-icon>done</mat-icon></span>Update wallpaper on
                                    physical machine</mat-panel-title>
                                <mat-panel-subtitle>Assists with sharing real hardware among onsite/remote
                                    engineers</mat-panel-subtitle>
                            </mat-expansion-panel-header>
                            To prevent folks in the office from using a computer in use by someone remote, I wrote a
                            Python script that sets the wallpaper of the machine:<br>
                            <img style="width: 600px;" src="assets/images/wallpaper_python.jpg" />
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title><span class="done"><mat-icon>done</mat-icon></span>Implemented an
                                    Angular status & maintenance page</mat-panel-title>
                            </mat-expansion-panel-header>
                            <ul class="condensed">
                                <li>Status displays next maintance message text on all login pages for two days
                                    before date
                                    in database</li>
                                <li>Disappears after maintenance date + a few hours</li>
                                <div>During maintenance:
                                    <ul class="condensed">
                                        <li>All pages redirect to maintenance page</li>
                                        <li>All API requests return a "UNDER_MAINTENANCE" code</li>
                                        <li>Users on whitedivst and continue to vadivdate page</li>
                                    </ul>
                                </div>
                                <li>
                                    <span>Controlled via table in database:</span><br>
                                    <img width="600" mat-card-image src="assets/images/maint2.png" />
                                </li>
                                <li>
                                    <span>Corresponding status on login pages:</span><br>
                                    <img width="600" mat-card-image src="assets/images/maint1.png" />
                                </li>
                                <li>
                                    <span>Folks not on maintenance whitelist are redirected to maintenance
                                        page:</span><br>
                                    <img width="600" mat-card-image src="assets/images/maint3.png" />
                                </li>
                            </ul>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title><span class="done"><mat-icon>done</mat-icon></span>Angular / Material
                                    Website</mat-panel-title>
                            </mat-expansion-panel-header>
                            Maintain production Angular project and backend C# API. Hosted in Azure.<br>
                            <img width="600" mat-card-image src="assets/images/license_portal.png"
                                alt="Material table with custom select-columns feature" />
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title><span class="pending"><mat-icon>pending</mat-icon></span>Creating an
                                    RTS game</mat-panel-title>
                                <mat-panel-subtitle>Real-Time-Strategy! Using Python and Pygame</mat-panel-subtitle>
                            </mat-expansion-panel-header>
                            RTS game using Python and pygame: <a href="https://github.com/nehsa25/rts">Github</a>
                        </mat-expansion-panel>
                    </li>
                </ul>
            </div>
            <div><app-comment></app-comment></div>
        </div>
    </mat-card-content>
</mat-card>