<div class="welcome-container" [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()">
    <div class="welcome-heading">Welcome!</div>
    <ul>
        <li>
            <div class="welcome-text">There's an assortment of information on various technologies I've experienced,
                which is likely to be on your left. I hope you find something of value while here!</div>
        </li>
        <li>
            <div class="welcome-text">Also home to <button mat-stroked-button class="norm"
                    routerLink="/mud">NehsaMUD</button> - A
                text-based, rouge-like, mud and virtual
                world. <span class="additional-notes" style="margin: 0 auto;">(Someday! It's early in
                    development.)</span><br>
                <div class="definitions-container" style="text-align: left;">
                    Definitions:<br>
                    <div class="definitions">
                        <dl>
                            <dt>text-based</dt>
                            <dd>You must read.</dd>
                            <dt>rouge-like</dt>
                            <dd>You get one life and need to be careful.</dd>
                            <dt>mud</dt>
                            <dd>A &quot;multi-user dungeon&quot; - An old-school text-based game. The
                                &quot;OG&quot;multiplayer
                                game.
                            </dd>
                            <dt>virtual world</dt>
                            <dd>In addition to being a game, every NPC will be AI-controlled with unique knowledge,
                                experiences, motivations, and they're remember and continue conversations. Want to
                                know
                                when to plant sunflowers? Ask the gardener:<br><br>
                                <img src="../../../assets/images/gardener.png">
                                <span class="ask">/say "when's the best time to plant sunflowers?"</span><br><br>
                                <span class="response">Ah, sunflowers! They're a classic summertime favorite, aren't
                                    they?
                                    Around here, the best time to get those big, beautiful blooms going is usually
                                    mid-May. We want to make sure the last frost has passed. Once the ground's
                                    warmed up
                                    a bit, those little sunflower seeds will pop right out.
                                    But hey, every yard's a little different. If you're worried about a late frost,
                                    you
                                    might want to wait until June. Just keep an eye on the weather!</span>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>