<div class="welcome-container" [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()">
    <h1>
        <div class="welcome-heading">Welcome!</div>
    </h1>
    <ul>
        <li>
            <div class="importantish quote">
                <span class="disclaimer">
                    First, please excuse my mess! This site is a playground to learn exciting technologies. I'm
                    constantly expanding content as I learn
                    new things. So, if you see something that looks broken, it's because I'm in the middle of learning
                    something new. Thanks for your understanding!
                </span>
            </div><br><br>

            <div class="welcome-text"></div>
        </li>
        <li>
            <div class="welcome-text">It is also home to <button mat-stroked-button class="norm"
                    routerLink="/mud">NehsaMUD</button>, a
                text-based, rouge-like, mud and virtual
                world. <span class="additional-notes">(Someday! It's early in
                    development.)</span><br>
                <div class="definitions-container" style="text-align: left;">
                    Definitions:<br>
                    <div class="definitions">
                        <dl>
                            <dt>text-based</dt>
                            <dd>You must read.</dd>
                            <dt>rouge-like</dt>
                            <dd>You get one life and need to be careful.</dd>
                            <dt>mud</dt>
                            <dd>A &quot;multi-user dungeon&quot; - An old-school text-based game. An
                                &quot;OG&quot;multiplayer
                                game.
                            </dd>
                            <dt>virtual world</dt>
                            <dd>In addition to being a game, every NPC will be AI-controlled with unique knowledge,
                                experiences, motivations, and they're remember and continue conversations. Want to
                                know
                                when to plant sunflowers? Ask the gardener:<br><br>
                                <img src="../../../assets/images/gardener.png" alt="Gardener"><br>
                                <span class="ask">/say "when's the best time to plant sunflowers?"</span><br><br>
                                <span class="response">Ah, sunflowers! They're a classic summertime favorite, aren't
                                    they?
                                    Around here, the best time to get those big, beautiful blooms going is usually
                                    mid-May. We want to make sure the last frost has passed. Once the ground's
                                    warmed up
                                    a bit, those little sunflower seeds will pop right out.
                                    But hey, every yard's a little different. If you're worried about a late frost,
                                    you
                                    might want to wait until June. Just keep an eye on the weather!</span>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>