@media (min-width: 0) {
    .welcome-heading {
        font-size: 2rem;
    }
    .welcome-text-topics:after {
        content: "At the bottom of the page, you'll find information on various technologies I've experienced. I hope you find something of value here!";
    }
    .welcome-text {
        font-size: .9rem;        
    }

    .definitions-container {
        font-size: 0.8rem;
        margin: 0;
        width: 90%;
    }

    .definitions {
        font-size: 0.6rem;
    }
}

@media (min-width: 576px) {
    .welcome-heading {
        font-size: 3.8rem;
    }

    .welcome-text {
        font-size: 1.6rem;
    }

    .definitions-container {
        font-size: 1.0rem;
    }

    .definitions {
        font-size: 0.8rem;
    }
}

@media (min-width: 768px) {
    .welcome-heading {
        font-size: 4.8rem;
    }

    .welcome-text {
        font-size: 1.8rem;
    }

    .definitions-container {
        font-size: 1.1rem;
        width: 70%;
    }

    .definitions {
        font-size: 0.9rem;
    }
}

@media (min-width: 992px) {
    .welcome-heading {
        font-size: 5.8rem;
    }

    .welcome-text-topics:after {
        content: "On your left, you'll find an assortment of information on various technologies I've experienced. I hope you find something of value while here!";
    }
    .welcome-text {
        font-size: 2.0rem;
    }

    .definitions-container {
        font-size: 1.2rem;
        margin: 0 auto;
    }

    .definitions {
        font-size: 1.0rem;
    }
}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}


ul {
    padding: 0;
    list-style: none;
}

li {
    margin: 2rem 0; /* Adjust the values as needed */
}

.welcome-heading {
    font-weight: bold;
    line-height: 1.5;
    margin-left: 2rem;
}

.definitions {
    font-family: sans-serif;
    border: 1px solid springgreen;
    text-align: left;
    width: 100%;
    margin-bottom: 2rem;
}

.welcome-container {
    opacity: 1;
    position: inherit;
    top: inherit;
    left: inherit;
    width: 100%;
    height: 100%;
    line-height: 1.2;
}

.quote {
    margin: 2px auto;
    width: 1060px;
}

.disclaimer {
    margin: 1rem 0;
}