<div class="welcome-container" [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()">
    <div class="add-space">
        <div>
            <div class="welcome-heading">Welcome!</div>
        </div>
        <div class="welcome-grid welcome-text">
            <div class=" disclaimer">
                First, please excuse my mess! I think of this website as a sort of diary—it's where I record any new
                knowledge
                I've acquired during my day. So, if you see something that looks broken, it's because I'm in the middle
                of learning
                something new. Thanks for your understanding!
            </div>

            <div>I have always wanted a nerdy website with random quotes and a personal blog and BAM! Dreams do come
                true.</div>

            <!-- the content changes based on the screen size -->
            <div class="welcome-text-topics"></div>

            <div class="nehsamud">
                <div>It is also home to <button mat-stroked-button class="norm" routerLink="/mud">NehsaMUD</button>, a
                    text-based, rouge-like, mud and virtual
                    world. <span class="inline-additional-notes">(Someday! It's early in
                        development.)</span>
                </div>
                <div>
                    <div class="definitions-container" style="text-align: left;">
                        <div class="definitions">
                            <dl>
                                <dt>text-based</dt>
                                <dd>You must read.</dd>
                                <dt>rouge-like</dt>
                                <dd>You get one life and need to be careful.</dd>
                                <dt>mud</dt>
                                <dd>A &quot;multi-user dungeon&quot; - An old-school text-based game.</dd>
                                <dt>virtual world</dt>
                                <dd>In addition to being a game, every NPC will be AI-controlled with unique knowledge,
                                    experiences, motivations, and they're remember and continue conversations. Want to
                                    know
                                    when to plant sunflowers? Ask the gardener:<br><br>
                                    <img src="../../../assets/images/gardener.png" alt="Gardener"><br>
                                    <span class="ask">/say "when's the best time to plant sunflowers?"</span><br><br>
                                    <span class="response">Ah, sunflowers! They're a classic summertime favorite, aren't
                                        they?
                                        Around here, the best time to get those big, beautiful blooms going is usually
                                        mid-May. We want to make sure the last frost has passed. Once the ground's
                                        warmed up
                                        a bit, those little sunflower seeds will pop right out.
                                        But hey, every yard's a little different. If you're worried about a late frost,
                                        you
                                        might want to wait until June. Just keep an eye on the weather!</span>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>