@media (min-width: 0) {
    // debug
    // .app-main-collapsed div {
    //     border: 1px solid teal;
    // }

    .app-main-collapsed {
        grid-template-rows: 30px 3fr 1fr mixmax(min-content, 100px) 25svh min-content;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "bread user_admin"
            "body body"
            "navbar navbar"
            "ad1 ad1"
            "footer footer";
        display: grid;
    }

    .main {
        text-align: left !important;
        padding: 2px;
        height: inherit;
    }

    .copyright:after {
        display: block;
        content: "Be kind.";
    }

    .theme {
        grid-area: theme;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        align-items: baseline;
    }

    mat-icon {
        vertical-align: middle;
    }

    .gridcols {
        grid-template-columns: min-content 1fr;
    }

    // ad stuff
    #ad1 {
        grid-area: ad1;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;   
        border-radius: 0;
    }

    .ad {
        width: 100%;
        height: 100px;
        overflow: hidden;
        bottom: 0;
        margin: 10px 0;        
    }

    .dh,
    .dh-quote {
        display: none !important;
    }

    .theme {
        display: none !important;
    }

    .contactme {
        display: none !important;
        grid-template-columns: 1fr 1fr;
    }

    .contactme div {
        font-size: 12px;
    }

    .title {
        display: none !important;
    }

    footer {
        grid-template-columns: 1fr;
    }

    .dh {
        text-align: left;
    }

    nav {
        overflow: hidden;
        height: 100%;
    }

    .user_admin {
        text-align: right;
    }

    .user_admin div {
        font-size: 1.5rem !important;
    }

    .contactme {
        text-align: center;
    }

    .maintitle {
        font-size: 1.5rem;
    }
}

@media (min-width: 576px) {
    /* No specific changes for this breakpoint */
}

@media (min-width: 768px) {
    main {
        height: inherit;
    }

    .copyright:after {
        display: inline;
        margin-left: 1rem;
        content: "Be kind.";
    }

    .gridcols {
        grid-template-columns: min-content 1fr;
    }

    footer {
        grid-template-columns: 1fr 215px;
    }

    .dh {
        text-align: right;
    }

    .user_admin {
        text-align: right;
    }

    nav {
        height: 100%;
    }
}

@media (min-width: 992px) {
    main {
        height: inherit;
    }

    .gridcols {
        grid-template-columns: min-content 1fr;
    }

    .app-main-collapsed {
        grid-template-rows: 7svh 6svh 70svh 14svh 3svh;
        grid-template-columns: 225px 100px 1fr 1fr 100px 225px;
        grid-template-areas:
            "bread bread dh dh dh user_admin"
            "navbar title title title theme theme"
            "navbar body body body body body"
            "ad1 body body body body body"
            "contactme footer footer footer footer footer";
    }

    footer {
        grid-template-columns: 1fr 215px;
    }


    .user_admin {
        text-align: right;
    }

    nav {
        height: 100%;
    }

    .dh,
    .dh-quote {
        text-align: right;
        display: inherit !important;
        font-size: .9rem;
    }

    .contactme {
        display: inherit !important;
    }

    .title {
        display: inherit !important;
    }

}

@media (min-width: 1200px) {
    .gridcols {
        grid-template-columns: min-content 1fr;
    }

    .theme {
        display: grid !important;
    }

    .dh-quote {
        font-size: 1.1rem;
    }

    footer {
        grid-template-columns: 1fr 215px;
    }

    .dh {
        text-align: right;
    }

    .user_admin {
        text-align: right;
    }

    nav {
        height: 100%;
    }
}

@media (min-width: 1400px) {
    .gridcols {
        grid-template-columns: min-content 1fr;
    }

    .dh-quote {
        font-size: 1.2rem;
    }

    footer {
        grid-template-columns: 1fr 215px;
    }

    .dh {
        text-align: right;
    }

    .user_admin {
        text-align: right;
    }

    nav {
        height: 100%;
    }
}

// main grid items

// my bio and expansion stories
.title {
    display: grid;
    grid-template-areas: "maintitle" "subtitle";
    grid-template-rows: min-content min-content;
    grid-area: title;
    color: white;
    padding: 2px;
    width: 100%;
    height: 100%;
}


// quotes
.dh {
    grid-area: dh;
    height: 100%;
    display: grid;
    align-content: center;
    padding: 0 2em;
    font-size: 1rem;
    white-space: wrap;
}

// main body
main {
    grid-area: body;
    align-items: baseline;
    overflow: auto;
    display: grid;
    grid-gap: 0;
    max-width: 100%;
}

// breadcrumbs
.bread {
    grid-area: bread;
    padding-left: 25px;
    display: grid;
    grid-template-columns: 50px 1fr;
    place-content: center;
}

// my email
.contactme {
    grid-area: contactme;
    background-color: var(--theme-background-color);
    place-content: center;
}

nav {
    grid-area: navbar;
    overflow: hidden;
}

footer {
    grid-area: footer;
    text-align: center;
    place-content: center;
    width: 100%;
    z-index: 100;
    display: grid;
}

footer div {
    margin: auto;
}

.buildarea {
    display: grid;
    grid-template-columns: 1fr auto 35px;
    grid-template-rows: 1fr;
}

.buildarea img {
    height: 20px;
    width:25px;
    margin: 0 auto;
    background-color: #222;
}

.main-fullscreen {
    display: grid;
    grid-template-rows: 1fr min-content;
    grid-template-columns: 225px 1fr 225px;
    grid-template-areas:
        "user_admin user_admin user_admin"
        "body body body"
        "body body body"
        "footer footer footer";
    max-width: 100%;
    overflow: hidden;
}

// my AI :)
.comet {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 1rem;
    margin: 1rem;
    height: 150px;
    z-index: 2000;
}

.bread-root {
    padding: 7px;
}

.colorSlider {
    margin: 0 40px !important;
}

.email {
    color: #666;
    padding: 2px 10px;
    font-variant: petite-caps !important;
    font-size: 1.2rem !important;
}

.user_admin {
    grid-area: user_admin;
    padding: 2px 10px;
    font-variant: petite-caps;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto 0;
}

.dh-quote {
    font-style: italic;
    font-weight: 700;
    color: #ff7f5b;
    margin: auto 0;
    height: fit-content;
}

// .child {
//     background-color: var(--theme-background-color);
//     align-items: center;
//     justify-content: center;
// }


.maintitle {
    grid-area: maintitle;
}


.subtitle {
    grid-area: subtitle;
    font-size: 1.5rem;
}

.playwright {
    justify-content: center;
    height: 25px;
}

:host {
    min-height: 100% !important;
    height: 100% !important;
}

.gridcols {
    display: grid;
}

footertxt h5 {
    padding: 0;
    margin: 0;
}

.panel-collapsed {
    width: 100%;
    margin-top: 1em;
    background-color: var(--theme-background-color) !important;
}

.panel-expanded {
    width: 100%;
    margin: 1em !important;
}

a.panel-expanded {
    color: black;
}

.personname-light {
    color: black;
}

.personname-dark {
    color: white;
}

.notyoubutton {
    background-color: var(--theme-background-color) !important;
    color: var(--theme-color) !important;
}

.maintitle-light .maintitle-dark {
    color: black;
}

$base-size: .35rem;

.trek {
    background: linear-gradient(to left, #b2d7a5, #A9D6FF, #92c5e0, #58A0D3, #7596c0, #F2994A, #d98552, #e57342, indigo, #800020, #26000f, #5c5745, #92b17b, #b2d7a5);
    background-size: 500% 100%;
    /* Adjust as needed */
    animation: trek-animation 200s linear infinite;
    position: relative;
}

.trees {
    position: absolute;
    background-image: url('../assets/images/smalltree.png');
    height: 42px;
    width: 100%;
    z-index: 10;
}

.trees-normal {
    animation: trek-animation 100s linear infinite;
}

.trees-reverse {
    animation: trek-animation-reversed 100s linear infinite;
}

.cloud {
    position: absolute;
    background-image: url('../assets/images/cloud.png');
    height: 15px;
    width: 28px;
    z-index: 10;
}

.cloud-reverse {
    animation: cloud-animation 350s linear infinite;
}

.cloud-normal {
    animation: cloud-animation-reverse 350s linear infinite;
}

.tree {
    position: absolute;
    background-image: url('../assets/images/tree.png');
    background-size: cover;
    background-color: inherit;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.tree-normal {
    animation-name: move-tree;
}

.tree-reverse {
    animation-name: move-tree-reverse;
}

.world {
    display: grid;
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0px;
    margin-right: 3em;
    background-image: url('../assets/images/world.png');
    background-size: cover;
    background-color: inherit;
}

.tim-container {
    grid-area: tim;
    width: 100%;
    height: 50px;
}

/* main body */
.tim {
    width: 2.6 * $base-size;
    height: 4.8 * $base-size;
    position: relative;
    background-color: #88CAFC;
    border-radius: calc(2.4 * $base-size / 1.8);
    border: 1px solid whitesmoke;
    animation: bob-animation 2s linear infinite;
    z-index: 102;
    margin: 0 2em;
    top: .6rem;
}

/* shared on tim-text and tim-text-narrator */
.pause-button-container-expanded {
    grid-area: pause-button-container;
    z-index: 1001;
    /* above the tim */
    width: 160px;
    background-color: bisque;
    border-radius: 0 0 15% 0;
    position: fixed;
}

.pause-table {
    border: none;
}

.pause-button-container-expanded td {
    border: 2px solid #000 !important;
}

.pause-button-container-collapse {
    grid-area: pause-button-container;
    z-index: 210;
    width: 45px;
    background-color: slategray;
    grid-template-columns: 45px;
}

.pause-button-container-collapse .pause-expand-container {
    border-radius: 0 0 15% 0;
    background-color: #222;
}

// .pause-button-container-collapse {
//     grid-area: pause-button-container;
//     z-index: 210;
//     width: 45px;
//     height: 50px;
//     background-color: slategray;
//     border-radius: 0 0 15% 0;
//     display: grid;
//     grid-template-columns: 45px;
// }

// .pause-expand-container {
//     border-radius: 0 0 15% 0;
//     background-color: #222;
// }

.control-button-container {
    z-index: 210;
    width: 45px;
    height: 45px;
    background-color: blueviolet;
}

.control-button {
    color: #F7D68E;
    padding: 10px;
}

.pause-expand {
    border-radius: 0 0 15% 0;
    width: 10px;
}

.pause-expand-container button {
    color: #966F4B;
}

.pause-hide-container {
    background-color: #58A0D3 !important;
}

.pause-hide-container button {
    color: #222;
}

.pause-pause-container {
    background-color: #000080 !important;
}

.pause-reverse-container {
    background-color: rgb(100, 68, 129) !important;
}

.pause-swap-container {
    background-color: rgb(51, 153, 97) !important;
}

.pause-speed-container {
    background-color: #F2B8C8 !important;
}

.pause-expand-container {
    border: none;
}

.narrator {
    grid-area: narrator;
    z-index: 1000 !important;
}

.talk {
    grid-area: talk;
}

.spacer2 {
    grid-area: spacer2;
}

.spacer2 {
    grid-area: spacer3;
}

.column {
    text-align: center;
    z-index: 100;
    padding: 3px 1em;
}

.timarea-grid {
    display: grid;
    background-color: inherit;
    position: relative;
    margin-left: auto;
    width: 100%;
}

.timarea-grid div {
    grid-gap: 2px;
}

.timarea-grid-normal .tim {
    margin-right: 100%;
}


.timarea-grid-normal .tim::after {
    content: "";
    position: absolute !important;
    top: 1.5 * $base-size;
    left: -1 * $base-size;
    width: 1 * $base-size !important;
    height: 1.8 * $base-size;
    border-radius: 50%;
    background-color: inherit !important;
}

.timarea-grid-normal .talk {
    margin-left: auto;
    width: max-content;
    height: fit-content;
}

.timarea-grid-normal {
    grid-template-columns: 150px 50px 50px 1fr 50px 50px;
    grid-template-areas: "pause-button-container narrator spacer1 talk tim spacer2";
    place-items: normal;
}

.timarea-grid-reverse {
    grid-template-columns: 150px 50px 1fr 50px 50px 50px;
    grid-template-areas: "pause-button-container tim talk spacer1 narrator spacer2";
    place-items: normal;
}

.timarea-grid-reverse .tim {
    margin-left: 100%;
}

.narratorarea-grid-normal,
.narratorarea-grid {
    display: grid;
    background-color: inherit;
    width: 100%;
    position: relative;
}

.narratorarea-grid-normal,
.narratorarea-grid-normal {
    grid-template-columns: 150px 1fr 50px 50px 50px 50px;
    grid-template-areas: "pause-button-container narrator talk spacer1 tim spacer2";
    place-items: start;
}

.narratorarea-grid-reverse {
    grid-template-columns: 150px 50px 50px 50px 1fr 50px;
    grid-template-areas: "pause-button-container tim spacer1 talk narrator spacer2";
    place-items: end;
}

.narratorarea-grid div {
    grid-gap: 2px;
}

// the eye
.eye {
    content: "";
    position: absolute;
    width: 1 * $base-size;
    // eye pupil color (the middle part)
    background-color: #9966CC !important;
    // eye sclera color (the white part)
    border: 3px solid #FAFAFA;
    height: .8 * $base-size;
    border-radius: 50%;
    top: .5 * $base-size;
}

// the eye when the tim is walking right
.narratorarea-grid-reverse .eye,
.timarea-grid-reverse .eye {
    left: .5 * $base-size;
}

// the eye when tim is walking left 
.narratorarea-grid-normal .eye,
.timarea-grid-normal .eye {
    left: -.6 * $base-size;
}

// the nose
.nose {
    content: "";
    position: absolute;
    width: 1 * $base-size;
    height: 1.6 * $base-size;
    border-radius: 50%;
    background-color: inherit;
    top: .7rem;
}

// the nose when tim is walking left
.narratorarea-grid-normal .nose,
.timarea-grid-normal .nose {
    left: -.2rem;
    border-left: 1px solid whitesmoke;
}

// the nose when tim is walking right
.narratorarea-grid-reverse .nose,
.timarea-grid-reverse .nose {
    left: .8rem;
    border-right: 1px solid whitesmoke;
}

.narratorarea-grid-reverse .talk,
.timarea-grid-reverse .talk {
    margin-right: auto;
    width: max-content;
    height: fit-content;
}

.tim-text {
    border-radius: 5px;
    color: beige;
    background-color: maroon;
    width: fit-content;
    margin-left: 3em;
}

.tim-text-narrator {
    border-radius: 5px;
    color: #FFDB58;
    background-color: #228B22;
    width: max-content;
    height: fit-content;
    margin: auto 0;
    margin-left: 3em;
}

.discord {
    width: 100%;
    background-color: inherit;
}

/* tims rocking motion */
@keyframes bob-animation {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* moving tree */
@keyframes move-tree {
    100% {
        left: calc(100% - 48px);
    }
}

@keyframes move-tree-reverse {
    0% {
        left: 100%;
    }

    100% {
        left: 0;
    }
}

/* moving cloud */
@keyframes cloud-animation {
    100% {
        left: calc(100% - 28px);
    }
}

@keyframes cloud-animation-reverse {
    100% {
        left: 0 - 28px;
    }

}

/* trek (color shift) */
@keyframes trek-animation-reverse {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: -100% 50%;
    }
}

@keyframes trek-animation {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

/* fade */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}