<div class="main" [ngClass]="{'main-fullscreen': fullScreen === true, 'main-expanded' : fullScreen, 'main-collapsed' : !fullScreen}" >
    <div *ngIf="!fullScreen" class="bread child">
        <div class="root"><a href="/">home></a></div>
        <div>
            <xng-breadcrumb [separator]="iconTemplate">
                <ng-template #iconTemplate>
                    <mat-icon>chevron_right</mat-icon>
                </ng-template>
                <ng-container *xngBreadcrumbItem="let bcitem; let info = info; let first = first">
                    <mat-icon *ngIf="info">{{info}}</mat-icon>
                    <ng-container>{{bcitem}}</ng-container>
                </ng-container>
            </xng-breadcrumb>
        </div>
    </div>
    <div class="user_admin child">
        <div *ngIf="this.userService.name != ''">
            <span class="personname" matTooltip="{{this.userService.about}}"
            matTooltipClass="tooltip-long">{{this.userService.name}}</span><button style="color: inherit;" *ngIf="!nameConfirmed"mat-button (click)="getName2ndAttempt()">not you?</button></div>
    </div>
    <div *ngIf="!fullScreen" class="dh child">
        <p>{{quote}}</p>
    </div>
    <div *ngIf="!fullScreen" class="title child">
        <mat-expansion-panel  [ngClass]="{'panel-expanded': expandedBio === true, 'panel-collapsed' : expandedBio === false }" [expanded]="expandedBio" (click)="setExpand()" [hideToggle]="expandedBio">
            <mat-expansion-panel-header>
              <mat-panel-title class="maintitle">{{title}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="subtitle" *ngIf="posTerms != ''" [innerHTML]="posTerms"></div>
          </mat-expansion-panel>    
    </div>
    <div *ngIf="!fullScreen" id="lugrasimo-regular" class="contactme child email">jesse.stone<wbr>&#64;nehsa.net
    </div>
    <div *ngIf="!fullScreen" class="navbar child"><app-navbar></app-navbar></div>
    <div class="body child">
        <router-outlet></router-outlet>
    </div>
    <div class="footer child">
        <div>&nbsp;</div>
        <div>nehsa.net &copy; 2024 - All Rights Reserved.  Be kind.</div>
        <div>
            <div class="footertxt">
                <h5>{{getBuild()}}</h5>
            </div>
            <!-- <div class="playwright"><a href="https://github.com/nehsa25/nehsa.net/actions"><img
                        src="https://github.com/nehsa25/nehsa.net/actions/workflows/playwright.yml/badge.svg" /></a>
            </div> -->
            <div></div>
        </div>
    </div>
</div>