/* For desktop View - large */
@media screen and (min-width: 1024px) {
    .gridcols {
        grid-template-columns: min-content auto;
    }

    .main {
        grid-template-rows: min-content min-content min-content 1fr 225px min-content;
        grid-template-columns: 225px 225px 1fr min-content;
        grid-template-areas:
            "bread dh dh signup"
            "spacer title title title"
            "contactme body body body"
            "navbar body body body"
            "navbar body body body"
            "footer footer footer footer";
        max-width: 100%;
        overflow: hidden;
    }

    .footer {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .dh {
        text-align: right;
    }
}

/* For desktop View - med */
@media screen and (min-width: 509px) and (max-width: 1023px) {
    .gridcols {
        grid-template-columns: min-content auto;
    }

    .main {
        grid-template-rows: min-content min-content min-content min-content 1fr 225px min-content;
        grid-template-columns: 225px 200px 1fr;
        grid-template-areas:
            "bread signup signup"
            "bread dh dh"
            "spacer title title"
            "contactme body body"
            "navbar body body"
            "navbar body body"
            "footer footer footer";
        max-width: 1500px;
        overflow: auto;
    }

    .signup {
        text-align: right;
    }

    .footer {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .dh {
        text-align: right;
    }
}

/* For desktop View - tiny */
@media screen and (min-width: 0px) and (max-width: 510px) {
    .gridcols {
        grid-template-rows: repeat(8, min-content);
    }

    .main {
        grid-template-areas:
            "title"
            "bread"
            "dh"
            "body"
            "signup"
            "contactme"
            "navbar"
            "footer";
        grid-template-rows: repeat(8, min-content);
        width: 480px;
        overflow: auto;
    }

    .footer {
        grid-template-rows: repeat(3, min-content);
        grid-gap: 1em;
    }

    .dh {
        text-align: left;
    }
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .gridcols {
        grid-template-columns: min-content auto;
    }

    .main {
        grid-template-rows: min-content min-content min-content min-content 1fr 225px min-content;
        grid-template-columns: 225px 200px 1fr;
        grid-template-areas:
            "bread bread signup"
            "bread bread dh"
            "spacer title title"
            "contactme body body"
            "navbar body body"
            "navbar body body"
            "footer footer footer";
        max-width: 1500px;
        overflow: auto;
    }

    .footer {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .dh {
        text-align: left;
    }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .gridcols {
        grid-template-rows: repeat(8, min-content);
    }

    .main {
        grid-template-areas:
            "title"
            "bread"
            "dh"
            "body"
            "signup"
            "contactme"
            "navbar"
            "footer";
        grid-template-rows: repeat(8, min-content);
        width: 480px;
        overflow: auto;
    }

    .footer {
        grid-template-rows: repeat(3, min-content);
        grid-gap: 1em;
    }

    .dh {
        text-align: left;
    }
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
    .gridcols {
        grid-template-rows: repeat(8, min-content);
    }

    .main {
        grid-template-areas:
            "title"
            "bread"
            "dh"
            "body"
            "signup"
            "contactme"
            "navbar"
            "footer";
        grid-template-rows: repeat(8, min-content);
        width: 640px;
        overflow: auto;
    }

    .footer {
        grid-template-rows: repeat(3, min-content);
        grid-gap: 1em;
    }

    .dh {
        text-align: left;
    }
}

.title {
    grid-template-areas: "maintitle" "subtitle";
    grid-template-rows: min-content min-content;
}

.root {
    color: #ff7f5b;
}

.root a:link {
    color: #ff7f5b;
}

/* visited link */
.root a:visited {
    color: #ff7f5b;
}

/* mouse over link */
.root a:hover {
    color: #ff7f5b;
    font-weight: 700;
}

/* selected link */
.root a:active {
    color: #ff7f5b;
}

.spacer {
    grid-area: spacer;
}

.main {
    display: grid;
    height: 100%;
    grid-gap: 0;
    color: #ff7f5b;
}

.bread {
    grid-area: bread;
    padding-left: 25px;
    display: grid;
    grid-template-columns: 50px 1fr;
}

.signup {
    grid-area: signup;
    background-color: #999 !important;
    padding: 7px 1em;
    font-variant: small-caps;
    font-size: 1.5rem;
    height: 100%;
}

.dh {
    grid-area: dh;
    height: 100%;
    display: grid;
    justify-content: inherit !important;
    padding: 0 2em;
    font-size: 1rem;
    white-space: wrap;
}

.child {
    background-color: #333;
    align-items: center;
    justify-content: center;
}

.title {
    grid-area: title;
    color: white;
    padding-left: 25px;
    display: grid;
    align-content: center;
    height: 100%;
}

.maintitle {
    grid-area: maintitle;
    font-size: 2.5rem;
}

.subtitle {
    grid-area: subtitle;
    font-size: 1.5rem;
}

.navbar {
    grid-area: navbar;
    margin-top: -2px;
}

.body {
    grid-area: body;
    padding: 2px 0.5em;
    align-items: baseline;
    overflow: auto;
    max-height: 100%;
}

.footer {
    grid-area: footer;
    text-align: center;
    width: 100%;
    z-index: 999;
    display: grid;
}

.playwright {
    justify-content: center;
    height: 25px;
}

:host {
    min-height: 100% !important;
    height: 100% !important;
}

.gridcols {
    display: grid;
}

.footertxt {
    color: wheat;
}

.footertxt h5 {
    padding: 0;
    margin: 0;
}