@media screen and (min-width: 0px) and (max-width: 400px) {
    .gridcols {
        grid-template-rows: repeat(min-content, 7);
    }

    .main {
        grid-template-areas:
            "title"
            "bread"
            "dh"
            "body"
            "contactme"
            "navbar"
            "footer";
        grid-template-rows: repeat(7, min-content);
        width: 400px;
        overflow: auto;
    }

    .body {
        max-height: 300px;
    }
}

@media screen and (min-width: 401px) and (max-width: 800px) {
    .gridcols {
        grid-template-rows: repeat(min-content, 7);
    }

    .main {
        grid-template-areas:
            "title"
            "bread"
            "dh"
            "body"
            "contactme"
            "navbar"
            "footer";
        grid-template-rows: repeat(min-content, 7);
        grid-template-columns: 799px;
        width: 800px;
        overflow: auto;
    }

    .body {
        max-height: 300px;
    }
}

@media screen and (min-width: 799px) {
    .gridcols {
        grid-template-columns: min-content auto;
    }

    .main {
        grid-template-rows: 66px min-content min-content 1fr 225px min-content;
        grid-template-columns: 225px 200px 1fr;
        grid-template-areas:
            "bread bread dh"
            "spacer title title"
            "contactme body body"
            "navbar body body"
            "navbar body body"
            "footer footer footer";
        max-width: 1500px;
        overflow: auto;
    }

    .body {
        max-height: 100%;
    }
}


@media screen and (min-width: 1500px) {
    .gridcols {
        grid-template-columns: min-content auto;
    }

    .main {
        grid-template-rows: 66px min-content min-content 1fr 225px min-content;
        grid-template-columns: 225px 225px 1fr 1fr;
        grid-template-areas:
            "bread bread dh dh"
            "spacer title title title"
            "contactme body body body"
            "navbar body body body"
            "navbar body body body"
            "footer footer footer footer";
        max-width: 100%;
        overflow: hidden;
    }

    .body {
        max-height: 100%;
    }
}

.title {
    grid-template-areas: "maintitle" "subtitle";
    grid-template-rows: min-content min-content;
}

.root {
    color: #ff7f5b;
}

.root a:link {
    color: #ff7f5b;
}

/* visited link */
.root a:visited {
    color: #ff7f5b;
}

/* mouse over link */
.root a:hover {
    color: #ff7f5b;
    font-weight: 700;
}

/* selected link */
.root a:active {
    color: #ff7f5b;
}

.spacer {
    grid-area: spacer;
}

.main {
    display: grid;
    height: 100%;
    grid-gap: 0;
    color: #ff7f5b;
}

.bread {
    grid-area: bread;
    padding-left: 25px;
    display: grid;
    grid-template-columns: 50px 1fr;
}

.dh {
    grid-area: dh;
    height: 100%;
    display: grid;
    justify-content: inherit !important;
    padding: 0 25px;
    text-align: left;
    font-size: 1rem;
}

.child {
    background-color: #333;
    align-items: center;
    justify-content: center;
}

.title {
    grid-area: title;
    color: white;
    padding-left: 25px;
    display: grid;
    align-content: center;
    height: 100%;
}

.maintitle {
    grid-area: maintitle;
    font-size: 2.5rem;
}

.subtitle {
    grid-area: subtitle;
    font-size: 1.5rem;
}

.navbar {
    grid-area: navbar;
    margin-top: -2px;
}

.body {
    grid-area: body;
    padding: 2px 0.5em;
    align-items: baseline;
    overflow: auto;
}

.footer {
    grid-area: footer;
    text-align: center;
    width: 100%;
    z-index: 999;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.playwright {
    justify-content: center;
    height: 25px;
}

:host {
    min-height: 100% !important;
    height: 100% !important;
}

.gridcols {
    display: grid;
}