<div class="main" [ngClass]="{
'main-fullscreen': fullScreen === true, 
'app-main-expanded': expandedBio === true, 
'app-main-collapsed': expandedBio === false,
'vampire': userService.appIsDark() === true,
'angel': userService.appIsDark() === false,
}">
    <div [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()" *ngIf="!fullScreen"
        class="bread child">
        <div class="root"><a href="/">home></a></div>
        <div>
            <xng-breadcrumb [separator]="iconTemplate">
                <ng-template #iconTemplate>
                    <mat-icon>chevron_right</mat-icon>
                </ng-template>
                <ng-container *xngBreadcrumbItem="let bcitem; let info = info; let first = first">
                    <mat-icon *ngIf="info">{{info}}</mat-icon>
                    <ng-container>{{bcitem}}</ng-container>
                </ng-container>
            </xng-breadcrumb>
        </div>
    </div>
    <div [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()" class="user_admin child">
        <div *ngIf="this.userService.name != ''">
            <span [class.personname-dark]="userService.appIsDark()" [class.personname-light]="!userService.appIsDark()"
                matTooltip="{{this.userService.about}}"
                matTooltipClass="tooltip-long">{{this.userService.name}}</span><button class="notyoubutton"
                *ngIf="!nameConfirmed" mat-button (click)="getName2ndAttempt()">not you?</button>
        </div>
    </div>
    <div [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()" *ngIf="!fullScreen"
        class="dh child" [innerHTML]="quote"></div>
    <div [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()" *ngIf="!fullScreen"
        class="theme child"><mat-icon (click)="themeChangeBtnClick(false)">light_mode</mat-icon><mat-slider
            class="colorSlider" max=1 min=0 step=1 discrete=false showTickMarks=false>
            <input matSliderThumb #slider [value]="darkmode_value" (change)="themeChange($event)">
        </mat-slider><mat-icon (click)="themeChangeBtnClick(true)">brightness_4</mat-icon>
    </div>
    <div [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()" *ngIf="!fullScreen"
        class="title child">
        <mat-expansion-panel
            [ngClass]="{'panel-expanded': expandedBio === true, 'panel-collapsed trek' : expandedBio === false }"
            [expanded]="expandedBio" (click)="setExpand()">
            <mat-expansion-panel-header>
                <mat-panel-title class="title child">

                    <div *ngIf="this.expandedBio" [class.maintitle-dark]="userService.appIsDark()"
                        [class.maintitle-light]="!userService.appIsDark()">
                        <div *ngIf="this.expandedBio">
                            {{title}}
                        </div>
                    </div>
                    <div *ngIf="!this.expandedBio" class="world" [class.maintitle-dark]="userService.appIsDark()"
                        [class.maintitle-light]="!userService.appIsDark()">
                        <div class="trees" [class.trees-normal]="!this.reversify"
                        [class.trees-reverse]="this.reversify"></div>

                        <div class="cloud" [class.cloud-normal]="!this.reversify"
                        [class.cloud-reverse]="this.reversify"></div>
  
                        <div *ngFor="let tree of trees; let i = index" [style.width.px]="tree.width"
                            [style.height.px]="tree.height" [style.zIndex]="tree.zindex" [style.top.px]="tree.top"
                            [style.left.px]="tree.left" class="tree" [class.tree-normal]="!this.reversify"
                            [class.tree-reverse]="this.reversify" [style.animationPlayState]="playState"
                            [style.animationDuration]="tree.speed">
                        </div>

                        <!-- Tim normal -->
                        <div *ngIf="timSpeaking && timMovingLeft" class="timarea-grid timarea-grid-normal">
                            <div class="pause-button-container">
                                <div> <button *ngIf="" class="control-button" mat-icon-button (click)="pauseAnimation($event)">
                                        <mat-icon>pause</mat-icon>
                                    </button>
                                    <button *ngIf="" class="control-button" mat-icon-button (click)="pauseAnimation($event)">
                                        <mat-icon>resume</mat-icon>
                                    </button>
                                </div>
                                <div> <button class="control-button" mat-icon-button (click)="reverseAnimation($event)">
                                        <mat-icon>history</mat-icon>
                                    </button></div>
                                <div> <button class="control-button" mat-icon-button (click)="swapAnimation($event)">
                                        <mat-icon>swap_horiz</mat-icon>
                                    </button></div>
                            </div>
                            <div class="narrator"></div>
                            <div class="spacer"></div>
                            <div *ngIf="timMessage == ''" [ngStyle]="{'background-color': 'inherit;'}"
                                class="column talk" [innerHTML]="timMessage"></div>
                            <div *ngIf="timMessage != ''" class="column talk tim-text" [innerHTML]="timMessage"></div>
                            <div class="tim-container">
                                <div class="tim">
                                    <div class="eye"></div>
                                    <div class="nose"></div>
                                </div>
                            </div>
                        </div>

                        <!-- Tim reverse-->
                        <div *ngIf="timSpeaking && !timMovingLeft" class="timarea-grid timarea-grid-reverse">
                            <div class="pause-button-container">
                                <div> <button class="control-button" mat-icon-button (click)="pauseAnimation($event)">
                                        <mat-icon>pause</mat-icon>
                                    </button></div>
                                <div> <button class="control-button" mat-icon-button (click)="reverseAnimation($event)">
                                        <mat-icon>history</mat-icon>
                                    </button></div>
                                <div> <button class="control-button" mat-icon-button (click)="swapAnimation($event)">
                                        <mat-icon>swap_horiz</mat-icon>
                                    </button></div>
                            </div>
                            <div *ngIf="timMessage == ''" [ngStyle]="{'background-color': 'inherit;'}"
                                class="column talk" [innerHTML]="timMessage"></div>
                            <div *ngIf="timMessage != ''" class="column talk tim-text" [innerHTML]="timMessage"></div>
                            <div class="narrator"></div>
                            <div class="spacer"></div>
                            <div class="tim-container">
                                <div class="tim">
                                    <div class="eye"></div>
                                    <div class="nose"></div>
                                </div>
                            </div>
                        </div>

                        <!-- Narrator -->
                        <div *ngIf="!timSpeaking && timMovingLeft" class="narratorarea-grid narratorarea-grid-normal">
                            <div class="pause-button-container">
                                <div> <button class="control-button" mat-icon-button (click)="pauseAnimation($event)">
                                        <mat-icon>pause</mat-icon>
                                    </button></div>
                                <div> <button class="control-button" mat-icon-button (click)="reverseAnimation($event)">
                                        <mat-icon>history</mat-icon>
                                    </button></div>
                                <div> <button class="control-button" mat-icon-button (click)="swapAnimation($event)">
                                        <mat-icon>swap_horiz</mat-icon>
                                    </button></div>
                            </div>
                            <div *ngIf="timMessage == ''" [ngStyle]="{'background-color': 'inherit;'}"
                                class="column narrator" [innerHTML]="timMessage"></div>
                            <div *ngIf="timMessage != ''" class="column narrator tim-text-narrator"
                                [innerHTML]="timMessage"></div>
                            <div class="spacer"></div>
                            <div class="talk"></div>
                            <div class="tim-container">
                                <div class="tim">
                                    <div class="eye"></div>
                                    <div class="nose"></div>
                                </div>
                            </div>
                        </div>

                        <!-- Narrator reverse-->
                        <div *ngIf="!timSpeaking && !timMovingLeft" class="narratorarea-grid narratorarea-grid-reverse">
                            <div class="pause-button-container">
                                <div> <button class="control-button" mat-icon-button (click)="pauseAnimation($event)">
                                        <mat-icon>pause</mat-icon>
                                    </button></div>
                                <div> <button class="control-button" mat-icon-button (click)="reverseAnimation($event)">
                                        <mat-icon>history</mat-icon>
                                    </button></div>
                                <div> <button class="control-button" mat-icon-button (click)="swapAnimation($event)">
                                        <mat-icon>swap_horiz</mat-icon>
                                    </button></div>
                            </div>
                            <div *ngIf="timMessage == ''" [ngStyle]="{'background-color': 'inherit;'}"
                                class="column narrator" [innerHTML]="timMessage"></div>
                            <div *ngIf="timMessage != ''" class="column narrator tim-text-narrator"
                                [innerHTML]="timMessage"></div>
                            <div class="talk"></div>
                            <div class="spacer"></div>
                            <div class="tim-container">
                                <div class="tim">
                                    <div class="eye"></div>
                                    <div class="nose"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="subtitle" *ngIf="posTerms != ''" [innerHTML]="posTerms"></div>
        </mat-expansion-panel>
    </div>
    <div [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()" *ngIf="!fullScreen"
        class="contactme child">jesse.stone<wbr>&#64;nehsa.net
    </div>
    <div [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()" *ngIf="!fullScreen"
        class="navbar child"><app-navbar></app-navbar></div>
    <div [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()" class="body child">
        <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>
    <div [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()" class="footer child">
        <div>nehsa.net &copy; 2024 - All Rights Reserved. Be kind.</div>
        <div>{{getBuild()}}</div>
        <!-- <div class="playwright">
            <a href="https://github.com/nehsa25/nehsa.net/actions"><img
                    src="https://github.com/nehsa25/nehsa.net/actions/workflows/playwright.yml/badge.svg" /></a>
            <h2>Why?</h2>
        </div> -->
    </div>
</div>