<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <h1 data-testid="header-title">Writing / Grammar</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="commentgrid">
                <div class="topics">
                    <div>
                        <h4>In the search to become a better communicator..</h4>
                        <ul>
                            <li>One space, not two when starting new sentence. Bah!</li>
                            <li>The final period or comma goes inside the quoted material. "Yay!"</li>
                            <li>Semi-colons separate two independent clauses. "I am a writer; I am a reader." Refined
                                folk use semi-colons for style points; in all cases, semi-colons could be periods if the
                                clauses can stand alone. </li>
                            <li>
                                <mat-expansion-panel expanded>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>Problem Words</mat-panel-title>
                                        <mat-panel-subtitle><button mat-stroked-button
                                                (click)="startFlash($event)">Start Flash
                                                Cards</button></mat-panel-subtitle>
                                    </mat-expansion-panel-header>
                                    <ul>
                                        <li>ill<span class="importantish">u</span>strates</li>
                                        <li>A<span class="importantish">cc</span>o<span
                                                class="importantish">mm</span>odate
                                        </li>
                                        <li>Defin<span class="importantish">i</span>tely</li>
                                        <li>Emba<span class="importantish">rr</span>a<span
                                                class="importantish">ss</span>
                                        </li>
                                        <li>O<span class="importantish">cc</span>u<span
                                                class="importantish">rr</span>ence
                                        </li>
                                        <li>Sep<span class="importantish">a</span>rate</li>
                                        <li>Indef<span class="importantish">i</span>nity</li>
                                        <li>V<span class="importantish">e</span>rtic<span class="importantish">al</span>
                                        </li>
                                    </ul>
                                </mat-expansion-panel>
                            </li>
                            <li>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>Pronoun Power!</mat-panel-title>
                                        <mat-panel-description>
                                            <div class="lightning-container">
                                                <div class="lightning outlined-text">/\/</div>
                                            </div>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <dl>
                                        <dt>Pronoun</dt>
                                        <dd>A pronoun should refer a noun coming before
                                            the pronoun.<br>
                                            Example: Mary is late for work. <span class="important">She</span> is now
                                            sweaty.<br>(Him/Her)</dd>
                                        <dt>Possessive Pronoun</dt>
                                        <dd>Example: Mary is late for work because she cannot find <span
                                                class="important">her</span>
                                            keys.<br>(His/Her)</dd>
                                        <dt>Antecedent (an·tuh·see·dnt)</dt>
                                        <dd>The noun being replaced by the pronoun. In the examples above, it'd be
                                            "Mary."
                                        </dd>
                                    </dl>
                                </mat-expansion-panel>
                            </li>
                            <li>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>References to other work</mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <dl>
                                        <dt>Movies/Books</dt>
                                        <dd>The basic format for an in-text citation is: Title of the Book (Author Last
                                            Name,
                                            year).
                                            One author: Where the Wild Things Are (Sendak, 1963) is a depiction of a
                                            child
                                            coping
                                            with his anger towards his mom.</dd>
                                    </dl>
                                </mat-expansion-panel>
                            </li>
                            <li>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>Confusing Words</mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <dl>
                                        <dt>Affect/Effect</dt>
                                        <dd>Affect is a verb meaning to influence. The effect is a noun meaning result.
                                            Example:
                                            The bird shriek affected my concentration. The effect (impact) of the shriek
                                            was
                                            distraction.</dd>
                                    </dl>
                                </mat-expansion-panel>
                            </li>
                        </ul>
                    </div>
                </div>
                <div><app-comment></app-comment></div>
            </div>
        </mat-card-content>
    </mat-card>
</div>