<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <h1 data-testid="header-title">Writing / Grammar</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="commentgrid">
                <div class="topics">
                    <div>
                        <h4>Things I have trouble remembering for good grammar..</h4>
                        <ul>
                            <li>
                                <dl>
                                    <dt>Movies/Books</dt>
                                    <dd>he basic format for an in-text citation is: Title of the Book (Author Last Name,
                                        year).
                                        One author: Where the Wild Things Are (Sendak, 1963) is a depiction of a child
                                        coping
                                        with his anger towards his mom.</dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
                <div><app-comment></app-comment></div>
            </div>
        </mat-card-content>
    </mat-card>
</div>