<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <h1 data-testid="header-title">Writing / Grammar</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="commentgrid topics">
                <div><app-related-content></app-related-content></div>
                <div>
                    <div>
                        <h4>In the search to become a better communicator..</h4>
                        <ul>
                            <li>One space, not two when starting new sentence.</li>
                            <li>The final period or comma goes inside the quoted material.</li>
                            <li>Semi-colons separate two independent clauses. "I am a writer; I am a reader." In all
                                cases, semi-colons could be periods if the
                                clauses can stand alone. </li>
                            <li>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>Spelling</mat-panel-title>
                                        <mat-panel-subtitle><button mat-stroked-button
                                                (click)="startFlash($event)">Start Flash
                                                Cards</button></mat-panel-subtitle>
                                    </mat-expansion-panel-header>
                                    <ul>
                                        <li>ill<span class="importantish">u</span>strates</li>
                                        <li>tr<span class="importantish">aum</span>atic
                                        </li>
                                        <li>A<span class="importantish">cc</span>o<span
                                                class="importantish">mm</span>odate
                                        </li>
                                        <li>Defin<span class="importantish">i</span>tely</li>
                                        <li>Emba<span class="importantish">rr</span>a<span
                                                class="importantish">ss</span>
                                        </li>
                                        <li>O<span class="importantish">cc</span>u<span
                                                class="importantish">rr</span>ence
                                        </li>
                                        <li>Sep<span class="importantish">a</span>rate</li>
                                        <li>Indef<span class="importantish">i</span>nity</li>
                                        <li>V<span class="importantish">e</span>rtic<span class="importantish">al</span>
                                        </li>
                                        <li>
                                            pr<span class="importantish">o</span>p<span
                                                class="importantish">rie</span>tary
                                        </li>
                                        <li>di<span class="importantish">scip</span>line</li>
                                        <li>physical</li>
                                        <li>mi<span class="importantish">ss</span>pelled, not mispelled. Misspelled for
                                            past tense (misseplt if gansta).</li>
                                        <li>"Back-end," not "backend" or "back end." While all are commonly used, the
                                            "back-end" is the most grammatically correct way to indicate that something
                                            is located in the back or inner part of the system.</li>
                                    </ul>
                                </mat-expansion-panel>
                            </li>
                            <li>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>Pronoun Power!</mat-panel-title>
                                        <mat-panel-description>
                                            <div class="lightning-container">(This is suppose to be a lightning bolt.
                                                I'll improve it someday..<br>rotate each end 45 degrees, make it glow
                                                ominously. It's gonna be awesome...)
                                                <div class="lightning outlined-text">/\/</div>
                                            </div>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <dl>
                                        <dt>Pronoun</dt>
                                        <dd>A pronoun should refer a noun coming before
                                            the pronoun.<br>
                                            Example: Mary is late for work. <span class="important">She</span> is now
                                            sweaty.<br>(Him/Her)</dd>
                                        <dt>Possessive Pronoun</dt>
                                        <dd>Example: Mary is late for work because she cannot find <span
                                                class="important">her</span>
                                            keys.<br>(His/Her)</dd>
                                        <dt>Antecedent (an·tuh·see·dnt)</dt>
                                        <dd>The noun being replaced by the pronoun. In the examples above, it'd be
                                            "Mary."
                                        </dd>
                                    </dl>
                                </mat-expansion-panel>
                            </li>
                            <li>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>Prepositions</mat-panel-title>
                                        <mat-panel-description>Word that shows the relationship between nouns, pronouns,
                                            or other words.
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <ul>
                                        <li>The book is <span class="importantish">in</span> the bag.</li>
                                        <li>The cat is <span class="importantish">on</span> the table.</li>
                                        <li>I am <span class="importantish">at</span> home.</li>
                                        <li>This gift is <span class="importantish">for</span> you.</li>
                                        <li>She is going to the store <span class="importantish">with</span> her friend.
                                        </li>
                                        <li>The letter is <span class="importantish">from</span> my sister.</li>
                                        <li>I am going <span class="importantish">to</span> the park.</li>
                                        <li>The taste <span class="importantish">of</span> the apple is sweet.</li>
                                        <li>The car is parked <span class="importantish">behind</span> the house.</li>
                                        <li>The ball is <span class="importantish">under</span> the bed.</li>
                                    </ul>
                                </mat-expansion-panel>
                            </li>
                            <li>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>"Problem" Words</mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <dl>
                                        <dt>Onomatopoeia (aa&#183;nuh&#183;maa&#183;tuh&#183;pee&#183;uh)</dt>
                                        <dd>The formation of a word from a sound associated with what is named; for
                                            example, buzz, hiss, meow.</dd>
                                        <dt>Idempotency (eye&#183;duhm&#183;po&#183;tu&#183;n&#183;see)</dt>
                                        <dd>Idempotency is the property of certain operations in mathematics and
                                            computer science, that can be applied multiple times without changing the
                                            result beyond the initial application.</dd>
                                        <dt>Kubernetes</dt>
                                        <dd>(koo&#183;ber&#183;net&#183;eez)</dd>
                                        <dt>Affect/Effect</dt>
                                        <dd>Affect is a verb meaning to influence. The effect is a noun meaning
                                            result.<br><br>
                                            Example:<br>
                                            <span class="example">An exotic yellow bird landed on the branch and
                                                shrieked in contented happiness.<br><br>

                                                The large yellow bird's shriek, sudden and piercing, <span
                                                    class="importantish">affected</span> Gaston
                                                deeply; it started him and brought back traumatic memories of Pierre.
                                                The <span class="importantish">effect</span> was Gaston's sharp claws
                                                going into Timothée's leg, then a
                                                yelp and a bellowed, "GASTON!". <br><br>

                                                This yell scared the bird and caused it to fly away.<br><br>

                                                Fin.
                                            </span>
                                        </dd>
                                        <dt>Time/Timing</dt>
                                        <dd>
                                            <ul class="condensed">
                                                <li>Time refers to a specific point or duration, which is appropriate
                                                    when discussing a measurement.</li>
                                                <li>Timing often implies the act of determining or controlling time.
                                                </li>
                                            </ul><br><br>
                                            Example:<br>
                                            Timoth&eacute;e's perfect timing allowed him to arrive at the restaurant
                                            just as Gaston was leaving, and so they missed each other this time. Drats!
                                        </dd>
                                        <dt>Compliment/Complement</dt>
                                        <dd>Compliment is a nice thing to say. Complement is
                                            something that completes or goes well with something else.<br><br>
                                            Example:<br>
                                            <span class="example">Tim's quick reflexes complemented Gaston's composure
                                                as they narrowly avoided a waterskiing mishap, and Gaston returned the
                                                compliment by crediting Tim's sharp eyes for their escape.</span>
                                        </dd>
                                        <dt>Among/Amongst</dt>
                                        <dd>Although among is more preferred in American English and amongst
                                            is more common in British English, I still use amongst because it sounds
                                            better<br><br>
                                            What I do (and you probably should not):<br>
                                            <ul class="condensed">
                                                <li>If referring to two things: <span class="importantish">Among</span>
                                                </li>
                                                <li>If referring to more than two things: <span
                                                        class="importantish">Amongst</span></li>
                                            </ul><br><br>
                                            Example:<br>
                                            <span class="example">Amongst the many people at the pool, Tim and Gaston
                                                stood out. Among
                                                themselves, they snorkeled to the bottom of the pool.</span>
                                        </dd>
                                        <dt>To Whom/To Whomever</dt>
                                        <dd>&quot;To whom it may concern&quot; is more gramatically correct than
                                            &quot;To whomever it may concern,&quot; but both are
                                            impersonal and we should probably just use &quot;Dear &lt;TITLE&gt;&quot; if
                                            you don't have a specific name to refer to.<br><br>Whomever is used as the
                                            object of a verb or preposition such as: &quot;I will give the prize to
                                            whomever wins the game.&quot; or &quot;Please hire whomever you think is
                                            qualified.&quot; Easiest way to remember: <span
                                                class="importantish">Whomever needs an action.</span>
                                        </dd>
                                        <dt>Submit/Remit</dt>
                                        <dd>Submit is to present for consideration or judgement. Remit is to send
                                            money in payment or as a gift.<br><br>
                                            Example:<br>
                                            <span class="example">Timothée submitted his application to the
                                                university, and remitted the payment for the application fee.</span>
                                        </dd>
                                        <dt>On to/Onto</dt>
                                        <dd>Onto is used to indicate movement into or on a particular place or
                                            position. On to is used to indicate movement to a new topic or
                                            point.<br><br>
                                            Example:<br>
                                            <span class="example">Timothée stepped onto the stage, and then moved on
                                                to the next act.</span>
                                        <dt>Chartruse/Cerulean</dt>
                                        <dd>Chartruse is: <span class="importantish chartruse">#7fff00;</span> and Cerulean
                                            is: <span class="importantish cerulean">#007ba7;</span></dd>

                                    </dl>
                                </mat-expansion-panel>
                            </li>
                            <li>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>Words to be used at every opportunity</mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <dl>
                                        <dt>Curmudgeonly</dt>
                                        <dd>Bad-tempered, difficult, cantankerous. Timothée stepped on Gaston's tail and
                                            Gaston
                                            was curmudgeonly for the rest of the day. Timothée could find Gaston, at any
                                            moment, skulking in the shadows, glaring at him. "I'm sorry, Gaston,"
                                            Timothée would utter sincerely, but Gaston remained motionless. He had them
                                            eyes. THEM EYES!
                                        </dd>
                                        <dt>Huzzah</dt>
                                        <dd>Used to express joy, approval, or encouragement. "Huzzah!" Timothée
                                            exclaimed as he finally found the perfect gift for Gaston. Gaston would be
                                            delighted."</dd>
                                        <dt>Medieval</dt>
                                        <dd>This list refers to "medieval"only if spoken by someone extremely british
                                            who can pull out 4 syllables:
                                            (med(auh)—ee&#183;vuhl)</dd>
                                    </dl>
                                </mat-expansion-panel>
                            </li>
                            <li>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>References to other work</mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <dl>
                                        <dt>Movies/Books</dt>
                                        <dd>The basic format for an in-text citation is: Title of the Book (Author Last
                                            Name,
                                            year).
                                            One author: Where the Wild Things Are (Sendak, 1963) is a depiction of a
                                            child
                                            coping
                                            with his anger towards his mom.</dd>
                                    </dl>
                                </mat-expansion-panel>
                            </li>
                            <li>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>Pronunciations</mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <dl>
                                        <dt>—</dt>
                                        <dd>Short Dash, indicates a slight pause or a change in pitch.<br>An american
                                            may say:
                                            mid&#183;evil with no specific proununcation but a brit may say:
                                            med—auh&#183;ee&#183;vuhl</dd>
                                        <dt>()</dt>
                                        <dd>Parentheses, indicates emphasis or pace. mid&#183;evil vs.
                                            med(auh)&#183;ee&#183;vuhl</dd>
                                        <dt>...</dt>
                                        <dd>Ellipsis, indicates a pause or a trailing off. med...auh&#183;ee&#183;vuhl
                                    </dl><br><br>

                                    Examples:<br>
                                    <dl>
                                        <dt>Medieval</dt>
                                        <dd>med(auh)—ee&#183;vuhl</dd>
                                        <dt>Onomatopoeia</dt>
                                        <dd>aa&#183;nuh&#183;maa&#183;tuh&#183;pee&#183;uh</dd>
                                        <dt>Idempotency</dt>
                                        <dd>eye&#183;duhm&#183;po&#183;tu&#183;n&#183;see</dd>
                                        <dt>Kubernetes</dt>
                                        <dd>koo&#183;ber&#183;net&#183;eez</dd>
                                    </dl>
                                </mat-expansion-panel>
                            </li>
                        </ul>
                    </div>
                </div>
                <div><app-comment></app-comment></div>
            </div>
        </mat-card-content>
    </mat-card>
</div>