<mat-card class="card" [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()">
    <mat-card-header>
        <mat-card-title>
            <h1 data-testid="header-title">Google Cloud Platform (gcp)</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="commentgrid topics">
            <div><app-related-content></app-related-content></div>
            <div>
                <div>
                    <ul>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Important Commands</mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul>
                                    <li><inline-code>gcloud run deploy --image nehsa/nehsanet:latest</inline-code> -
                                        Uploads
                                        container to
                                        cloud</li>
                                    <li><inline-code>gcloud config set run/region us-central1</inline-code> - Set region
                                        to prevent
                                        being
                                        prompted
                                    <li><inline-code>gcloud cheat-sheet</inline-code></li>
                                </ul>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>SSL</mat-panel-title>
                                </mat-expansion-panel-header>
                                One method of setting up SSL within Google Cloud Platform is to use an integration. To
                                set this up:

                                <ul>
                                    <li>Login to <a target="_blank" href="https://console.cloud.google.com/">Google
                                            Cloud
                                            Console</a></li>

                                </ul>
                            </mat-expansion-panel>
                        </li>
                    </ul>
                </div>
            </div>
            <div><app-comment></app-comment></div>
        </div>
    </mat-card-content>
</mat-card>