<mat-card class="card" [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()">
    <mat-card-header>
        <mat-card-title>
            <h1 data-testid="header-title">Web Development Frameworks</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="commentgrid topics">
            <div><app-related-content></app-related-content></div>
            <div>
                <div>
                    <ul>
                        <li>
                            <mat-expansion-panel expanded>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Definitions</mat-panel-title>
                                </mat-expansion-panel-header>
                                <dl>
                                    <dt><acronym-name>ECMAScript 6<acronym-abbr>ES6</acronym-abbr></acronym-name></dt>
                                    <dd>ES6 is the sixth version of the ECMAScript standard, which is the
                                        standard on which JavaScript is based. ES6 is a significant update to the
                                        language, and the first update to the language since ES5 was standardized in
                                        2009. Implementation of these features in major JavaScript engines is underway
                                        now. The latest version is ES11 although ES6 is still widely used.</dd>
                                    <dt><acronym-name>Dependency
                                        Injection</acronym-name></dt>
                                    <dd>Tree shaking is a form of dead code elimination. The term is commonly used in
                                        the JavaScript context for the removal of unused code. Tree shaking relies on
                                        the static structure of ES6 module syntax (import/export) to determine which
                                        modules are used and which are not. This is important for performance, as it
                                        reduces the size of the JavaScript bundle that is sent to the client.</dd>
                                </dl>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel expanded>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Web Development Frameworks</mat-panel-title>
                                </mat-expansion-panel-header>
                                Designing an application capable of the load you intend to place on it is not just a
                                task but a pivotal decision that can make or break the success of your project and the
                                user experience it delivers.<br><br>

                                When starting a new project, the frameworks that will be used to structure our code must
                                be given great consideration. This is important not only for maintainability but also,
                                in some cases, for performance.<br><br>

                                ASP.NET MVC and ASP.NET Core are fundamentally different frameworks than Angular or
                                next.js.

                                For example,<br>
                                <table>
                                    <tr>
                                        <th>Framework</th>
                                        <th>Emphasis</th>
                                        <th>Suitable Use Cases</th>
                                        <th>Use cases not suitable</th>
                                        <th>Performance</th>
                                        <th>Code Structure</th>
                                        <th>Tree Shakable</th>
                                    </tr>
                                    <tr>
                                        <td>ASP.NET MVC</td>
                                        <td>Server-side rendering</td>
                                        <td>Traditional web applications, where SEO is important</td>
                                        <td>Highly interactive applications</td>
                                        <td>Good, but can be slower for highly interactive apps</td>
                                        <td>Model-View-Controller</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td>ASP.NET Core</td>
                                        <td>Cross-platform, high-performance</td>
                                        <td>Microservices, APIs, and cloud-based applications</td>
                                        <td>Legacy applications</td>
                                        <td>Excellent performance</td>
                                        <td>Flexible, can use MVC or Razor Pages</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td>Angular</td>
                                        <td>Client-side rendering</td>
                                        <td>Single-page applications (SPAs)</td>
                                        <td>SEO-heavy applications</td>
                                        <td>Good, but requires server-side rendering for SEO</td>
                                        <td>Component-based architecture</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td>Next.js</td>
                                        <td>Hybrid rendering</td>
                                        <td>SPAs with SEO needs</td>
                                        <td>Simple static sites</td>
                                        <td>Excellent performance</td>
                                        <td>File-based routing</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td>Wordpress</td>
                                        <td>Content management</td>
                                        <td>Blogs, news sites, and content-heavy applications</td>
                                        <td>Highly interactive applications</td>
                                        <td>Can be slow with many plugins</td>
                                        <td>Template-based</td>
                                        <td>No</td>
                                    </tr>
                                    <tr>
                                        <td>Vue</td>
                                        <td>Client-side rendering</td>
                                        <td>SPAs, small to medium-sized applications</td>
                                        <td>SEO-heavy applications</td>
                                        <td>Good, but requires server-side rendering for SEO</td>
                                        <td>Component-based architecture</td>
                                        <td>Yes</td>
                                    </tr>
                                </table>
                            </mat-expansion-panel>
                        </li>
                    </ul>
                </div>
                <div><app-comment></app-comment></div>
            </div>
        </div>
    </mat-card-content>
</mat-card>