<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <h1 data-testid="header-title">Angular / Material</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
                <h3>Important Files</h3>
                <ul>
                    <li>angular.json - Application settings</li>
                    <li>packages.json - NPM packages to install for application</li>
                </ul>

                <h3>Useful Links</h3>
                <ul>
                    <li>Angular - https://angular.io/</li>
                    <li>Material - https://material.angular.io/</li>
                    <li>Fonts - https://fonts.google.com/icons</li>
                </ul>
                <h3>Useful Commands</h3>
                <ul>
                    <li><span class="code">npm install</span> - Install all files necessary to run the Angular project</li>
                    <li><span class="code">ng serve -o</span> - Runs app locally.  The -o opens it in your browser.</li>
                    <li><span class="code">ng build --configuration development/production</span> - Build for deployments.  Output in /dist folder</li>          
                </ul>      
            </div>
        </mat-card-content>
    </mat-card>
</div>