<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <h1 data-testid="header-title">NPM</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
                <div>
                    <h3>Useful Commands</h3>
                    <span class="code">npm install -g npm&#64;latest</span> - Update NPM (Node Package Manager) to latest<br><br>
                    <span class="code">npm update -g npm</span> - Update Node to latest<br><br>
                    <span class="code">npm install</span> - Installs packages specified in packages.json<br><br>
                    <span class="code">npm audit fix</span> - Fixes easy security problems found in audit (excluding braeaking changes)
                    <span class="code">ng add &#64;angular/material</span> - Installs Material 
                </div>

                <div>
                    <h3>Packaging a new NPM package</h3>
                    <ol>
                        <li>Sign up for an NPM account at <a href="https://www.npmjs.com/">npmjs.com</a></li>
                        <li>Create folder structure:
                                <ul class="condensed">
                                    <li>&lt;packagename&gt;</li>
                                    <ul>
                                        <li>package</li>
                                        <ul>
                                            <li>&lt;The actual contents of the package&gt;</li>
                                        </ul>
                                        <li>test-folder</li>
                                    </ul>                                    
                                </ul>
                        </li>
                    </ol>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>