<mat-card class="card" [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()">
    <mat-card-header>
        <mat-card-title>
            <h1 data-testid="header-title"><acronym-name>Language Integrated
                    Query<acronym-abbr>linq</acronym-abbr></acronym-name>, baby?</h1>
        </mat-card-title>
        <mat-card-subtitle>Standardized query syntax in C#.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="commentgrid topics">
            <div><app-related-content></app-related-content></div>
            <div>
                <div>
                    <ul>
                        <li>
                            <mat-expansion-panel expanded>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Overview</mat-panel-title>
                                </mat-expansion-panel-header><acronym-name>Language Integrated
                                    Query<acronym-abbr>linq</acronym-abbr></acronym-name> is a query
                                technology for .NET. It
                                extends C# with native language syntax for queries across various objects - databases,
                                json, ect.<br><br>

                                It can be used in two forms:<br><br>

                                <span class="importantish">declarative syntax:</span><br>
                                <code>
                                    <pre>
var query = from item in collection
where item.property == value
select item;</pre>
                                </code>

                                or, <span class="importantish">method syntax:</span>
                                <code>var query =
                                    collection.Where(item => item.property ==
                                    value);</code><br><br>

                                I generally prefer the method syntax because it is more concise and easier to read.
                                Someone once told me to consider the "=>" to be "such
                                that." Doing so makes it much easier to read.<br><br>e.g. I want all items that are from
                                the Canada:<br><br>

                                OK:<br><br>

                                Give me all items "such that" item.Country is equal to "CA":<br>
                                <inline-code>var query = collection.Where(item => item.Country == "CA");</inline-code>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Common Operators</mat-panel-title>
                                </mat-expansion-panel-header>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>.AsQueryAble()</mat-panel-title>
                                </mat-expansion-panel-header>
                            </mat-expansion-panel>
                        </li>
                    </ul>
                </div>
            </div>
            <div><app-comment></app-comment></div>
        </div>
    </mat-card-content>
</mat-card>