.react-apps {
    display: block;
    width: fit-content;
}

.react-apps dl {
    display: block;
    width: 100%;
}

.react-apps dt {
    font-weight: bold;
    text-align: left;
}

.react-apps dd {
    text-align: left;
}