<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <h1 data-testid="header-title">Swagger</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="topics">
                <div>
                    <h3>Useful Tips</h3>
                    <ul>
                        <li>
                            <div class="code">dotnet add package Swashbuckle.AspNetCore.Annotations</div><br>
                            This allows the call to be annotated as such:
                            <div class="code">
                                <pre>
    app.MapGet("/api/v1/da", [SwaggerOperation(
        Summary = "Returns a single quote",
        Description = "A random Douglas Adam quote is returned.  Because.")]
        [SwaggerResponse(200, "Success")]
        [SwaggerResponse(500, "An error occurred")] () =>
    &#123;
    
        return JsonSerializer.Serialize&lt;string&gt;(douglasAdamQuotes[Random.Shared.Next(douglasAdamQuotes.Length)]);
    &#125;)
    .WithName("DouglasAdamQuotes")
    .WithOpenApi();
                                </pre>
                            </div>
                        </li>
                    </ul>
                </div><br>
                <div>
                    <h3>Swagger Documentation for this website (OpenApi 3.0)</h3>
                    <div class="code">
                        &#123;&#123;swagger&#125;&#125;
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>