input {
    font-family: Arial, sans-serif;
    padding: 0 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0;
    width: 100%;
    font-size: 13px;
    line-height: 30px;
    height: 32px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

input.focus {
    box-shadow: 0 0 6px 0 rgba(0, 132, 255, 0.5);
    border: 1px solid rgba(0, 132, 255, 0.5);
    outline: 0;
}

input.error {
    box-shadow: 0 0 6px 0 rgba(224, 57, 57, 0.5);
    border: 1px solid rgba(224, 57, 57, 0.5);
}

.grid {
    display: grid;
    grid-template-columns: auto min-content;
    grid-gap: 10px;
}