<mat-card class="card" [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()">
    <mat-card-header>
        <mat-card-title>
            <h1 data-testid="header-title">Software Development, Testing, SDLC!</h1>
        </mat-card-title>
        <mat-card-subtitle>
            Software design is a evolving field where expertise and
            continuous learning must coexist. I'm privileged to be a seasoned practitioner, and yet I have to always
            be willing to learn and adapt to new technologies and methodologies.
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="commentgrid topics">
            <div><app-related-content></app-related-content></div>
            <div>
                <ul>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Development Approaches</mat-panel-title>
                                <mat-panel-description>OOP, Functional Programming, Procedural
                                    Programming, Declarative Programming</mat-panel-description>
                            </mat-expansion-panel-header>
                            Software Development Approaches<br>
                            <dl>
                                <dt>Object-Oriented Programming (OOP)</dt>
                                <dd>
                                    Language example: Java, C#, Python<br>
                                    Modeling real-world entities as objects with data (attributes) and behavior
                                    (methods).<br>
                                    <code>
                                        <pre>
public class Dragon &#123;
    public string Name &#123; get; set; &#125;
    public int Age &#123; get; set; &#125;

    public void SneezeSmoke() &#123;
        Console.WriteLine("Poof!");
    &#125;
&#125;
                                        </pre>
                                    </code>
                                </dd>
                                <dt>
                                    Functional Programming</dt>
                                <dd>
                                    Language example: Haskell, Scala, Clojure<br>
                                    Treating computation as the evaluation of mathematical functions and avoiding
                                    changing-state and mutable data. e.g. it's all math - functional programming views
                                    code as a series of mathematical equations that have inputs and produce outputs.<br>
                                    <code>
                                        <pre>
def dragonSneezingFire(): String = &#123;
    "Poof!"
&#125;
                                            </pre>
                                    </code>
                                </dd>
                                <dt>
                                    Procedural Programming</dt>
                                <dd>
                                    Language example: C<br>
                                    Breaking complex problems into smaller, more manageable steps and procedures.
                                </dd>
                                <dt>
                                    Declarative Programming
                                </dt>
                                <dd>
                                    Language example: SQL, HTML, CSS<br>
                                    Describing what you want to happen using a language that is more human-readable such
                                    as HTML.
                                </dd>
                            </dl>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Casing Styles</mat-panel-title>
                                <mat-panel-description>camel, kebab, snake..</mat-panel-description>
                            </mat-expansion-panel-header>
                            <dl>
                                <dt>Camel Case</dt>
                                <dd>camelCase</dd>
                                <dt>Pascal Case</dt>
                                <dd>PascalCase</dd>
                                <dt>Snake Case</dt>
                                <dd>snake_case</dd>
                                <dt>Kebab Case</dt>
                                <dd>kebab-case</dd>
                            </dl>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Domain Driven Design</mat-panel-title>
                            </mat-expansion-panel-header>Domain-driven design (DDD) is an approach to software
                            development that focuses on aligning business and technical concepts. The basic idea is that
                            software should be based on the complexity of the domain in which it is
                            modeled.<br><br>Using a pet store as an example, the domain would include practical concepts
                            like pets and customers. The domain model would include classes like Pet and Customer and
                            methods like buyPet and sellPet.
                            <br><br>
                            It could look something like this for a pet store:<br>
                            <dl>
                                <dt>Pet</dt>
                                <dd>Represents a pet in the pet store</dd>
                                <dt>Customer</dt>
                                <dd>Represents a customer in the pet store</dd>
                                <dt>buyPet</dt>
                                <dd>Method to purchase a pet</dd>
                                <dt>sellPet</dt>
                                <dd>Method to sell a pet</dd>
                            </dl><br>DDD models serve as a common language between domain experts and developers. Taking
                            the above example further, a domain expert might say, "I want to buy a pet," and the
                            developer would know to call the buyPet method in the Pet class. This approach helps to
                            ensure that the software accurately reflects the business domain and
                            requirements.<br><br>By modeling in software (example below in Python), we ensure that the
                            code is a true reflection of the business domain.<br>
                            <code>
                                <pre>
&#64;dataclass
class Pet:
    name: str
    species: str
    price: float
    def __init__(self, name, species):
        self.name = name
        self.species = species
        self.price = price

&#64;dataclass
class Customer:
    name: str
    pets: List[Pet]
    def __init__(self, name):
        self.name = name
        self.pets = []

&#64;dataclass
class OrderItem:
    pet: Pet
    quantity: int

&#64;dataclass
class Order:
    customer_name: str
    order_items: List[OrderItem]

def create_order(customer_name, order_items):
    return Order(customer_name, order_items)

def total_price(self):
    return sum(item.pet.price * item.quantity for item in self.order_items)

def buy_pet(customer: Customer, pet: Pet):
    customer.pets.append(pet)

def sell_pet(customer: Customer, pet: Pet):
    customer.pets.remove(pet)    
                                </pre>
                            </code><br><br>
                            A TDD could also be implemented at the same time to ensure that the code is working as
                            expected:<br>
                            <code>
                                <pre>
def test_order_creation(self):
    canary = Pet("Canary", "Bird", 14.99)
    iguana = Pet("Salamander", "Reptile", 34.99)
    goldfish = Pet("Gold Fish", "Fish", 2.99)

    order_items = [
        OrderItem(canary, 1),
        OrderItem(Salamander, 1),
        OrderItem(goldfish, 3) 
    ]

    order = create_order("Fred", order_items)
    self.assertEqual(order.customer_name, "Fred")
    self.assertEqual(len(order.order_items), 3)
    self.assertEqual(order.total_price(), 14.99 + 34.99 + (3 * 2.99))
                                    </pre>
                            </code>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>TDD (and what I also recommend)</mat-panel-title>
                            </mat-expansion-panel-header>
                            <br>
                            What is TDD?
                            <br><br>
                            <div class="answer">You are not allowed to write any production code unless it is to
                                make a
                                failing unit test pass.
                            </div><br>
                            TDD is an excellent concept with value, as shown in the previous section's example, but it
                            is rarely utilized for an extended period.<br><br>

                            While I strongly advocate TDD and its potential benefits, real-world development teams face
                            challenges in fully realizing its value. In a business environment where speed is crucial,
                            TDD is often experimented with but eventually abandoned simply because it's hard to quantify
                            the effort to value.
                            <br><br>

                            Unit tests, while essential, may only sometimes be the best investment for test coverage.
                            System and integration tests, due to their broader focus, are often more cost-effective and
                            less likely to miss critical issues. Starting test efforts with E2E (end-to-end) tests,
                            which are quickest to implement and can uncover unforeseen bugs, can provide a more
                            comprehensive test coverage. Five well-designed E2E tests that validate a user's experience
                            can instill more confidence in the team than a thousand passing unit tests of the nature
                            (test_input_is_type_float64). Another way to phrase it is if I was given 100 "Quality
                            Points" to
                            test a feature, I might spend 80 on E2E tests, 10 on security, 8 on performance and load,
                            and 2 on unit tests.<br><br>Side note, meet Lagoon the
                            Duck:<br>
                            <div class="lagoon">
                                <div class="lagoon-feet">
                                    <div class="web"></div>
                                </div>
                            </div><br>OK, back to the topic at hand. (it's my website so we have ducks.)<br><br>
                            My preference is to test at the integration level, and using a technology like Pytest or
                            Playwright, I can provide a quick TDD-like experience. <br><br>For example, a feature or
                            story is requested to be developed by the product owner...<br><br>
                            <span class="node">"As a user, I want to be able to do X so that I can
                                Y."</span><br><br>
                            <ul>
                                <li>During elaboration, as we're discussing what this story means in detail as a
                                    group, we create test stubs of E2E tests (this is not a expecific
                                    discussion at first on testing, just something people are asked to jot down if
                                    they think of tests as we are discussing what the feature
                                    needs to do)
                                    <ul>
                                        <li>In the form of:
                                            <code>
                                                <pre>
&#64;pytest.mark.automated_not_implemented
## Confirms the ... is ... when ...
def test_usera_must_do_x():
    pass <span class="comment"><mat-icon>arrow_back</mat-icon> Pass is simply a Python NOOP keyword that allows the code to compile. It's not causing the test to "pass."</span>

&#64;pytest.mark.automated_not_implemented
## Confirms the ... is ... when ...
def test_user_not_in_support_cannot_do_y():
    pass
</pre>
                                            </code>
                                        </li>
                                    </ul>
                                </li>
                                <li>As part of story acceptance, these tests are demonstrated working</li>
                            </ul>
                            The advantage of a structure like this is that on day 1, you can run these fully
                            working, stubbed E2E tests in a TDD structure (instead of FAILING, they will be SKIPPED;
                            otherwise, the concept is the same).<br><br>

                            This is done by using PyTest Markers:<br><br>

                            Only by running test cases that have a marker of "<span
                                class="importantish">&#64;pytest.mark.automated</span>" will these tests all be
                            "skipped"
                            due to having a marker of "<span
                                class="importantish">&#64;pytest.mark.automated_not_implemented</span>." As tests
                            are implemented, the "<span
                                class="importantish">&#64;pytest.mark.automated_not_implemented</span>" can be
                            swapped with
                            "<span class="importantish">&#64;pytest.mark.automated</span>," and the test will start
                            to be run. SKIP will be replaced with PASS/FAIL.
                            <br><br><span class="note">Using services like GitHub Copilot, Unit tests can be often
                                created automatallicy using AI. A free test is a good test..</span>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>What are the 3 A's in test driven development?</mat-panel-title>
                            </mat-expansion-panel-header>
                            <span class="question">What are the 3 A's in test driven development?</span>
                            <br>
                            <div class="answer">Writing Test Cases follow the 3A rule
                                (Arrange, Act, Assert)<br>
                                <ol>
                                    <li>Arrange all necessary preconditions and
                                        inputs</li>
                                    <li>Act on the object or method under test.</li>
                                    <li>Assert that the expected
                                        results have
                                        occurred.</li>
                                </ol>
                            </div>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>SOLID, MAN!</mat-panel-title>
                            </mat-expansion-panel-header>
                            Solid is a mnumonic acronym for a set of design principles intended to make code
                            cleaner, and more flexible to future enhancements<br>
                            <ul>
                                <li>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>S</mat-panel-title>
                                            <mat-panel-description>Single responsibility
                                                principle</mat-panel-description>
                                        </mat-expansion-panel-header>The idea behind the SRP is that every class,
                                        module, or function in a program should have one responsibility/purpose in a
                                        program. As a commonly used definition, "every class should have only one reason
                                        to change".

                                        For example, to follow a single responsibility principle, we could break the
                                        following:
                                        <code>
<pre>
class Pet:
    def bark(self):
        return 'Woof!'
    def meow(self):
        return 'Meow!'
    def mow_lawn(self):
        return 'Mow!'
</pre>
                                        </code>

                                        Into:<br>
                                        <code>
<pre>
class Dog:
    def bark(self):
        return 'Woof!'

class Cat:
    def meow(self):
        return 'Meow!'

class LawnMower:
    def mow_lawn(self):
        return 'Mow!'
</pre>
                                        </code>
                                    </mat-expansion-panel>
                                </li>
                                <li>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>O</mat-panel-title>
                                            <mat-panel-description>Open/Closed Principle</mat-panel-description>
                                        </mat-expansion-panel-header>The open-closed principle states that software
                                        entities should be open for extension, but closed for modification.

                                        An example of this is a method that can be extended to add new functionality:
                                        <code>
<pre>
class Dog(Pet):
    def perform_trick(self, trick):
        switch(trick):
            case: 'sit'
                return 'Sitting'
            case: 'roll over'
                return 'Rolling over'
</pre>
                                        </code><br>

                                        A better way to implement this would be to use a strategy pattern where you pass
                                        a trick object to the Dog class:
                                        <code>
<pre>
    class Dog(Pet):
        def perform_trick(self, trick):
            return trick.perform()
</pre>
                                        </code>

                                        This allows the "trick" to be implemented in a separate class:
                                        <code>
<pre>
class Sit:
    def perform(self):
        return 'Sitting'

class RollOver:
    def perform(self):
        return 'Rolling over'
</pre>
                                        </code><br><br>

                                        This allows new "tricks" to be added without risk of breaking existing code.
                                    </mat-expansion-panel>
                                </li>
                                <li>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>L</mat-panel-title>
                                            <mat-panel-description>Liskov Substituion Principle</mat-panel-description>
                                        </mat-expansion-panel-header>The Liskov substitution principle simply implies
                                        that when an instance of a class is passed/extended to another class, the
                                        inheriting class should have a use case for all the properties and behavior of
                                        the inherited class.<br><br>

                                        This just means that if you have a class that inherits from another class, it
                                        should be able to be used in place of the parent class without any unexpected
                                        behavior.

                                        For example, this is not good because a Cat does not bark:
                                        <code>
<pre>
class Pet:
    def bark(self):
        return 'Sound!'

class Dog(Pet):
    def bark(self):
        return 'Woof!'

class Cat(Pet):
    def bark(self):
        raise NotImplementedError('Cats do not bark')
</pre>
                                        </code><br><br>

                                        Instead, we should have a separate method for the Cat class:
                                        <code>
<pre>
class BarkingPet:
    def bark(self):
        return 'Woof or bark'
    
class MeowPet:
    def meow(self):
        return 'meow / pur'

class Dog(BarkingPet):
    def bark(self):
        return 'Woof!'

class Hyena(BarkingPet):
    def bark(self):
        return 'Bark HEHE!'

class Cat(MeowPet):
    def meow(self):
        return 'Meow!'

class Panther(MeowPet):
    def meow(self):
        return 'Pur!'
    
if __name__ == "__main__":
    barkpet = BarkingPet()
    meowpet = MeowPet()
    dog = Dog()
    hyena = Hyena()
    cat = Cat()
    panther = Panther()

    print(barkpet.bark())
    print(meowpet.meow())
    print(cat.meow())
    print(dog.bark())
    print(hyena.bark())
    print(panther.meow())

</pre>
                                            </code><br><br>

                                        Produces:<br>
                                        <div class="result">
                                            <pre>
Woof or bark
meow / pur
Meow!
Woof!
Bark HEHE!
Pur!
                                                </pre>
                                        </div>
                                    </mat-expansion-panel>
                                </li>
                                <li>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>I</mat-panel-title>
                                            <mat-panel-description>Interface Segregation
                                                Principle</mat-panel-description>
                                        </mat-expansion-panel-header>The interface segregation principle states that the
                                        interface of a program should be split in a way that the user/client would only
                                        have access to the necessary methods related to their needs.<br><br>

                                        In layman terms, this means we shouldn't have a big interface that forces a
                                        class to implement methods it doesn't need. Instead, we should have smaller,
                                        more specific interfaces that only contain the methods that are relevant to the
                                        class.<br><br>

                                        In Python, an interface is not a formal concept but still works:<br><br>

                                        A bad interface:
                                        <code>
<pre>
class Animal:
    def bark(self):
        return 'Woof!'
    def meow(self):
        return 'Meow!'
</pre>
</code><br><br>

                                        The problem is that a class is forced to implement both methods. A better way to
                                        do this would be to split the interface into two separate interfaces:
                                        <code>
<pre>
class Barking:
    def bark(self):
        return 'Woof!'
class Meowing:
    def meow(self):
        return 'Meow!'
</pre>
</code>
                                    </mat-expansion-panel>
                                </li>
                                <li>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>D</mat-panel-title>
                                            <mat-panel-description>Dependency Inversion
                                                Principle</mat-panel-description>
                                        </mat-expansion-panel-header>The dependency inversion principle states:
                                        High-level modules should not import anything from low-level modules. Both
                                        should depend on abstractions (e.g., interfaces) and abstractions should not
                                        depend on details.<br><br>

                                        In practice, this means that classes should depend on interfaces rather than on
                                        concrete implementations. This allows for more flexibility, easier testing, and
                                        is more "future-proof".<br><br>

                                        A common example of these is with databases, where you might have a class that
                                        interacts with a database. Instead of directly importing the database class, you
                                        would create an interface that the database class implements.<br><br>

                                        If done correctly, this could allow you to swap underlying database technolegy
                                        like MariaDB for MS SQL Server or NoSQL without altering the code.
                                    </mat-expansion-panel>
                                </li>
                            </ul>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Design Patterns</mat-panel-title>
                                <mat-panel-subtitle>Builder is <span class="important">da
                                        bomb!</span></mat-panel-subtitle>
                            </mat-expansion-panel-header>Design patterns are not mutially exclusive and can be used as
                            the situation dicates. Forcing yourself to a single design pattern can be limiting.<br>
                            <div>
                                <ul>
                                    <li>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>Singleton</mat-panel-title>
                                                <mat-panel-description>This pattern ensures only a single instance of an
                                                    object is created. One use may be to pass around configuration
                                                    settings which we do not want multiple instances with possible
                                                    conflicting settings.</mat-panel-description>
                                            </mat-expansion-panel-header>
                                            Example
                                            <code>
                                <pre>
if (settings == null)
    settings = new Settings();
else
    return settings;
                        </pre>
                                            </code>
                                        </mat-expansion-panel>
                                    </li>
                                    <li>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>Factory</mat-panel-title>
                                                <mat-panel-description>Use a method to create an object instead of the
                                                    new operator. This is nice
                                                    if you
                                                    have
                                                    logic that needs to be performed repeatedly.</mat-panel-description>
                                            </mat-expansion-panel-header>
                                            Example
                                            <code>
                                <pre>
class ButtonFactory &#123;
    createButton(type: string): RaisedButton | FlatButton &#123;
        if (type == "raised") &#123;
            return new RaisedButton();
        &#125; else &#123;
            return new FlatButton();
        &#125;
    &#125;
&#125;

const factory = new ButtonFactory();
const btn1 = factory.createButton("flat");
const btn2 = factory.createButton("raised");
                        </pre>
                                            </code>
                                        </mat-expansion-panel>
                                    </li>
                                    <li>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>Prototype (aka cloning)</mat-panel-title>
                                                <mat-panel-description>This pattern is like inheritance but it inherits
                                                    from object already
                                                    created
                                                    instead
                                                    of from a class.</mat-panel-description>
                                            </mat-expansion-panel-header>
                                            Example
                                            <code>
                                    <pre>
const dog = &#123;
    sit() &#123;
        return 'Good dog!';
    &#125;
&#125;

const roz = Object.create(dog, &#123;&#125;);
const hopper = Object.create(dog, &#123;&#125;);
roz.sit();
hopper.sit();

                        </pre>
                                            </code>
                                        </mat-expansion-panel>
                                    </li>
                                    <li>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>Facade</mat-panel-title>
                                                <mat-panel-description>This pattern is about hiding the details from the
                                                    end user to simply usage.</mat-panel-description>
                                            </mat-expansion-panel-header>
                                            Example
                                            <code>
                                <pre>
// The complex class
class RainConditions &#123;
    constructor() &#123;&#125;

    addRainQuantity(raindropsInSecs) &#123;
        this.raindrops = raindropsInSecs;
    &#125;
&#125;

// A simplified class
class Weather &#123;
    private rain = new 
    constructor() &#123;&#125;

    setRainDrizzle() &#123;
        rain.addRainQuantity(100);
    &#125;

    setRainDownpour() &#123;
        rain.addRainQuantity(10000);
    &#125;

    setRainMonsoon() &#123;
        rain.addRainQuantity(1000000);
    &#125;
&#125;

const weather = new Weather();
weather.setRainMonsoon();


                        </pre>
                                            </code>
                                        </mat-expansion-panel>
                                    </li>
                                    <li>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>Strategy/Policy</mat-panel-title>
                                                <mat-panel-description>Design a family of
                                                    algorithms/policies.</mat-panel-description>
                                            </mat-expansion-panel-header>
                                            Example:<br>
                                            <code>
                                                <pre>
                                                    class Dog(Pet):
                                                        def perform_trick(self, trick):
                                                            return trick.perform()
                                                </pre>
                                            </code>

                                            This allows the "trick" to be implemented in a separate class:
                                            <code>
                                                <pre>
                                                    class Sit:
                                                        def perform(self):
                                                            return 'Sitting'
    
                                                    class RollOver:
                                                        def perform(self):
                                                            return 'Rolling over'
                                                </pre>
                                            </code>
                                        </mat-expansion-panel>
                                    </li>
                                    <li>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>Builder</mat-panel-title>
                                                <mat-panel-description>This pattern allows you to build an object in
                                                    steps but you always get the
                                                    object
                                                    back.</mat-panel-description>
                                            </mat-expansion-panel-header>
                                            Example
                                            <code>
                                    <pre>
class WeatherConditions &#123;
    constructor() &#123;&#125;

    addRain() &#123;
        this.rain = true;
        return this;
    &#125;

    addThunder() &#123;
        this.thunder = true;
        return this;
    &#125;

    addFrightening() &#123;
        this.frightening = true;
        return this;
    &#125;
&#125;

const todaysWeather = new WeatherhConditions('scary thunderstorm day');

todaysWeather.addRain().addThunder().addFrightening();

                        </pre>
                                </code>
                                        </mat-expansion-panel>
                                    </li>
                                </ul>
                            </div>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Big O Notation</mat-panel-title>
                                <mat-panel-subtitle>Refers to the worst-case scenario for an
                                    algorithm.</mat-panel-subtitle>
                            </mat-expansion-panel-header>
                            <dl>
                                <dt>Constant Time O(1)</dt>
                                <dd>The execution time remains constant regardless of the input size. This is
                                    rare but can occur for simple operations like accessing an element in a list by
                                    index.
                                </dd>
                                <dt>Logarithmic Time O(log n)</dt>
                                <dd>The execution time grows logarithmically with the input size (n).
                                    This is often seen in algorithms that involve searching sorted data structures
                                    like
                                    binary
                                    search trees.</dd>
                                <dt>Linear Time O(n)</dt>
                                <dd>The execution time increases proportionally with the input size. This is
                                    common in algorithms that iterate through the entire input data set once, like
                                    calculating the
                                    sum of elements in a list.</dd>
                                <dt>Quadratic Time O(n^2)</dt>
                                <dd>The execution time grows quadratically with the input size. This occurs
                                    in algorithms that involve nested loops iterating over the input data, leading
                                    to
                                    potentially
                                    many comparisons or calculations</dd>
                            </dl>
                        </mat-expansion-panel>
                    </li>
                    <li>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Diagramming!</mat-panel-title>
                                <mat-panel-subtitle>UML, OH MY!</mat-panel-subtitle>
                            </mat-expansion-panel-header>
                            <dl>
                                <dt>UML</dt>
                                <dd>(Unified Modeling Language) is a standardized visual language used for modeling
                                    software systems.</dd>
                                <dt>Class Diagram</dt>
                                <dd>Class diagrams are a type of UML diagram that shows the
                                    structure of a
                                    system by
                                    defining the classes, attributes, and methods of the system.
                                </dd>
                                <dt>Sequence Diagram</dt>
                                <dd>Sequence diagrams are a type of UML diagram that shows how
                                    objects
                                    interact in a time
                                    period. They are used to visualize the interactions between
                                    objects in a
                                    system.</dd>
                                <dt>Activity Diagram</dt>
                                <dd>Activity diagrams are a type of UML diagram that shows the flow
                                    of
                                    activities in a
                                    system. They are used to visualize the steps in a process or
                                    workflow.</dd>
                                <dt>PlantUML</dt>
                                <dd>is a tool that generates diagrams from a simple text description. It supports a
                                    variety of diagram types, including UML diagrams, but also goes beyond UML to offer
                                    other types like flowcharts, activity diagrams, and more.</dd>
                            </dl>
                            <ul>
                                <li>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>PlantUML</mat-panel-title>
                                            <mat-panel-subtitle>PlantUML is a tool that allows you to create
                                                diagrams using a text-based language.</mat-panel-subtitle>
                                        </mat-expansion-panel-header>
                                        <ul>
                                            <li>Uses a text-based syntax to generate UML diagrams and other types of
                                                diagrams.
                                            </li>
                                            <li>Elements of a PlantUML document:<br>
                                                <dl>
                                                    <dt>&#64;startuml/&#64;enduml</dt>
                                                    <dd>These tags define the start and end of the PlantUML
                                                        document.</dd>
                                                    <dt>actor</dt>
                                                    <dd>Defines an actor in a use case diagram. e.g. User</dd>
                                                    <dt>participant </dt>
                                                    <dd>Defines a participant in a sequence diagram. e.g. API, WEBSITE,
                                                        DATABASE</dd>
                                                    <dt>-></dt>
                                                    <dd>Defines a message between participants in a sequence diagram.
                                                        e.g.
                                                        User -> Website: "About Me"</dd>
                                                    <dt>alt</dt>
                                                    <dd>Defines an alternative flow in a sequence diagram. e.g. alt API
                                                        Available</dd>
                                                    <dt>else</dt>
                                                    <dd>Defines an alternative flow in a sequence diagram. e.g. else API
                                                        Unavailable</dd>
                                                    <dt>activate/deactivate</dt>
                                                    <dd>Activates or deactivates a participant in a sequence diagram.
                                                        e.g.
                                                        activate API</dd>
                                                    <dt>partition</dt>
                                                    <dd>Defines a partition in a sequence diagram. e.g. partition
                                                        Website</dd>
                                                    <dt>while</dt>
                                                    <dd>Defines a loop in a sequence diagram. e.g. while API Available
                                                    </dd>
                                                </dl>
                                            </li>
                                        </ul>
                                    </mat-expansion-panel>
                                </li>
                                <li>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>Sequence diagrams</mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <span class="importantish">Sequence diagrams</span> are a type of UML diagram
                                        that shows how objects interact in a time
                                        period. They are used to visualize the interactions between objects in a system.

                                        <div>
                                            <ul>
                                                <li>
                                                    <mat-expansion-panel>
                                                        <mat-expansion-panel-header>
                                                            <mat-panel-title>Initial interaction on
                                                                www.nehsa.net</mat-panel-title>
                                                        </mat-expansion-panel-header>
                                                        For example, this is in the initial interaction when you visit
                                                        this website
                                                        and go to the About Me page:
                                                        <code>
                                                            <pre>
&#64;startuml
actor User
participant Website
participant API
participant Database

User -> Website: "About Me"
activate Website
Website -> API: Get Quote
activate API
API -> Database: Fetch Quote
activate Database
Database --> API: QuoteData
deactivate Database
API -> Website: QuoteData
Website -> API: Get User Information
activate API
API -> Database: Fetch UserData
activate Database
Database --> API: UserData
deactivate Database
API -> Website: UserData
Website -> API: Check for comments
activate API
API -> Database: Check for Comments
activate Database
Database --> API: CommentData
deactivate Database
API -> Website: CommentData
deactivate API
Website -> User: Display Information
deactivate Website
&#64;enduml
</pre>
                                                        </code><br><br>
                                                        Resulting in the following diagram (svg image created on
                                                        PlantUml.com):<br>
                                                        <img src="../assets/images/uml_example.svg"
                                                            alt="Sequence Diagram">
                                                    </mat-expansion-panel>
                                                </li>
                                                <li>
                                                    <mat-expansion-panel>
                                                        <mat-expansion-panel-header>
                                                            <mat-panel-title>Advanced</mat-panel-title>
                                                            <mat-panel-description>Data flow, Parameter inputs, Error
                                                                flow, Return
                                                                values</mat-panel-description>
                                                        </mat-expansion-panel-header>
                                                        <ul>
                                                            <li>
                                                                <mat-expansion-panel>
                                                                    <mat-expansion-panel-header>
                                                                        <mat-panel-title>Parameters and data
                                                                            flow</mat-panel-title>
                                                                    </mat-expansion-panel-header>
                                                                    <code>
                                                                        <pre>
&#64;startuml
actor User
participant Website
participant API
participant Database

User -> Website: "About Me"
activate Website

Website -> API: Get Quote [/v1/quote()]
activate API
API -> Website: returns quote
deactivate API

Website -> API: Get User Information [/v1/name/&#123;numToReturn&#125;]
activate API
API -> Website: returns [ &#123; name, about &#125; ]
deactivate API

Website -> API: Get Positive Adjectives [/v1/positiveadjective]
activate API
API -> Website: returns &#123; [ terms ] &#125;
deactivate API

Website -> API: Check for comments [/v1/comment/&#123;page&#125;/&#123;numberToReturn&#125;]
activate API
API -> Database: Check for Comments
activate Database
Database --> API: returns &#123; commentid, username, comment, page &#125;
deactivate Database
API -> Website: returns &#123; commentid, username, comment, page &#125;
deactivate API
Website -> User: Display Information
deactivate Website
&#64;enduml
</pre>
                                                                    </code><br><br>
                                                                    Resulting in the following diagram (svg image
                                                                    created on PlantUml.com):<br>
                                                                    <img src="../assets/images/uml_example2.svg"
                                                                        alt="Sequence Diagram">
                                                                </mat-expansion-panel>
                                                            </li>
                                                            <li>
                                                                <mat-expansion-panel>
                                                                    <mat-expansion-panel-header>
                                                                        <mat-panel-title>Error Flow</mat-panel-title>
                                                                    </mat-expansion-panel-header>
                                                                    <code>
                                                                        <pre>
&#64;startuml
actor User
participant Website
participant API
participant Database

User -> Website: "About Me"
activate Website

Website -> API: Get Quote [/v1/quote()]
activate API
alt API Available
API -> Website: returns quote
deactivate API
else API Unavailable
    API --> Website: APIError
end


Website -> API: Get User Information [/v1/name/&#123;numToReturn&#125;]
activate API
alt API Available
API -> Website: returns [ &#123; name, about &#125; ]
deactivate API
else API Unavailable
    API --> Website: APIError
end

Website -> API: Get Positive Adjectives [/v1/positiveadjective]
activate API
alt API Available
API -> Website: returns &#123; [ terms ] &#125;
deactivate API
else API Unavailable
    API --> Website: APIError
end


Website -> API: Check for comments [/v1/comment/&#123;page&#125;/&#123;numberToReturn&#125;]
activate API
alt API Available
    API -> Database: CheckForComments(userId)
    activate Database
    Database --> API: CommentData &#123;comments&#125;
    deactivate Database
    API -> Website: returns &#123;commentid, username, comment, page&#125;
else API Unavailable
    API --> Website: APIError
end
deactivate API
Website -> User: Display Information
deactivate Website
&#64;enduml
</pre>
                                                                    </code><br><br>
                                                                    Resulting in the following diagram (svg image
                                                                    created on PlantUml.com):<br>
                                                                    <img src="../assets/images/uml_example3.svg"
                                                                        alt="Sequence Diagram">
                                                                </mat-expansion-panel>
                                                            </li>
                                                        </ul>
                                                    </mat-expansion-panel>
                                                </li>
                                            </ul>
                                        </div>
                                    </mat-expansion-panel>
                                </li>
                                <li>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>Class diagrams</mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <span class="importantish">Class diagrams</span> visually show the relationship
                                        between class objects
                                        <code>
                                            <pre>
&#64;startuml
class Player&#123;
    - eye-color: string
    - hair-color: string
    - hair_length: int
    - age: int
    - experience: int
    - race: Race
    - class: Class

&#125;

class Stats&#123;
    - strngth: int
    - intelligence: int
    - wisdom: int
&#125;
class Race&#123;
    - name: string
    - description: string
    - pointy_ears: boolean
    - race_stats: Stats
&#125;

Player-- Race: Elf
Race--Stats: Race-specific stats

class Class&#123;
    - name: String
    - description: String
    - class_stats: Stats
&#125;
Class--Stats: class-specific stats



Player-- Class: Warrior
&#64;enduml
</pre>
                                        </code>
                                        <br><br>
                                        Resulting in the following diagram (svg image created on
                                        PlantUml.com):<br>
                                        <img src="../assets/images/uml_class_diagram.svg" alt="Sequence Diagram">

                                    </mat-expansion-panel>
                                </li>
                            </ul>
                        </mat-expansion-panel>
                    </li>
                </ul>
                <div><app-comment></app-comment></div>
            </div>
        </div>
    </mat-card-content>
</mat-card>