.mat-icon {
    color: yellow;
}

.lagoon {
    width: 36px;
    height: 48px; /* Adjust height for ellipse shape */
    border-radius: 24px / 18px; /* Horizontal and vertical radii */
    background-color: #CFF09E;
    position: relative;
    left: 0;
    animation: lagoon-animation 2s infinite, move-lagoon 5s linear infinite;
  }
  
  .lagoon::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: forestgreen;
  }
  
  .lagoon::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 50%; /* Adjusted left position */
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  
  .lagoon::after {
    content: "";
    position: absolute;
    bottom: 25%;
    left: 30%;
    width: 40px;
    height: 5px;
    background-color: #F7F2C0; /* Black for the mouth */
  }
  
  @keyframes lagoon-animation {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes move-lagoon {
    0% { left: 0; }
    100% { left: calc(100% - 48px); } /* Adjust for heeler's width */
  }