<div>
    <form>
        <div class="topics">
            <div class="form-div">
                <div class="grid">
                    <div>
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" [formControl]="emailControl">
                        <div *ngIf="userDetails.controls['email']?.touched && userDetails.controls['email']?.invalid"
                            class="text-danger">
                            Please enter a valid email address.
                        </div>
                    </div>

                    <div>
                        <label for="username">Username</label>
                        <input type="username" id="username" name="username" [formControl]="usernameControl">
                        <div *ngIf="userDetails.controls['username']?.touched && userDetails.controls['username']?.invalid"
                            class="text-danger">
                            Please enter a valid username
                        </div>
                    </div>

                    <div>
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" [formControl]="passwordControl">
                        <div *ngIf="userDetails.controls['password']?.touched && userDetails.controls['password']?.invalid"
                            class="text-danger">
                            Please enter a valid password
                        </div>
                    </div>

                    <div [hidden]="captcha">
                        <p>Are you organic? (e.g. Homo Sapien,  Neanderthal, X-Gene)</p>
                        <re-captcha (resolved)="resolved($event)" siteKey="6LcDg-gpAAAAAD0VJQSI-dNrtwo02Dxy3uv0ABTm"></re-captcha>
                    </div>
                </div>
                <div class="button">
                    <button (click)="submitForm()" [disabled]="this.userDetails.invalid" *ngIf="captcha" mat-flat-button>Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>