label {
    font-size: 3rem;
}

input {
    font-size: 2rem;
}

.form-div {
    width: 700px;
    display: grid;
    grid-template-rows: 1fr 100px;
}

.grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 1em;
}

.button {
    margin: auto 0;
}

input {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 .5em;
    float: right;
}