.table {
    max-width: 500px;
}

.card {
    z-index: 200;
}

.topics {
    z-index: 200;
}

.contrast {
    padding: 1em;
    height: 400px;
    width: 300px;
}

.contrast img {
    height: 350px;;
    width: fit-content;
    margin: 1em auto;
}

// list examples
.ul-example-container {
    width: 300px; 
    min-width: fit-content;
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
}

.ul-example {
    list-style-type: none !important;
}

.ul-example ul {
    list-style-type: none !important;
}

.ul-example li::before {
    content: counter(example-list-level) " > ";
    counter-increment: example-list-level;
    position: relative;
    left: -1em;
}

.ul-example {
    list-style-type: circle;
    counter-reset: example-list-level;
}

.ul-example ul {
    list-style-type: square;
    counter-increment: example-list-level;
}

.ul-example ul ul {
    list-style-type: disc;
    counter-increment: example-list-level;
}

// selector examples
.parent {
    background-color: palegreen;
    margin-left: 1em;
}

.parent * {
    background-color: lightcoral;
    margin-left: 1em;   
}

.parent > * {
    background-color: lightblue;
    margin-left: 1em;
}

.example-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    display: grid;
    grid-template-columns: 250px 100px 1fr;
    grid-template-rows: min-content min-content;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}


.example>div {
    background-color: teal;
    width: 250px;
    margin: 0 75px;
}

.example>.blah>div {
    background-color: salmon;
}

.margin-examples {
    margin: 1em;
    width: 60vw;
    min-width: 600px;
    border: 2px solid crimson;
}

.examples {
    margin: 1em;
    width: 60vw;
    min-width: 600px;
}

.examples .margin-examples .code {
    margin: 1em auto;
    border: 1px solid black;
}

.css-example-grid {
    border-radius: 10px;
    border: 2px solid #3F78DF;
    width: 100%;
    height: 100px;
    background-color: lightblue;
    ;
}

.importante:before {
    content: "<";
    -webkit-text-stroke: .3px #222;
}

.importante:after {
    content: ">";
    -webkit-text-stroke: .3px #222;
}

.importante {
    font-weight: bold;
    color: orangered;
    -webkit-text-stroke: .5px white;
    font-size: 2rem;
    line-height: 1.5;
}

/* balls */
.ball-container {
    height: 600px;
    width: 300px;
    border: 1px solid crimson;
    position: relative;
    background-color: #999;
}

.ball {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
}

.ball1 {
    background-color: maroon;
    border: 3px solid lime;
    animation: bounce 5s infinite cubic-bezier(0.25, 0.8, 0.25, 0.2);
    position: absolute;
    bottom: 0px;
    left: 50px;
}

.ball2 {
    background-color: navy;
    border: 3px dashed orange;
    animation: bounce 5s infinite cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    bottom: 0px;
    left: 100px;
}

.ball3 {
    background-color: purple;
    border: 3px dotted yellow;
    animation: bounce 5s infinite cubic-bezier(0.4, 0.1, 0.8, 1);
    position: absolute;
    bottom: 0px;
    left: 150px;
}

.ball4 {
    background-color: teal;
    border: 3px double fuchsia;
    animation: bounce 5s infinite cubic-bezier(0.1, 1, 0.9, 0);
    position: absolute;
    bottom: 0px;
    left: 200px;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-550px);
    }

    100% {
        transform: translateY(0);
    }
}

/* rain */
.rain-container {
    height: 300px;
    width: 300px;
    border: 1px solid crimson;
    position: relative;
    background-color: #999;
    z-index: 101;
}

.spin-container {
    height: 300px;
    width: 300px;
    border: 1px solid crimson;
    position: relative;
    background-color: #999;
    z-index: 101;
    text-align: center;
}

.spin-container>div {
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px black;
}

@keyframes rain {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(250px);
        opacity: 0;
    }
}

.rain-drop {
    position: absolute;
    width: 2px;
    height: 20px;
    z-index: 101;
    animation: rain 2s linear infinite;
    left: calc(var(--x) * 3px);
    /* Random starting position */
    animation-delay: calc(var(--y) * 0.1s);
    /* Random delay */
    z-index: 100;
}

.rain-drop:nth-child(1) {
    --x: 23;
    --y: 12;
    color: gray;
}

.rain-drop:nth-child(2) {
    --x: 78;
    --y: 3;
    color: tomato;
}

.rain-drop:nth-child(3) {
    --x: 15;
    --y: 18;
    color: fuchsia;
}

.rain-drop:nth-child(4) {
    --x: 92;
    --y: 7;
    ;
    color: yellow;
}

.rain-drop:nth-child(5) {
    --x: 45;
    --y: 5;
    color: lime;
}

.rain-drop:nth-child(6) {
    --x: 6;
    --y: 15;
    color: Turquoise;
}

.rain-drop:nth-child(6) {
    --x: 89;
    --y: 2;
    color: Gray;
}

.rain-drop:nth-child(8) {
    --x: 32;
    --y: 10;
    color: Lavender;
}

.rain-drop:nth-child(9) {
    --x: 57;
    --y: 17;
    color: Purple;
}

.rain-drop:nth-child(10) {
    --x: 1;
    --y: 8;
    color: Orange;
}

/* rainbow text */
.rainbow-text {
    background: linear-gradient(to right, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff);
    background-size: 600% 100%;
    /* Adjust as needed */
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: rainbow-animation 10s linear infinite;
}

/* fade out */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fading-text {
    animation: fadeOut 5s linear infinite;
}


/* spinning text */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinning-text {
    animation: spin 5s linear infinite;
}

/* bobbing text */
@keyframes bob {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.bobbing-text {
    animation: bob 10s linear infinite;
}

/* smoking text */
@keyframes smoke {
    0% {
        text-shadow: 0 0 10px #222, 0 0 20px #222, 0 0 30px #222, 0 0 40px #222, 0 0 70px #222, 0 0 80px #222, 0 0 100px #222, 0 0 150px #222;
    }

    100% {
        text-shadow: 0 0 5px #222, 0 0 10px #222, 0 0 15px #222, 0 0 20px #222, 0 0 35px #222, 0 0 40px #222, 0 0 50px #222, 0 0 75px #222;
    }
}

.smoking-text {
    animation: smoke 100s linear infinite;
}

/* neon text */
@keyframes neon {
    0% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff0055, 0 0 70px #ff0055, 0 0 80px #ff0055, 0 0 100px #ff0055, 0 0 150px #ff0055;
    }

    100% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff0055, 0 0 35px #ff0055, 0 0 40px #ff0055, 0 0 50px #ff0055, 0 0 75px #ff0055;
    }
}

.neon-text {
    animation: neon 100s linear infinite;
}

/* owl */
$owl-base-size: 10rem;

.playstate-container {
    width: 5 * $owl-base-size;
    height: 5 * $owl-base-size;
    border: 1px solid crimson;
    position: relative;
    background-color: #999;
    z-index: 101;
    text-align: center;
}

.playstate-container>button {
    margin: 1rem;
}

/* main body */

.owl {

    margin: 1.5em auto;
    position: relative;
    width: 3 * $owl-base-size;
    height: 4 * $owl-base-size;
    border-radius: 70%;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

/* eye area */
.owl-body::before {
    content: "";
    position: absolute;
    top: .7 * $owl-base-size;
    left: .4 * $owl-base-size;
    width: 1.5 * $owl-base-size;
    height: 1.5 * $owl-base-size;
    border-radius: 50%;
    background-color: #ffffff;
    border: none;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    border-left: 1px solid #777;
    z-index: 9;
}

.owl-body::after {
    content: "";
    position: absolute;
    top: .7 * $owl-base-size;
    right: .4 * $owl-base-size;
    width: 1.5 * $owl-base-size;
    height: 1.5 * $owl-base-size;
    border-radius: 50%;
    border-left: 1px solid white;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    border-right: 1px solid #777;
    background-color: white;
    z-index: 10;
}

.owl-left-ear {
    position: absolute;
    top: .2 * $owl-base-size;
    left: .3 * $owl-base-size;
    width: 1.6 * $owl-base-size;
    height: 1.6 * $owl-base-size;
    background-color: white;
    z-index: 4;
    rotate: 15deg;
}

.owl-right-ear {
    position: absolute;
    top: .2 * $owl-base-size;
    left: 1.1 * $owl-base-size;
    width: 1.6 * $owl-base-size;
    height: 1.6 * $owl-base-size;
    background-color: white;
    z-index: 5;
    rotate: 75deg;
}

.owl-left-eye {
    position: absolute;
    top: 1 * $owl-base-size;
    left: .6 * $owl-base-size;
    width: .6 * $owl-base-size;
    height: .6 * $owl-base-size;
    border-radius: 50%;
    background-color: black;
    border: none;
    border-top: 1px solid lime;
    border-bottom: 1px solid lime;
    border-left: 1px solid lime;
    z-index: 15;
}

.owl-right-eye {
    position: absolute;
    top: 1 * $owl-base-size;
    left: 1.6 * $owl-base-size;
    width: .6 * $owl-base-size;
    height: .6 * $owl-base-size;
    border-radius: 100%;
    background-color: black;
    border: none;
    z-index: 15;
    animation: blink 5s ease-in-out infinite;
}

.owl-beak {
    position: absolute;
    top: 1.8 * $owl-base-size;
    left: 1.2 * $owl-base-size;
    width: .5 * $owl-base-size;
    height: .5 * $owl-base-size;
    background-color: #F88017;
    rotate: 45deg;
    z-index: 8;
}

.large-panel-content {
    height: 500px;
    overflow: auto;
}

.panel-content {
    height: 250px;
    overflow: auto;
}

@keyframes blink {
    0% {
        height: .6 * $owl-base-size;
    }

    50% {
        height: .1 * $owl-base-size;
    }

    100% {
        height: .6 * $owl-base-size;
    }
}