.example-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}


.example>div {
    background-color: teal;
    width: 250px; 
    margin: 0 75px;
}

.example>.blah>div {
    background-color: salmon;
}

.example-grid {
    display: grid;
    grid-template-columns: 250px 100px 1fr;
    grid-template-rows: min-content min-content;
}