<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <h1 data-testid="header-title">Web Design / <span class="important">S</span>CSS</h1>
            </mat-card-title>
            <mat-card-subtitle>Large cross-section with the Angular page but this is focused on non-Angular aspects of
                webdesign such as responsive design, creating favicons, ect</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="commentgrid">
                <div class="topics">
                    <ul>
                        <li>
                            <mat-expansion-panel expanded="true">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Theming</mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul>
                                    <li>For Angular specific theming, see <button mat-stroked-button
                                            routerLink="/angular">Angular</button></li>
                                    <li>
                                        <h4>Working with colors</h4>
                                        <ul>
                                            <li>
                                                Create a new colors.scss file for a central spot for all our coloring
                                                needs. This should be at the same level as styles.scss
                                                <br>
                                                This file should contain:
                                                <ul class="condensed">
                                                    <li>
                                                        <div class="code">
                                                            <pre>
    // main theme palettes
    $colorful-palette: map.get($color-config, 'colorful');
    $vampire-palette: map.get($color-config, 'vampire');
    $angel-palette: map.get($color-config, 'angel');
    $current-theme-palette: $colorful-palette;
    
    // main colors
    $theme-border-color: mat.get-color-from-palette($current-theme-palette, 500);
    $theme-backround-color: mat.get-color-from-palette($current-theme-palette, 50);
    
    // these variables can be accessed in the global scope
    :root &#123;
        --theme-border-color: #&#123;$theme-border-color&#125;;
        --theme-backround-color: #&#123;$theme-background-color-info&#125;;
    &#125;
                                                            </pre>
                                                        </div>
                                                    </li>
                                                </ul>

                                            </li>
                                            <li></li>


                                        </ul>


                                    </li>
                                </ul>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Responsive Design</mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul class="condensed">
                                    <li>This website uses CSS Grids and media queries to handle responsive design. I use
                                        the following media queries. It's important to start small and work up as
                                        they cancel each other out..
                                        <ul class="condensed">
                                            <li>
                                                <div class="code">
                                                    <pre>
    &#64;media (min-width: 481px) &#123;
        .gridcols &#123;
            grid-template-columns: min-content 1fr;
        &#125;
    
        .app-main-expanded &#123;
            grid-template-rows: repeat(8, min-content);
            grid-template-columns: 1fr;
            grid-template-areas:
                "bread"
                "dh"
                "user_admin"
                "title"
                "body"
                "navbar"
                "contactme"
                "footer";
        &#125;
    
        .app-main-collapsed &#123;
            grid-template-rows: repeat(8, min-content);
            grid-template-columns: 1fr;
            grid-template-areas:
                "bread"
                "dh"
                "user_admin"
                "title"
                "body"
                "navbar"
                "contactme"
                "footer";
        &#125;
    
        .footer &#123;
            grid-template-columns: 1fr;
        &#125;
    
        .dh &#123;
            text-align: left;
        &#125;
    
        .navbar &#123;
            overflow: auto;
            height: 200px;
        &#125;
    
        .user_admin &#123;
            text-align: right;
        &#125;
    
        .contactme &#123;
            text-align: center;
        &#125;
    
        .maintitle &#123;
            font-size: 1.5rem;
        &#125;
    &#125;
    
    &#64;media (min-width: 576px) &#123;
        .gridcols &#123;
            grid-template-columns: min-content 1fr;
        &#125;
    
        .app-main-expanded &#123;
            grid-template-rows: repeat(8, min-content);
            grid-template-columns: 1fr;
            grid-template-areas:
                "bread"
                "dh"
                "user_admin"
                "title"
                "body"
                "navbar"
                "contactme"
                "footer";
        &#125;
    
        .app-main-collapsed &#123;
            grid-template-rows: repeat(8, min-content);
            grid-template-columns: 1fr;
            grid-template-areas:
                "bread"
                "dh"
                "user_admin"
                "title"
                "body"
                "navbar"
                "contactme"
                "footer";
        &#125;
    
        .footer &#123;
            grid-template-columns: 1fr;
        &#125;
    
        .dh &#123;
            text-align: left;
        &#125;
    
        .navbar &#123;
            height: 200px;
            overflow: auto;;
        &#125;
    
        .user_admin &#123;
            text-align: right;
        &#125;
    
        .contactme &#123;
            text-align: center;
        &#125;
    
        .maintitle &#123;
            font-size: 1.5rem;
        &#125;
    &#125;
    
    &#64;media (min-width: 768px) &#123;
        .gridcols &#123;
            grid-template-columns: min-content 1fr;
        &#125;
    
        .app-main-expanded &#123;
            grid-template-rows: 7vh 21vh 69vh 6vh;
            grid-template-columns: 225px 1fr;
            grid-template-areas:
                "bread title"
                "user_admin body"
                "navbar body"
                "navbar body"
                "navbar body"
                "footer footer";
        &#125;
    
        .app-main-collapsed &#123;
            grid-template-rows: 7vh 5vh 85vh 3vh;
            grid-template-columns: 225px 1fr;
            grid-template-areas:
                "bread title"
                "user_admin body"
                "navbar body"
                "navbar body"
                "navbar body"
                "footer footer";
        &#125;
    
        .footer &#123;
            grid-template-columns: 1fr 1fr 1fr;
        &#125;
    
        .dh &#123;
            text-align: right;
        &#125;
    
        .user_admin &#123;
            text-align: right;
        &#125;
    
        .navbar &#123;
            height: 100%;
            overflow: auto;;
        &#125;
    &#125;
    
    &#64;media (min-width: 992px) &#123;
        .gridcols &#123;
            grid-template-columns: min-content 1fr;
        &#125;
    
        .app-main-expanded &#123;
            grid-template-rows: 6vh 20vh 70vh 4vh;
            grid-template-columns: 225px 1fr 1fr 225px;
            grid-template-areas:
                "bread dh dh user_admin"
                "navbar title title title"
                "navbar body body body"
                "footer footer footer footer";
        &#125;
        .app-main-collapsed &#123;
            grid-template-rows: 6vh 5vh 85vh 4vh;
            grid-template-columns: 225px 1fr 1fr 225px;
            grid-template-areas:
                "bread dh dh user_admin"
                "navbar title title title"
                "navbar body body body"
                "footer footer footer footer";
        &#125;
    
        .footer &#123;
            grid-template-columns: 1fr 1fr 1fr;
        &#125;
    
        .dh &#123;
            text-align: right;
        &#125;
    
        .user_admin &#123;
            text-align: right;
        &#125;
    
        .navbar &#123;
            height: 100%;
            overflow: auto;;
        &#125;
    &#125;
    
    &#64;media (min-width: 1200px) &#123;
        .gridcols &#123;
            grid-template-columns: min-content 1fr;
        &#125;
    
        .app-main-expanded &#123;
            grid-template-rows: 6vh 20vh 70vh 4vh;
            grid-template-columns: 225px 1fr 1fr 225px;
            grid-template-areas:
                "bread dh dh user_admin"
                "navbar title title title"
                "navbar body body body"
                "footer footer footer footer";
        &#125;
        .app-main-collapsed &#123;
            grid-template-rows: 6vh 5vh 85vh 4vh;
            grid-template-columns: 225px 1fr 1fr 225px;
            grid-template-areas:
                "bread dh dh user_admin"
                "navbar title title title"
                "navbar body body body"
                "footer footer footer footer";
        &#125;
    
    
        .footer &#123;
            grid-template-columns: 1fr 1fr 1fr;
        &#125;
    
        .dh &#123;
            text-align: right;
        &#125;
    
        .user_admin &#123;
            text-align: right;
        &#125;
    
        .navbar &#123;
            height: 100%;
            overflow: auto;;
        &#125;
    &#125;
    
    &#64;media (min-width: 1400px) &#123;
        .gridcols &#123;
            grid-template-columns: min-content 1fr;
        &#125;
    
        .app-main-expanded &#123;
            grid-template-rows: 6vh 20vh 70vh 4vh;
            grid-template-columns: 225px 1fr 1fr 225px;
            grid-template-areas:
                "bread dh dh user_admin"
                "navbar title title title"
                "navbar body body body"
                "footer footer footer footer";
        &#125;
        .app-main-collapsed &#123;
            grid-template-rows: 6vh 5vh 85vh 4vh;
            grid-template-columns: 225px 1fr 1fr 225px;
            grid-template-areas:
                "bread dh dh user_admin"
                "navbar title title title"
                "navbar body body body"
                "footer footer footer footer";
        &#125;
    
        .footer &#123;
            grid-template-columns: 1fr 1fr 1fr;
        &#125;
    
        .dh &#123;
            text-align: right;
        &#125;
    
        .user_admin &#123;
            text-align: right;
        &#125;
    
        .navbar &#123;
            height: 100%;
            overflow: auto;;
        &#125;
    &#125;
                                                        </pre>
                                                </div>


                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Favicon</mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul class="condensed">
                                    <li>Get your image:<br><span class="note">(Google Gemini was used to create this
                                            Australian Cattle Dog)</span>
                                        <div>
                                            <img mat-card-image src="assets/images/dog_favicon.jpg" />
                                        </div>
                                    </li>
                                    <li>Take the image to a transparency removal site to create a
                                        transparent .PNG file
                                    </li>
                                    <li>Take that images to an Online FavIcon generator.
                                        <ul>
                                            <li>Resize in in 3 sizes:
                                                <ul class="condensed">
                                                    <li>16x16
                                                        <div>
                                                            <img style="width: 16px;" mat-card-image
                                                                src="assets/images/dog_favicon16.png" />
                                                        </div>
                                                    </li>
                                                    <li>32x32
                                                        <div>
                                                            <img style="width: 32px;" mat-card-image
                                                                src="assets/images/dog_favicon32.png" />
                                                        </div>
                                                    </li>
                                                    <li>64x64
                                                        <div>
                                                            <img style="width: 64px;" mat-card-image
                                                                src="assets/images/dog_favicon64.png" />
                                                        </div>
                                                    </li>
                                                </ul>
                                        </ul>
                                    </li>
                                    <li>Add the link to your css. In most cases, theses file need to be in the root of
                                        the website but Angular needs them in the asset folder:
                                        <div class="code">
                                            <pre>
    &lt;link rel="icon" type="image/x-icon" sizes="32x32" href="assets/images/favicon-32x32.png"&gt;
    &lt;link rel="icon" type="image/x-icon" sizes="16x16" href="assets/images/favicon-16x16.png"&gt;
    &lt;link rel="icon" type="image/x-icon" sizes="64x64" href="assets/images/favicon.ico"&gt;
                                            </pre>
                                        </div>
                                    </li>
                                </ul>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Relative Sizing</mat-panel-title>
                                    <mat-panel-description>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <ul>
                                    <li>svh <mat-icon>arrow_forward_ios</mat-icon> vh</li>
                                    <li>rem for fonts</li>
                                    <li>em for divs/containers</li>
                                </ul>
                            </mat-expansion-panel>
                        </li>
                        <li>Ways to center objects under different circumstances:
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Veritical align using &nbsp;<span class="important">margin: auto
                                            0;</span></mat-panel-title>
                                    <mat-panel-description>If the child we wish to move is inside a div that is
                                        using flex or grid, we can usually use an auto margin.
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="code">

                                    <div class="example-grid">
                                        <div>
                                            <table>
                                                <tr>
                                                    <td colspan="2">
                                                        <div>
                                                            <div class="code">
                                                                <pre>
&lt;div style="display: grid; background-color: orchid; width: 100px; height: 100px;"&gt;
    &lt;div style="background-color: red; width: 25px; height: 25px; margin: auto 0;"&gt;
        &amp;nbsp;
    &lt;/div&gt;
&lt;/div&gt;
                                                        </pre>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div>Parent of type <span class="important">display:
                                                                grid;</span>:
                                                        </div>
                                                        <div
                                                            style="background-color: orchid; width: 25px; height: 25px;">
                                                            &nbsp;
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>Child we wish to center:</div>
                                                        <div style="background-color: red; width: 25px; height: 25px;">
                                                            &nbsp;</div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div
                                            style="display: grid; background-color: orchid; width: 100px; height: 100px;">
                                            <div
                                                style="background-color: red; width: 25px; height: 25px; margin: auto 0;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Horitzonal align using &nbsp;<span class="important">margin: 0
                                            auto;</span></mat-panel-title>
                                    <mat-panel-description>Same thing can be done horizontally
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="code">
                                    <div class="example-grid">
                                        <div>
                                            <table>
                                                <tr>
                                                    <td colspan="2">
                                                        <div>
                                                            <div class="code">
                                                                <pre>
&lt;div style="display: grid; background-color: orchid; width: 100px; height: 100px;"&gt;
    &lt;div style="background-color: red; width: 25px; height: 25px; margin: 0 auto;"&gt;
        &amp;nbsp;
    &lt;/div&gt;
&lt;/div&gt;
                                                        </pre>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div>Parent of type <span class="important">display:
                                                                grid;</span>:
                                                        </div>
                                                        <div
                                                            style="background-color: orchid; width: 25px; height: 25px;">
                                                            &nbsp;
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>Child we wish to center:</div>
                                                        <div style="background-color: red; width: 25px; height: 25px;">
                                                            &nbsp;</div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div
                                            style="display: grid; background-color: orchid; width: 100px; height: 100px;">
                                            <div
                                                style="background-color: red; width: 25px; height: 25px; margin: 0 auto;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Selecting Elements</mat-panel-title>
                                    <mat-panel-description>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <ul>
                                    <li>
                                        If you wish to affect all elements that have a certain class (e.g. all span
                                        elements
                                        that have the class "code"):
                                        <div class="code">
                                            <pre>
        span.code &#123;
            background-color: rebeccapurple !important;
            color: silver;
            font-family: Consolas;
            border-radius: 5px;
            padding: 3px 1em;
            font-size: 1rem;
            min-width: 400px;
            max-width: 90%;
            line-height: 5lvh !important;
        &#125;
    </pre>

                                        </div>
                                    </li>
                                    <li>Multiple classes can be specified via comma:
                                        <div class="code">
                                            <pre>
            h1, h2, h3, h4, h5, h6 &#123;
                color: plum;
            &#125;
                                        </pre>
                                        </div>
                                    </li>
                                    <li>Hierarchy can be indicated using (&gt;):
                                        <div class="code">
                                            <pre>
            <div>CSS:
            div &#123;
                background-color: teal;
            &#125;
            .blah>div &#123;
                background-color: salmon;
            &#125;
                                            </div>
                                            <div>HTML:
            &lt;div class=&quot;blah&quot;&gt;
                &lt;div&gt;I'm Salmon!&lt;/div&gt;
            &lt;/div&gt;
            &lt;div&gt;I'm Teal!&lt;/div&gt;
                                            </div>
                                        </pre>
                                            <div class="example">Example:
                                                <div class="blah">
                                                    <div>I'm Salmon!</div>
                                                </div>
                                                <div>I'm Teal!</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </mat-expansion-panel>
                        </li>
                    </ul>
                </div>
                <div><app-comment></app-comment></div>
            </div>
        </mat-card-content>
    </mat-card>
</div>