<mat-card class="card" [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()">
    <mat-card-header>
        <mat-card-title>
            <h1 data-testid="header-title">Making of NehsaMUD</h1>
        </mat-card-title>
        <mat-card-subtitle>
            Documenting the creating of NehsaMUD. Timeline, thoughts, and more!
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="commentgrid">
            <div class="main">
                <div class="grid">
                    <div class="topics">
                        <div>content will go here.. sequence diagrams, activity diagrams, block diagrams, you name it.. it'll be here. Someday..</div>
                    </div>
                    <div class="timeline">Timeline
                        <ul>
                            <li>
                                <div>
                                    <div>April 14, 2021</div>
                                    <div>Jesse and son start a Python project called NehsaMUD</div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <div>July 28, 2024</div>
                                    <div>Jesse creates this page to document game progression but then balks and backfilling enties. Decides this will start from now moving forward and is happier for it.</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div><app-comment></app-comment></div>
        </div>
    </mat-card-content>
</mat-card>