
.grid {
    display: grid;
    grid-template-columns: 2fr .5fr;
    width: 90%;
}

.timeline {
    text-align: center;
    height: 100%; 
    width: 100%;
    overflow: auto;
}

// .timeline li {
//     display: inline-block;
//     width: 100%;
//     margin: 0 10px;
//     position: relative;
// }

// .timeline li::before {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 50%;
//     width: 2px;
//     height: 100%;
//     background-color: tomato;
//     transform: translateX(-50%);
// }

.timeline li::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 245px;
    width: 30px;
    height: 5px;
    background-color: tomato;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.timeline li>div {
    //display: grid;
    // grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    border-radius: 5%;
    border: 2px dashed teal;
    place-content: center;
    padding: 1rem;
}

ul {
    margin: 0;
    padding: 0;
}