<mat-card class="card" [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()">
    <mat-card-header>
        <mat-card-title>
            <h1 data-testid="header-title">Making of NehsaMUD</h1>
        </mat-card-title>
        <mat-card-subtitle>
            Documenting the creating of NehsaMUD. Timeline, thoughts, and more!
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="commentgrid">
            <div class="main">
                <div class="grid">
                    <div class="topics">
                        <div>
                            <div class="blog-date">August 29th, 2024</div>
                            <div class="blog-author">Jesse Stone</div>
                            <div class="blog-body">
                                <div>
                                    <h3><span style="color:teal;">August, 2024 - </span>Implementing a web scraping
                                        feature
                                    </h3>
                                    <br>The idea is that within NehsaMUD, if you
                                    visit the Wizard, he will have "magic mirrors"
                                    which will allow you to pull data from any website and display it in the mud as a
                                    "prophecy."

                                    <ul>
                                        <li>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title><span
                                                            class="done"><mat-icon>check</mat-icon></span>Microservice
                                                        to
                                                        handle
                                                        scrapping</mat-panel-title>
                                                    <mat-panel-description>(Go, gin api)</mat-panel-description>
                                                </mat-expansion-panel-header>A GoLing API will be created to handle web
                                                scraping.
                                                This will be a RESTful API that uses the library "goquery" to scrape the
                                                data.
                                                Goquery is nice because it is much like jQuery and allows you to use CSS
                                                selectors to find your desired data. The license is from MIT. This will
                                                be a
                                                microservice called by NehsaMUD and this page.<br><br>

                                                Implementation details can be found here: <a routerLink="/go">Go</a> in
                                                the
                                                "Web
                                                scraper" section.
                                            </mat-expansion-panel>
                                        </li>
                                        <li><mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title><span
                                                            class="not-started"><mat-icon>radio_button_unchecked</mat-icon></span>
                                                        NehsaMUD Backend</mat-panel-title>
                                                    <mat-panel-description>(Python, Asyncio,
                                                        Websockets/wss)</mat-panel-description>
                                                </mat-expansion-panel-header>
                                            </mat-expansion-panel></li>
                                        <li><mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title><span
                                                            class="not-started"><mat-icon>radio_button_unchecked</mat-icon></span>
                                                        NehsaMUD Frontend</mat-panel-title>
                                                    <mat-panel-description>(Angular, Typescipt,
                                                        Material)</mat-panel-description>
                                                </mat-expansion-panel-header>
                                            </mat-expansion-panel></li>
                                        <li><mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title><span
                                                            class="in-progress"><mat-icon>pending</mat-icon></span> This
                                                        page</mat-panel-title>
                                                    <mat-panel-description>Document the
                                                        awesomeness..</mat-panel-description>
                                                </mat-expansion-panel-header>
                                                <h1>Started!</h1>
                                            </mat-expansion-panel></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">Timeline
                        <ul>
                            <li>
                                <div>
                                    <div>August 14, 2024</div>
                                    <div>Start to implement a web scraping feature.</div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <div>July 28, 2024</div>
                                    <div>Jesse creates this page to document game progression but then balks at
                                        backfilling enties. Decides this will start from now moving forward and is
                                        happier for it.</div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <div>April 14, 2021</div>
                                    <div>Jesse and son start a Python project called NehsaMUD</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div><app-comment></app-comment></div>
        </div>
    </mat-card-content>
</mat-card>