<mat-card class="card" [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()">
    <mat-card-header>
        <mat-card-title>
            <h1 data-testid="header-title">Agism</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="commentgrid">
            <div class="topics">
                <div>
                    <div class="blog-date">August 29th, 2024</div>
                    <div class="blog-author">Jesse Stone</div>
                    <div class="blog-body">
                        <p>I was talking to a young software developer who said in passing (he wasn't intending to be
                            unkind), "Ohh, I didn't know people used &lt;LANGUANGE&gt; any longer."</p>

                        <p>Now, I'm not convinced that the language is going away or becoming obsolete (C#), but regardless, it was
                            insulting to imply that what I've spent a lot of effort learning is irrelevant.</p>

                        <p>This made me recall an interview I gave over a decade ago as Senior QA Manager, Strategy and
                            Practice, for Webtrends. This older gentleman was interviewing for a testing position. He
                            didn't do well. He only knew a few of the tools and technologies we used and only some
                            standard terms I felt he should. My twenty-something mind told me this Senior Quality
                            Engineer with decades of experience, should have been a stronger candidate. We passed on
                            this candidate and, very likely, hired someone in their early twenties straight out of
                            college with no experience.</p>

                        <p>Back to the young developer I was talking to recently, I thought, "Give it a decade and see
                            what you do today. What even may be considered an industry best practice, tool, or
                            technology that will be outdated in the short future."</p>

                        <p>I think more and more about these people whose experiences I could have learned immensely
                            from. I wish I had focused more on their experience and knowledge and less on their
                            expertise in specific technologies of the day.</p>

                        <p>While I acknowledge that software development requires a lifelong passion for education,
                            engineers who become complacent will be left behind. I now realize I focused on the wrong
                            thing as a hiring manager. Tools and technologies change. Requiring years of experience in a
                            niche technolegy or language is less critical than finding someone with the
                            expertise to think and approach things correctly and with discipline.</p>

                        <p>Agism, am I right?</p>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>