<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <h1 data-testid="header-title">TypeScript</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="commentgrid">
                <div class="topics">
                    <h2>Best Practices</h2>
                    <div>                    
                        <h3>Naming Conventions</h3>
                        <ul>
                            <li>Upper case with underscore (_) between multiple words</li>
                            <li>Use camelCase for variable and function names</li>
                            <li>Use camelCase of class members, interface members, methods and methods parameters</li>
                            <li>Use PascalCase for class names and interface names.</li>
                            <li>Use PascalCase for enums and camelCase for enum members</li>
                        </ul>
                    </div>
                    <div>                    
                        <h3>Other tidbits..</h3>
                        <ul>
                            <li>Using a <span class="important">&quot;loose-check&quot;</span>, you can test both null and undefined in one hit: <span class="code">if (x == null) &#123; console.log("PeanutsAreOK!"); &#125; </span> &#123;<br><br>
                                If you use a <span class="important">&quot;strict-check&quot;</span>, it will only be true for values set to null and will not return true for undefined variables: <span class="code">if (x === null) &#123; console.log("WalnutsSuck!"); &#125; </span> </li>
                            <li>Don't use negative names for boolean variables. e.g. this: <span class="code">const isNotSet = true;</span> would be better as <span class="code">const isSet = false;</span> </li>
                            <li>Use "const" whenever possible when a variable is not intended to change instead of var/let</li>
                            <li>var Vs. let &hyphen; var is function scoped, let is block scoped</li>
                            <li>Pass Intellisense to VSCode: /** comment */ above function</li>
                        </ul>
                    </div>
                </div>
                <div (click)="sendPageInfoToChild()"><app-comment [events]="eventsSubject.asObservable()"></app-comment></div>
            </div>
        </mat-card-content>
    </mat-card>
</div>