<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <h1 data-testid="header-title">ENGR-102</h1>
            </mat-card-title>
            <mat-card-subtitle>
                <h3>Design Engineering and Problem Solving</h3>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div>
                <h3>Notes</h3>
                <ul>
                    <li>Week 1 :(</li>
                    <li>Week 2
                        <ul>
                            <li>Inductive Reasoning - Inductive inferences start with observations and arrive and general conclusions.  E.g. Every time I wear blue shoes, people are nicer to me.</li>
                            <li>Deductive Reasoning - Deductive inferences do the reverse. They start with general knowledge and predict a specific observation. For example, If I know a computer needs power to turn on, I can deduce it will not work without power.</li>
                            <li>Scientific Method - Systematic reasoning.  E.g. a log broken down into six categories: (1) statement of the problem, (2) hypotheses as to the cause of the problem, (3) experiments designed to test each hypothesis, (4) predicted results of the experiments, (5) observed results of the experiments and (6) conclusions from the results of the experiments. The real purpose of scientific method is to make sure Nature hasn’t misled you into thinking you know something you don’t actually know.
                                <ol>
                                    <li>In Part One of formal scientific method, which is the statement of the problem, the main skill is in stating absolutely no more than you are positive you know.</li>
                                </ol>
                            </li>
                            <li class="condensed">The Design Process
                                <ol>
                                    <li>For whom are you designing?</li>
                                    <li>What do they care about?</li>
                                    <li>What constrains this design space?</li>
                                    <li>What are some potential solutions?</li>
                                    <li>Which solution best meets stakeholder needs and constraints?</li>
                                    <li>How can I best communicate my solution?</li>
                                    <li>How effective is the solution?</li>
                                </ol>
                            </li>
                            <li class="condensed">Breaking Down Complex Problems.  Create an outline that lists:
                                <ol>
                                    <li>Identifying requirements</li>
                                    <li>The steps needed to meed those requirements</li>
                                </ol>
                            </li>
                            <li>Algoithms - Algorithms are abstracted procedures. Any sequence of steps leading to a specific outcome can be considered an algorithm.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </mat-card-content>
    </mat-card>
</div>