@use '@angular/material' as mat;

@include mat.core();

/* For use in src/lib/core/theming/_palette.scss */
$nehsanet-primary: (
    50 : #fbf4fb,
    100 : #f5e3f5,
    200 : #eed0ee,
    300 : #e7bde7,
    400 : #e2aee2,
    500 : #dda0dd,
    600 : #d998d9,
    700 : #d48ed4,
    800 : #cf84cf,
    900 : #c773c7,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffdeff,
    A700 : #ffc4ff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$primary: mat.define-palette($nehsanet-primary);

$nehsanet-accent: (
    50 : #edebf9,
    100 : #d2cef0,
    200 : #b5ade6,
    300 : #978cdc,
    400 : #8073d5,
    500 : #6a5acd,
    600 : #6252c8,
    700 : #5748c1,
    800 : #4d3fba,
    900 : #3c2eae,
    A100 : #f3f2ff,
    A200 : #c5bfff,
    A400 : #978cff,
    A700 : #8073ff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$accent: mat.define-palette($nehsanet-accent);

/* For use in src/lib/core/theming/_palette.scss */
$nehsanet-warn: (
    50 : #ffece9,
    100 : #ffd0c8,
    200 : #ffb1a3,
    300 : #ff927e,
    400 : #ff7a63,
    500 : #ff6347,
    600 : #ff5b40,
    700 : #ff5137,
    800 : #ff472f,
    900 : #ff3520,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffd3cf,
    A700 : #ffbcb6,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$warn: mat.define-palette($nehsanet-warn);

$nehsanet-typography: mat.define-typography-config($font-family: 'monospace'
    );

$app-theme: mat.define-dark-theme((color: (primary: $primary,
                accent: $accent,
                warn: $warn ),
            density: -1,
            typography: $nehsanet-typography ));

@include mat.all-component-themes($app-theme);

@media screen and (min-width: 0px) and (max-width: 799px) {
    .code {
        line-height: 30px;
    }
}

@media screen and (min-width: 800px) {
    .code {
        line-height: inherit;
    }
}

html,
body {
    margin: 0;
    font-family: monospace, "Helvetica Neue", sans-serif;
    height: 100%;
    background-color: white !important;
}

a:link {
    color: ghostwhite;
}
a:active {
    color: slateblue !important;
    font-weight: 600 !important;  
}
a:visited {
    color: ghostwhite;
}
a:hover {
    color: plum !important;
}

iframe {
    width: 100%;
    height: 500px;
    border: 0;
}

li {
    padding: 7px;
}

li:hover {
    background-color: #333 !important;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ccc;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #999;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #333;
}

pre {
    white-space: pre-wrap;
}

wbr:after {
    content: "\00200B";
}

table,
th,
td {
    border: 1px solid hotpink;
    border-collapse: collapse;
    padding: 5px 1em;
}

th {
    text-align: center;
    font-weight: 700;
}

dt {
    font-weight: 700;
    color: plum;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: plum;
}


.mat-step-header .mat-step-icon {
    background-color: plum;
    color: #fff;
    font-size: 14px;
}

.code {
    background-color: white;
    color: #333;
    font-family: Consolas;
    border-radius: 5px;
    padding: 3px 1em;
    font-size: 1rem;
    min-width: 400px;
    max-width: 90%;
}

.comment {
    background-color: white;
    font-family: Consolas;
    color: forestgreen;
}

.condensed li {
    padding: 0px;
}

.header {
    text-decoration: underline;
    font-size: 1rem;
    font-weight: 700;
}

.mat-mdc-card-header {
    padding: 0px;
    padding-left: 25px;
}

.important {
    font-weight: 600;
    color: plum;
}

.topics {
    display: grid;
    grid-template-rows: min-content;
    grid-gap: 1em;
}

.topics>div {
    border: 1px solid hotpink;
    padding: 1em;
}

.answer {
    color: whitesmoke;
    background-color: #999;
    border: 1px solid #ccc;
    padding: 3px 2em;
    margin: 0 2em;
    width: 600px;
}

.commentgrid {
    display: grid;
    grid-template-rows: 1fr 300px
}

.mat-mdc-dialog-surface {
    overflow: hidden !important;
}

.olq {
    list-style-type: lower-alpha;
    border-radius: 5px;
    border: 1px dashed slateblue;
}

.ula {
    list-style-type: none;
    border-radius: 5px;
    border: 1px dashed slateblue;
}

.tiny5-regular {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
  }