@use '@angular/material' as mat;

@include mat.core();
$light-primary: mat.define-palette(mat.$indigo-palette, 500);
$light-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$light-typography: mat.define-typography-config(
    $font-family: "monospace",
);

$spring-primary: mat.define-palette(mat.$indigo-palette, 500);
$spring-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$spring-typography: mat.define-typography-config(
    $font-family: "monospace",
);

$dark-primary: mat.define-palette(mat.$indigo-palette, 500);
$dark-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$dark-typography: mat.define-typography-config(
    $font-family: "monospace",
);

// per https://github.com/angular/components/blob/main/guides/duplicate-theming-styles.md, start with this, then only adjust colors

$light-theme: mat.define-light-theme(
    (
        color: (
            primary: $light-primary,
            accent: $light-accent,
        ),
        typography: $light-typography,
    )
);

$spring-theme: mat.define-dark-theme(
    (
        color: (
            primary: $spring-primary,
            accent: $spring-accent,
        ),
        typography: $spring-typography,
    )
);


$dark-theme: mat.define-dark-theme(
    (
        color: (
            primary: $dark-primary,
            accent: $dark-accent,
        ),
        typography: $dark-typography,
    )
);


@include mat.all-component-themes($light-theme);

.dark-theme {
    background-color: rgb(33,33,33);
    color: ghostwhite;
    @include mat.all-component-colors($dark-theme);
    @include mat.all-component-typographies($dark-theme);
}

@media screen and (min-width: 0px) and (max-width: 799px) {
    .code {
        line-height: 30px;
    }  
}

@media screen and (min-width: 800px) {
    .code {
        line-height: inherit;
    }  
}


html,
body {
    margin: 0;
    font-family: monospace, "Helvetica Neue", sans-serif;
    height: 100%;
    background-color: white !important;
}
a:link {
    color: ghostwhite;
}

/* visited link */
a:visited {
    color: ghostwhite;
}

/* mouse over link */
a:hover {
    color: black;
    font-weight: 700;
}

/* selected link */
a:active {
    color: blue;
}

.mat-mdc-card-header {
    padding: 0px;
    padding-left: 25px;
}

li {
    padding: 7px;
}

// font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
.code {
    background-color: white;
    color: #333;
    font-family: Consolas;
    border-radius: 5px;
    padding: 5px 1em;
  }

.comment {
    background-color: white;
    font-family: Consolas;
    color: forestgreen;
}

.condensed li {
    padding: 0px;
}

.header {
    text-decoration: underline;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #999; 
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #999;  
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #333; 
}
