@use '@angular/material' as mat;
@include mat.core();
@import './themes.scss';
@import './lagoon.scss';


@media (min-width: 0) {
    dl {
        gap: .4rem;
        padding: .5rem;
    }

    dt {
        width: 40px;
    }

    dd {
        width: 80%;
    }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    dl {
        gap: .4rem;
        padding: .5rem;
    }

    dt {
        width: 75px;
    }

    dd {
        width: 90%;
    }

}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}


@media (min-width: 1400px) {}

html,
body {
    line-height: 1.5;
    margin: 0;
    font-family: monospace,
        "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    height: 100%;
    font-size: 1rem;
    background-color: var(--theme-background-gray);

    // Apply the dark theme by default
    background-color: var(--theme-background-gray);
    @include mat.core-theme($dark-theme);
    @include mat.button-theme($dark-theme);
    @include mat.card-theme($dark-theme);
    @include mat.checkbox-theme($dark-theme);
    @include mat.dialog-theme($dark-theme);
    @include mat.icon-theme($dark-theme);
    @include mat.input-theme($dark-theme);
    @include mat.list-theme($dark-theme);
    @include mat.menu-theme($dark-theme);
    @include mat.radio-theme($dark-theme);
    @include mat.select-theme($dark-theme);
    @include mat.sidenav-theme($dark-theme);

    // Apply the light theme only when the user prefers light themes. (the -color mixins are used to apply the color palette without redefining the entire theme)
    @media (prefers-color-scheme: light) {
        background-color: var(--theme-background-light);
        @include mat.core-color($light-theme);
        @include mat.button-color($light-theme);
        @include mat.card-color($light-theme);
        @include mat.checkbox-color($light-theme);
        @include mat.dialog-color($light-theme);
        @include mat.icon-color($light-theme);
        @include mat.input-color($light-theme);
        @include mat.list-color($light-theme);
        @include mat.menu-color($light-theme);
        @include mat.radio-color($light-theme);
        @include mat.select-color($light-theme);
        @include mat.sidenav-color($light-theme);
    }
}

img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

$theme-border-color: mat.get-color-from-palette($dark-primary-palette, 500);
$theme-background: mat.get-color-from-palette($dark-primary-palette, 50);

// code
$theme-code-background: mat.get-color-from-palette($dark-primary-palette, 300);
$theme-code-color: mat.get-color-from-palette($dark-accent-palette, 800);

// comments
$theme-comment-background: mat.get-color-from-palette($dark-primary-palette, 200);
$theme-comment-color: mat.get-color-from-palette($dark-primary-palette, 400);

//notes
$theme-note-background: mat.get-color-from-palette($dark-primary-palette, 300);
$theme-note-color: mat.get-color-from-palette($dark-primary-palette, 50);

//answers
$theme-answer-background: mat.get-color-from-palette($dark-primary-palette, 300);
$theme-answer-color: mat.get-color-from-palette($dark-primary-palette, 50);

//card
$theme-card-background: mat.get-color-from-palette($dark-accent-palette, 50);
$theme-card-color: #222;

//table
$theme-table-background: mat.get-color-from-palette($light-primary-palette, 200);
$theme-table-color: mat.get-color-from-palette($light-primary-palette, 400);

//files
$theme-file-background: #454B1B;
$theme-file-color: yellow;

//navbar
$theme-navbar-background: mat.get-color-from-palette($dark-primary-palette, 500);
$theme-navbar-color: mat.get-color-from-palette($dark-primary-palette, 100);

//buttons
$theme-light-button-background-color: mat.get-color-from-palette($light-primary-palette, 400);
$theme-dark-button-background-color: mat.get-color-from-palette($dark-primary-palette, 400);
$theme-light-button-color: mat.get-color-from-palette($light-primary-palette, 50);
$theme-dark-button-color: mat.get-color-from-palette($dark-primary-palette, 50);

//buttons hover
$theme-light-button-hover-background-color: mat.get-color-from-palette($light-primary-palette, A700);
$theme-dark-button-hover-background-color: mat.get-color-from-palette($dark-primary-palette, A700);
$theme-light-button-hover-color: mat.get-color-from-palette($light-primary-palette, 100);
$theme-dark-button-hover-color: mat.get-color-from-palette($dark-primary-palette, 100);

//primary color
$theme-dark-primary-color: mat.get-color-from-palette($dark-primary-palette, "primary");
$theme-light-primary-color: mat.get-color-from-palette($light-primary-palette, "primary");

//links
$theme-dark-a-active-color: mat.get-color-from-palette($dark-primary-palette, 100);
$theme-light-a-active-color: mat.get-color-from-palette($light-primary-palette, 100);
$theme-dark-a-visited-color: mat.get-color-from-palette($dark-primary-palette, 200);
$theme-light-a-visited-color: mat.get-color-from-palette($light-primary-palette, 200);
$theme-dark-a-hover-color: mat.get-color-from-palette($dark-primary-palette, 300);
$theme-dark-a-link-color: mat.get-color-from-palette($dark-primary-palette, "link");
$theme-light-a-link-color: mat.get-color-from-palette($light-primary-palette, "link");

// pop color
$theme-pop: deepskyblue;
$theme-header-color: anqituewhite;

// @media (prefers-color-scheme: light) {
//     $theme-border-color: mat.get-color-from-palette($light-primary-palette, 500);
//     $theme-background: mat.get-color-from-palette($light-primary-palette, 50);

//     // code
//     $theme-code-background: mat.get-color-from-palette($light-primary-palette, 300);
//     $theme-code-color: mat.get-color-from-palette($light-accent-palette, 800);

//     // comments
//     $theme-comment-background: mat.get-color-from-palette($light-primary-palette, 200);
//     $theme-comment-color: mat.get-color-from-palette($light-primary-palette, 400);

//     //notes
//     $theme-note-background: mat.get-color-from-palette($light-primary-palette, 300);
//     $theme-note-color: mat.get-color-from-palette($light-primary-palette, 50);

//     //answers
//     $theme-answer-background: mat.get-color-from-palette($light-primary-palette, 300);
//     $theme-answer-color: mat.get-color-from-palette($light-primary-palette, 50);

//     //card
//     $theme-card-background: mat.get-color-from-palette($light-primary-palette, 200);
//     $theme-card-color: mat.get-color-from-palette($light-primary-palette, 400);

//     //table
//     $theme-table-background: mat.get-color-from-palette($light-primary-palette, 200);
//     $theme-table-color: mat.get-color-from-palette($light-primary-palette, 400);

//     //files
//     $theme-file-background: #454B1B;
//     $theme-file-color: yellow;

//     //navbar
//     $theme-navbar-background: mat.get-color-from-palette($light-primary-palette, 500);
//     $theme-navbar-color: mat.get-color-from-palette($light-primary-palette, 100);

//     //button
//     $theme-button-background: mat.get-color-from-palette($light-primary-palette, 400);
//     $theme-button-color: mat.get-color-from-palette($light-primary-palette, 50);

//     //button hover
//     $theme-button-hover-background: mat.get-color-from-palette($light-primary-palette, A700);
//     $theme-button-hover-color: mat.get-color-from-palette($light-primary-palette, 100);

//     //links
//     $theme-a-active: mat.get-color-from-palette($light-primary-palette, 100);
//     $theme-a-visited: mat.get-color-from-palette($light-primary-palette, 200);
//     $theme-light-a-hover-color: mat.get-color-from-palette($light-primary-palette, 300);

//     // pop color
//     $theme-pop: royalblue;
//     $theme-header-color: maroon;
// }

// these variables can be accessed in the global scope
:root {
    --theme-dark-primary-color: #{$theme-dark-primary-color};
    --theme-light-primary-color: #{$theme-light-primary-color};
    --theme-dark-a-link-color: #{$theme-dark-a-link-color};
    --theme-light-a-link-color: #{$theme-light-a-link-color};
    --theme-dark-button-background-color: #{$theme-dark-button-background-color};
    --theme-light-button-background-color: #{$theme-light-button-background-color};
    --theme-dark-button-color: #{$theme-dark-button-color};
    --theme-light-button-color: #{$theme-light-button-color};
    --theme-dark-button-hover-color: #{$theme-dark-button-hover-color};
    --theme-light-button-hover-color: #{$theme-light-button-hover-color};
    --theme-dark-button-hover-background-color: #{$theme-dark-button-hover-background-color};
    --theme-light-button-hover-background-color: #{$theme-light-button-hover-background-color};
    --theme-dark-a-visited: #{$theme-dark-button-color};
    --theme-light-a-visited: #{$theme-light-button-color};
    --theme-dark-a-hover: #{$theme-dark-button-hover-color};
    --theme-light-a-hover: #{$theme-light-button-hover-color};
    --theme-dark-a-active-color: #{$theme-dark-a-active-color};
    --theme-light-a-active-color: #{$theme-light-a-active-color};

    --theme-border: #{$theme-border-color};
    --theme-background: #{$theme-background};
    --theme-background-light-gray: silver;
    --theme-background-gray: #222;
    --theme-background-light-purple: plum;
    --theme-code-background: #{$theme-code-background};
    --theme-code-color: #{$theme-code-color};
    --theme-note-background: #{$theme-note-background};
    --theme-note-color: #{$theme-note-color};
    --theme-comment-background: #{$theme-comment-background};
    --theme-comment-color: #{$theme-comment-color};


    --theme-pop: #{$theme-pop};
    --theme-file-background: #{$theme-file-background};
    --theme-file-color: #{$theme-file-color};
    --theme-card-background: #{$theme-card-background};
    --theme-card-color: #{$theme-card-color};
    --theme-table-background: #{$theme-card-background};
    --theme-table-color: #{$theme-card-color};
    --theme-navbar-background: #{$theme-navbar-background};
    --theme-navbar-color: #{$theme-navbar-color};
    --theme-header-color: #{$theme-header-color};

}


div {
    line-height: 1.2em;
    font-size: 1rem;
}


iframe {
    width: 100%;
    height: 500px;
    border: none;
}

img {
    width: 600px;
}

/* width */
::-webkit-scrollbar {
    width: .4rem;
    height: .4rem;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--theme-background-light-gray);
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--theme-background-light-gray);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--theme-background-gray);
}

pre {
    white-space: pre-wrap;
}

wbr:after {
    content: "\00200B";
}

table,
th,
td {
    background-color: var(--theme-table-background) !important;
    color: var(--theme-table-color) !important;
    border: 1px solid var(--theme-border);
    border-collapse: collapse;
    padding: 5px 1em;
}

th {
    text-align: center;
    font-weight: 700;
}

dt {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--theme-header-color);
}

.mat-step-header .mat-step-icon {
    background-color: $theme-background;
    color: var(--theme-background-light);
    font-size: 14px;
}

// code snippets
.code {
    background-color: var(--theme-code-background) !important;
    color: var(--theme-code-color) !important;
    font-family: Consolas;
    border-radius: 5px;
    padding: 3px 1em;
    font-size: 1rem;
    max-width: 90%;
}

.code-command {
    background-color: var(--theme-code-background) !important;
    color: var(--theme-code-color) !important;
    font-family: Consolas;
    border-radius: 5px;
    padding: 1em;
    margin-top: 1em;
    display: inline-block;
}

// code divs
div.code {
    min-width: 400px;
}

div.code:hover {
    color: var(--theme-pop);
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: var(--theme-background-purple) !important;
}

// code spans
span.code {
    background-color: var(--theme-code-background) !important;
    color: var(--theme-code-color) !important;
    font-family: Consolas;
    border-radius: 5px;
    padding: 3px 1em;
    font-size: 1rem;
    max-width: 90%;
    line-height: 5lvh !important;
    display: inline-block;
}

span.code:hover {
    color: var(--theme-pop);
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: var(--theme-background-purple) !important;
}

.additional-note,
.additional-notes,
.asterisk {
    font-size: 0.8em;
    color: #888;
    margin-top: .4rem;
}

ul.navbar-links>li:hover {
    color: var(--theme-background-purple) !important;
    -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: var(--theme-background-purple) !important;
    border-radius: .4rem;
}

mat-panel-title:hover {
    color: var(--theme-background-light);
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: var(--theme-background-purple) !important;
    border-radius: .4rem;
}

li>h3:hover {
    color: var(--theme-background-light);
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: var(--theme-background-purple) !important;
    border-radius: .4rem;
}

li>h4:hover {
    color: var(--theme-pop);
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: var(--theme-background-purple) !important;
    border-radius: .4rem;
}

// lists
ol {
    list-style-type: lower-alpha;
}

ul {
    list-style-type: square;
}

ul,
ol {
    counter-reset: list-level;
    margin: 4px 0 2px 1em;
    line-height: 1.3;
}

ul ul,
ol ol {
    counter-increment: list-level;
    margin: 4px 0 2px 1em;
}

ul li:nth-child(3n+1)>ul,
ol li:nth-child(3n+1)>ol {
    list-style-type: circle;
}

ul li:nth-child(3n+2)>ul,
ol li:nth-child(3n+2)>ol {
    list-style-type: square;
}

ul li:nth-child(3n+3)>ul,
ol li:nth-child(3n+3)>ol {
    list-style-type: disc;
}

li {
    padding: 7px;
    font-size: 1rem;
}

.condensed li {
    padding: 1px 0 !important;
}

.header {
    text-decoration: underline;
    font-size: 1rem;
    font-weight: 700;
}

.mat-mdc-card-header {
    padding: 0px;
    padding-left: 25px;
}

.important {
    font-weight: bold;
    color: black;
    -webkit-text-stroke: .2px orangered;
    font-size: 2rem;
    line-height: 1.5;
}

.importantish {
    font-weight: bold;
    color: black;
    -webkit-text-stroke: .2px orangered;
    font-size: 1.1rem;
    line-height: 1.5;
}

.strikeout {
    text-decoration: line-through;
}

.topics {
    display: grid;
    grid-template-rows: min-content;
    grid-gap: 1em;
    width: 100%;
    overflow: auto;
}

.topics>div {
    border: 1px solid var(--theme-border);
    padding: 1em;
}

.commentgrid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
}

.mat-mdc-dialog-surface {
    overflow: hidden !important;
}

.strikeout {
    text-decoration: line-through;
}

.mat-icon {
    vertical-align: middle;
}

.file {
    background-color: var(--theme-file-background) !important;
    color: var(--theme-file-color) !important;
    font-size: 1.5rem;
    font-weight: 600;
    font-variant: small-caps;
    display: inline-block;
    padding: .5em 5px;
    border-radius: 5px;
}

.answer {
    background-color: var(--theme-answer-background) !important;
    color: var(--theme-answer-color) !important;
    border: 1px solid var(--theme-border);
    padding: 3px 2em;
    margin: 0 2em;
    width: 600px;
}

mat-card {
    background-color: var(--theme-card-background) !important;
    color: var(--theme-card-color) !important;
}

.card {
    background-color: var(--theme-card-background) !important;
    color: var(--theme-card-color) !important;
}

.note {
    background-color: var(--theme-note-background) !important;
    color: var(--theme-note-color) !important;
    font-weight: 400;
    font-size: small;
}

.comment {
    background-color: var(--theme-comment-background) !important;
    color: var(--theme-comment-color) !important;
    font-family: Consolas;
    padding: .5em;
    display: inline-block;
}

.comment-arrow {
    color: cornflowerblue;
}

.paginators {
    background-color: var(--theme-table-background) !important;
    color: var(--theme-table-color) !important;
}

// lists
.olq {
    list-style-type: lower-alpha;
    border-radius: 5px;
    border: 1px solid var(--theme-border);
}

.ula {
    list-style-type: none;
    border-radius: 5px;
    border: 1px solid var(--theme-border-color);
}


// Buttons and links
a {
    cursor: pointer !important;
    text-decoration: underline !important;
}

a:active {
    color: var(--theme-a-active-color) !important;
    font-weight: 600 !important;
}

a:visited {
    color: var(--theme-a-visited-color) !important;
}

a,
.mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-outlined-button,
.mat-mdc-flat-button,
.mat-mdc-unelevated-button {
    cursor: pointer !important;
    display: inline-block;
}

.question {
    font-style: italic;
}

// makes the question_mark icon bigger and a nice green
.questionmark {
    color: var(--theme-pop);
    font-size: 1.5rem !important;
    font-weight: 600;
    height: 1.5rem !important;
    width: 1.5rem !important;
}

// custom fonts
.tiny5-regular {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bungee-spice-regular {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}

// expansion-panel
.mat-expansion-panel-header {
    font-size: 1rem !important;
}

.mat-expansion-panel-header-title {
    color: inherit !important;
}

mat-panel-subtitle {
    padding: 0 1em 0 0;
    height: 100%;
    place-content: center;
}

// mat-card
.mat-mdc-card-title {
    color: #222 !important;
}

.mat-mdc-card-subtitle {
    color: #444 !important;
}

// theming
.vampire {
    background-color: #333 !important;
    color: var(--theme-dark-primary-color);
}

.angel {
    background-color: whitesmoke !important;
    color: var(--theme-light-primary-color);
}

.vampire a:link {
    color: var(--theme-dark-a-link-color) !important;
}


.angel a:link {
    color: var(--theme-light-a-link-color) !important;
}

.vampire a:link {
    color: var(--theme-dark-a-link-color) !important;
}


.angel a:link {
    color: var(--theme-light-a-link-color) !important;
}

.vampire .mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-outlined-button,
.mat-mdc-flat-button,
.mat-mdc-unelevated-button {
    background-color: var(--theme-dark-button-background-color) !important;
    text-decoration: none !important;
}

.vampire a:hover,
.mat-mdc-button:hover,
.mat-mdc-raised-button:hover,
.mat-mdc-outlined-button:hover,
.mat-mdc-flat-button:hover,
.mat-mdc-unelevated-button:hover {
    background-color: var(--theme-dark-button-hover-background-color) !important;
    color: var(--theme-dark-button-hover-color) !important;
}

.angel .mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-outlined-button,
.mat-mdc-flat-button,
.mat-mdc-unelevated-button {
    background-color: var(--theme-light-button-background-color) !important;
    text-decoration: none !important;
}

.angel a:hover,
.mat-mdc-button:hover,
.mat-mdc-raised-button:hover,
.mat-mdc-outlined-button:hover,
.mat-mdc-flat-button:hover,
.mat-mdc-unelevated-button:hover {
    background-color: var(--theme-light-button-hover-background-color) !important;
    color: var(--theme-light-button-hover-color-color) !important;
}

// tables
.min-table {
    width: fit-content !important;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid var(--theme-border);
}

// dls
dl {
    display: grid;
    grid-template-columns: 1fr auto;
    width: fit-content;
}

dt {
    font-style: oblique;
    font-weight: normal;
}


// examples
.example-container {
    width: 18.75rem;
    min-width: fit-content;
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
}