@use '@angular/material' as mat;
@include mat.core();
@import './themes-colorful.scss';

$dark-theme: mat.define-light-theme((color: (theme-type: dark,
                primary: $light-primary-palette,
                accent: $light-accent-palette,
                warn: $light-warn-palette ),
            density: -1,
            typography: $typography ));

$light-theme: mat.define-dark-theme((color: (theme-type: light,
                primary: $dark-primary-palette,
                accent: $dark-accent-palette,
                warn: $light-warn-palette ),
            density: -1,
            typography: $typography ));

@include mat.all-component-themes($light-theme);
@include mat.all-component-themes($dark-theme);

// light theme
.angel-with-border {
    border-left: 7px solid var(--theme-light-primary-color) !important;
    border-right: 7px solid var(--theme-light-primary-color) !important;
    border-top: 2px solid var(--theme-light-primary-color) !important;
    border-bottom: 2px solid var(--theme-light-primary-color) !important;
}

.angel {
    background-color: whitesmoke !important;
    color: var(--theme-light-primary-color);
}

.angel div {
    background-color: transparent;
    color: var(--theme-light-primary-color);
}

.angel .mat-mdc-form-field {
    background-color: whitesmoke;
    color: var(--theme-light-primary-color);
}

.angel .mat-mdc-floating-label {
    background-color: whitesmoke;
    color: var(--theme-light-primary-color);
}

.angel a:link {
    color: var(--theme-light-a-link-color) !important;
    font-weight: bold !important;
}

.angel a:visited {
    color: var(--theme-dark-a-link-color) !important;
    font-weight: bold !important;
}

.angel a:active {
    color: var(--theme-dark-a-link-color) !important;
}

.angel .mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-outlined-button,
.mat-mdc-flat-button,
.mat-mdc-unelevated-button {
    background-color: var(--theme-light-button-background-color) !important;
    text-decoration: none !important;
}

.angel a:hover,
.mat-mdc-button:hover,
.mat-mdc-raised-button:hover,
.mat-mdc-outlined-button:hover,
.mat-mdc-flat-button:hover,
.mat-mdc-unelevated-button:hover {
    background-color: var(--theme-light-button-hover-background-color) !important;
    color: var(--theme-light-button-hover-color-color) !important;
}

// dark theme
// theming
.vampire-with-border {
    border-left: 7px solid var(--theme-dark-primary-color) !important;
    border-right: 7px solid var(--theme-dark-primary-color) !important;
    border-top: 2px solid var(--theme-dark-primary-color) !important;
    border-bottom: 2px solid var(--theme-dark-primary-color) !important;
}

.vampire {
    background-color: #383838 !important;
    color: #B7D1B1;
}

.vampire .topics {
    background-color: #383838 !important;
    color: #B7D1B1;
}

.vampire h1,
h2,
h3,
h4,
h5,
h6 {
    color: #B7D1B1;
}

.vampire mat-card {
    background-color: #333344 !important;
}

.vampire mat-expansion-panel {
    background-color: #444455 !important;
    color: #B7D1B1;
}

.vampire mat-card-subtitle {
    background-color: #333344 !important;
    color: #A3BD9D !important;
}

.vampire mat-card-subtitle {
    background-color: #333344 !important;
    color: #B7D1B1 !important;
}

// lists
.vampire ul {
    background-color: #383838 !important;
    color: #B7D1B1;
}

.vampire li {
    background-color: #383838 !important;
}

// divs
.vampire div {
    background-color: transparent;
    color: #B7D1B1;
}

// forms
.vampire .mat-mdc-form-field {
    background-color: #333344;
    color: #B7D1B1;
}

.vampire .mat-mdc-floating-label {
    background-color: #333344;
    color: #B7D1B1;
}

// .mdc-text-field--outlined {
//     color: lime !important;
// }

// .mdc-text-field--focused {
//     color: purple !important;
// } 

.vampire a:link {
    color: var(--theme-dark-a-link-color) !important;
    font-weight: bold !important;
}

.vampire a:visited {
    color: var(--theme-dark-a-link-color) !important;
    font-weight: bold !important;
}

.vampire a:active {
    color: var(--theme-dark-a-link-color) !important;
}

.vampire .mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-outlined-button,
.mat-mdc-flat-button,
.mat-mdc-unelevated-button {
    background-color: var(--theme-dark-button-background-color) !important;
    text-decoration: none !important;
}

.vampire a:hover,
.mat-mdc-button:hover,
.mat-mdc-raised-button:hover,
.mat-mdc-outlined-button:hover,
.mat-mdc-flat-button:hover,
.mat-mdc-unelevated-button:hover {
    background-color: var(--theme-dark-button-hover-background-color) !important;
    color: var(--theme-dark-button-hover-color) !important;
}