<mat-card class="card" [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()">
    <mat-card-header>
        <mat-card-title>
            <h1 data-testid="header-title">MySQL</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="commentgrid topics">
            <div><app-related-content></app-related-content></div>
            <div>
                <div>
                    <ul>
                        <li>
                            <mat-expansion-panel expanded>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Tips / Best Practices</mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul>
                                    <li>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header><mat-panel-title>Data Types</mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <dl>
                                                <dt>INT</dt>
                                                <dd>A number without a decimal point. Use INT for primary keys.</dd>
                                                <dt>VARCHAR</dt>
                                                <dd>Variable-length string. Use VARCHAR for strings.</dd>
                                                <dt>TEXT</dt>
                                                <dd>Use TEXT for large strings.</dd>
                                                <dt>JSON</dt>
                                                <dd>Use JSON for JSON objects. Example: '&#123;"name":
                                                    "Jesse"&#125;'<br>
                                                    To access the value, use JSON_EXTRACT. i.e. <inline-code>select *
                                                        from table where JSON_EXTRACT(column, '$.name') =
                                                        'Jesse';</inline-code>
                                                </dd>
                                                <dt>ENUM</dt>
                                                <dd>Use ENUM for a list of possible values. Example: ENUM('red',
                                                    'green', 'blue')<br>To access the value, use the index (0, 1, 2).
                                                    i.e. <inline-code>select * from table where color = 1;</inline-code>
                                                </dd>
                                                <dt>DATE</dt>
                                                <dd>Use DATE for dates. Example: '2024-09-01'</dd>
                                                <dt>DATETIME</dt>
                                                <dd>Use DATETIME for dates and times. Example: '2024-09-01 12:00:00'
                                                </dd>
                                                <dt>DECIMAL</dt>
                                                <dd>Use DECIMAL for numbers with decimal points.</dd>
                                                <dt>BOOLEAN</dt>
                                                <dd>Use BOOLEAN for true/false values.</dd>
                                            </dl>
                                        </mat-expansion-panel>
                                    </li>
                                    <li>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header><mat-panel-title>Naming
                                                    Conventions</mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <dl>
                                                <dt>Use plural nours for tables</dt>
                                                <dd>eg: `flashcards` (for tables with multiple names, use underscores)
                                                </dd>
                                                <dt>Use singular nouns for columns</dt>
                                                <dd>eg: `question`</dd>
                                                <dt>For columns with multiple names, use underscores</dt>
                                                <dd>eg: `created_at`</dd>
                                                <dt>Use `id` for primary keys</dt>
                                                <dd>eg: `id`</dd>
                                                <dt>Use prefix `fk_` for foreign keys</dt>
                                                <dd>eg: `fk_user_id`</dd>
                                                <dt>Use prefix `idx_` for indexes</dt>
                                                <dd>eg: `idx_user_id`</dd>
                                                <dt>Do not use unicode NVARCHAR or NCHAR</dt>
                                                <dd>For UTF8MB4, use VARCHAR or CHAR</dd>
                                            </dl>
                                        </mat-expansion-panel>
                                    </li>
                                    <li>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header><mat-panel-title>Create Table
                                                    Options</mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <dl>
                                                <dt>AUTO_INCREMENT</dt>
                                                <dd>Automatically increments the value for each record.</dd>
                                                <dt>PRIMARY KEY</dt>
                                                <dd>Unique identifier for the record. This can be used as a foreign key
                                                    constraint in other tables.</dd>
                                                <dt>FOREIGN KEY</dt>
                                                <dd>Links to a primary key in another table.</dd>
                                                <dt>NOT NULL</dt>
                                                <dd>Requires a value to be entered.</dd>
                                                <dt>UNIQUE</dt>
                                                <dd>Requires a unique value.</dd>
                                                <dt>DEFAULT</dt>
                                                <dd>Provides a default value if none is entered.<br><br>
                                                    e.g. to add a current timestamp:
                                                    <code>
                                                        <pre>
CREATE TABLE `pages` (
    `id` INT AUTO_INCREMENT PRIMARY KEY,
    `stem` VARCHAR(100) NOT NULL,
    `title` VARCHAR(100) NOT NULL,
    `date` DATETIME NOT NULL <span class="importantish">DEFAULT CURRENT_TIMESTAMP</span>
);

                                                        </pre>
                                                    </code>
                                                </dd>
                                            </dl>
                                        </mat-expansion-panel>
                                    </li>
                                    <li>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header><mat-panel-title>Working with
                                                    JSON</mat-panel-title>
                                            </mat-expansion-panel-header>Use JSON_OBJECT instead of VARCHAR when working
                                            with JSON. It's faster and more efficient.
                                            <h3>Inserting a JSON object</h3>
                                            <code>
<pre>
INSERT INTO flashcards (question, answer, answer_format_id, page)
VALUES (
    JSON_OBJECT('question', 'What is the distance from the Earth to the Sun?'),
    JSON_OBJECT('answer', JSON_ARRAY('1 AU', '1 light-year', '1 parsec')), 
    1, 'PH207'
);                                                
</pre>
                                                </code>
                                            <h3>Retrieving a JSON object</h3>
                                            <ul>
                                                <li>Search for specific value:
                                                    <code>
                                                    <pre>
SELECT *
FROM flashcards
WHERE JSON_CONTAINS(question, '&#123;"question":"What is the distance from the Earth to the Sun?"&#125;');
</pre>
                                                        </code>
                                                </li>
                                                <li>Search for a value in an array:
                                                    <code>
                                                    <pre>
SELECT *
FROM flashcards
WHERE JSON_CONTAINS(answer, '["1 AU"]');
</pre>
                                                        </code>
                                                </li>
                                                <li>Search for a value in an array and a specific question:
                                                    <code>
                                                    <pre>
SELECT *
FROM flashcards
WHERE JSON_EXTRACT(question, '$.question') LIKE '%distance%'
    AND JSON_CONTAINS(JSON_EXTRACT(answer, '$.answer'), '["1 AU"]');
</pre>
                                                        </code>
                                                </li>
                                            </ul>
                                        </mat-expansion-panel>
                                    </li>
                                </ul>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Running MySQL within Docker</mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul>
                                    <li>Get latest imagest:<br>
                                        <code>docker pull ubuntu/mysql</code>
                                    </li>
                                    <li>
                                        Run it:<br>
                                        <code>docker run <br>&nbsp;&nbsp;
                                            --name mysql-container <br>&nbsp;&nbsp;
                                            -d <br>&nbsp;&nbsp;
                                            -e TZ=UTC <br>&nbsp;&nbsp;
                                            -p 3306:3306 <br>&nbsp;&nbsp;
                                            -v /opt/mysql-db:/var/lib/mysql<br>&nbsp;&nbsp;
                                            -e MYSQL_ROOT_PASSWORD=&lt;PASSWORD&gt;<br>&nbsp;&nbsp;ubuntu/mysql:latest</code>
                                    </li>
                                    <li>We now have a SQL server install running to the outside world on port <span
                                            class="importantish">3306</span>. The data for the database is stored
                                        externally in a volume /opt/mysql.<br><br>
                                        <span class="code-command">docker ps</span>
                                        <code>

                                            <pre>
CONTAINER ID   IMAGE                 COMMAND                  CREATED          STATUS          PORTS                                NAMES
6d2a74d5914f   ubuntu/mysql:latest   "docker-entrypoint.s…"   17 minutes ago   Up 17 minutes   33060/tcp, 0.0.0.0:3306->3306/tcp   mysql-container
                                </pre>
                                        </code>
                                    </li>
                                </ul>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>MySQL WorkBench</mat-panel-title>
                                </mat-expansion-panel-header>
                                Install client only
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header><mat-panel-title>Configure .NET Core
                                        support</mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul>
                                    <li>
                                        <span class="code-command">dotnet add package MySqlConnector</span>
                                        <code>
                                        <pre>
Determining projects to restore...
...
info : Adding PackageReference for package 'MySqlConnector' into project 'C:\src\&lt;PROJECT&gt;\&lt;PROJECT&gt;.csproj'.
...
info : Package 'MySqlConnector' is compatible with all the specified frameworks in project 'C:\src\&lt;PROJECT&gt;\&lt;PROJECT&gt;.csproj'.
info : PackageReference for package 'MySqlConnector' version '2.3.7' added to file 'C:\src\&lt;PROJECT&gt;\&lt;PROJECT&gt;.csproj'.
info : Generating MSBuild file C:\src\&lt;PROJECT&gt;\obj\&lt;PROJECT&gt;.csproj.nuget.g.targets.
info : Writing assets file to disk. Path: C:\src\&lt;PROJECT&gt;\obj\project.assets.json
log  : Restored C:\src\&lt;PROJECT&gt;\&lt;PROJECT&gt;.csproj (in 1.72 sec).
                            </pre>
                                        </code>
                                    </li>
                                    <li>Add connection string to appsettings.json:
                                        <code>
                                        <pre>
"ConnectionStrings": &#123;
"Default": "Server=&lt;YOURSERVER&gt;;Port=&lt;PORT&gt;User ID=&lt;USERID&gt;;Password=&lt;PASSWORD&gt;;Database=&lt;YOURDATABASE&gt;"
&#125;,
                                </pre>
                                        </code>
                                    </li>
                                    <li>Install MySqlConnector.DependencyInjection:<br><br>
                                        <span class="code-command">dotnet add package
                                            MySqlConnector.DependencyInjection</span>
                                        <code>
                                            <pre>
Determining projects to restore...
...
info : Adding PackageReference for package 'MySqlConnector.DependencyInjection' into project 'C:\src\&lt;PROJECT&gt;\&lt;PROJECT&gt;.csproj'.
...
info : Package 'MySqlConnector.DependencyInjection' is compatible with all the specified frameworks in project 'C:\src\&lt;PROJECT&gt;\&lt;PROJECT&gt;.csproj'.
info : PackageReference for package 'MySqlConnector.DependencyInjection' version '2.3.6' added to file 'C:\src\&lt;PROJECT&gt;\&lt;PROJECT&gt;.csproj'.
info : Writing assets file to disk. Path: C:\src\&lt;PROJECT&gt;\obj\project.assets.json
log  : Restored C:\src\&lt;PROJECT&gt;\&lt;PROJECT&gt;.csproj (in 1.22 sec)
                            </pre>
                                        </code>
                                    </li>
                                    <li>Update appsetings.json again and add:<br>
                                        <code>
                                            builder.Services.AddMySqlDataSource(builder.Configuration.GetConnectionString("Default")!);
                                        </code>
                                    </li>
                                </ul>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Setup New Database Schema</mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul>
                                    <li>Connect via MySQL Workbench</li>
                                    <li>
                                        Create the new database:<br>
                                        <code>create schema &lt;DATABASE NAME&gt;</code>
                                    </li>
                                    <li>Ensure you're viewing "Schemas," click "Refresh" to see your new schema</li>
                                    <li>Create a new type by expanding the schema and right-clicking on Tables</li>
                                    <li>Click "Apply" to generate the new table</li>
                                </ul>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Creating new MySQL Tables</mat-panel-title>
                                </mat-expansion-panel-header>
                                Basic syntax is:
                                <code>
                                    <pre>
CREATE TABLE &lt;TABLE NAME&gt; (
    &lt;COLUMN NAME&gt; &lt;DATA TYPE&gt; &lt;OPTIONAL CONSTRAINTS&gt;,
    &lt;COLUMN NAME&gt; &lt;DATA TYPE&gt; &lt;OPTIONAL CONSTRAINTS&gt;,
    &lt;COLUMN NAME&gt; &lt;DATA TYPE&gt; &lt;OPTIONAL CONSTRAINTS&gt;
);
                                </pre>
                                </code>
                                <h3>Example</h3>
                                <code>
                                    <pre>
CREATE TABLE flashcards (
    id INT AUTO_INCREMENT PRIMARY KEY,
    question VARCHAR(255),
    answer TEXT,
    answer_format_id INT,
    page VARCHAR(255)
);
                                    </pre>
                                </code>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Updating MySQL Tables</mat-panel-title>
                                </mat-expansion-panel-header>Done using the "ALTER" command. Example: <inline-code>ALTER
                                    TABLE flashcards ADD COLUMN category VARCHAR(255);</inline-code>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Using MySQL Shell</mat-panel-title>
                                </mat-expansion-panel-header>
                                <div>
                                    <h4>Using MySQL Shell</h4>
                                    <dl>
                                        <dt>Connect to a database</dt>
                                        <dd>
                                            <code>
                                                <pre>
\connect root&#64;localhost:3306
Creating a session to 'root&#64;localhost:3306'
Please provide the password for 'root&#64;localhost:30306': **********
Save password for 'root&#64;localhost:3306'? [Y]es/[N]o/Ne[v]er (default No): n
Fetching schema names for auto-completion... Press ^C to stop.
Your MySQL connection id is 37
Server version: 8.0.37-0ubuntu0.22.04.3 (Ubuntu)
</pre>
                                            </code>
                                        </dd>
                                        <dt>Change Schema</dt>
                                        <dd>
                                            <code>
                                                <pre>
\use &lt;DATABASE&gt;
Default schema set to `&lt;DATABASE&gt;`.
</pre>
                                            </code>
                                        </dd>
                                        <dt>Run a query (in this case: Show all tables)</dt>
                                        <dd>
                                            <code>
                                                <pre>
\sql show tables;
Fetching global names, object names from `&lt;DATABASE&gt;`
+----------------------+
| Tables_in_&lt;DATABASE&gt; |
+----------------------+
| &lt;TABLE1&gt;             |
| &lt;TABLE2&gt;             |
+----------------------+
2 rows in set (0.0013 sec)
                                </pre>
                                            </code>
                                        </dd>
                                    </dl>
                                </div>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Constraints</mat-panel-title>
                                </mat-expansion-panel-header>Example of creating a table with contraints that enforce
                                uniqueness on multiple columns:
                                <ul>
                                    <li>
                                        <code>
                                    <pre>
CREATE TABLE dogs (
    id INT AUTO_INCREMENT PRIMARY KEY,
    type VARCHAR(255),
    breed TEXT,
    age INT,
    UNIQUE (type, breed, age) <span class="command"><mat-icon>arrow_back</mat-icon> An attempt to insert a duplicate will entry of type, breed, and age will fail.</span>
);
                                </pre>
                                    </code>
                                    </li>
                                    <li>Updating a table to add a UNIQUE constrain on multiple columns:
                                        <inline-code>ALTER TABLE dogs ADD UNIQUE (type, breed, age);</inline-code>
                                    </li>
                                    <li>KEY containts a unique value for each row. NULL values are not allowed.<br><br>

                                        Example, this would fail if you tried to insert a second dog with the same
                                        name:<br>
                                        <inline-code>CREATE TABLE dogs (id INT AUTO_INCREMENT PRIMARY KEY, name
                                            VARCHAR(255) NOT NULL);</inline-code>
                                    </li>
                                </ul>

                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Troubleshooting</mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul>
                                    <li> <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>Connectivity To/From API (C#
                                                    Core)</mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <ul>
                                                <li>Can you ping it? (from API server)<br>
                                                    Find the database connection details in the <span
                                                        class="file">appsettings.json</span>
                                                    <code>
                                                        <pre>
"ConnectionStrings": &#123;
    "Default": "Server=<span class="importantish">&lt;IP/Host&gt;</span>;User ID=<span class="importantish">&lt;USERNAME&gt;</span>;Password='<span class="importantish">&lt;PASSWORD&gt;</span>';Port=<span class="importantish">&lt;PORT&gt;</span>;Database=<span class="importantish">&lt;DATABASE&gt;</span>"
&#125;
</pre>
                                                    </code>
                                                </li>
                                                <li>Can you connect to the docker image? (from DB server)<br><span
                                                        class="code">docker
                                                        exec -it -u <span class="importantish">&lt;USERNAME&gt;</span>
                                                        /bin/bash </span>
                                                </li>
                                                <li>Can you connect to the database from DB server (localhost)?
                                                    <ul>
                                                        <li>
                                                            <mat-expansion-panel>
                                                                <mat-expansion-panel-header>
                                                                    <mat-panel-title>using &quot;mysql
                                                                        shell&quot;</mat-panel-title>
                                                                </mat-expansion-panel-header>
                                                                <ul>
                                                                    <li>Open MySQL Shell (installed with MySQL
                                                                        Workbench) (and
                                                                        open it)</li>
                                                                    <li>Run <span class="code">\connect
                                                                            root&#64;localhost</span>
                                                                        <span class="result">
                                                                            <code>
                                                                                <pre>
\connect root&#64;localhost:3306
Creating a session to 'root&#64;localhost:3306'
Please provide the password for 'root&#64;localhost:30306': **********
Save password for 'root&#64;localhost:3306'? [Y]es/[N]o/Ne[v]er (default No): n
Fetching schema names for auto-completion... Press ^C to stop.
Your MySQL connection id is 37
Server version: 8.0.37-0ubuntu0.22.04.3 (Ubuntu)
</pre>
                                                                            </code>
                                                                        </span>
                                                                    </li>
                                                                </ul>
                                                            </mat-expansion-panel>
                                                        </li>
                                                        <li>
                                                            <mat-expansion-panel>
                                                                <mat-expansion-panel-header>
                                                                    <mat-panel-title>using
                                                                        &quot;mysql&quot;</mat-panel-title>
                                                                </mat-expansion-panel-header>
                                                                <ul>
                                                                    <li>Log into system:<br><br>
                                                                        <ul>
                                                                            <li>
                                                                                <span class="code-command">docker
                                                                                    ps</span>
                                                                            </li>
                                                                            <li>
                                                                                <code>docker exec -it -u
                                                                                    root 944 /bin/bash</code>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                    <li>Install MySQL Client<br>
                                                                        <code>apt-get install
                                                                            default-mysql-client/stable</code>
                                                                    </li>
                                                                    <li>Verify you can connect:<br><br>
                                                                        <span class="code-command">mysql -u
                                                                            &lt;USERNAME&gt; -p'&lt;PASSWORD&gt;' -h
                                                                            &lt;HOSTNAME OR IP&gt; -P &lt;PORT&gt;
                                                                            -D &lt;DATABASE NAME&gt; <span
                                                                                class="comment">note
                                                                                the password is
                                                                                touching
                                                                                -p, that's important.</span></span>
                                                                        <code>
                                                                            <pre>
Reading table information for completion of table and column names
You can turn off this feature to get a quicker startup with -A

Welcome to the MariaDB monitor.  Commands end with ; or \g.
Your MySQL connection id is 17
Server version: 8.0.37-0ubuntu0.22.04.3 (Ubuntu)

Copyright (c) 2000, 2018, Oracle, MariaDB Corporation Ab and others.

Type 'help;' or '\h' for help. Type '\c' to clear the current input statement.

MySQL [&lt;DATABASE NAME&gt;]>
                                        </pre>
                                                                        </code>
                                                                    </li>
                                                                </ul>
                                                            </mat-expansion-panel>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>Can you connect to the database from API server?<span
                                                        class="code">\connect
                                                        root&#64;<span class="importantish">&lt;IP/Host&gt;</span>:<span
                                                            class="importantish">&lt;PORT&gt;</span></span>
                                                </li>
                                            </ul>
                                        </mat-expansion-panel>
                                    </li>
                                </ul>
                            </mat-expansion-panel>
                        </li>
                    </ul>
                </div>
            </div>
            <div><app-comment></app-comment></div>
        </div>
    </mat-card-content>
</mat-card>