<mat-card class="card" [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()">
    <mat-card-header>
        <mat-card-title>
            <h1 data-testid="header-title">MySQL</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="commentgrid">
            <div class="topics">
                <div>
                    <ul>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Tips / Best Practices</mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul>
                                    <li>Naming Conventions
                                        <dl>
                                            <dt>Use plural nours for tables</dt>
                                            <dd>eg: `flashcards` (for tables with multiple names, use underscores)</dd>
                                            <dt>Use singular nouns for columns</dt>
                                            <dd>eg: `question`</dd>
                                            <dt>For columns with multiple names, use underscores</dt>
                                            <dd>eg: `created_at`</dd>
                                            <dt>Use `id` for primary keys</dt>
                                            <dd>eg: `id`</dd>
                                            <dt>Use prefix `fk_` for foreign keys</dt>
                                            <dd>eg: `fk_user_id`</dd>
                                            <dt>Use prefix `idx_` for indexes</dt>
                                            <dd>eg: `idx_user_id`</dd>
                                            <dt>Do not use unicode NVARCHAR or NCHAR</dt>
                                            <dd>For UTF8MB4, use VARCHAR or CHAR</dd>
                                        </dl>
                                    </li>
                                    <li>Use JSON_OBJECT instead of VARCHAR when working with JSON. It's faster and more
                                        efficient.
                                        <h3>Inserting a JSON object</h3>
                                        <code>
<pre>
INSERT INTO flashcards (question, answer, answer_format_id, page)
VALUES (
    JSON_OBJECT('question', 'What is the distance from the Earth to the Sun?'),
    JSON_OBJECT('answer', JSON_ARRAY('1 AU', '1 light-year', '1 parsec')), 
    1, 'PH207'
);                                                
</pre>
                                        </code>
                                        <h3>Retrieving a JSON object</h3>
                                        <ul>
                                            <li>Search for specific value:
                                                <code>
                                                    <pre>
SELECT *
FROM flashcards
WHERE JSON_CONTAINS(question, '&#123;"question":"What is the distance from the Earth to the Sun?"&#125;');
</pre>
                                                </code>
                                            </li>
                                            <li>Search for a value in an array:
                                                <code>
                                                    <pre>
SELECT *
FROM flashcards
WHERE JSON_CONTAINS(answer, '["1 AU"]');
</pre>
                                                </code>
                                            </li>
                                            <li>Search for a value in an array and a specific question:
                                                <code>
                                                    <pre>
SELECT *
FROM flashcards
WHERE JSON_EXTRACT(question, '$.question') LIKE '%distance%'
    AND JSON_CONTAINS(JSON_EXTRACT(answer, '$.answer'), '["1 AU"]');
</pre>
                                                </code>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>UTF8MB4 is the best character. Other options are deprecated.</li>
                                    <li>Use exaplin! It's a great way to see how your query is being executed. <br>
                                        <span class="code">explain select * from flashcards</span><br>
                                        <code>
                                            <pre>
# id, select_type, table, partitions, type, possible_keys, key, key_len, ref, rows, filtered, Extra
'1', 'SIMPLE', 'flashcards', NULL, 'ALL', NULL, NULL, NULL, NULL, '1', '100.00', NULL
                                            </pre>
                                        </code><br><br>
                                        This is a lot of valuable information:<br>
                                        <dl>
                                            <dt>id</dt>
                                            <dd>the query number</dd>
                                            <dt>select_type</dt>
                                            <dd>the type of query</dd>
                                            <dt>table</dt>
                                            <dd>the table being queried</dd>
                                            <dt>partitions</dt>
                                            <dd>the partitions being used</dd>
                                            <dt>type</dt>
                                            <dd>the type of join</dd>
                                            <dt>possible_keys</dt>
                                            <dd>the keys that could be used</dd>
                                            <dt>key</dt>
                                            <dd>the key that was used</dd>
                                            <dt>key_len</dt>
                                            <dd>the length of the key</dd>
                                            <dt>ref</dt>
                                            <dd>the reference</dd>
                                            <dt>rows</dt>
                                            <dd>the number of rows</dd>
                                            <dt>filtered</dt>
                                            <dd>the percentage of rows that were filtered</dd>
                                            <dt>Extra</dt>
                                            <dd>any extra information</dd>
                                        </dl><br><br>
                                        An example of how this could be used to troubleshoot performance issues:<br>
                                        <ol>
                                            <li>Check if the query uses the correct index. If the key is NULL, then the
                                                query
                                                is not using an index. If the key is not NULL, then the query uses an
                                                index.</li>
                                            <li>Check the number of rows. If the number of rows is high, then the query
                                                may not optimized.</li>
                                            <li>Check the type of join. If the type is ALL, then the query is not using
                                                an index. An example of an all join is a full table scan.</li>
                                        </ol>
                                    </li>
                                    <li>MySQL Workbench is the only tool I've used for MySQL. It's similar to SQL Server
                                        Management Studio (SSMS) although I find SSMS a bit more polished.
                                        <ul>
                                            <li>To execute a query similar to F5 in SSMS, use <span
                                                    class="code">Ctrl+Enter</span></li>
                                            <li>Use <span class="code">Ctrl+Shift+Enter</span> to execute the current
                                                line
                                            </li>
                                            <li>Specifying a length `id` INT(11) is deprecated, use `id` INT instead
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Setup Docker</mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul>
                                    <li>Get latest imagest:<br>
                                        <code>docker pull ubuntu/mysql</code>
                                    </li>
                                    <li>
                                        Run it:<br>
                                        <code>docker run -d --name mysql-container -e TZ=UTC -p
                                            3306:3306
                                            -e
                                            MYSQL_ROOT_PASSWORD=&lt;PASSWORD&gt; ubuntu/mysql:latest</code>
                                    </li>
                                    <li>We now have a SQL server install running to the outside world on port <span
                                            class="important">3306</span>:<br><br><br>
                                        <span class="code-command">docker ps</span>
                                        <code>

                                            <pre>
CONTAINER ID   IMAGE                 COMMAND                  CREATED          STATUS          PORTS                                NAMES
6d2a74d5914f   ubuntu/mysql:latest   "docker-entrypoint.s…"   17 minutes ago   Up 17 minutes   33060/tcp, 0.0.0.0:3306->3306/tcp   mysql-container
                                </pre>
                                        </code>
                                    </li>
                                    <li>Get MySQL Workbench
                                        <ul class="condensed">
                                            <li>Install client only</li>
                                        </ul>
                                    </li>
                                    <li>Configure .NET Core support<br><br>
                                        <ul>
                                            <li>
                                                <span class="code-command">dotnet add package MySqlConnector</span>
                                                <code>
                                                    <pre>
Determining projects to restore...
...
info : Adding PackageReference for package 'MySqlConnector' into project 'C:\src\&lt;PROJECT&gt;\&lt;PROJECT&gt;.csproj'.
...
info : Package 'MySqlConnector' is compatible with all the specified frameworks in project 'C:\src\&lt;PROJECT&gt;\&lt;PROJECT&gt;.csproj'.
info : PackageReference for package 'MySqlConnector' version '2.3.7' added to file 'C:\src\&lt;PROJECT&gt;\&lt;PROJECT&gt;.csproj'.
info : Generating MSBuild file C:\src\&lt;PROJECT&gt;\obj\&lt;PROJECT&gt;.csproj.nuget.g.targets.
info : Writing assets file to disk. Path: C:\src\&lt;PROJECT&gt;\obj\project.assets.json
log  : Restored C:\src\&lt;PROJECT&gt;\&lt;PROJECT&gt;.csproj (in 1.72 sec).
                                        </pre>
                                                </code>
                                            </li>
                                            <li>Add connection string to appsettings.json:
                                                <code>
                                                    <pre>
"ConnectionStrings": &#123;
    "Default": "Server=&lt;YOURSERVER&gt;;Port=&lt;PORT&gt;User ID=&lt;USERID&gt;;Password=&lt;PASSWORD&gt;;Database=&lt;YOURDATABASE&gt;"
&#125;,
                                            </pre>
                                                </code>
                                            </li>
                                            <li>Install MySqlConnector.DependencyInjection:<br><br>
                                                <span class="code-command">dotnet add package
                                                    MySqlConnector.DependencyInjection</span>
                                                <code>
                                                    <pre>
Determining projects to restore...
...
info : Adding PackageReference for package 'MySqlConnector.DependencyInjection' into project 'C:\src\&lt;PROJECT&gt;\&lt;PROJECT&gt;.csproj'.
...
info : Package 'MySqlConnector.DependencyInjection' is compatible with all the specified frameworks in project 'C:\src\&lt;PROJECT&gt;\&lt;PROJECT&gt;.csproj'.
info : PackageReference for package 'MySqlConnector.DependencyInjection' version '2.3.6' added to file 'C:\src\&lt;PROJECT&gt;\&lt;PROJECT&gt;.csproj'.
info : Writing assets file to disk. Path: C:\src\&lt;PROJECT&gt;\obj\project.assets.json
log  : Restored C:\src\&lt;PROJECT&gt;\&lt;PROJECT&gt;.csproj (in 1.22 sec)
                                        </pre>
                                                </code>
                                            </li>
                                            <li>Update appsetings.json again and add:<br>
                                                <code>
                                                    builder.Services.AddMySqlDataSource(builder.Configuration.GetConnectionString("Default")!);
                                                </code>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Setup Database</mat-panel-title>
                                </mat-expansion-panel-header>
                        <li>Setup database
                            <ul>
                                <li>Connect via MySQL Workbench</li>
                                <li>
                                    Create the new database:<br>
                                    <code>create schema &lt;DATABASE NAME&gt;</code>
                                </li>
                                <li>Ensure you're viewing "Schemas," click "Refresh" to see your new schema</li>
                                <li>Create a new type by expanding the schema and right-clicking on Tables</li>
                                <li>Click "Apply" to generate the new table</li>
                            </ul>
                        </li>
                        </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Using MySQL Shell</mat-panel-title>
                                </mat-expansion-panel-header>
                                <div>
                                    <h4>Using MySQL Shell</h4>
                                    <dl>
                                        <dt>Connect to a database</dt>
                                        <dd>
                                            <code>
                                                <pre>
\connect root&#64;localhost:3306
Creating a session to 'root&#64;localhost:3306'
Please provide the password for 'root&#64;localhost:30306': **********
Save password for 'root&#64;localhost:3306'? [Y]es/[N]o/Ne[v]er (default No): n
Fetching schema names for auto-completion... Press ^C to stop.
Your MySQL connection id is 37
Server version: 8.0.37-0ubuntu0.22.04.3 (Ubuntu)
</pre>
                                            </code>
                                        </dd>
                                        <dt>Change Schema</dt>
                                        <dd>
                                            <code>
                                                <pre>
\use &lt;DATABASE&gt;
Default schema set to `&lt;DATABASE&gt;`.
</pre>
                                            </code>
                                        </dd>
                                        <dt>Run a query (in this case: Show all tables)</dt>
                                        <dd>
                                            <code>
                                                <pre>
\sql show tables;
Fetching global names, object names from `&lt;DATABASE&gt;`
+----------------------+
| Tables_in_&lt;DATABASE&gt; |
+----------------------+
| &lt;TABLE1&gt;             |
| &lt;TABLE2&gt;             |
+----------------------+
2 rows in set (0.0013 sec)
                                </pre>
                                            </code>
                                        </dd>
                                    </dl>
                                </div>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Troubleshooting</mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul>
                                    <li> <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>Connectivity To/From API (C#
                                                    Core)</mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <ul>
                                                <li>Can you ping it? (from API server)<br>
                                                    Find the database connection details in the <span
                                                        class="file">appsettings.json</span>
                                                    <code>
                                                        <pre>
"ConnectionStrings": &#123;
    "Default": "Server=<span class="importantish">&lt;IP/Host&gt;</span>;User ID=<span class="importantish">&lt;USERNAME&gt;</span>;Password='<span class="importantish">&lt;PASSWORD&gt;</span>';Port=<span class="importantish">&lt;PORT&gt;</span>;Database=<span class="importantish">&lt;DATABASE&gt;</span>"
&#125;
</pre>
                                                    </code>
                                                </li>
                                                <li>Can you connect to the docker image? (from DB server)<br><span
                                                        class="code">docker
                                                        exec -it -u <span class="importantish">&lt;USERNAME&gt;</span>
                                                        /bin/bash </span>
                                                </li>
                                                <li>Can you connect to the database from DB server (localhost)?
                                                    <ul>
                                                        <li>
                                                            <mat-expansion-panel>
                                                                <mat-expansion-panel-header>
                                                                    <mat-panel-title>using &quot;mysql
                                                                        shell&quot;</mat-panel-title>
                                                                </mat-expansion-panel-header>
                                                                <ul>
                                                                    <li>Open MySQL Shell (installed with MySQL
                                                                        Workbench) (and
                                                                        open it)</li>
                                                                    <li>Run <span class="code">\connect
                                                                            root&#64;localhost</span>
                                                                        <span class="result">
                                                                            <code>
                                                                                <pre>
\connect root&#64;localhost:3306
Creating a session to 'root&#64;localhost:3306'
Please provide the password for 'root&#64;localhost:30306': **********
Save password for 'root&#64;localhost:3306'? [Y]es/[N]o/Ne[v]er (default No): n
Fetching schema names for auto-completion... Press ^C to stop.
Your MySQL connection id is 37
Server version: 8.0.37-0ubuntu0.22.04.3 (Ubuntu)
</pre>
                                                                            </code>
                                                                        </span>
                                                                    </li>
                                                                </ul>
                                                            </mat-expansion-panel>
                                                        </li>
                                                        <li>
                                                            <mat-expansion-panel>
                                                                <mat-expansion-panel-header>
                                                                    <mat-panel-title>using
                                                                        &quot;mysql&quot;</mat-panel-title>
                                                                </mat-expansion-panel-header>
                                                                <ul>
                                                                    <li>Log into system:<br><br>
                                                                        <ul>
                                                                            <li>
                                                                                <span class="code-command">docker
                                                                                    ps</span>
                                                                            </li>
                                                                            <li>
                                                                                <code>docker exec -it -u
                                                                                    root 944 /bin/bash</code>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                    <li>Install MySQL Client<br>
                                                                        <code>apt-get install
                                                                            default-mysql-client/stable</code>
                                                                    </li>
                                                                    <li>Verify you can connect:<br><br>
                                                                        <span class="code-command">mysql -u
                                                                            &lt;USERNAME&gt; -p'&lt;PASSWORD&gt;' -h
                                                                            &lt;HOSTNAME OR IP&gt; -P &lt;PORT&gt;
                                                                            -D &lt;DATABASE NAME&gt; <span
                                                                                class="comment">note
                                                                                the password is
                                                                                touching
                                                                                -p, that's important.</span></span>
                                                                        <code>
                                                                            <pre>
Reading table information for completion of table and column names
You can turn off this feature to get a quicker startup with -A

Welcome to the MariaDB monitor.  Commands end with ; or \g.
Your MySQL connection id is 17
Server version: 8.0.37-0ubuntu0.22.04.3 (Ubuntu)

Copyright (c) 2000, 2018, Oracle, MariaDB Corporation Ab and others.

Type 'help;' or '\h' for help. Type '\c' to clear the current input statement.

MySQL [&lt;DATABASE NAME&gt;]>
                                        </pre>
                                                                        </code>
                                                                    </li>
                                                                </ul>
                                                            </mat-expansion-panel>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>Can you connect to the database from API server?<span
                                                        class="code">\connect
                                                        root&#64;<span class="importantish">&lt;IP/Host&gt;</span>:<span
                                                            class="importantish">&lt;PORT&gt;</span></span>
                                                </li>
                                            </ul>
                                        </mat-expansion-panel>
                                    </li>
                                </ul>
                            </mat-expansion-panel>
                        </li>
                    </ul>
                </div>
            </div>
            <div><app-comment></app-comment></div>
        </div>
    </mat-card-content>
</mat-card>