<mat-card class="card" [class.vampire]="userService.appIsDark()" [class.angel]="!userService.appIsDark()">
    <mat-card-header>
        <mat-card-title>
            <h1 data-testid="header-title">Microsoft Clarity</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="commentgrid topics">
            <div><app-related-content></app-related-content></div>
            <div>
                <div>
                    <a target="_blank" mat-stroked-button href="https://clarity.microsoft.com/">Microsoft Clarity</a> is
                    an anlytics
                    platform that
                    helps you understand how users interact with your website.
                    <ul>
                        <li>
                            <mat-expansion-panel expaneded>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Overview</mat-panel-title>
                                </mat-expansion-panel-header>
                                Microsoft Clarity is a free analytics platform that helps you understand how users
                                interact with your website. It came out in 2020 and is a competitor to Google
                                Analytics.<br><br>

                                Comparision and how to enable cookieless tracking on both platforms:<br>
                                <table class="min-table">
                                    <tr>
                                        <th>Google Analytic Strengths</th>
                                        <th>Google Analytics Cookieless Support w/Examples</th>
                                        <th>Clarity Strengths</th>
                                        <th>Clarity Cookieless Support w/Examples</th>
                                    </tr>
                                    <tr>
                                        <td>Google Analytics is the most popular analytics platform</td>
                                        <td>Cookieless tracking example:<br>
                                            <code>
<pre>
window.dataLayer = window.dataLayer || [];
function gtag() &#123; dataLayer.push(arguments); &#125;
gtag('js', new Date());
gtag('config', 'GA_MEASUREMENT_ID', &#123; 'anonymize_ip': true &#125;);
</pre>
                                            </code>
                                        </td>
                                        <td>Clarity is a free analytics platform</td>
                                        <td>Cookieless tracking example:<br>
                                            <code>
<pre>
(function (c, l, a, r, i, t, y) &#123;
    c[a] = c[a] || function () &#123; (c[a].q = c[a].q || []).push(arguments) &#125;;
    t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
    y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
&#125;)(window, document, "clarity", "script", "CLARITY_PROJECT_ID");
</pre>
                                            </code>
                                        </td>
                                </table>
                            </mat-expansion-panel>
                        </li>
                        <li>
                            <mat-expansion-panel expaneded>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Setup</mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul>
                                    <li>Create an account and obtain your tag</li>
                                    <li>Place the tag in the head of your website</li>
                                    <li>Modify it as follows to enable cookieless tracking:
                                        <code>
<pre>
(function (c, l, a, r, i, t, y) &#123;
    c[a] = c[a] || function () &#123; (c[a].q = c[a].q || []).push(arguments) &#125;;
    t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
    y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
&#125;)(window, document, "clarity", "script", "CLARITY_PROJECT_ID");
</pre>
                                        </code><br><span class="additional-note">This function goes in the head of your
                                            website, just before the closing head tag.</span>
                                    </li>
                                </ul>

                            </mat-expansion-panel>
                        </li>
                    </ul>
                </div>
            </div>
            <div><app-comment></app-comment></div>
        </div>
    </mat-card-content>
</mat-card>