@media screen and (min-width: 0px) and (max-width: 799px) {
    .navbar-links {
        display: grid;
        grid-template-columns: min-content min-content;
        grid-template-rows: min-content;
        max-height: 250px;
        overflow-y: visible;
        width: 100%;
    }
    .navbar-links li {
        border-top: 1px solid #999;
    }
}

@media screen and (min-width: 799px) {
    .navbar-links {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: min-content;
    }
    .navbar-links li {
        border-top: 1px solid #999;
    }
}


@media screen and (min-width: 1500px) {
    .navbar-links {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: min-content;
    }

    .navbar-links li:not(:first-child) {
        border-top: 1px solid #999;
    }
}

.navbar {
    max-height: 680px;
    overflow: auto;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    text-align: center;
    padding: 10px;
}

.navbar-links li:hover {
    background-color: plum;
    cursor: pointer;
}

.navbar-links a:hover {
    background-color: plum;
    cursor: pointer;
}