@media (min-width: 481px) {

}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

.navbar {
    overflow: auto;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
}

.navbar-links li {
    text-align: center;
}

ul {
    padding: 0px;
}


.norm-navbar-links li:hover {
    background-color: plum !important;
    border-radius: 0 25px 25px 0 !important;
    border: 1px solid whitesmoke;
    border-left: none;
    color: black;
    font-weight: bolder;
    cursor: pointer;
}

.featured li:hover {
    border-radius: 0 !important;
}

.featured {
    font-size: 1.5rem;
    padding: 7px 1em;
    border-top: 1px solid #ff7f5b;
    border-bottom: 1px solid #ff7f5b;
    margin: .5em auto 2em auto;
}

.featured-navbar-links li:hover {
    border-top: 1px solid #ff7f5b;
    border-bottom: 1px solid #ff7f5b;
    border-radius: 0 !important;
    cursor: pointer;
    background-color: whitesmoke !important;
}

