<div class="main">
    <mat-stepper headerPosition="bottom" labelPosition="bottom" [linear]="isLinear" #stepper>
        <mat-step [stepControl]="formGroup1">
            <form [formGroup]="formGroup1">
                <ng-template matStepLabel>{{nameLabel}} <mat-icon *ngIf="nameLabel !='Name'">check</mat-icon></ng-template>
                <div class="sectiongrid">
                    <div>
                        <div *ngIf="this.name === this.data.names[0].Name">
                            <span class="important">{{greeting}} {{name}}!</span>
                        </div>
                        <div *ngIf="this.name !== this.data.names[0].Name && !this.isForceName">
                            <span class="important">OK, how about {{name}}?</span>
                        </div>
                        <div *ngIf="this.isForceName">
                            <mat-form-field class="nameinput">
                                <mat-label>What is your name?</mat-label>
                                <input matInput placeholder="Trixie" formControlName="name" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="btns">
                        <div *ngIf="this.name === this.data.names[0].Name || this.isForceName">
                            <button matStepperNext mat-stroked-button (click)="nameAccepted(true, stepper)">Next</button>
                        </div>
                        <div *ngIf="this.name !== this.data.names[0].Name && !this.isForceName">
                            <button matStepperNext mat-stroked-button (click)="nameAccepted(true, stepper)">Yes</button>
                            <button mat-stroked-button (click)="forceChooseName()">No</button>
                        </div>                        
                    </div>
                    <span class="important" style="font-size: 14px; text-align: center;">(I'm surprised you're here, but welcome regardless!)</span>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="formGroup2">
            <form [formGroup]="formGroup2">
                <ng-template matStepLabel>
                    <div *ngIf="!this.isNameConfirmed">Confirm</div>
                    <div *ngIf="this.isNameConfirmed"><mat-icon>check</mat-icon></div>
                </ng-template>
                <div class="sectiongrid">
                    <div>
                        <div>
                            <span class="important">May I call you {{name}}?</span>
                        </div>
                    </div>
                    <div class="btns">
                        <div>
                            <button matStepperNext mat-stroked-button (click)="nameConfirmed(true, stepper)">Yes</button>
                            <button matStepperPrevious mat-stroked-button
                                (click)="nameConfirmed(false, stepper)">No</button>
                        </div>
                    </div>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="formGroup3" optional>
            <form [formGroup]="formGroup3">
                <ng-template matStepLabel>{{moodLabel}}</ng-template>
                <div>
                    <span class="important">How is your day going? Be honest.</span><br><br>
                    <button matStepperNext mat-stroked-button (click)="showRoz(1)" class="numoption">1</button>
                    <button matStepperNext mat-stroked-button (click)="showRoz(2)" class="numoption">2</button>
                    <button matStepperNext mat-stroked-button (click)="showRoz(3)" class="numoption">3</button>
                    <button matStepperNext mat-stroked-button (click)="showRoz(4)" class="numoption">4</button>
                    <button matStepperNext mat-stroked-button (click)="showRoz(5)" class="numoption">5</button>
                    <button matStepperNext mat-stroked-button (click)="showRoz(6)" class="numoption">6</button>
                    <button matStepperNext mat-stroked-button (click)="showRoz(7)" class="numoption">7</button>
                    <button matStepperNext mat-stroked-button (click)="showRoz(8)" class="numoption">8</button>
                    <button matStepperNext mat-stroked-button (click)="showRoz(9)" class="numoption">9</button>
                    <button matStepperNext mat-stroked-button (click)="showRoz(10)" class="numoption">10</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="formGroup4">
            <form [formGroup]="formGroup4">
                <ng-template matStepLabel>:)</ng-template>
                <div class="sectiongrid">
                    <div>
                        <div style="text-align: center;" *ngIf="showRozPhoto">
                            <div *ngIf="!showYourGood">
                                <span class="important">Maybe this will make you feel better..</span>
                            </div>
                            <div *ngIf="showYourGood">
                                <span class="important">I'm happy for you!</span>
                            </div>
                            <img class="roz" mat-card-image src="../../../assets/images/roz.jpg" alt="Photo of Roz" />
                        </div>
                    </div>
                    <div class="btns">
                        <button matStepperNext mat-stroked-button (click)="close()">Close</button>
                    </div>
                </div>
            </form>
        </mat-step>
    </mat-stepper>
</div>