button {
    margin: 0 1em;
    font-size: 2rem;
}

.main {
    padding: 1em;
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    font-size: 3rem;
}

.btns {
    text-align: center;
}

.numoption {
    border-radius: 100%;
    padding: 1em;
}

.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-mdc-form-field {
    margin-top: 16px;
}

.nameinput {
    width: 100%;
}

.sectiongrid {
    display: grid;
    grid-template-rows: auto 60px;
    grid-gap: .5em;
}