<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <h1 data-testid="header-title">Angular / Material</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="topics">
                <div>
                    <h3>Form Validation</h3>
                    <ul class="condensed">
                        <li>Use ngModel to bind form fields to variables
                            <ul class="condensed">
                                <li><h4>Example form element:</h4>
                                    <div class="code">&lt;input type="email" id="email" name="email" [formControl]="emailControl"&gt;</div>                                    
                                <li><h4>Within TypeScript:</h4>
                                    <div class="code">
                                        <pre>
    export class SignupComponent &#123;
        userDetails: FormGroup;
        emailControl = new FormControl('');
        constructor(
            private fb: FormBuilder) &#123;
            this.userDetails = this.fb.group(&#123;
            email: this.emailControl,
            &#125;);
        &#125;
        
        ngOnInit() &#123;
            this.emailControl.addValidators([Validators.required, Validators.email]);
        &#125;

        submitForm(): void &#123;
            if (this.userDetails.invalid) return;        
            <span class="comment">// form is valid, we can proceed!</span>
        &#125;
    &#125;
                                        </pre>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>Add submit button<br>
                            <div class="code">&lt;button type="submit" &gt;Submit&lt;/button&gt;
                            </div>
                        </li>                        
                    </ul>
                </div>
                <div>
                    <h3>Implement a comment shared module</h3>
                    <ul>
                        <li>Todo..
                        </li>
                    </ul>                    
                </div>

                <div>
                    <h3>Implement a reCAPTCHA Checkbox</h3>
                    <ul>
                        <li>Sign up for a Recapcha account at https://www.google.com/recaptcha/about/</li>
                        <li>Create new project
                            <ul>
                                <li>Check the "Use a checkbox" option</li>
                                <li>Save your key information</li>
                            </ul>
                        </li>
                        <li>Install reCAPTCHA packages
                            <div class="code">npm i ng-recaptcha --save</div>
                        </li>
                        <li>Add resolved function in your component:
                            <div class="code">
                                <pre>
    resolved(captchaResponse: string | null) &#123;
        if (captchaResponse != null) &#123;
            this.captcha = captchaResponse;
            console.log(`Resolved captcha with response: $&#123;this.captcha&#125;`);
        &#125;
    &#125;
                            </pre>
                            </div>
                        </li>
                        <li>
                            Add reCAPTCHA to your component form:
                            <div class="code">
                                <pre>
    &lt;div [hidden]="captcha"&gt;
        &lt;p&gt;Confirm you're human please!&lt;/p&gt;
            &lt;re-captcha (resolved)="resolved($event)" siteKey="&lt;YOURKEY&gt;"&gt;&lt;/re-captcha&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;button type="submit" *ngIf="captcha" mat-flat-button&gt;Submit&lt;/button&gt;
                            </pre>
                            </div>
                        </li>
                    </ul>
                    <div>
                        <h3>If all went well:</h3>
                        <img src="assets/images/recaptcha.png" alt="reCAPTCHA" />
                    </div>
                </div>

                <div>
                    <h3>Template Tips</h3>
                    <ul>
                        <li>() = Do something on an event. e.g. (click)="clickfunc()"</li>
                        <li>[] = Right-hand side of the assignment is a dynamic expression.</li>
                        <li>[ngModel]="variable" - Associate with a variable</li>
                        <li>&lt;curlybrace&gt;&lt;curlybrace&gt;variable&lt;curlybrace&gt;&lt;curlybrace&gt; -
                            Interpolation</li>
                        <li>[attr.data-testid]="'edit-frozen-' + i" - Embed a "data-testid" attribute in element after
                            build</li>
                        <li>Error: "Can't bind to 'ngModel' since it isn't a known property of 'input'": Import
                            FormsModule</li>
                    </ul>
                </div>

                <div>
                    <h3>Important Files</h3>
                    <ul>
                        <li>angular.json - Application settings.</li>
                        <li>packages.json - NPM packages to install for application.</li>
                    </ul>
                </div>

                <div>
                    <h3>Useful Commands</h3>
                    <ul>
                        <li><span class="code">npm install</span> - Install all files necessary to run the Angular
                            project.</li>
                        <li><span class="code">ng serve -o</span> - Runs app locally. The -o opens it in your browser.
                        </li>
                        <li><span class="code">ng build --configuration development/production</span> - Build for
                            deployments. Output in /dist folder.</li>
                        <li><span class="code">ng add &#64;angular/material</span> - Installs Material. This method is
                            preferred for npm install as it performs additional initialization.</li>
                    </ul>
                </div>

                <div>
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Angular - https://angular.io/</li>
                        <li>Material - https://material.angular.io/</li>
                        <li>Fonts - https://fonts.google.com/icons</li>
                    </ul>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>